{% extends 'inicio/base2.html' %} {% block title %} Solicitud {% endblock title %} {% block content %}
{% load etiquetas %}
<div class="row">

{% if msg != '' %}
{% if success == 1%}   
{% include 'includes/msj-success.html' %}

{% else%}   
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>

<div class="container">
    {% include 'partials/submenu/barracuenta.html' %}
    <div class="row">
        <div class="col-md-12 mb-5">
            <div class="card ">
                <div class="card-header">
                    <h2 class="card-title">Solicitudes</h2>
                </div>
                <div class="card-body">
                    <form class="form-inline">
                        {{ form.tx_busqueda}} {% if form.errors.tx_proceso %}<span class="help-block white-text">{{ form.errors.tx_proceso }}</span>{% endif %}
                        <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 wasa" data-toggle="modal" data-target="#exampleModal" id="botone1">
                            <i class="tim-icons icon-zoom-split"></i>
                        </a>
                    </form>
                    <div class="table-responsive">
                        <table class="table tablesorter table-hover" id="">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Solicitud</th>
                                    <th>Fecha Creación</th>
                                    <th>Estatus</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody class="white-text">
                                {% for values in data %}
                                <tr>
                                    <td><p class="text-white">{{values.co_solicitud}}</p></td>
                                    <td><p class="text-white">{{values.co_tipo_solicitud.tx_tipo_solicitud}}</p></td>
                                    <td><p class="text-white">{{values.created_at}}</p></td>
                                    <td><p class="text-white">{{values.co_estatus.tx_estatus}}</p></td>
                                    <td>
                                        {% if values.in_finanza %}
                                            <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 finanza" data-toggle="tooltip" title="finanzas" data-toggle="modal" data-target="#FinanzaModal" id="{{values.co_solicitud}}">
                                                <i class="tim-icons icon-coins"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if values.get_incidencia.tx_api_funcion is not None and values.get_incidencia.tx_url_template is not None %}
                                        <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 det" data-toggle="tooltip" title="detalle" data-toggle="modal" data-target="#detModal" id="{{values.co_solicitud}}">
                                            <i class="tim-icons icon-notes"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if values.get_incidencia.in_delete and values.in_activo%}
                                        <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-danger my-2 my-sm-0 delet" data-toggle="modal" data-target="#deletModal" id="{{values.co_solicitud}}">
                                            <i class="tim-icons icon-trash-simple"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>   
            
        </div>
    </div>
</div>


<!-----------------------------------DETALLE  MODAL-------------------------------------->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="exampleModalLabel">Modal title</h2>
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
                </div>

                <form method="POST" action="{% url 'bandejaInicio' %}">
                    <div class="modal-body">
                        {% csrf_token %}

                        <input id="codigo" name="codigo" type="hidden">
                        <div class="form-group col-md-12">

                            <label class="bmd-label-floating text-white">Solicitud</label> {{ form.co_tipo_solicitud}}
                        </div>
                        <div class="form-group col-md-12">

                            <label class="bmd-label-floating text-white">Estatus</label> {{ form.co_estatus}}
                        </div>

                        <!--Quizas mas adelante haga falta poner fecha-->

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="btn">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<div class="modal fade" id="FinanzaModal" tabindex="-1" role="dialog" aria-labelledby="FinanzaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                <div style="flex-direction:column;">
                    <h2 class="modal-title" id="FinanzaModalLabel">Transaccion</h2>
                    <h3 class="pl-2" id="modalSubtitle">Sub Title</h3>
                    </div>
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader2">
                    
                </div>




                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
                </div>

                    <div class="modal-body">

                        <input id="codigo2" name="codigo2" type="hidden">
                        <div class="table-responsive">
        


        <table class="table tablesorter" >

        <tbody class="white-text">
         <tr>
            <td>Moneda:</td>
            <td id="tdMoneda"></td>
          </tr>
          <tr>
            <td>Monto:</td>
            <td id="tdMonto"></td>
          </tr>
          <tr>
            <td>Destinatario:</td>
            <td id="tdDestinatario"></td>
          </tr>
          <tr>
            <td>Comision:</td>
            <td id="tdComision"></td>
          </tr>
          <tr>
            <td>Estatus:</td>
            <td id="tdEstatus"></td>
          </tr>
           <tr>
            <td>Fecha:</td>
            <td id="tdFecha"></td>
          </tr>

         
         
        
        </tbody>
      </table>


      </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>

                     </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deletModal" tabindex="-1" role="dialog" aria-labelledby="deletModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="deletModalLabel">Cancelar</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
                </div>

                <form method="GET" action="" id="deletform">
                    <div class="modal-body">
                        {% csrf_token %}

                        <input id="codigodelete" name="codigo" type="hidden">

                        <p class="text-white"><h4>¿Esta seguro de cancelar esta solicitud?</h4></p>

                        <!--Quizas mas adelante haga falta poner fecha-->

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="btn">Procesar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<div class="modal fade" id="detModal" tabindex="-1" role="dialog" aria-labelledby="detModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="detModalLabel">Detalle</h2>
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loaderdet"></div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
                </div>
                <input id="codigodetalle" name="codigo" type="hidden">
                    <div class="modal-body" id="bodyModalDetalle">
              
                        <!--Quizas mas adelante haga falta poner fecha-->

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>

                    </div>
            </div>
        </div>
    </div>

        <input id="token" name="token" type="hidden" value={{ token }}>

        <!--<p class="white-text">{{data}}</p>

<p class="white-text">{{token}}</p>-->

        {% endblock content %} {% block javascripts %}
        <script>
            $(document).ready(function() {
                $('[data-toggle="tooltip"]').tooltip();   

                $("#loader").hide();
                var valores = function(id) {
                    var cod = id;
                    var codigo = parseInt(cod.charAt(cod.length - 1));

                    return cod;
                }

                var advertencia1 = function(e) {
                    $("#codigo2").val(valores(e.currentTarget.id));
                    onclick();

                }
                var advertencia2 = function(e) {
                    $("#codigodelete").val(valores(e.currentTarget.id));
                    
                  var url = window.location.protocol + "//" + window.location.host + "";
                  $('#deletform').attr('action', url+"/solicitud/"+valores(e.currentTarget.id));
                    
                }


                var detalle= function(e){
                    
                    $("#codigodetalle").val(valores(e.currentTarget.id));
                  
                    onclickDetalle();
                }
                var openmodal = function(e) {
                    $("#codigo").val('');
                    var val = valores(e.currentTarget.id)

                        $("#exampleModalLabel").text("Busqueda");
                        $("#btn").text('Buscar');

                     

                }
                
                var onclickDetalle = function() {
                    
                    $('#bodyModalDetalle').html('');
                    $('#loaderdet').show();
                    var codigo = $("#codigodetalle").val();
                    var url = window.location.protocol + "//" + window.location.host + "";
                    $.ajax({
                        url: url + '/api/solicitud/',
                        type: 'POST',
                        data: {
                            'co_solicitud': codigo
                        },
                        headers: {
                            "Authorization": 'token ' + $("#token").val()
                        },
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        },
                        success: function(arg) {

                            $('#loaderdet').hide();

                            $('.det').attr("disabled", false);


                            if (arg.success) {
                                $('#bodyModalDetalle').html(arg.data);
                            }

                        },
                        error: function(xhr, ajaxOptions, thrownError) {

                            $('#loaderdet').hide();
                            $('.det').attr("disabled", false);
                            console.log(xhr.status);
                            console.log(thrownError);
                        }
                    })

                }
                var onclick = function() {
                    var codigo = $("#codigo2").val();

                    $('#loader2').show();
                    $('.finanza').attr("disabled", true);

                    var url = window.location.protocol + "//" + window.location.host + "";

                    $.ajax({
                        url: url + '/api/operaciones/transaccion/',
                        type: 'POST',
                        data: {
                            'co_solicitud': codigo
                        },
                        headers: {
                            "Authorization": 'token ' + $("#token").val()
                        },
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        },
                        success: function(arg) {

                            $('#loader2').hide();

                            $('.finanza').attr("disabled", false);


                            if (arg.success) {

                                $.each(arg.data, function(k, v) {
                                     $("#modalSubtitle").text(v.tx_tipo_transaccion);
                                    if(!v.co_transaccion_emisor){

                                        $("#tdMoneda").text(v.tx_moneda+" ("+v.tx_simbolo+")");
                                        
                                        $("#tdMonto").text(v.nu_monto);
                                        
                                        $("#tdDestinatario").text(v.tx_receptor);
                                        
                                        $("#tdEstatus").text(v.tx_estatus);

                                        $("#tdFecha").text(v.updated_at);

                                
                                        
                                    }else{

                                        
                                        $("#tdComision").text(v.nu_monto+" ("+v.nu_comision+"%)");

                                    }
                                    
                                   

                                })


                            }

                        },
                        error: function(xhr, ajaxOptions, thrownError) {

                            $('#loader').hide();
                            $('.finanza').attr("disabled", false);
                            console.log(xhr.status);
                            console.log(thrownError);
                        }
                    })
                }

                $('.finanza').on('click', advertencia1);

                $('.det').on('click',detalle);
                
                $('.delet').on('click', advertencia2);

                $('.wasa').on('click', openmodal);

            });
        </script>


        {% endblock javascripts %}