{% extends 'inicio/base2.html' %} {% block title %} Solicitud {% endblock title %} {% block content %}
{% load etiquetas %}
<div class="row">

{% if msg != '' %}
{% if success == 1 %}   
{% include 'includes/msj-success.html' %}

{% elif success == 0 or success == 3 %}   
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>

<div class="row mt-5">
    <div class="col-md-12 col-lg-12">
        <h1 class="title text-center">SOLICITUDES</h1>
    </div>
    <div class="col-md-12 col-lg-12  mb-5">
        <div class="card ">
            <div class="card-header">
                <nav class="navbar justify-content-between">
                    <a class="navbar-brand"></a>
                    <form class="form-inline">
                        {{ form.tx_busqueda}} {% if form.errors.tx_proceso %}<span class="help-block white-text">{{ form.errors.tx_proceso }}</span>{% endif %}


                        <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 wasa" data-toggle="modal" data-target="#exampleModal" id="botone1">
                            <i class="tim-icons icon-zoom-split"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 wasa" data-toggle="modal" data-target="#newModal" id="botone2">
                            <i class="tim-icons icon-simple-add"></i>
                        </a>
                    </form>
                </nav>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter table-hover" id="">
                        <thead>
                            <tr>
                                <th>Solicitud</th>
                                <th>Fecha Creación</th>
                                <th>Estatus</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody class="white-text">
                            {% for values in data %}
                            <tr>

                                <td>
                                    <p class="text-white">{{values.co_tipo_solicitud.tx_tipo_solicitud}}</p>
                                </td>

                                <td>
                                    <p class="text-white">{{values.created_at}}</p>
                                </td>

                                <td>
                                    <p class="text-white">{{values.co_estatus.tx_estatus}}</p>
                                </td>
                                <td>

                                    <p class="text-white">

                                        {% if values.get_incidencia is not None %}
                                          <a href="{% url 'controller' co_solicitud=values.co_solicitud %}" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 wasa">
                                            <i class="tim-icons icon-send"></i>
                                         </a>
                                        
                                        {% elif values.get_incidencia2 is not None %}

                                        <a href="{% url 'controller' co_solicitud=values.co_solicitud %}" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 wasa">
                                            <i class="tim-icons icon-send"></i>
                                        </a>

                                        
                                        {% endif %}
                                    </p>
                                </td>


                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="exampleModalLabel">Modal title</h2>
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
                </div>

                <form method="POST" action="{% url 'bandejaInicio' %}">
                    <div class="modal-body">
                        {% csrf_token %}

                        <input id="codigo" name="codigo" type="hidden">
                        <div class="form-group col-md-12">

                            <label class="bmd-label-floating text-white">Solicitud</label> {{ form.co_tipo_solicitud}}
                        </div>
                        <div class="form-group col-md-12">

                            <label class="bmd-label-floating text-white">Estatus</label> {{ form.co_estatus}}
                        </div>

                        <!--Quizas mas adelante haga falta poner fecha-->

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="btn">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex align-items-center">
                        <h2 class="modal-title" id="newModalLabel">Nueva solicitud</h2>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             
              <span aria-hidden="true">&times;</span>
             </div>
          </button>
                    </div>

                    <form method="POST" action="{% url 'nuevaSolicitud' %}">
                        <div class="modal-body">
                            {% csrf_token %}

                            <div class="form-group col-md-12">

                                <label class="bmd-label-floating text-white">Solicitud</label> {{ form.co_tipo_solicitud}}
                            </div>

                            <!--Quizas mas adelante haga falta poner fecha-->

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>

                            <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="btn">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <input id="token" name="token" type="hidden" value={{ token }}>

        <!--<p class="white-text">{{data}}</p>

<p class="white-text">{{token}}</p>-->

        {% endblock content %} {% block javascripts %}
        <script>
            $(document).ready(function() {

                $("#loader").hide();
                var valores = function(id) {
                    var cod = id;
                    var codigo = parseInt(cod.charAt(cod.length - 1));

                    return cod;
                }

                var advertencia1 = function(e) {
                    $("#codigo").val(valores(e.currentTarget.id));
                    $("#exampleModalLabel").text("Editar");
                    $("#btn").text('Procesar');
                    $("#btn").val(3);

                    $("#id_tx_proceso").attr('required', true);
                    onclick();

                }
                var openmodal = function(e) {
                    $("#codigo").val('');
                    var val = valores(e.currentTarget.id)
                    if (val == 1) {

                        $("#exampleModalLabel").text("Busqueda");
                        $("#btn").text('Buscar');
                        $("#btn").val(1);

                        $("#id_tx_proceso").attr('required', false);
                    } else {

                        $("#exampleModalLabel").text("Crear");
                        $("#btn").text('Procesar');
                        $("#btn").val(2);

                        $("#id_tx_proceso").attr('required', true);
                    }

                }

                var onclick = function() {
                    var codigo = $("#codigo").val();

                    $('#loader').show();
                    $('.validar').attr("disabled", true);

                    $('#btn').attr("disabled", true);
                    var url = window.location.protocol + "//" + window.location.host + "";

                    $.ajax({
                        url: url + '/api/configuracion/proceso/',
                        type: 'POST',
                        data: {
                            'co_proceso': codigo
                        },
                        headers: {
                            "Authorization": 'token ' + $("#token").val()
                        },
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        },
                        success: function(arg) {

                            $('#loader').hide();

                            $('.validar').attr("disabled", false);

                            $('#btn').attr("disabled", false);

                            if (arg.success) {

                                $.each(arg.data, function(k, v) {

                                    $("#id_tx_proceso").val(v.tx_proceso);
                                    if (v.in_activo) {

                                        $("#estatus").bootstrapSwitch('state', true);
                                    } else {

                                        $("#estatus").bootstrapSwitch('state', false);
                                    }

                                })


                            }

                        },
                        error: function(xhr, ajaxOptions, thrownError) {

                            $('#loader').hide();
                            $('.validar').attr("disabled", false);
                            console.log(xhr.status);
                            console.log(thrownError);
                        }
                    })
                }

                $('.validar').on('click', advertencia1);

                $('.wasa').on('click', openmodal);

            });
        </script>


        {% endblock javascripts %}