<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="es">

<!-- Static assets -->
{% load static %}
 {% load pwa %}
<head>
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/7.0.0/stellar-sdk.js" integrity="sha512-7UiifYw3IcKJHf3suEDr1yWa8rHVWW6xjuFiZ5kANlJ3Cncg8c9JE/wGJRfl72ckMD+ZidUeVx+/lNAUYk+t1g==" crossorigin="anonymous"></script>

    <title>
       {% block title %} {% endblock title %} 
    </title>
    <script type="text/javascript" src="{% static 'js/utiles.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery.qrcode.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/canvas2image.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/navtab.css' %}" type="text/css">

    <style>
        @font-face {
            font-family: 'Nucleo';
            src: url( "{% static 'assets/fonts/nucleo.eot' %}");
            src: url( "{% static 'assets/fonts/nucleo.eot' %}"   ) format('embedded-opentype'), 
                 url( "{% static 'assets/fonts/nucleo.woff2' %}" ) format('woff2'), 
                 url( "{% static 'assets/fonts/nucleo.woff' %}"  ) format('woff'), 
                 url( "{% static 'assets/fonts/nucleo.ttf' %}"   ) format('truetype'), 
                 url( "{% static 'assets/fonts/nucleo.svg' %}"   ) format('svg');
            font-weight: normal;
            font-style: normal;
          }
    </style>

    <style>
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url("{% static '/img/tenor.gif' %}") 50% 50% no-repeat rgb(249,249,249);
            opacity: .8;
        }
    </style>
    <script type="text/javascript">
        $(window).on('load', function() {
            $(".loader").fadeOut("slow");
        });
    </script>
    <!-- Nucleo Icons -->
    <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />

    <!-- Specific Page CSS goes HERE  -->  
    {% block stylesheets %}{% endblock stylesheets %}
    {% progressive_web_app_meta %}
</head>

<body class="sidebar-normal {% block bodyclass %}{% endblock %}">
<div class="loader"></div>
    <div class="wrapper">

        <div class="navbar-minimize-fixed">
        <button class="minimize-sidebar btn btn-link btn-just-icon">
            <i class="tim-icons icon-align-center visible-on-sidebar-regular text-muted"></i>
            <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-muted"></i>
        </button>
        </div>

        {% include 'includes/sidebar.html' %}

        <div class="main-panel container-fluid">

            {% include 'includes/navigation.html' %}

            <div class="content">

                {% block content %}{% endblock content %}

            </div>

            {% include 'includes/footer.html' %}
            

        </div>
        
        {% include 'includes/modalSolicitud.html' %}

    </div>

    <!--{% include 'includes/fixed-plugin.html' %}-->

    {% include 'includes/scripts.html' %}

    {% include 'includes/scripts-sidebar.html' %}

    <!-- Specific Page JS goes HERE  -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=61d01e51-3397-49b0-bc86-736a5183a669"> </script>
    {% block javascripts %}{% endblock javascripts %}
    
</body>

</html>