{% extends 'inicio/base2.html' %}

{% block title %}
 En espera
{% endblock title %}


{% block content %}
<div class="col-md-6">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
         
          <div class="card-description">
      <div class="card  card-plain">
      <div class="card-body">
   <p class="description">
            Su solicitud no existe{{ msg }}
            </p>
      </div>
        </div>
          </div>
        </p>

      </div>
    </div>
  </div>

{% endblock content %}