{% extends 'inicio/base2.html' %}

{% block title %} Inicio {% endblock title %}

{% block content %}
{% load etiquetas %}
{% load static %}
<style>
.card-pricing2 {
  position: relative;
  z-index: 1;
  box-shadow: none;
  min-height: 100px;
}       
.card-pricing2 .card-body {
  overflow: hidden;
  padding: 0;
}
.card-pricing2 .card-body .card-title {
  /* formato del titulo */
  position: relative;
  font-size: 2em;
  font-weight: 600;
  color: #f9a825;
  margin-left: 3px;
  z-index: 1;
}
.card-pricing2 .card-body .card-title.card-title-right {
  /* alineacion del titulo */
  text-align: right;
  margin-right: -5px;
}
.card-pricing2 .card-body img {
  /* imagen */
  position: absolute;
  border-radius: 0.2857rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.card-pricing2 .card-body .card-prices .text-on-front {
  /* tamaño del numero principal */
  position: relative;
  z-index: 2;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
}
.card-pricing2 .card-body .card-prices .text-on-front span {
  /* tamaño del span */
  font-size: 0.7em;
}
.card-pricing2 .card-body .card-prices .text-on-back {
    /* el numero en marca de agua del fondo */
  position: relative;
  z-index: 2;
  font-size: 3em;
  text-align: center;
  margin-top: -75px;
  font-weight: 900;
  color: rgba(38, 49, 72, 0.1);
}
.card-pricing2 .card-body .card-prices .plan {
  font-weight: 600;
  font-size: 0.8em;
  margin-top: -80px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.card-pricing2 ul {
  list-style: none;
  padding: 0;
  max-width: 240px;
  margin: 80px auto 40px;
}
.card-pricing2 ul li {
  color: rgba(255, 255, 255, 0.9);
  background: transparent;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  padding: 5px 0;
  border: none;
}
.card-pricing2.card-white {
  background: #ffffff;
}
.card-pricing2.card-white .card-body .card-title {
  color: white;
}
.card-pricing2.card-white .card-body .card-prices .text-on-front, .card-pricing.card-white .card-body .card-prices .plan {
  color: #263148;
}
.card-pricing2.card-white .card-body .card-prices .text-on-front span, .card-pricing.card-white .card-body .card-prices .plan span {
  color: #263148;
}
.card-pricing2.card-white ul li {
  color: #263148;
}
.card-pricing2.card-white .list-group-item {
  background: transparent;
}
.card-pricing2.card-primary .card-body .card-prices .text-on-back {
  color: rgba(249, 168, 37, 0.1);
}
.card-pricing2.card-info .text-on-back {
  color: rgba(29, 140, 248, 0.1);
}
.card-pricing2.card-success .card-body .card-prices .text-on-back {
  color: rgba(27, 94, 32, 0.1);
}
.card-pricing2.card-warning .card-body .card-prices .text-on-back {
  color: rgba(255, 141, 114, 0.1);
}
.card-pricing2.card-danger .card-body .card-prices .text-on-back {
  color: rgba(213, 0, 0, 0.1);
}
.card-pricing2.card-raised {
  z-index: 3;
  box-shadow: 0px 0px 40px 15px rgba(38, 49, 72, 0.3);
  padding: 20px 0;
  margin-top: -20px;
  border-radius: 0.2857rem;
}
.card-pricing2.card-raised img {
  border-radius: 0.2857rem;
}
.white-content .card:not(.card-white).card-pricing, .white-content .card:not(.card-white).card-login, .white-content .card:not(.card-white).card-register {
  background: #212121;
}
</style>

<div class="row">

{% if msg != '' %}
{% if success == 1%}   
{% include 'includes/msj-success.html' %}

{% else%}   
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>

<div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-lg-2 col-md-3" style="margin-bottom: -30px;">
            <div class="card card-pricing2 card-primary">
                <div class="card-body">    
                    {% for val in data %}
                      {% if val.tx_asset == "XLM" %}
                      <h2 class="card-title" id="titulomoneda">{{val.tx_moneda}}</h2>
                    <div class="card-prices">
                      <h3 class="text-on-front" id="balance">{{val.nu_balance|floatformat:7 }}</h3>
                      <h5 class="text-on-back" id="titulocodigo">{{val.asset.code}}</h5>
                    </div>
                        <h4 class="text-primary" style="text-align: center; margin-top: -25px;" id="referencia">≈&nbsp{{val.referencia}}&nbsp$</h4>
                      {% endif %}
                    {% endfor %}   
                </div>
            </div>
          </div>
                        
          <div class="col-lg-10 col-md-9">
            <div class="row">
              <!--Nuevo boton-->
              {% for val in data %}
              {% if val.is_asset %}
              <div class="col-lg-4 col-md-6 col-sm-6">
                <button class="btn btn-simple btn-primary btn-block botons" id="{{ val.tx_asset }}">
                  <div class="row">
                    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                      <img src="
                        {% if val.asset.code != 'XLM' %}
                          {{val.img}}
                        {% else %}
                          {% static 'img/stellar-xlm-logo.png' %}
                        {% endif %}
                          " alt="" width="50" height="50">
                    </div>
                    <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                      <p class="title">{{val.asset.code}}</p>
                      <p class="text-muted" id="balancesell" style="font-size: 0.875em">{{val.nu_balance|floatformat:7}}<p>
                    </div>
                  </div>
                </button>
              </div>
              {% endif %}
              {% endfor %}
              <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="{% url 'balance' %}" class="btn btn-simple btn-primary btn-block" id="{{ forloop.counter }}">
                  <div class="d-flex align-items-center row">
                    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                      <img src="{% static 'img/add5.png' %}" alt="50" width="50" height="50">
                    </div>
                    <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                      <p class="title text-primary">Agregar</p>
                      <p class="title text-primary"> </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>                          
    </div>


  <!--////////////  Transacciones pendientes  ////////////-->
  <div class="card">
    <div class="card-header">
      <div class=" d-flex y-content-between align-items-center">
        <h2 id="titulo_movil" class="card-title">Últimas Transacciones</h2>
        <div>
          <button id="boton_movil_hide" class="btn btn-primary btn-link boton_desplegar"><i class="tim-icons icon-minimal-down"></i></button>
        </div>
      </div>
    </div>
    <div class="card-body" id="element_movil_hide">

        <div class="table-responsive">
          <table class="table">
            <tbody>
            {% for valu in historico  %}
              <tr>
                <td>
                  <p class="title">Fecha:</p>
                  <p class="text-muted">{{valu.fecha}}</p>
                </td>
                <td>
                  <p class="title">Monto:</p>
                  <p class="text-muted">{{valu.monto}}</p>
                </td>
                <td>
                  <p class="title">Moneda:</p>
                  <p class="text-muted">{{valu.moneda2}}({{valu.moneda}})</p>
                </td>
                <td>
                  <p class="title">Usuario:</p>
                  <p class="text-muted">{{valu.usuario}}</p>
                </td>
                <td>
                  <p class="title">Dirección:</p>
                  <p class="text-muted">{{valu.direccion}}</p>
                </td>               
              <tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

    </div>
  </div>

</div>




{% endblock content %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/7.0.0/stellar-sdk.js" integrity="sha512-7UiifYw3IcKJHf3suEDr1yWa8rHVWW6xjuFiZ5kANlJ3Cncg8c9JE/wGJRfl72ckMD+ZidUeVx+/lNAUYk+t1g==" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
  $("#titulomoneda").text("Lumens");
  var balance = "{{ balance | escapejs }}";
  balance = JSON.parse(balance);
  var balance_select={}

  var pantalla_estado= '';
  var pantalla_estado_open = '';
  var estado_boton = '';

  async function close_window(){
    if(screen.width <= 400){
        //console.log("muy pequeño"+screen.width);
        $("#boton_movil_hide").show();
        $('#element_movil_hide').hide();
        pantalla_estado = 'MOVIL';
        document.getElementById("titulo_movil").style.fontSize="1.3rem";
        estado_boton = true;
        pantalla_estado_open = false;
    }else{
        //console.log("normal"+screen.width);
        $("#boton_movil_hide").hide();
        $('#element_movil_hide').show();
        pantalla_estado = 'PC';
        estado_boton = false;
        pantalla_estado_open = true;
    }
  }

  $(".boton_desplegar").on("click", function() {
    //console.log('apreto boton')
    //console.log(pantalla_estado) 
    if(estado_boton == false){
      $("#boton_movil_hide").hide();
    }else{
      if(pantalla_estado == 'PC'){
        //console.log(pantalla_estado)
        $('#element_movil_hide').hide();
      }
      if(pantalla_estado == 'MOVIL'){
        $('#element_movil_hide').show();
        if (pantalla_estado_open == true){
          //console.log('abierto')
          $('#element_movil_hide').hide();
          pantalla_estado_open=false;
        }else{
          //console.log('cerrado')
          $('#element_movil_hide').show();
          pantalla_estado_open=true;
        }
      }
    }
  });

  // Detect whether device supports orientationchange event, otherwise fall back to 
  // the resize event. 
  var supportsOrientationChange = "onorientationchange" in window, 
  orientationEvent = supportsOrientationChange ? "orientationchange" : "resize"; 
  window.addEventListener(orientationEvent, function() {
      close_window()
      //console.log('roto la pantalla:' + screen.width);
  }, false);

  $(".botons").on("click", function() {

    var codigo = $(this).attr('id');
    $.each(balance,function(index,value){
      if(value.tx_asset==codigo){
        balance_select=value
      }
    });
    $("#balance").text(balance_select.nu_balance);
    $("#titulocodigo").text(balance_select.asset.code);
    $("#referencia").text("≈ "+balance_select.referencia+" $");
    if(balance_select.asset.code=="XLM"){

      $("#titulomoneda").text("Lumens");
    }else{
      
      $("#titulomoneda").text(balance_select.tx_moneda);
    }

    if(balance_select.asset.code=="SMX"){

      $("#titulomoneda").text("Peso Mexicano");
    }

});
close_window()

});

</script>
{% endblock javascripts%}