{% extends "inicio/baseinit.html" %}
{% load static %}
{% block title %} Login Gestion {% endblock %} 

<!-- Specific Page CSS goes HERE  -->

{% block bodyclass %}login{% endblock %}
{% block content %}

{% if msg != '' %}
{% if success is True %}
{% include 'includes/msj-success.html' %}
{% else %}
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}

    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
      <div class="card card-login">
      
        <div class="card-header">
        
        <!-- <img src="{% static 'img/fondologinpapayalogo.png' %}" alt="">  -->   
                  <!--<h1 class="card-title">&nbsp</h1>-->
          <h1 class="card-title">Admins</h1>
          </div>
        <div class="card-body">
    
          <form role="form" method="post" action="">
              
            {% csrf_token %} 

          <div class="input-group">
             <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-single-02"></i>
                </div>
              </div>
                  {{ form.username }}
            </div>
  {% if form.errors.username %}<label  class="error" for="id_username">{{ form.errors.username }}</label>{% endif %}
      
            <br />

            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-lock-circle"></i>
                    </div>
                  </div>
                  {{ form.password }}
            </div>
  {% if form.errors.password %}<label  class="error" for="id_password">{{ form.errors.password }}</label>{% endif %}
      
            <br />

            <div class="clearfix"></div>

<hr class="grey-800">
          <div class="row  text-center">
          
          <div class="col-md-12">
          <input type="submit" value="Ingresar" class="btn btn-fill btn-primary container waves-effect text-dark" name="login"/>
          
          </div>

          </div>
         
          </form>
          
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
