{% extends "inicio/baseinit.html" %}
{% load static %}
{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->

{% block bodyclass %}login{% endblock %}

<script >
 
$(document).ready(function() {


        $("#contenedor2fa").hide();
        
        $("#loader").hide();
        
        });
</script>
{% block content %}

{% if msg != '' %}
{% if success is True or success == 1 %}
{% include 'includes/msj-success.html' %}
{% else %}
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}

    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
      <div class="card card-login">
      
        <div class="card-header">
        <h1>&nbsp</h1>
         <p>&nbsp &nbsp &nbsp &nbsp <img src="{% static 'img/logoppg3.png' %}" alt="" height="100" width="250"></p>   
         
          </div>
        <div class="card-body">
    
          <form role="form" method="post" action="{% url 'logingoogle' %}">
              
            {% csrf_token %} 
          {% if operation %}
            <input type="hidden" value={{ operation }} name="operation"/>
            {% endif %}
          <div class="input-group">
             <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-single-02"></i>
                </div>
              </div>
                  {{ form.usernameh }}
            </div>
            {{ form.password }}
             {{ form.username }}


 
            <div class="input-group">
            <p class="title">Por favor ingrese su codigo de autenticacion de dos factores</p>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-components"></i>
                    </div>
                  </div>
                   {{ form.otp_token}}
            </div>
  {% if form.errors.otp_token %}<label  class="error" for="id_otp_token">{{ form.errors.otp_token }}</label>{% endif %}
      
            <div class="clearfix"></div>

<hr class="grey-800">
          <div class="row  text-center">
          
          
           


          <div class="col-md-12">
          <input type="submit" value="Ingresar" class="btn btn-fill btn-primary container waves-effect text-dark" name="login"/>
          
          </div>
          <div class="col-md-12">
          <a href="http://t.me/ProntopagosBot" class="text-primary">Registrarse</a>
          </div>
          <div class="col-md-12">
          <a href="{% url 'clave' %}" class="text-primary">¿Olvido su contraseña?</a>
          </div>
          <div class="col-md-12">
          <a href="{% url 'salvar2fa' %}" class="text-primary">¿Perdio su metodo 2fa?</a>
          </div>

          </div>
    
          </form>
          <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
          async defer>
         </script>

          
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    var verifyCallback = function(response) {
            //alert(response);
          };


    $(document).ready(function() {


        //---------------------VALIDACION DE USUARIO-------------  


    });

</script>
{% endblock javascripts %}
