{% extends "inicio/baseinit.html" %} {% load static %} {% block title %} Login {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block bodyclass %}login{% endblock %}

<script>
    $(document).ready(function() {
        $("#contenedor2fa").hide();
        $("#loader").hide();
    });
</script>
{% block content %} {% if msg != '' %} {% if success is True or success == 1 %} {% include 'includes/msj-success.html' %} {% else %} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}
<div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
    <div class="card card-login">
        <div class="card-header">
            <div class="my-5 d-flex justify-content-center">
                <img src="{% static 'img/logoppg5.png' %}" alt="" height="100" width="250">
            </div>
        </div>
        <div class="card-body">
            <!--**************LOGIN NORMAL****************-->
            <div class="contenido content1">




                <form id="loginform" method="post">{% csrf_token %} {% if operation %}
                    <input type="hidden" value={{ operation }} name="operation" /> {% endif %}
                    <label>Usuario</label>
                    <div class="form-group">
                        {{ form.username }}
                        <span class="error" for="id_username" id="error_username"></span>
                    </div>
                    {{ form.token }} {{ form.transaction }}
                    <input type="hidden" name="ppg" value="si" />

                </form>


                <label>Contraseña</label>
                <div class="form-group">
                    <input type="password" class="form-control text-white logininput" placeholder="Contraseña" name="password" id="id_password" required/>
                    <span class="error" for="id_password" id="error_password"></span>

                </div>


            </div>
            <!--**************VALIDACION 2FA EMAIL****************-->
            <div class="contenido content2">
                <form role="form" method="post">{% csrf_token %}

                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12  col-lg-3 col-xl-3">
                            {{form2fa_email.c1}}
                        </div>
                        <div class="form-group col-sm-12 col-md-12  col-lg-3 col-xl-3">
                            {{form2fa_email.c2}}
                        </div>
                        <div class="form-group col-sm-12 col-md-12  col-lg-3 col-xl-3">
                            {{form2fa_email.c3}}
                        </div>
                        <div class="form-group col-sm-12 col-md-12  col-lg-3 col-xl-3">
                            {{form2fa_email.c4}}
                        </div>
                        <div class="col-md-12 text-center">
                            <p>Ingrese el codigo de validación enviado a su correo</p>
                        </div>
                    </div>
                </form>
            </div>


            <div class="clearfix"></div>
            <hr class="grey-800">


            <div class="text-center">
                <div class="d-flex justify-content-center">
                    <div class="g-recaptcha" id="html_element" data-theme='dark'></div>
                </div>


                <div class="col-md-12 contenido content1">
                    <button class="btn btn-fill btn-primary container waves-effect text-dark contenido content1" id="btningresar" disabled>Ingresar</button>

                </div>
                <div class="contenido content2">


                    <div class="col-md-12">
                        <button class="btn btn-fill btn-primary container waves-effect text-dark" id="btn2faemail" disabled>Procesar</button>
                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-fill btn-primary container waves-effect text-dark" id="btnreenviar">Reenviar</button>
                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-fill btn-primary container waves-effect text-dark atras" id="btnatras1">Atras</button>
                    </div>

                </div>


                <div class="col-md-12">
                    <a href="{% url 'registroUser' %}" class="text-primary">Registrarse</a>
                </div>
                <!--
                <div class="col-md-12">
                    <a href="http://t.me/ProntopagosBot" class="text-primary">Registrarse telegram</a>
                </div>
                -->
                <div class="col-md-12">
                    <a href="{% url 'clave' %}" class="text-primary">¿Olvidó su contraseña?</a>
                </div>
            </div>
            <div class="spinner-grow ml-auto text-primary" role="status" aria-hidden="true" id="loader"></div>

            <div id="alercontainer">

            </div>
            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
            </script>


        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'js/stellar-libs.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/8.3.0/stellar-sdk.js"></script>

<script>
    let validCaptcha = false;


    var verifyCallback = function(response) {
        document.getElementById("id_token").value = response;
        //alert(response);
    };

    $(document).ready(function() {
        $("#loader").hide();

        sessionStorage.removeItem('merma');
        async function validateRecaptcha() {
            var response = await grecaptcha.getResponse();
            if (response == $("#id_token").val()) {
                console.log("cuatro")
            }
            //console.log(response);
            if (response.length === 0) {
                alert("Por favor resuelva el reCapchat");
                validCaptcha = false;
                return false;
            } else {

                validCaptcha = true;
                //alert("validated");
                return true;
            }
        }




        //Inicializar validacion de formularios
        setFormValidation('#loginform');
        const validForm = $("#loginform").validate();
        let tipoFomulario = 0;

        //setFormValidation('#passwordform');
        //const validpassForm = $("#passwordform").validate();

        // Declarando librerias
        const crypto = StellarLibs.crypto;
        const stellarHDWalled = StellarLibs.StellarHDWallet;
        const stellarKeystore = StellarLibs.StellarKeystore;
        const stellarSdk = StellarLibs.StellarSdk;

        let keystore = undefined;



        //FORMULARIO Y SU VALIDACION
        let form = {
            'username': '',
        }

        let estatusInpus = {
            'username': false,
            'password': false
        }

        function cambiarContenido(_codigo = 1) {
            $(".contenido").hide();
            $(".content" + _codigo).show();
        }

        cambiarContenido();

        $(".atras").on("click", async function() {
            cambiarContenido();
        });

        //---------PROCESO DE LOGIN
        $("#btningresar").on("click", async function() {
            $("#loader").show();
            $("#btningresar").attr('disabled', true);

            //-----------PASO 1 OBTENER EL KEYSTORE DB FORMAT
            let resp_paso1 = await getKeystoreDB();
            if (!resp_paso1 || !resp_paso1.success) {
                activarBotones();
                return
            }

            //-----------PASO 2 CHEQUEAR LA CLAVE Y OBTENER EL KEYSTORE
            keystore = await getKeystore(formatKeystore(resp_paso1.keystore), $("#id_password").val());
            if (!keystore) {
                activarBotones();
                return
            }

            //-----------PASO 3 CHEQUEAR EL CAPCHA
            const is_valid_captcha = await validateRecaptcha();
            if (!is_valid_captcha) {
                activarBotones();
                return
            }


            //-----------PASO 4 DIVERSIFICACION SEGUN CONFIGURACIONES DE VALIDACIONES DEL USUARIO
            if (resp_paso1["2fa"]["email"] && !resp_paso1["ip"]) {
                //-----------PASO 4.1 CASO DE QUE TENGA 2FA EMAIL Y NO TENGA IP
                //---SE ABRE EL FORMULARIO DE VALIDACION 2FA PARA EMAIL
                cambiarContenido(2);
                consultValidation2fa('email',resp_paso1.challenge.transaction);
                activarBotones();
                return

            } else {
                //-----------PASO 5 LOGUEAR A FALTA DE CONFIGURACIONES
                await login(resp_paso1.challenge.transaction)
                return
            }

        });

        async function login(_transaccion) {
            try {

                const transaccion_auth = await getTransactionEnvelope(_transaccion);
                //console.log(transaccion_auth);
                if (!transaccion_auth) {
                    activarBotones();
                }
                $("#id_transaction").val(transaccion_auth);
                sessionStorage.setItem('merma', keystore.secret());
                $('form#loginform').submit();
            } catch (err) {
                activarBotones();

            }
        }


        function activarBotones() {
            $("#btningresar").attr('disabled', false);
            $("#loader").hide();
        }

        //----------VALIDAR INPUT CADA VEZ QUE SUELTA UNA TECLA
        $(".logininput").on('keyup', function() {

            const input = $(this);
            const code = input.attr("id");
            const name = input.attr("name");
            $("#error_" + name).text("");
            if (name != "password") {
                form[name] = input.val();
                estatusInpus[name] = validForm.element(input);
            } else {

                estatusInpus[name] = validarClave();

            }

            if (estatusInpus.username && estatusInpus.password) {
                $("#btningresar").attr("disabled", false);
            } else {
                $("#btningresar").attr("disabled", true);
            }

        });


        async function getTransactionEnvelope(XDR) {

            try {
                let transaccion = new StellarSdk.TransactionBuilder.fromXDR(XDR, stellarSdk.Networks.PUBLIC);
                //console.log("aqui")
                let keypair = StellarSdk.Keypair.fromSecret(keystore.secret());

                transaccion.sign(keypair);
                return transaccion.toXDR();

            } catch (error) {

                if (error.response) {
                    console.log(error.response);
                    //printMsjStellar(error.response, msjstellar, "danger", "alercontainer");
                } else {
                    newMensaje(error, "errors2", "danger", "alercontainer");
                }

                return false;

            }
        }


        async function getAuthEndPoint() {
            try {
                //console.log(keystore.publicKey());
                let response = await $.ajax({
                    url: url + '/api/sep10',
                    data: {
                        account: keystore.publicKey(),
                    },
                    type: 'GET',
                });

                //console.log(response);
                return response;


            } catch (error) {
                newMensaje(error, "errorsep10", "danger", "alercontainer");
                return false;
            }


        }

        async function getAuthEndPointPost(transaccion) {

            try {
                let response = await $.ajax({
                    url: url + '/api/sep10',
                    data: JSON.stringify({
                        transaction: transaccion,
                    }),
                    type: 'POST',
                    headers: {
                        "Content-Type": 'application/json'
                    },
                    /*beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },*/
                });

                return response;


            } catch (error) {
                newMensaje(error, "errorsep10", "danger", "alercontainer");
                return false;
            }


        }


        function validarClave() {
            const vali_simbolos = /[-!$%^&*()_+|~=·{}\[\]:?,.@"¿;/]/;
            const mayuscula = /[A-Z]+/;
            const minuscula = /[a-z]+/;
            const numeros = /[0-9]+/;
            const invalido=/[#]/;

            validarInput("password", 1);
            //if (mayuscula.test(req.body.pass2) && vali_simbolos.test(req.body.pass2) && minuscula.test(req.body.pass2) && numeros.test(req.body.pass2)) {
            if ($("#id_password").val() == "") {
                validarInput("password", 3, {
                    "password": ["La contraseña es requerida"]
                });

                return false;
            } else if (!minuscula.test($("#id_password").val())) {
                validarInput("password", 3, {
                    "password": ["Debe tener minusculas"]
                });

                return false;
            } else if (!mayuscula.test($("#id_password").val())) {
                validarInput("password", 3, {
                    "password": ["Debe tener mayusculas"]
                });
                return false;
            } else if (!numeros.test($("#id_password").val())) {
                validarInput("password", 3, {
                    "password": ["Debe tener numeros"]
                });
                return false;
            } else if (!vali_simbolos.test($("#id_password").val())) {
                validarInput("password", 3, {
                    "password": ["Debe tener caracteres especiales"]
                });
                return false;

            }else if (invalido.test($("#id_password").val())) {
                validarInput("password", 3, {
                    "password": ["Contiene caracter invalido"]
                });
                return false;

            } else {
                validarInput("password", 2);
            }
            return true;






        }

        /**
         * Obtener hash
         * @param code es la clave que va codificar
         * @returns la clave encryptada
         */
        function getHash(code) {
            var hash = crypto.createHash('sha256').update(code).digest("hex");
            return hash;
        }

        /**
         * formateo de keystore
         * @param keystoreDB es ek keystore formato db
         * @returns keystore formateado
         */
        function formatKeystore(keystoreDB) {
            const keystoreformateado = {
                'address': keystoreDB.address,
                'crypto': {
                    'ciphertext': keystoreDB.ciphertext,
                    'nonce': keystoreDB.nonce,
                    'salt': keystoreDB.salt,
                    'scryptOptions': {
                        'N': keystoreDB.n,
                        'dkLen': keystoreDB.dklen,
                        'encoding': keystoreDB.encoding,
                        'p': keystoreDB.p,
                        'r': keystoreDB.r,
                    }
                },
                'version': keystoreDB.version
            }
            return keystoreformateado;
        }

        async function getKeystore(keystore, password) {
            try {

                const kp = await stellarKeystore.StellarKeystore.prototype.keypair(keystore, getHash(password + '_prontopagos'));
                return kp
            } catch (error) {

                validarInput("password", 3, {
                    "password": ["Contraseña incorrecta"]
                });
                return false;
            }
        }

        /**
         * Obtener keystore DB
         * @returns Keystore formado DB
         */
        async function getKeystoreDB() {
            try {
                let response = await $.ajax({
                    url: url + '/api/login/',
                    type: 'POST',
                    data: form,
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    }
                });

                if (!response.success) {
                    if (typeof response.error === "string") {
                        newMensaje("Ha ocurrido un error. Recargue la pagina", "errors2", "danger", "alercontainer");
                    } else {
                        validarInputClase('logininput', 3, response.error);
                    }
                }
                return response;

            } catch (error) {
                newMensaje("Ha ocurrido un error. Vuelva a intentar", "errors", "danger", "alercontainer");
                return false;
            }

        }

        /**
         * consultar validacion 2fa
         * @param tipo el tipo de 2fa 
         * @returns Keystore formado DB
         */
         async function consultValidation2fa(_tipo,_transaccion) {
             
            try {
                const transaccion_auth = await getTransactionEnvelope(_transaccion);
                
                if(!transaccion_auth) return false;

                let response = await $.ajax({
                    url: url + '/api/validation-2fa/',
                    type: 'POST',
                    data: {
                        form:form,
                        tipo:_tipo,
                        transaction:transaccion_auth
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    }
                });

                if (!response.success) {
                    newMensaje(response.error, "errors3", "danger", "alercontainer");
                }
                return response;

            } catch (error) {
                newMensaje("Ha ocurrido un error. Vuelva a intentar", "errors", "danger", "alercontainer");
                return false;
            }

        }




        //---------------------VALIDACION DE USUARIO-------------  

        $("#id_username").keypress(function() {
            $(this).val($(this).val().toUpperCase());
        });

        $("#id_username").change(function() {

            //$(this).val($(this).val().toUpperCase());
            /* $("#loader").show();
                 var tx = $(this).val();
                 var url = window.location.protocol + "//" + window.location.host + "";
                 $.ajax({
                     url: url + '/api/v3/comprobar2FA/',
                     type: 'POST',
                     data: {
                         'username': tx,
                     },
                     beforeSend: function(xhr, settings) {
                         xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                     },
                     success: function(arg) {
                       if(arg.success && arg.in_2fa){
                         $("#contenedor2fa").show();
                       }else{
                         
                         $("#contenedor2fa").hide();
                       }
                       $("#loader").hide();
                     }
                 });*/
        });

    });
</script>
{% endblock javascripts %}