
{% extends 'index.html' %}
{% block titulo %}
Login papaya
{% endblock titulo %}

{% block content %}
<br><br><br><br><br><br>
<div  class="container center" >
  <div class="row">
    <div class="col s12 l6">
          <form method="POST">
        {% csrf_token %}
      <div class="card grey darken-4 hoverable ">
     

     
        <div class="card-content amber-text text-accent-4">
           <span class="card-title center">INICIO DE SESSIÓN</span>
           <div class="row">
        <div class="input-field col s12 ">
          <input id="username" type="text" class="validate white-text" name="username">
          <label for="username">Usuario/Correo</label>
        </div>
        <div class="input-field col s12">
          <input id="password" type="password" class="validate  white-text" name="password">
          <label for="password">Contraseña</label>
        </div>
      </div>
          
        </div>
  
    <div class="card-action">
      <div class="row">
          <div class="row section">
          <input type="submit" value="Ingresar" class="btn container waves-effect amber accent-4 black-text" name="login"/>
          
          </div>
          <div class="row section">
       
          <a href={% provider_login_url "google" %} class="btn container waves-effect amber accent-4 black-text">Google</a>
          </div>
     
          <div class="row section">
          <a href="/usuario/registrar" class="btn container waves-effect amber accent-4 black-text">Registro</a>
          </div>
         <div class="row section">
          <a href="/registro/promotor/" class="btn container waves-effect amber accent-4 black-text">Recordar&nbspcontraseña</a>
          </div>
         
        </div>
         </div>
    </div>
      
      </div>
      </form>
   <div>
  </div>
</div>
</div>


          <!--
            RESPALDO GOOGLE
          <div class="col-md-12">
          <a href={% provider_login_url "google" %} class="btn btn-google  btn-fill btn-primary container waves-effect text-dark"> <i class="fab fa-google-plus-g"></i> Conectar con Google</a>
          </div>
          -->
{% endblock content %}

{% block script %}
<script type='text/javascript'>

  $(document).ready(function(){
    $('.tabs').tabs();
  });
  </script>
{% endblock script %}