{% extends "inicio/baseinit.html" %} {% load static %} {% block title %} recordar clave {% endblock %}

<!-- Specific Page CSS goes HERE  -->

{% block content %} {% if msg != '' %} {% if success is True %} {% include 'includes/msj-success.html' %} {% else %} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}

<div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <div class="card card-login">

        <div class="card-header">

            <div class="d-flex align-items-center">
                <h1 class="card-title">Clave</h1>
                <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
            </div>
        </div>
        <div class="card-body">

            <!----------------------------------------SEGUNDO PASO-------------------------------------------->
            <div lass="form-group col-md-12">
                <p class="title text-white" id="instrucciones">Para empezar a recuperar su cuenta por favor ingrese su llave publica o su usuario</p>
            </div>
            <br>

            <div class="form-group col-md-12">
                <label class="bmd-label-floating text-white" id="label_usuario">Usuario</label> {{ form.tx_usuario }}
                <span class="help-block text-danger" for="id_tx_usuario" id="error_tx_usuario"></span>

            </div>

            <!----------------------------------------TERCER PASO-------------------------------------------->

            <div id="paso2">
                <hr class="bg-white">
                <div class="form-group col-md-12">
                    <label class="bmd-label-floating text-white" for="id_tx_frase">Frase secreta</label> {{ form.tx_frase }}
                    <span class='help-block text-danger' for="id_tx_frase" id='error_tx_frase'></span>

                </div>

                <div class="form-group col-md-12">
                    <label class="bmd-label-floating text-white" for="id_password">Nueva clave</label> {{ form.password }}
                    <span class='help-block text-danger' for="id_password" id='error_password'></span>

                </div>
                <div class="form-group col-md-12">
                    <label class="bmd-label-floating text-white" for="id_password2">Repetir nueva clave</label>{{ form.password2 }}
                    <span class='help-block text-danger' for="id_password2" id='error_password2'></span>

                </div>
            </div>


        </div>

        <!----------------------------------------SEGUNDO PASO-------------------------------------------->

        <hr class="bg-white">


        <div class="card-footer">

            <div class="col-md-12">
                <button href="javascript:void(0)" class="btn btn-fill btn-primary container text-dark" name="boton1" id="boton1" disabled>Procesar</button>

                <button href="javascript:void(0)" class="btn btn-fill btn-primary container text-dark" name="boton2" id="boton2" disabled>
                      Procesar
                </button>

                <a href="{% url 'login' %}" class="btn btn-fill btn-primary container text-dark">Regresar</a>
            </div>

            <br/>

            <div id="alercontainer" class="col-md-12">

            </div>


        </div>


    </div>
</div>

<input id="token" name="token" type="hidden">
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function() {
        $("#paso2").hide()
        $("#paso3").hide()
        $("#loader").hide();
        $("#boton2").hide();
        $("#boton3").hide();
        $("#boton4").hide();

        const instruccion1 = "Para empezar a recuperar su cuenta por favor ingrese su llave publica o su usuario";
        const instruccion2 = "A continuación ingrese su frase secreta y su nueva contraseña";

        /**
         *@returns {promise} 
         */
        var getPublicUsuario = async function() {
                try {

                    let response = await $.ajax({
                        url: url + '/api/v3/usuario/get-public/',
                        type: 'POST',
                        data: {
                            'field': $('#id_tx_usuario').val(),
                        },
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        }
                    });

                    return response;


                } catch (error) {
                    //console.log(error);
                    newMensaje("Ha ocurrido un error", "errors", "danger", "alercontainer");
                    newMensaje(error, "def", "danger", "alercontainer");
                    $("#boton1").attr("disabled", false);
                    $('#loader').hide();
                    return false;
                }

            }
            /**
             *@returns {promise} 
             */
        var cambiarClave = async function() {
                try {
                    let response = await $.ajax({
                        url: url + '/api/usuario/recuperar-clave/',
                        type: 'POST',
                        data: {
                            'mnemonic': $("#id_tx_frase").val(),
                            'pass': $("#id_password").val(),

                        },
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        }
                    });

                    return response

                } catch (error) {
                    newMensaje("Ha ocurrido un error intentelo de nuevo", "errors2", "danger", "alercontainer");
                    newMensaje(error.message, "errors3", "danger", "alercontainer");

                    return false
                }
            }
            /**
             *@param{string} verdad
             *@returns {bool} 
             */
        var validarCampos = function(verdad) {

            if (verdad && $("#id_password").val() != '' && $("#id_password2").val() != '' && $("#id_tx_frase").val() != '') {
                $("#boton2").attr("disabled", false);
                return true;
            } else {
                $("#boton2").attr("disabled", true);
                return false;
            }

        }

        $(".clave").on('keyup', function() {

            let name = $(this).attr("name");
            let value = $(this).val();
            let data = {};
            let reg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[[()[\]{}|\\`~!@#$%^&*_\-+=;:\'",<>./?])[A-Za-z\d[()[\]{}|\\`~!@#$%^&*_\-+=;:\'",<>./?]{4,50}$/;
            let verdad = true;
            if (!reg.test(value)) {
                data[name] = ['la contraseña debe tener de 4-40 caracteres, tener mayusculas, minusculas y caracter especiales'];
                validarInput(name, 3, data)
                verdad = false;
            } else {
                validarInput(name, 2)
            }


            if ($("#id_password").val() != '' && $("#id_password2").val() != '') {

                if ($("#id_password").val() != $("#id_password2").val()) {
                    data[name] = ['Los campos claves deben ser iguales'];
                    validarInput(name, 3, data)
                    verdad = false
                } else {
                    validarInput(name, 2)
                }

            } else {
                if ($(this).val() == '') {
                    data[name] = ['Este campo no puede ir vacio'];
                    validarInput(name, 3, data)
                }
                verdad = false;
            }


            validarCampos(verdad);


        });


        $("#id_tx_frase").on('keyup', function() {
            let data = {}
            let verdad = true
            if ($(this).val() == '') {
                data["tx_frase"] = ['Este campo no puede ir vacio'];
                validarInput("tx_frase", 3, data)
                verdad = false
            } else {
                validarInput("tx_frase", 2)
            }
            validarCampos(verdad);
        });

        //---------------------VALIDACION DE USUARIO-------------  
        $("#id_tx_usuario").on('keyup', function() {

            $(this).val($(this).val().toUpperCase());
            if ($(this).val() != '') {

                $("#boton1").attr("disabled", false);

            } else {

                $("#boton1").attr("disabled", true);
            }

            if ($(this).val().length <= 0) {
                error = {
                    'tx_usuario': ['Este campo debe tener al menos un caracter']
                };

                validarInput("tx_usuario", 3, error);

            } else {
                validarInput("tx_usuario", 2);
            }
        });




        //---------------------SOLICITUD PARA VERIFICAR USUARIO-------------  
        $("#boton1").on('click', async function() {
            $("#loader").show();

            $(this).attr("disabled", true);
            let response = await getPublicUsuario();

            if (response) {
                $("#label_usuario").hide();
                $("#id_tx_usuario").val(response.usuario);
                $("#id_tx_usuario").attr("disabled", true);
                $("#boton1").hide();
                $("#boton2").show();
                $("#paso2").show();
                $("#instrucciones").text(instruccion2);
                $('#loader').hide();
            }

            $(this).attr("disabled", false);






        });

        $("#boton2").on('click', async function() {
            $("#boton2").attr("disabled", true);
            $("#loader").show();
            console.log(validarCampos(true));
            if (validarCampos(true)) {

                $("#boton2").attr("disabled", true);
                let response = await cambiarClave();
                if (response) {
                    if (response.success) {
                        newMensaje(response.msg, "succ", "success", "alercontainer");
                        $("#boton2").attr("disabled", false);
                    } else {
                        newMensaje(response.msg, "errorr", "danger", "alercontainer");
                    }
                    $(".clave").val(null);
                }


            }


            $("#loader").hide();
        });




    });
</script>
{% endblock javascripts %}