{% extends "inicio/baseinit.html" %} {% load static %} {% block title %} recordar clave {% endblock %}

<!-- Specific Page CSS goes HERE  -->

{% block content %} {% if msg != '' %} {% if success is True %} {% include 'includes/msj-success.html' %} {% else %} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}

<div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <div class="card card-login">

        <div class="card-header">

            <!-- <img src="{% static 'img/fondologinpapayalogo.png' %}" alt="">  -->
            <!--<h1 class="card-title">&nbsp</h1>-->
            <h1 class="card-title">Clave</h1>
        </div>
        <div class="card-body">

            <!----------------------------------------SEGUNDO PASO-------------------------------------------->

            <div id="paso1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="tim-icons icon-single-02"></i>
                        </div>
                    </div>

                    {{ form.usermail }}
                </div>

                <!----------------------------------------TERCER PASO-------------------------------------------->
                <div id="paso3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="tim-icons icon-lock-circle"></i>
                            </div>
                        </div>
                        {{ form.password }}

                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="tim-icons icon-lock-circle"></i>
                            </div>
                        </div>
                        {{ form.password2}}

                    </div>


                </div>
            </div>

            <!----------------------------------------SEGUNDO PASO-------------------------------------------->
            <div id="paso2" class="row">
                <div class="form-group col-sm-12 col-md-12  col-lg-3 col-xl-3">
                    {{form.c1}} {% if form.errors.c1 %}<span class="help-block white-text">{{ form.errors.c1 }}</span>{% endif %}
                </div>
                <div class="form-group col-sm-12 col-md-12  col-lg-3 col-xl-3">
                    {{form.c2}} {% if form.errors.c2 %}<span class="help-block white-text">{{ form.errors.c2 }}</span>{% endif %}
                </div>
                <div class="form-group col-sm-12 col-md-12  col-lg-3 col-xl-3">
                    {{form.c3}} {% if form.errors.c3 %}<span class="help-block white-text">{{ form.errors.c3 }}</span>{% endif %}
                </div>
                <div class="form-group col-sm-12 col-md-12  col-lg-3 col-xl-3">
                    {{form.c4}} {% if form.errors.c4 %}<span class="help-block white-text">{{ form.errors.c4 }}</span>{% endif %}
                </div>
                <div class="col-md-12 text-center">
                    <p>Ingrese el codigo de validación enviado a su correo</p>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row  text-center">

                <div class="col-md-12">
                    <button href="javascript:void(0)" class="btn btn-fill btn-primary container text-dark" name="boton1" id="boton1" disabled>Procesar</button>

                    <button href="javascript:void(0)" class="btn btn-fill btn-primary container text-dark" name="boton" id="boton2" disabled>
                      Validar
                      </button>
                    <button class="btn btn-fill btn-primary container waves-effect text-dark" name="boton" id="boton3">
                        Reenviar
                        </button>

                    <button href="javascript:void(0)" class="btn btn-fill btn-primary container text-dark" name="boton" id="boton4" disabled>Procesar</button>

                </div>

                <br/>

                <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
                <div id="alercontainer" class="col-md-12">

                </div>


            </div>


        </div>
    </div>

    <input id="token" name="token" type="hidden">
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function() {
        $("#paso2").hide()
        $("#paso3").hide()
        $("#loader").hide();
        $("#boton2").hide();

        $("#boton3").hide();

        $("#boton4").hide();
        //---------------------MENSAJE DE ALERTA-------------
        var newMensaje = function(msj, ida, tipo) {

            if ($("#" + ida).length == 0) {
                var tx1 = '<div class="alert alert-' + tipo + '" id="' + ida + '" >';
                var tx2 = '<button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">';
                var tx3 = '<i class="tim-icons icon-simple-remove"></i>';
                var tx4 = '</button>';
                var tx5 = '<span id="alertText">' + msj + '</span></div>';

                $("#alercontainer").append(tx1 + tx2 + tx3 + tx4 + tx5);
            }
        }

        //---------------------VALIDACION DE USUARIO-------------  
        $("#id_usermail").change(function() {
            var tx = "Usuario";
            if ($(this).val() != '') {

                $("#boton1").prop("disabled", false);

            } else {

                $("#boton1").prop("disabled", true);
            }

            if ($(this).val().length > 50) {
                newMensaje("el campo " + tx + " debe tener menos de 50 caracteres", "alerta_" + $(this).attr('id'), 'warning');
                $(this).val('');
            }
        });


        //---------------------VALIDACION DE CODIGO CORREO-------------  
        var validarCamposCodigo = function() {
            if ($("#id_c1").val() != '' &&
                $("#id_c2").val() != '' &&
                $("#id_c3").val() != '' &&
                $("#id_c4").val() != '') {

                $("#boton2").prop("disabled", false);

            } else {
                $("#boton2").prop("disabled", true);
            }


        }

        $(".ico").change(function() {
            if ($(this).val().length > 1) {
                newMensaje("el campo solo debe tener 1 caracter", "alerta_" + $(this).attr('id'), 'warning');
                $(this).val('');
            }
            validarCamposCodigo();
        });
        //---------------------VALIDACION DE CLAVE------------- 

        var validarClaves = function() {
            if ($("#id_password").val() != '' && $("#id_password2").val() != '') {

                $("#boton4").prop("disabled", false);

            } else {

                $("#boton4").prop("disabled", true);
            }
        }

        $("#id_password").change(function() {

            var texto = $('#id_password').val();
            var reg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[[()[\]{}|\\`~!@#$%^&*_\-+=;:\'",<>./?])[A-Za-z\d[()[\]{}|\\`~!@#$%^&*_\-+=;:\'",<>./?]{4,50}$/;
            if (!reg.test(texto)) {

                newMensaje('la contraseña debe tener de 4-40 caracteres, tener mayusculas, minusculas y caracter especiales', 'alerta4', 'warning');
                $("#id_password").val(null);
            }

            $("#id_password2").val(null);
            validarClaves();

        });


        $("#id_password2").change(function() {


            if ($("#id_password").val() != $("#id_password2").val()) {
                newMensaje('Las contraseñas no coinciden', 'alerta2', 'warning');

                $("#id_password").val(null);
                $("#id_password2").val(null);
            }

            validarClaves();



        });


        //---------------------SOLICITUD PARA VERIFICAR USUARIO-------------  
        $("#boton1").on('click', function() {
            usermail = $("#id_usermail").val();
            $("#loader").show();
            var url = window.location.protocol + "//" + window.location.host + "";
            $.ajax({
                url: url + '/api/usuario/validar-usuario-email/',
                type: 'POST',
                data: {
                    'usermail': usermail,
                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function(arg) {


                    if (arg.success) {

                        $("#paso2").show();
                        $("#id_usermail").prop("disabled", true);
                        $("#boton1").hide();
                        $("#boton2").show();
                        $("#boton3").show();
                    } else {

                        newMensaje(arg.msg, 'alerta1', 'warning');
                    }


                    $("#loader").hide();
                }
            })




        });
        //---------------------SOLICITUD PARA VERIFICAR CODGIGO CORREO-------------  
        var enviocodigo = function(r) {

            c1 = $("#id_c1").val();
            c2 = $("#id_c2").val();
            c3 = $("#id_c3").val();
            c4 = $("#id_c4").val();
            usermail = $("#id_usermail").val();
            var url = window.location.protocol + "//" + window.location.host + "";
            $.ajax({
                url: url + '/api/usuario/verificar3/',
                type: 'POST',
                data: {
                    'c1': c1,
                    'c2': c2,
                    'c3': c3,
                    'c4': c4,
                    'usermail': usermail,
                    'reenviar': r,

                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function(arg) {

                    if (arg.msg != '') {
                        if (arg.success) {
                            newMensaje(arg.msg, 'alerta5', 'success');
                        } else {

                            newMensaje(arg.msg, 'alerta5', 'warning');
                        }
                    } else {
                        if (arg.success) {
                            $("#token").val(arg.token);
                            $("#paso2").hide();
                            $("#boton2").hide();
                            $("#boton3").hide();
                            $("#paso3").show();
                            $("#boton4").show();
                        }
                    }



                    $("#loader").hide();
                }
            })

        }
        $("#boton2").on('click', function() {
            var reenviar = 1;
            $("#loader").show();

            enviocodigo(reenviar);
        });
        $("#boton3").on('click', function() {
            var reenviar = 0;
            $("#loader").show();
            enviocodigo(reenviar);
        });
        //---------------------SOLICITUD PARA VERIFICAR CODGIGO CORREO------------- 
        $("#boton4").on('click', function() {
            $("#loader").show();
            var url = window.location.protocol + "//" + window.location.host + "";
            $.ajax({
                url: url + '/api/usuario/cambiar-clave/',
                type: 'POST',
                data: {
                    password: $('#id_password').val(),
                    password2: $('#id_password2').val(),
                },
                headers: {
                    "Authorization": 'token ' + $("#token").val()
                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function(arg) {


                    if (arg.success) {



                        newMensaje(arg.msg, 'alertp1', 'success');
                        window.location = url + '/login/?paso=true';
                    } else {
                        newMensaje(arg.msg, 'alertd1', 'warning');
                    }

                    $("#loader").hide();
                }
            })




        });




    });
</script>
{% endblock javascripts %}