{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Calendar {% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-calendar">
            <div class="card-body">
                <div id="fullCalendar"></div>
            </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}

    <script>
        demo.initFullCalendar();
    </script>

{% endblock javascripts %}
