{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Forms Validation {% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
          <form id="RegisterValidation">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Register Form</h4>
              </div>
              <div class="card-body">
                <div class="form-group has-label">
                  <label>
                    Email Address *
                  </label>
                  <input class="form-control" name="email" type="email" required />
                </div>
                <div class="form-group has-label">
                  <label>
                    Password *
                  </label>
                  <input class="form-control" name="password" id="registerPassword" type="password" required />
                </div>
                <div class="form-group has-label">
                  <label>
                    Confirm Password *
                  </label>
                  <input class="form-control" name="password_confirmation" id="registerPasswordConfirmation" type="password" equalto="#registerPassword" />
                </div>
                <div class="category form-category">* Required fields</div>
              </div>
              <div class="card-footer text-right">
                <div class="form-check pull-left">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="optionCheckboxes">
                    <span class="form-check-sign"></span>
                    Accept the terms and conditions
                  </label>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <form id="LoginValidation">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Login Form</h4>
              </div>
              <div class="card-body">
                <div class="form-group has-label">
                  <label>Full Name *</label>
                  <input class="form-control" name="fullname" type="text" required />
                </div>
                <div class="form-group has-label">
                  <label>Email Address *</label>
                  <input class="form-control" name="email" type="email" />
                </div>
                <div class="form-group has-label">
                  <label>Password *</label>
                  <input class="form-control" name="password" type="password" />
                </div>
                <div class="category form-category">* Required fields</div>
              </div>
              <div class="card-footer text-left">
                <button type="submit" class="btn btn-primary">Register</button>
                <a href="javascript:void(0)" class="pull-right">Forgot password?</a>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-12">
          <form id="TypeValidation" class="form-horizontal">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Type Validation</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <label class="col-sm-2 col-form-label">Required Text</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="text" name="required" required />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>required</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="email" name="email" required />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>type="email"</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Number</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="number" name="number" required />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>type="number"</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Url</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="url" name="url" required />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>type="url"</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Equal to</label>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input class="form-control" id="idSource" type="text" placeholder="#idSource" />
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input class="form-control" id="idDestination" type="text" placeholder="#idDestination" equalTo="#idSource" />
                    </div>
                  </div>
                  <label class="col-sm-4 label-on-right">
                    <code>equalTo="#idSource"</code>
                  </label>
                </div>
              </div>
              <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Validate Inputs</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-12">
          <form id="RangeValidation" class="form-horizontal">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Range Validation</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <label class="col-sm-2 col-form-label">Min Length</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="text" name="min_length" minLength="5" required />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>minLength="5"</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Max Length</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="text" name="max_length" maxLength="5" />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>maxLength="5"</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Range</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="number" min="6" max="10" />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>min="6" max="10"</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Min Value</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="number" name="min" min="6" />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>min="6"</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Max Value</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="number" name="max" max="6" />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>max="6"</code>
                  </label>
                </div>
              </div>
              <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Validate Inputs</button>
              </div>
            </div>
          </form>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}

<script>
    function setFormValidation(id) {
        $(id).validate({
        highlight: function(element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
            $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
        },
        success: function(element) {
            $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
            $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
        },
        errorPlacement: function(error, element) {
            $(element).closest('.form-group').append(error);
        },
        });
    }

    $(document).ready(function() {
        setFormValidation('#RegisterValidation');
        setFormValidation('#TypeValidation');
        setFormValidation('#LoginValidation');
        setFormValidation('#RangeValidation');
    });
</script>

{% endblock javascripts %}
