{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Maps FullScreen {% endblock title %}

{% block bodyclass %} full-screen-map {% endblock %}

{% block content %}

    <div id="map"></div>

{% endblock content %}

{% block javascripts %}

<script>
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initGoogleMaps();
    });
</script>

{% endblock javascripts %}
