{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Rtl Page {% endblock title %}

{% block bodyclass %} rtl menu-on-right {% endblock %}

{% block content %}

<div class="row">
        <div class="col-lg-6 col-sm-6 text-center">
          <div class="card  card-tasks text-left">
            <div class="card-header ">
              <h6 class="title d-inline">تتبع</h6>
              <p class="card-category d-inline">اليوم</p>
              <div class="dropdown">
                <a class="btn btn-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="tim-icons icon-settings-gear-63"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">عمل</a>
                  <a class="dropdown-item" href="#">عمل آخر</a>
                  <a class="dropdown-item" href="#">شيء آخر هنا</a>
                </div>
              </div>
            </div>
            <div class="card-body ">
              <div class="table-full-width table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text-center">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td class="text-right">
                        <p class="title">مركز معالجة موقع محور</p>
                        <p class="text-muted">نص آخر هناالوثائق</p>
                      </td>
                      <td class="td-actions">
                        <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="مهمة تحرير">
                          <i class="tim-icons icon-settings"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td class="text-right">
                        <p class="title">لامتثال GDPR</p>
                        <p class="text-muted">الناتج المحلي الإجمالي هو نظام يتطلب من الشركات حماية البيانات الشخصية والخصوصية لمواطني أوروبا بالنسبة للمعاملات التي تتم داخل الدول الأعضاء في الاتحاد الأوروبي.</p>
                      </td>
                      <td class="td-actions">
                        <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="مهمة تحرير">
                          <i class="tim-icons icon-settings"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td class="text-right">
                        <p class="title">القضاياالقضايا</p>
                        <p class="text-muted">سيكونونقال 50٪ من جميع المستجيبين أنهم سيكونون أكثر عرضة للتسوق في شركة</p>
                      </td>
                      <td class="td-actions">
                        <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="مهمة تحرير">
                          <i class="tim-icons icon-settings"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked="">
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td class="text-right">
                        <p class="title">تصدير الملفات التي تمت معالجتها</p>
                        <p class="text-muted">كما يبين التقرير أن المستهلكين لن يغفروا شركة بسهولة بمجرد حدوث خرق يعرض بياناتهم الشخصية.</p>
                      </td>
                      <td class="td-actions">
                        <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="مهمة تحرير">
                          <i class="tim-icons icon-settings"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked="">
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td class="text-right">
                        <p class="title">الوصول إلى عملية التصدير</p>
                        <p class="text-muted">سياسة السيء إنطلاق في قبل, مساعدة والمانيا أخذ قد. بل أما أمام ماشاء الشتاء،, تكاليف الإقتصادي بـ حين. ٣٠ يتعلّق للإتحاد ولم, وتم هناك مدينة بتحدّي إذ, كان بل عمل</p>
                      </td>
                      <td class="td-actions">
                        <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="مهمة تحرير">
                          <i class="tim-icons icon-settings"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td class="text-right">
                        <p class="title">الافراج عن v2.0.0</p>
                        <p class="text-muted">عن رئيس طوكيو البولندي لمّ, مايو مرجع وباءت قبل هو, تسمّى الطريق الإقتصادي ذات أن. لغات الإطلاق الفرنسية دار ان, بين بتخصيص الساحة اقتصادية أم. و الآخ</p>
                      </td>
                      <td class="td-actions">
                        <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="مهمة تحرير">
                          <i class="tim-icons icon-settings"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card card-contributions">
            <div class="card-body ">
              <h1 class="card-title">6,332</h1>
              <h3 class="card-category">مجموع المساهمات العامة </h3>
              <p class="card-description">بعد نجاح ناجح لمدة عامين ، سنقوم بتغيير طريقة عمل المساهمات.</p>
            </div>
            <hr>
            <div class="card-footer ">
              <div class="row">
                <div class="col-lg-6 col-md-9 ml-auto mr-auto">
                  <div class="card-stats justify-content-center">
                    <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-label="على" data-off-label="إيقاف" checked>
                    <span>جميع المساهمات العامة </span>
                  </div>
                </div>
                <div class="col-lg-6 col-md-9 ml-auto mr-auto">
                  <div class="card-stats justify-content-center">
                    <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-label="على" data-off-label="إيقاف">
                    <span>مساهمات الأسبوع الماضي </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="card card-timeline card-plain">
            <div class="card-body">
              <ul class="timeline timeline-simple">
                <li class="timeline-inverted">
                  <div class="timeline-badge danger">
                    <i class="tim-icons icon-bag-16"></i>
                  </div>
                  <div class="timeline-panel text-right">
                    <div class="timeline-heading">
                      <span class="badge badge-pill badge-danger">بعض العنوان </span>
                    </div>
                    <div class="timeline-body">
                      <p>ل Wifey قدم أفضل وجبة يوم الأب على الإطلاق. ممتن جدا سعيد جدا حتى المباركة. شكراً لك على صنع عائلتي لقد استمتعنا بالموضوع "المستقبلي" !!! كانت ليلة ممتعة معًا ...</p>
                    </div>
                    <h6>
                      <i class="ti-time"></i> قبل ساعتين عبر تويتر
                    </h6>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge success">
                    <i class="tim-icons icon-gift-2"></i>
                  </div>
                  <div class="timeline-panel text-right">
                    <div class="timeline-heading">
                      <span class="badge badge-pill badge-success">واحدة أخرى </span>
                    </div>
                    <div class="timeline-body">
                      <p>أشكر الله على دعم زوجتي وأصدقائي الحقيقيين. أود أيضًا الإشارة إلى أنه أول ألبوم ينتقل إلى رقم 1 من البث المباشر !!! أنا أحبك إلين وأيضا قاعدة بلدي رقم واحد تصميم أي شيء أفعله من الأحذية إلى الموسيقى إلى المنازل.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge info">
                    <i class="tim-icons icon-planet"></i>
                  </div>
                  <div class="timeline-panel text-right">
                    <div class="timeline-heading">
                      <span class="badge badge-pill badge-info">عنوان آخر</span>
                    </div>
                    <div class="timeline-body">
                      <p>يطلق عليه أنا أفتقد كاني القديم هذا كل ما كان كاني وأنا أحبك مثل كانيي يحب كاني الشهير مشاهدة فيجويروا والثاني عشر في وسط المدينة LA 11:10 PM</p>
                      <p>ماذا لو قدمت كاني أغنية عن كاني رويير لا تصنع سرير الدب القطبي ولكن الأريكة الدببة القطبية هي قطعة الأثاث المفضلة لدينا التي نملكها. لم يكن أي مجموعة من على أهدافه كاني
                      </p>
                      <hr>
                    </div>
                    <div class="timeline-footer">
                      <div class="dropdown">
                        <button type="button" class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown">
                          <i class="tim-icons icon-bullet-list-67"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">عمل</a>
                          <a class="dropdown-item" href="#">عمل آخر</a>
                          <a class="dropdown-item" href="#">شيء آخر هنا</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="card card-pricing card-primary">
            <div class="card-body">
              <h1 class="card-title">طليعة</h1>
              <img class="card-img" src="{% static 'assets/img/card-primary.png' %}" alt="Card image">
              <ul class="list-group">
                <li class="list-group-item">300 رسائل</li>
                <li class="list-group-item">150 رسائل البريد الإلكتروني
                </li>
                <li class="list-group-item">24/7 الدعم
                </li>
              </ul>
              <div class="card-prices">
                <h3 class="text-on-front">
                  <span>$</span>95</h3>
                <h5 class="text-on-back">95</h5>
                <p class="plan">خطة مهنية</p>
              </div>
            </div>
            <div class="card-footer text-center mb-3 mt-3">
              <button class="btn btn-round btn-just-icon btn-primary">البدء</button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card card-pricing card-primary card-white">
            <div class="card-body">
              <h1 class="card-title">طليعة</h1>
              <img class="card-img" src="{% static 'assets/img/card-primary.png' %}" alt="Card image">
              <ul class="list-group">
                <li class="list-group-item">300 رسائل</li>
                <li class="list-group-item">150 رسائل البريد الإلكتروني
                </li>
                <li class="list-group-item">24/7 الدعم
                </li>
              </ul>
              <div class="card-prices">
                <h3 class="text-on-front">
                  <span>$</span>95</h3>
                <h5 class="text-on-back">95</h5>
                <p class="plan">خطة مهنية</p>
              </div>
            </div>
            <div class="card-footer text-center mb-3 mt-3">
              <button class="btn btn-round btn-just-icon btn-primary">البدء</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-testimonial">
            <div class="card-header card-header-avatar">
              <a href="#pablo">
                <img class="img img-raised" src="{% static 'assets/img/james.jpg' %}" alt="Card image">
              </a>
            </div>
            <div class="card-body ">
              <p class="card-description">
                إن التشبيك في قمة الويب لا يشبه أي مؤتمر تقني أوروبي آخر.
              </p>
              <div class="icon icon-primary">
                <i class="fa fa-quote-right"></i>
              </div>
            </div>
            <div class="card-footer ">
              <h4 class="card-title">روبرت بريسن</h4>
              <p class="category">@خطةطليعة</p>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}
