{% extends "layouts/base.html" %}

{% load static %}

{% block title %} UI Notifications {% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Notifications Style</h4>
            </div>
            <div class="card-body">
              <div class="alert alert-info">
                <span>This is a plain notification</span>
              </div>
              <div class="alert alert-info">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
                <span>This is a notification with close button.</span>
              </div>
              <div class="alert alert-info alert-with-icon" data-notify="container">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
                <span data-notify="icon" class="tim-icons icon-bell-55"></span>
                <span data-notify="message">This is a notification with close button and icon.</span>
              </div>
              <div class="alert alert-info alert-with-icon" data-notify="container">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
                <span data-notify="icon" class="tim-icons icon-bell-55"></span>
                <span data-notify="message">This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Notification states</h4>
            </div>
            <div class="card-body">
              <div class="alert alert-primary">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
                <span>
                  <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
              </div>
              <div class="alert alert-info">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
                <span>
                  <b> Info - </b> This is a regular notification made with ".alert-info"</span>
              </div>
              <div class="alert alert-success">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
                <span>
                  <b> Success - </b> This is a regular notification made with ".alert-success"</span>
              </div>
              <div class="alert alert-warning">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
                <span>
                  <b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
              </div>
              <div class="alert alert-danger">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
                <span>
                  <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="places-buttons">
                <div class="row">
                  <div class="col-md-6 ml-auto mr-auto text-center">
                    <h4 class="card-title">
                      Notifications Places
                    </h4>
                    <p class="category mb-3">Click to view notifications</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 ml-auto mr-auto">
                    <div class="row">
                      <div class="col-md-4">
                        <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','left')">Top Left</button>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','center')">Top Center</button>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','right')">Top Right</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 ml-auto mr-auto">
                    <div class="row">
                      <div class="col-md-4">
                        <button class="btn btn-primary btn-block" onclick="demo.showNotification('bottom','left')">Bottom Left</button>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-primary btn-block" onclick="demo.showNotification('bottom','center')">Bottom Center</button>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-primary btn-block" onclick="demo.showNotification('bottom','right')">Bottom Right</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="card-header">
                    <h4 class="card-title">Modal</h4>
                  </div>
                  <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Classic modal
                  </button>
                  <button class="btn btn-info" data-toggle="modal" data-target="#noticeModal">
                    Notice modal
                  </button>
                  <button class="btn" data-toggle="modal" data-target="#myModal10">
                    Small alert modal
                  </button>
                  <!-- Classic Modal -->
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header justify-content-center">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="tim-icons icon-simple-remove"></i>
                          </button>
                          <h6 class="title title-up">Modal title</h6>
                        </div>
                        <div class="modal-body">
                          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default">Nice Button</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--  End Modal -->
                  <!-- notice modal -->
                  <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-notice">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="tim-icons icon-simple-remove"></i>
                          </button>
                          <h5 class="modal-title" id="myModalLabel">How Do You Become an Affiliate?</h5>
                        </div>
                        <div class="modal-body">
                          <div class="instruction">
                            <div class="row">
                              <div class="col-md-8">
                                <strong>1. Register</strong>
                                <p class="description">The first step is to create an account at
                                  <a href="javascript:void(0)">Creative Tim</a>. You can choose a social network or go for the classic version, whatever works best for you.</p>
                              </div>
                              <div class="col-md-4">
                                <div class="picture">
                                  <img src="/static/assets/img/bg1.jpg" alt="Thumbnail Image" class="rounded img-raised">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="instruction">
                            <div class="row">
                              <div class="col-md-8">
                                <strong>2. Apply</strong>
                                <p class="description">The first step is to create an account at
                                  <a href="javascript:void(0)">Creative Tim</a>. You can choose a social network or go for the classic version, whatever works best for you.</p>
                              </div>
                              <div class="col-md-4">
                                <div class="picture">
                                  <img src="/static/assets/img/bg3.jpg" alt="Thumbnail Image" class="rounded img-raised">
                                </div>
                              </div>
                            </div>
                          </div>
                          <p>If you have more questions, don't hesitate to contact us or send us a tweet @creativetim. We're here to help!</p>
                        </div>
                        <div class="modal-footer justify-content-center">
                          <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Sounds good!</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end notice modal -->
                  <!-- small modal -->
                  <div class="modal fade modal-mini modal-primary" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header justify-content-center">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="tim-icons icon-simple-remove text-white"></i>
                          </button>
                          <div class="modal-profile">
                            <i class="tim-icons icon-single-02"></i>
                          </div>
                        </div>
                        <div class="modal-body">
                          <p>Always have an access to your profile</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-link btn-neutral">Back</button>
                          <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--    end small modal -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}

{% block javascripts %}


{% endblock javascripts %}
