
.imagen{
  position: static;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: 160px;
  width: 200px;
  height: 120px;
  border: 2px ridge #f9a825;
  border-radius: 40px;
}
.imagen_p{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 40px;
  /*line-height: 120px;*/
  color: #ffffff;
  font-family: Arial;
}
.imagen_input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 35%;
  height: 52%;
  outline: none;
  opacity: 0;
}
/*
.imagen_button{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
}
.imagen_button:hover{
  background: #149174;
	color: #0C5645;
}
.imagen_button:active{
  border:0;
}
*/
.imagen_img{
  position: absolute;
  border:0;
  width: 120px; 
  height: 120px;
  margin-top: 0px;
  margin-left: 40px;
}
@media screen and (max-width: 1280px){
  .imagen{
    position: static;
    width: 40%;
    margin-top: 0px;
    margin-left: 120px;
  }
  .imagen_p{
    width: 100%;
    height: 60%;
    text-align: center;
    /*line-height: 20px;*/
    margin-top: 40px;
  }
  .imagen_img{
    position: absolute;
    width: 120px; 
    height: 120px;
    margin-top: 0px;
    margin-left: 25px;
  }
  .imagen_input{
    width: 37%;
    height: 50%;
  }
}

@media screen and (max-width: 1024px){
  .imagen{
    position: static;
    width: 40%;
    margin-top: 0px;
    margin-left: 120px;
  }
  .imagen_p{
    width: 100%;
    height: 70%;
    text-align: center;
    line-height: 20px;
    margin-top: 40px;
  }
  .imagen_img{
    position: absolute;
    width: 120px; 
    height: 120px;
    margin-top: 0px;
    margin-left: 25px;
  }
  .imagen_input{
    width: 37%;
    height: 50%;
  }
}

@media screen and (max-width: 980px){
  .imagen{
    position: static;
    width: 60%;
    margin-top: 0px;
    margin-left: 60px;
  }
  .imagen_p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 20px;
    margin-top: 40px;
  }
  .imagen_img{
    position: absolute;
    width: 120px; 
    height: 120px;
    margin-top: 0px;
    margin-left: 30px;
  }
  .imagen_input{
    width: 53%;
    height: 43%;
  }
}

@media screen and (max-width: 740px){
  .imagen{
    position: static;
    width: 40%;
    margin-top: 0px;
    margin-left: 150px;
  }
  .imagen_p{
    width: 100%;
    height: 50%;
    text-align: center;
    /*line-height: 20px;*/
    margin-top: 40px;
  }
  .imagen_img{
    position: absolute;
    width: 120px; 
    height: 120px;
    margin-top: 0px;
    margin-left: 30px;
  }
  .imagen_input{
    width: 37%;
    height: 55%;
  }
}

@media screen and (max-width: 480px){
  .imagen{
    position: static;
    width: 80%;
    margin-top: 0px;
    margin-left: 25px;
  }
  .imagen_p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 20px;
    margin-top: 40px;
  }
  .imagen_img{
    position: absolute;
    width: 120px; 
    height: 120px;
    margin-top: 0px;
    margin-left: 30px;
  }
  .imagen_input{
    width: 70%;
    height: 40%;
  }
}



