
{% load static %}

      <footer class="footer">
          <div class="container-fluid">
            <ul class="nav">
              <li class="nav-item">
                  <a href="http://appseed.us/admin-dashboards/flask-dashboard-black-pro"  class="nav-link">
                    Django Dashboard Black Pro
                  </a>
              </li>
            </ul>
            <div class="copyright">
              ©
              <script>
                document.write(new Date().getFullYear())
              </script> 
              <a href="https://themes.getbootstrap.com/product/black-dashboard-pro-premium-bootstrap-4-admin/">Creative Tim</a>.
              Coded in Django by AppSeed. 
            </div>
          </div>
        </footer>
        
