{% load static %}

    <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
                <a href="https://appseed.us/admin-dashboards/django-dashboard-black-pro" target="_black" class="nav-link">
                  Django Dashboard Black Pro
                </a>
            </li>
          </ul>
          <div class="copyright">
            &copy; <a target="_black" href="https://creative-tim.com/">Creative Tim</a> - coded by <a target="_black" href="https://appseed.us">AppSeed</a>. 
          </div>
        </div>
      </footer>
