{% extends 'inicio/base.html' %}

{% block titulo %}
Bandeja
{% endblock titulo %}

{% block content %}

<div  class="container" >
  <div class="row center">
  <h2 class="amber-text text-accent-4">Bandeja de verificación</h2>
  </div>

  <div class="row center">
  <div class="card  grey darken-3">
    <div class="card-content">
      <table class="highlight responsive-table amber-text text-accent-4" >
        <thead>
          <tr>
              <th>Usuario</th>
              <th>Nombre</th>
              <th>Monto</th>
              <th>Codigo de transferencia</th>
              <th>Banco</th>
              <th>Cuenta depositada</th>
              <th></th>
              <th></th>
          </tr>
        </thead>

        <tbody class="white-text">
        {% for values in  data%}
        <tr>
        <td>{{values.co_usuario.username}}</td>
        <td>{{values.co_usuario.co_persona.get_nombre_corto}}</td>
        <td>{{values.nu_monto}} Bs.S</td>
        <td>{{values.tx_codigo}}</td>
        <td>{{values.co_cuenta.co_banco.tx_siglas}}</td>
        <td>{{values.co_cuenta.tx_cuenta}}</td>
        <td>
        <a class="btn btn-small btn-floating green darken-4 validar modal-trigger" href="#modal1" id="boton{{values.co_recarga}}">
         <i class="material-icons">send</i>
        </a>
          </td>
          <td>
        <a class="btn btn-small btn-floating deep-orange accent-4 rechazar modal-trigger" href="#modal2" id="boton{{values.co_recarga}}">
         <i class="material-icons">delete</i>
        </a>
  </td>
        </tr>
        {% endfor %}
         
        
        </tbody>
      </table>
      </div>
      </div>
  </div> 
  
  <div class="progress" id="loader">
      <div class="indeterminate"></div>
  </div>  
</div>

    <input id="codigo" name="codigo" type="hidden">
    <input id="estatus" name="estatus" type="hidden">

  <div id="modal1" class="modal">
    <div class="modal-content grey darken-4">
      <h4 class="amber-text text-accent-4">Advertencia</h4>
      <p ><h5 id="texto" class="amber-text text-accent-4">¿Estas seguro de aprobar esta transacción?</h5></p>
    
    </div>
    <div class="modal-footer green darken-4" id="footer">
      <a href="#!" class="btn modal-close  grey darken-4 text-white" id="botonsi">Acuerdo</a>
      <a href="#!" class="btn modal-close  grey darken-4 text-white">Cancelar</a>
    </div>
  </div>
<div id="modal2" class="modal">
    <div class="modal-content grey darken-4">
      <h4 class="amber-text text-accent-4">Advertencia</h4>
      <p ><h5 id="texto" class="amber-text text-accent-4">¿Estas seguro de rechazar esta transacción?</h5></p>
   
    </div>
    <div class="modal-footer  deep-orange darken-4" id="footer">
      <a href="#!" class="btn modal-close  grey darken-4 text-white" id="botonno">Acuerdo</a>
      <a href="#!" class="btn modal-close  grey darken-4 text-white">Cancelar</a>
    </div>
  </div>
{% endblock content %}

{% block script %}
<script>
  $(document).ready(function(){
    $('.modal').modal();
    $('#loader').hide();

   var valores = function(id){
    var cod=id;
    var codigo=parseInt(cod.charAt(cod.length-1));

    return codigo;
    }

    var onclick = function(){
        var codigo=$("#codigo").val();
        var estatus=$("#estatus").val();
         $('#loader').show();

            var url =window.location.protocol + "//" + window.location.host + "/";
                $('.validar').attr("disabled", true);
                $('.rechazar').attr("disabled", true);
        $.ajax({
                url: url+'/operaciones/recarga/validarBSS/',
                type: 'POST',
                 data: {
                     'co_recarga':codigo,
                     'co_estatus':estatus
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {
                if(arg.success){
                location.reload();
                }
                $('#loader').hide();
                /*$("tbody").empty();
                
                $.each(arg.data, function (key, value) {
                    var tr="<tr>";
                    tr+="<td>"+value.usuario+"</td>";
                    tr+="<td>"+value.nombre+"</td>";
                    tr+="<td>"+value.nu_monto+" Bs.S</td>";
                    tr+="<td>"+value.tx_codigo+"</td>";
                    tr+="<td>"+value.banco+"</td>";
                    tr+="<td>"+value.cuenta+"</td>";
                    tr+="<td><a class='btn btn-small btn-floating green darken-4 validar modal-trigger' href='#modal1' id='boton"+value.co_recargabs+"'>"
                    tr+="<i class='material-icons'>send</i></a>"
                    tr+="</td>";      
                    tr+="<td><a class='btn btn-small btn-floating deep-orange accent-4 rechazar modal-trigger' href='#modal2' id='boton"+value.co_recargabs+"'>"
                    tr+="<i class='material-icons'>delete</i></a>"
                    tr+="</td>";
                    tr+="</tr>";
                    $("tbody").append(tr)
                });*/
                  M.toast({html: arg.msg, classes: 'rounded'});
                
                },
                error: function (xhr, ajaxOptions, thrownError) {
                   $('#loader').hide();
                   $('.validar').attr("disabled", false);
                   $('.rechazar').attr("disabled", false);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })
    }

    $("#botonno").click(function(){
    onclick();
    });
    $("#botonsi").click(function(){
    onclick();

    });



    var advertencia1 = function(e){
        $("#codigo").val(valores(e.currentTarget.id));
        $("#estatus").val(2);

    }
    var advertencia2 = function(e){
        $("#codigo").val(valores(e.currentTarget.id));
        $("#estatus").val(3);
    }

    $('.validar').on('click', advertencia1);


    $('.rechazar').on('click', advertencia2);

  });
</script>
{% endblock script %}