{% extends 'inicio/base2.html' %}
{% load static %}

{% block title %}
Comprar USDV
{% endblock title %}

{% block content %}


<div class="row">
  {% if msg != '' %}
    {% if success is True %}   
      {% include 'includes/msj-success.html' %}
    {% else %}
      {% include 'includes/msj-danger.html' %}
    {% endif %}
  {% endif %}
</div>

<div class="container">
    <div class="row ">
        <div class="col-md-12 mb-5">
            <div class="card ">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h1 class="card-title">Comprar USDV con TDC Mercantil</h1>
                        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
                    </div>
                </div>
                <form id="formtransferencia">
                    
                    <div class="card-body">
                        <div class="tab-content">
                        <div class="tab-pane show active" id="about">
                            <h5 class="info-text"> Let's start with the basic information (with validation)</h5>
                            <div class="row ">
                                <div class="col-sm-5">
                                    <p class="text-white">Monto USDV</p>
                                    <div class="form-group">
                                    
                                    {{ form.nu_monto_usdv}}
                                    {% if form.nu_monto_usd %}<span class="help-block white-text">{{ form.errors.nu_monto_usdv }}</span>{% endif %}
                                    <span class='help-block text-danger' id='err_id_nu_monto_usdv'></span>
                                    </div>
                                    <p class="text-white">Número de Tarjeta</p>
                                    <div class="form-group">
                                    
                                    {{ form.nu_tarjeta}}
                                    {% if form.nu_monto_usd %}<span class="help-block white-text">{{ form.errors.nu_monto_usd }}</span>{% endif %}
                                    <span class='help-block text-danger' id='err_id_nu_monto_usd'></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-white">Monto a Pagar USD</p>
                                    <div class="form-group">
                                    
                                    {{ form.nu_monto_usd}}
                                    {% if form.nu_monto_usd %}<span class="help-block white-text">{{ form.errors.nu_monto_usd }}</span>{% endif %}
                                    <span class='help-block text-danger' id='err_id_nu_monto_usd'></span>
                                    </div>
                                    <div class="form-group">
                                    <p class="text-white">Fecha de Vencimiento</p>
                                    <div class="row">
                                            <div class="col-sm-6">
                                                <select class=" selectpicker" id="fecha_anio">
                                                    <option>Año</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-6">
                                            <select class="selectpicker" id="fecha_meses">
                                                <option>Mes</option>
                                                <option value="01">Enero</option>
                                                <option value="02">Febrero</option>
                                                <option value="03">Marzo</option>
                                                <option value="04">Abril</option>
                                                <option value="05">Mayo</option>
                                                <option value="06">Junio</option>
                                                <option value="07">Julio</option>
                                                <option value="08">Agosto</option>
                                                <option value="09">Septiembre</option>
                                                <option value="10">Octubre</option>
                                                <option value="11">Noviembre</option>
                                                <option value="12">Diciembre</option>
                                            </select>
                                            </div>

                                            </div>
                                    
                                    {% comment %} <input type="number" name="number" class="form-control" placeholder="Phone..."> {% endcomment %}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <p class="text-white">CVV</p>
                                    <div class="form-group">
                                        
                                            {{ form.cvv}}
                                            {% if form.cvv %}<span class="help-block white-text">{{ form.errors.cvv }}</span>{% endif %}
                                            <span class='help-block text-danger' id='err_id_cvv'></span>
                                        
                                </div>
                            </div>
                            <div class="col-sm-3">
                                    <p class="text-white">Nacionalidad</p>
                                    <div class="form-group">
                                        <select class="selectpicker" id="tp_nacionalidad">
                                            <option>Seleccione...</option>
                                            <option value="V">Venezolano</option>
                                            <option value="E">Extranjero</option>
                                            <option value="P">Pasaporte</option>
                                            <option value="J">Juridico</option>
                                        </select>
                                        
                                </div>
                            </div>
                            <div class="col-sm-3">
                                    <p class="text-white">Número de Identificación</p>
                                    <div class="form-group">
                                        
                                            {{ form.nu_identificacion}}
                                            {% if form.nu_identificacion %}<span class="help-block white-text">{{ form.errors.nu_identificacion }}</span>{% endif %}
                                            <span class='help-block text-danger' id='err_id_nu_identificacion'></span>
                                        
                                </div>
                            </div>
                        </div>
                    
                    <li class="dropdown-divider"></li>
                    <div class="card-footer text-center">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href='javascript:void(0)' class="btn btn-fill btn-primary container waves-effect text-dark" name="procesar" id="procesar">Procesar</a>
                                </div>
                                <div class="col-md-12">
                                    <div id="alertdiv"> </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        
    </div>
</div>
<input id="token" name="token" type="hidden" value={{ token }}>


{% endblock content %}
{% block javascripts %}
 
<script>
$(document).ready(function() {

    $("#loader").hide();
    const url = window.location.protocol + "//" + window.location.host + "";
  

 
// for de anios
   for (i = new Date().getFullYear(); i<=2100; i++){
    $('#fecha_anio').append($('<option />').val(i).html(i));
    console.log(i);
}
//fin de for de anios

var factura = "{{ invoice_number }}";
console.log(factura);
let ip = "{{ip}}";
let navegador = "{{navegador}}";

let tpnacionalidad;
let concepto = "compra_usdv"+" "+tpnacionalidad+$("#id_nu_identificacion").val();

$("#tp_nacionalidad").on('change', function(){
            tpnacionalidad= $("#tp_nacionalidad option:selected").val();
            console.log(tpnacionalidad);
        });



$("#id_nu_monto_usdv").keyup(async function(){
    let usdv = $("#id_nu_monto_usdv").val();

    $("#id_nu_monto_usd").val(usdv);
});


let tp_solicitud = window.location.href.split('/')[5];
    tp_solicitud=parseInt(tp_solicitud);
console.log(tp_solicitud);

    
    $("#procesar").click(function(){
        enviardatos();
        //test();
    });



    function test(){
        test = {
            "nombre":"luis",
            "apellido":"ortega",
            "tp_solicitud":tp_solicitud,
            "facturacion":factura
        }

        let respuesta = $.ajax({

            url: url + '/operaciones/USDV/',
            type: 'POST',
            data:test,
            
            /*{
                'datos':obj,
                'co_tipo_solicitud':tp_solicitud,
            },*/
            headers: {
                "Authorization": 'token ' + $("#token").val()
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (arg) {
                
                console.log(arg);
                
            }

        });


    }
const enviardatos = () =>{ 
    let obj = {

            "cvv":$("#id_cvv").val(),

    }
        console.log(obj);
    let respuesta = $.ajax({

            url: url + '/api/v3/usuario/cifradotdc/',
            type: 'POST',
            data:obj,
            
            /*{
                'datos':obj,
                'co_tipo_solicitud':tp_solicitud,
            },*/
            headers: {
                "Authorization": 'token ' + $("#token").val()
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (arg) {
                
                console.log(arg);
                if(arg.success = true){
                    enviardatos2(arg.data);


                }
            }
        });
    
        
            }


    function enviardatos2(cifrado){
        console.log(cifrado);
                  var settings = {
  "url": "https://apimbu.mercantilbanco.com/mercantil-banco/sandbox/v1/payment/pay",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/json",
    "X-IBM-Client-Id": "81188330-c768-46fe-a378-ff3ac9e88824"
  },
  "data": JSON.stringify({
    "merchant_identify": {
      "integratorId": 31,
      "merchantId": 150332,
      "terminalId": "abcde"
    },
    "client_identify": {
      "ipaddress": ip,
      "browser_agent": navegador,
      
    },
    "transaction": {
      "trx_type": "compra",
      "payment_method": "tdc",
      "card_number": $("#id_nu_tarjeta").val(),
      "customer_id": tpnacionalidad+$("#id_nu_identificacion").val(),
      "invoice_number": factura,
      "account_type": "",
      "twofactor_auth": "",
      "expiration_date": $("#fecha_anio").val()+"/"+$("#fecha_meses").val(),
      "cvv": cifrado,
      "currency": "USD",
      "amount": $("#id_nu_monto_usd").val()
    }
  }),
};

$.ajax(settings).done(function (response) {
  console.log(response);

  var obj2 = {
      "monto":response.transaction_response.amount,
      "monto2":$("#id_nu_monto_usdv").val(),
      "divisa":response.transaction_response.currency,
      "referencia_pago":response.transaction_response.payment_reference,
      "estatus":response.transaction_response.trx_status,
      "concepto":response.transaction_response.trx_type,
      "persona":tpnacionalidad+$("#id_nu_identificacion").val(),
      "tp_solicitud":tp_solicitud,

  }

  console.log(obj2);

            let respuesta2 = $.ajax({

            url: url + '/operaciones/USDV/',
            type: 'POST',
            data:obj2,
            co_tipo_solicitud:tp_solicitud,
            
            headers: {
                "Authorization": 'token ' + $("#token").val()
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            }
        });
});
    }
 
  /*var m = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Agosto","Septiembre", "Octubre","Noviembre", "Diciembre"];
  console.log(m.length);
  for(var i=0; i < m.length; i++){ 
        var option = document.createElement("option"); //Creas el elemento opción
        $(option).html(m[i]); //Escribes en él el nombre de la provincia
        $(option).appendTo("#fecha_meses"); //Lo metes en el select con id provincias
        //$('#fecha_meses').append($('<option />').val(i).html(i));
    }*/
     
          



});

</script>   
{% endblock javascripts %}