{% extends 'inicio/base2.html' %}

{% block title %}
Comprar Lumens
{% endblock title %}

{% block content %}
<div class="row">
  {% if msg != '' %}
    {% if success is True %}   
      {% include 'includes/msj-success.html' %}
    {% else %}
      {% include 'includes/msj-danger.html' %}
    {% endif %}
  {% endif %}
</div>

<div class="row ">
  <div class="card ">
    <div class="card-header">
      <h2 class="card-title">Comprar Lumens</h2>
    </div>

    <div class="card-body">
      <li class="dropdown-divider"></li>
      <form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=24%}">{% csrf_token %}       
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="card-title">Usted hizo una oferta para la compra de Lumens con Bolivares(BSS) a través de nuestro sistema de:</h4>
        </div>
        <div class="col-md-12 d-flex justify-content-center">   
          <div class="form-group col-md-4">
            <h5 class="card-title text-primary">Monto a pagar</h5>
            <p>{{data.cantidad_depositar}} (Bs)</p>
            {% if form.errors.cantidad_depositar %}<span class="help-block white-text">{{ form.errors.cantidad_depositar }}</span>{% endif %}
          </div>
          <div class="form-group col-md-4">
            <h5 class="card-title text-primary">Lumens a obtener</h5>
            <p>{{ data.cantidad_recibido}}</p>
            {% if form.errors.cantidad_recibido %}<span class="help-block white-text">{{ form.errors.cantidad_recibido }}</span>{% endif %}
          </div>
        </div>
        <li class="dropdown-divider"></li>
        <h4 class="card-title text-primary">Proceso de pago</h4>
        <p>Para continuar con el proceso, realice un pago Express del monto en Bs a la siguiente cuenta:</p>     
        <div class="col-md-6">
          <p>Pago Express</p>
          <p>Teléfono: 04127514562</p>
          <p>CI: J-500596863</p>
          <p>Nombre: Gobelx CA</p>
          <p>Banco: Banco Occidental de Descuento</p>
        </div>
        <li class="dropdown-divider"></li>     
        <h4 class="card-title text-primary">Referencia</h4>   
        <p>Para registrar su pago, debe indicar los datos siguientes:</p>    
        <div class="row">
          <div class="form-group col-md-6">
            <p>Número de referencia del pago express</p>
            {{ form.co_referencia}}
            {% if form.errors.co_referencia %}<span class="help-block white-text">{{ form.errors.co_referencia }}</span>{% endif %}
          </div>
          <div class="form-group col-md-6">
            <p>Banco Emisor</p>
            {{ form.co_banco}}
            {% if form.errors.co_banco %}<span class="help-block white-text">{{ form.errors.co_banco }}</span>{% endif %}
          </div>
          <div class="form-group col-md-6">
            <p>Fecha</p>
            {{ form.fecha_transferencia}}
            {% if form.errors.fecha_transferencia %}<span class="help-block white-text">{{ form.errors.fecha_transferencia }}</span>{% endif %}
          </div>
        </div>         
        <li class="dropdown-divider"></li>
        <div class="card-footer text-center">
            <input type="submit" id="botonsubmit" value="Enviar para validar" class=" btn btn-primary btn-sm container waves-effect  text-dark" name="validar" disabled/>
        </div>
        <input id="cantidad_depositar" name="cantidad_depositar" type="hidden" value={{ data.cantidad_depositar }}>
        <input id="moneda_depositar" name="moneda_depositar" type="hidden" value={{ data.moneda_depositar }}>
        <input id="cantidad_recibido" name="cantidad_recibido" type="hidden" value={{ data.cantidad_recibido }}>
        <input id="moneda_recibido" name="moneda_recibido" type="hidden" value={{ data.moneda_recibido }}>        
      </form>
    </div>   
  </div>
</div>
<input id="token" name="token" type="hidden" value={{ token }}>
{% endblock content %}
{% block javascripts %}
<script>
$(document).ready(function() {
  var validar = function(){
    if($("#id_co_referencia").val() != ""  && $("#id_fecha_transferencia").val()  != "" && $("#id_co_banco").val()  != "" ){    
        $("#botonsubmit").attr("disabled", false);
      } else {
        $("#botonsubmit").attr("disabled", true);
      }
  } 

$("#id_co_referencia").on("change",function(){
    validar();
});

$("#id_fecha_transferencia").on("change",function(){
    validar();
});

$("#id_co_banco").on("change",function(){
    validar();
});

});
</script>   
{% endblock javascripts %}