{% extends 'inicio/base2.html' %}

{% block title %}
Comprar Lumens
{% endblock title %}

{% block content %}
<div class="row">
  {% if msg != '' %}
    {% if success is True %}   
      {% include 'includes/msj-success.html' %}
    {% else %}
      {% include 'includes/msj-danger.html' %}
    {% endif %}
  {% endif %}
</div>

<div class="row ">
  {% if mostrar %}
    <div class="card ">
      <div class="card-header">

        <div class="d-flex justify-content-between">
          <h2 class="card-title">Ofertas</h2>
          <p class="text-white">1 XLM = {{ofert_XLM_BSS.data}} BSS</p>
        </div>


        <!--<h2 class="card-title">Ofertas</h2>-->
      </div>

      <!--<div class="card-body">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <p class="text-white">1 XLM = {{ofert_XLM_BSS.data}} BSS</p>
            </div>
          </div>
        </div>
      </div>-->
    </div>  
  {% endif %}
      <!--
      <div class="modal-footer">
        <div id="alercontainer2"></div>
      </div>-->  
  <div class="card ">
    <div class="card-header">
      <div class="d-flex align-items-center">
        <h2 class="card-title">Comprar Lumens</h2>
        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
      </div>
        <h4 class="card-title">La cantidad maxima de compra diaria es de 5 XLM</h4>
    </div>

    <div class="card-body">
      <form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=24%}" name='miFormulario' id='miFormulario'>{% csrf_token %}
        <div class="d-flex align-items-center">
          <div class="col-md-12">
            <p class="text-white">Monto a adquirir en XLM:</p>
          </div>
        </div>
        <div class="row">
          <div id="monto_xlm" class="form-group col-md-8">
            {{ form.cantidad_recibido}}
            {% if form.errors.cantidad_recibido %}<span class="help-block white-text">{{ form.errors.cantidad_recibido }}</span>{% endif %}
            <span class='help-block text-danger' id='err_id_cantidad_recibido'></span>
          </div>
          <div class="form-group col-md-4">
            {{ form.moneda_recibido}}
            {% if form.errors.moneda_recibido %}<span class="help-block white-text">{{ form.errors.moneda_recibido }}</span>{% endif %}
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-md-9">
            <p class="text-white">Monto a pagar en BSS:</p>
          </div>
          {% comment "comision" %}
          <div class="col-md-3">
            <p class="text-white">Comisión: {{fee.data}}</p>
          </div>
          {% endcomment %}   
        </div>
        <div class="row">
          <div class="form-group col-md-8">
            {{form.cantidad_depositar}}
            {% if form.errors.cantidad_depositar %}<span class="help-block white-text">{{ form.errors.cantidad_depositar }}</span>{% endif %}
            <span class='help-block text-danger' id='err_id_cantidad_depositar'></span>
          </div>
          <div class="form-group col-md-4">
            {{form.moneda_depositar}}
            {% if form.errors.moneda_depositar %}<span class="help-block white-text">{{ form.errors.moneda_depositar }}</span>{% endif %}
          </div>
        </div>
        <li class="dropdown-divider"></li>
        <div class="card-footer text-center">
            <input type="submit" id="botonsubmit" value="Procesar" class=" btn btn-primary btn-sm container waves-effect  text-dark" name="procesar" disabled/>
        </div>
      </form>
    </div>
  </div>

  <div class="card ">
    <div class="card-header">
      <h2 class="card-title">Ordenes de Compra</h2>
    </div>
    <div class="card-body">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="table-responsive">
            <table class="table">
              <tbody>
              {% for val in data1 %}
                <tr>
                  <td>
                    <p class="title">Numero de transacción</p>
                    <p class="text-muted">{{val.co_transaccion}}</p>
                  </td>
                  <td>
                    <p class="title">Pago en BSS:</p>
                    <p class="text-muted">{{val.nu_monto}}</p>
                  </td>
                  <td>
                    <p class="title">XLM a obtener:</p>
                    <p class="text-muted">{{val.nu_monto2}}</p>
                  </td>
                  <td>
                    <p class="title">Estatus:</p>
                    <p class="text-muted">{{val.co_estatus}}</p>
                  </td>
                  <td>
                    <p class="title">Fecha:</p>
                    <p class="text-muted">{{val.fe_transaccion}}</p>
                  </td>
                <tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input id="token" name="token" type="hidden" value={{ token }}>
{% endblock content %}
{% block javascripts %}
<script>
$(document).ready(function() {
$('#loader').hide();
  var validar = function(){
    if($("#id_cantidad_depositar").val() != ""  && $("#id_cantidad_recibido").val()  != "" ){  
      $("#botonsubmit").attr("disabled", false);
    } else {
      $("#botonsubmit").attr("disabled", true);
    }  
  }

  var soloNumeros= function(e){
      var key = e.charCode;
      console.log(key);
      return key >= 48 && key <= 57;
  }

  $("#id_cantidad_depositar").on("keyup",function(e) {
    	if (!soloNumeros(event)){
  	e.preventDefault();
  }

  });

  $("#id_cantidad_recibido").on("keyup",function(e) {
    	if (!soloNumeros(event)){
  	e.preventDefault();
  }

  });


  $("#id_cantidad_depositar").on("keyup",function() {
    $('#loader').show();
    $("#err_id_cantidad_depositar").hide();
    
    validar();
    var url = window.location.protocol + "//" + window.location.host + "/";
      
    $.ajax({
      url: url + 'api/operaciones/resultLumens/',
      type: 'POST',
      data: {
        "cantidad":$("#id_cantidad_depositar").val(),
        },
      //dataType: "json",
      headers: {"Authorization": 'token '+$("#token").val()},
      beforeSend: function (xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
      },
      success: function(arg) {
          if(arg.success){
            $('#loader').hide();
            console.log(arg);
            $("#id_cantidad_recibido").val(arg.data);
            validar();
              }else{
                $('#loader').hide();
                $("#id_cantidad_recibido").val(arg.data);
                //newMensaje(arg.msg,"aler1","danger","alercontainer2");
                $("#err_id_cantidad_depositar").show();
                $("#err_id_cantidad_depositar").text(arg.msg);
              }

          },
    });
  

  });

  $("#id_cantidad_recibido").on("keyup",function() {
    $('#loader').show();
    $("#err_id_cantidad_recibido").hide();
    
    validar();
    var url = window.location.protocol + "//" + window.location.host + "/";
    $.ajax({
      url: url + 'api/operaciones/resultBSS/',
      type: 'POST',
      data: {
        "cantidad":$("#id_cantidad_recibido").val(),
        },
      //dataType: "json",
      headers: {"Authorization": 'token '+$("#token").val()},
      beforeSend: function (xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
      },
      success: function(arg) {  
            if(arg.success){
              $('#loader').hide();
              console.log(arg);
              $("#id_cantidad_depositar").val(arg.data);
              validar();
                }else{
                  $('#loader').hide();
                  $("#id_cantidad_depositar").val(arg.data);
                  $("#feetotal").val(arg.fee);
                  //newMensaje(arg.msg,"aler1","danger","alercontainer2");
                  $("#err_id_cantidad_recibido").show();
                  $("#err_id_cantidad_recibido").text(arg.msg);
                }
          },
    });
  });

});

</script>   
{% endblock javascripts %}