{% extends 'inicio/base2.html' %}
{% load static %}

{% block title %}
Cambiar Paypal a USDV
{% endblock title %}
 
  {% block stylesheets %}
  
  <link href="{% static 'assets/css/carga-imagen.css' %}" rel="stylesheet" /> 
  {% endblock stylesheets %} 

{% block content %}

<style>
.custom-input-file {
  background-color: #941B80;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto 0;
  min-height: 15px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 400px;
}

.custom-input-file .input-file {
 border: 10000px solid transparent;
 cursor: pointer;
 font-size: 10000px;
 margin: 0;
 opacity: 0;
 outline: 0 none;
 padding: 0;
 position: absolute;
 right: -1000px;
 top: -1000px;
}
</style>
<div class="row">
  {% if msg != '' %}
    {% if success is True %}   
      {% include 'includes/msj-success.html' %}
    {% else %}
      {% include 'includes/msj-danger.html' %}
    {% endif %}
  {% endif %}
</div>
<script src="https://www.paypal.com/sdk/js?client-id=AQAgnLIIpUxFqQWSaihpupRlarnt27RPl9Ft951gqHiLyrKQyCNmdOcqxJ1xw420cEo1mebQu19zo5dT"></script>

  <div class="row "> 
      <div class="card ">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <h2 class="card-title">Paypal a USDV</h2>
            <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
          </div>
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=28%}" name='miFormulario' id='miFormulario' enctype="multipart/form-data">{% csrf_token %}

            <div class="row">
              <div class="col-md-6">
                <p class="text-white">USD Paypal a cambiar</p>
                <div id="monto_xlm" class="form-group col-md-12">
                  {{ form.nu_monto_usd}}
                  {% if form.nu_monto_usd %}<span class="help-block white-text">{{ form.errors.nu_monto_usd }}</span>{% endif %}
                  <span class='help-block text-danger' id='err_id_nu_monto_usd'></span>
                </div>
                <p class="text-white">Comisión</p>
                <div id="monto_xlm" class="form-group col-md-12">
                  {{ form.nu_fee}}
                  {% if form.nu_fee %}<span class="help-block white-text">{{ form.errors.nu_fee }}</span>{% endif %}
                  <span class='help-block text-danger' id='err_id_nu_fee'></span>
                </div>
                <p class="text-white">Monto a recibir en USDV</p>
                <div id="monto_xlm" class="form-group col-md-12">
                  {{ form.nu_monto_usdv}}
                  {% if form.nu_monto_usdv %}<span class="help-block white-text">{{ form.errors.nu_monto_usdv }}</span>{% endif %}
                  <span class='help-block text-danger' id='err_id_nu_monto_usdv'></span>
                </div>
              </div>

              <div class="col-md-6">
                <p class="">Suba una selfie (foto frontal) con su Identificación (Cedula. Pasaporte),
                  sosteniendo un papel con lo siguiente escrito a mano: ”Prontopagos”, el
                  monto a cambiar, su correo electrónico y la fecha actual (de cuando esté
                  realizando este proceso).
                </p>
                <div class="imagen">  
                  <img id="imagenPrevisualizacion" class="imagen_img">
                  {{form.img_paypal}}
                  <!--<input type="file" class="imagen_input" multiple>-->
                  <p class="imagen_p">Arrastre su imagen aquí o haga clic en esta área.</p>
                  <!--<button class="imagen_button" type="submit">Upload</button>-->
                </div>
              </div>
            </div>
            <p class="">Para realizar este proceso usted debe tener agregada la moneda USDV en su balance.</p>  
            <br>         
            <li class="dropdown-divider"></li>
            <div class="col-md-12 d-flex justify-content-center">
            <div id="paypal-button-container"></div>
            <!--
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="2X9LNKAZT2K5S">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
              </form>-->
            </div>
            <div class="card-footer text-center ocultar">
              <input type="submit" id="botonsubmit" value="Aprobar" class=" btn btn-primary btn-sm container waves-effect text-dark action-button ocultar" name="aprobar" disabled/>
            </div> 
            <input type="hidden" value="" id="p_monto">
            <input type="hidden" value="" name="p_nombre" id="id_p_nombre">
            <input type="hidden" value="" name="p_apellido" id="id_p_apellido">
            <input type="hidden" value="" name="p_correo" id="id_p_correo">
            <input type="hidden" value="" name="p_estatus" id="id_p_estatus">
          </form>
        </div>
      </div>
  </div>

<input id="token" name="token" type="hidden" value={{ token }}>


{% endblock content %}
{% block javascripts %}
 <script src="{% static 'assets/js/carga-imagen.js' %}"></script>
<script>
$(document).ready(function() {
let valor = 0;
let evt = '';
$('#loader').hide();
$("#botonsubmit").hide();
$("#id_nu_monto_usd").val('');
$("#id_nu_fee").val('');
$("#id_nu_monto_usdv").val('');
$("#botonsubmit").attr("disabled", true);


$("#id_p_monto").val('');
$("#id_p_nombre").val('');
$("#id_p_apellido").val('');
$("#id_p_correo").val('');
$("#id_p_estatus").val('');


// Render the PayPal button into #paypal-button-container
    paypal.Buttons({
      // Set up the transaction
      createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: valor
                  }
              }]
          });
      },

      // Finalize the transaction
      onApprove: async function(data, actions) {
          return actions.order.capture().then(async function(details) {
              // Show a success message to the buyer
              monto=details.purchase_units[0].amount.value;
              console.log(details)
              nombre=details.payer.name.given_name
              apellido=details.payer.name.surname
              correo=details.payer.email_address
              console.log(correo)
              estatus=details.status

              $("#id_p_monto").val(monto);
              $("#id_p_nombre").val(nombre);
              $("#id_p_apellido").val(apellido);
              $("#id_p_correo").val(correo);
              $("#id_p_estatus").val(estatus);
              $("#botonsubmit").attr("disabled", false);
              
              $('.action-button').click();
              //await Transapcion(valor,monto,nombre,apellido,correo,estatus);
              //alert('Transaction completed by ' + details.payer.name.given_name + '!');
              $('#loader').hide();
              
          });
      }
      }).render('#paypal-button-container');

  $("#id_nu_monto_usd").on('keyup',async function(e){
    value=$(this).val();
    if ((e.keyCode < 48) || (e.keyCode > 57)) {
      //e.returnValue = false;
      value = value.replace(/[^0-9]/g,'');
      $(this).val(value);
    }
    await CalcularMonto();
    });


  async function CalcularMonto(){
    try{
      $('#loader').show();
      let responce = await $.ajax({
      url: url + '/api/operaciones/total_usdv/',
      type: 'POST',
      data: {
        "nu_monto_usd":$("#id_nu_monto_usd").val(),
        },
      headers: {"Authorization": 'token '+$("#token").val()},
      beforeSend: function (xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
      },
    });
    valor = 0
      if(responce.success == true){
        $("#id_nu_fee").val(responce.data_fee)
        $("#id_nu_monto_usdv").val(responce.data_monto)
        $('#loader').hide();
        valor= responce.data_monto
      }
      if(responce.data_monto == ''){
        $("#id_nu_fee").val('')
        $("#id_nu_monto_usdv").val('')
        $('#loader').hide();
      }
    }catch(error){         
          return false;
        }
  };

  async function Transapcion(valor,monto,nombre,apellido,correo,estatus){
    try{
      $('#loader').show();
      console.log('entro transapcion')
      let responce = await $.ajax({
      url: url + '/api/operaciones/paypal_solicitud/',
      type: 'POST',
      data: {
        "cantidad":valor,
        "monto_usd":monto,
        "nombre":nombre,
        "apellido":apellido,
        "correo":correo,
        "estatus":estatus,
        "co_moneda":co_moneda,
        "correo_remitente":correo_remitente,
        "img_paypal":$("#id_img_paypal").val()
        },
      headers: {"Authorization": 'token '+$("#token").val()},
      beforeSend: function (xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
      },
    });

    if(responce.success == true){
        $('#loader').hide();
      }
    }catch(error){         
          return false;
        }
  }
  

});

</script>   
{% endblock javascripts %}