{% extends 'inicio/base2.html' %} {% load static %} {% block title %} Deposito {% endblock title %} {% block content %}
<style>
    .text-overflow {
        width: 100px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>
<div class="row">
    {% if msg != '' %} {% if success == 1%} {% include 'includes/msj-success.html' %} {% else%} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}
</div>
<div class="row">
    <div class="card ">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h1 class="card-title">Depósito</h1>
                <div class="spinner-grow ml-auto text-primary" role="status" aria-hidden="true" id="loader"></div>
            </div>
        </div>

        <div class="card-body">
            <h4 class="title text-primary">Seleccione la moneda que desea depositar</h4>
            <div class="row d-flex align-items-center">
                <div class="col-5 col-md-4 col-sm-6">
                    <div class="form-group">
                        {{ form.co_moneda}} {% if form.errors.co_moneda %}<span class="help-block text-red">{{ form.errors.co_moneda }}</span>{% endif %}
                    </div>
                </div>
                <!--<div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating text-white" for="protocolo">Protocolo</label>
                        <select name="protocolo" id="id_protocolo" class='form-control'>
                            <option value="">Seleccione...</option>
                        </select>
                    </div>
                </div>-->
                <div class="col-7 col-md-4 col-sm-6">
                    <div class="form-group">
                        <a href='javascript:void(0)' class="btn btn-fill btn-primary container waves-effect text-dark" name="buscar" id="btnbuscar" disabled>Continuar</a>
                    </div>
                </div>
            </div>

            <div id="divXLM">
                <div class="col-md-12">
                    <li class="dropdown-divider"></li>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="title text-primary">Transferencia por nombre de usuario</p>
                            <p class="text-muted">(Solo entre usuarios de Prontopagos)</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="title">{{user.username}}</p>
                        </div>
                    </div>
                    <li class="dropdown-divider"></li>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="title text-primary">Transferencia por billetera</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="d-flex align-items-center">
                                    <input type="text" class="form-control text-overflow" id="textocopiar" value="{{ user.getPublic }}" style="color:white;  width:480px;" readonly />
                                    <a href="javascript:void(0)" class="btn btn-round btn-icon btn-primary text-dark my-2 my-sm-0" id="btncopiar" data-toggle="tooltip" data-placement="top" title="Copiar">
                                        <i class="tim-icons icon-single-copy-04 "></i>
                                    </a>
                            </div>
                        </div>
                    </div>
                    <li class="dropdown-divider"></li>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="title text-primary">Transferencia por usuario federación</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="title">{{ user.username }}*prontopagos.com</p>
                        </div>
                    </div>
                    <li class="dropdown-divider"></li>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="title text-primary">Transferencia interbancaria(pagomovil):</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a href="{% url 'preSolicitud' co_tipo_solicitud=24%}" class="btn btn-fill btn-primary text-dark" name="comprar" id="btncomprar">Comprar</a>
                        </div>
                    </div>
                </div>

                        <!--
                        <div class="table-full-width table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class="title text-primary">Transferencia por nombre de usuario</p>
                                            <p class="text-muted">(Solo entre usuarios de Prontopagos)</p>
                                        </td>
                                        <td>
                                            <p class="title">{{ user.username }}</p>
                                        </td>
                                        <td class="td-actions text-right">
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <p class="title text-primary">Transferencia por billetera</p>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="textocopiar" value="{{ user.getPublic }}" style="color:white;  width:480px;" readonly /> {% comment %}
                                            <p class="title"> {{ user.getPublic }}</p> {% endcomment %}
                                        </td>
                                        <td class="td-actions text-right">
                                            {% comment %} <button type="button" rel="tooltip" title="" class="btn btn-round btn-icon btn-primary text-dark my-2 my-sm-0" data-original-title="Codigo QR">
                          <i class="tim-icons icon-components "></i>
                        </button> {% endcomment %}
                                            <a href="javascript:void(0)" class="btn btn-round btn-icon btn-primary text-dark my-2 my-sm-0" id="btncopiar" data-toggle="tooltip" data-placement="top" title="Copiar">
                                                <i class="tim-icons icon-single-copy-04 "></i>
                                            </a>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p class="title text-primary">Transferencia por usuario federación</p>
                                        </td>
                                        <td>
                                            <p class="title">{{ user.username }}*prontopagos.com</p>
                                        </td>
                                        <td class="td-actions text-right">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p class="title text-primary">Transferencia interbancaria(pagomovil):</p>
                                        </td>
                                        <td>
                                            <a href="{% url 'preSolicitud' co_tipo_solicitud=24%}" class="btn btn-fill btn-primary text-dark" name="comprar" id="btncomprar">Comprar</a>

                                        </td>
                                        <td class="td-actions text-right">
                                        </td>
                                    </tr>


                                </tbody>

                            </table>
                        </div>-->

            </div>

            <div id="divVarios">
                <div class="container">
                    <div class="row">
                        <p class="title text-primary"><b>Instrucciones:</b></p>
                        <p>Transfiere a la cuenta o billetera que se mostrara a continuación la cantidad que desea depositar</p>
                    </div>
                    <div class="row">
                        <div class="table-full-width table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><p class="title text-primary"><b>Deposito automatico (SEP-06)</b></p></td>
                                        <td><p class="title" id="depositotx"> </p></td>
                                    </tr>
                                    <tr id="trminimo">
                                        <td><p class="title text-primary"><b>Minimo:</b> </p></td>
                                        <td><p class="title" id="minimotx"></p></td>
                                    </tr>
                                    <tr id="trcomision">
                                        <td><p class="title text-primary"><b>Comision:</b></p></td>
                                        <td><p class="title" id="comisiontx"></p></td>
                                    </tr>
                                    <tr id="trtiempo">
                                        <td><p class="title text-primary"><b>Tiempo de acreditación:</b></p></td>
                                        <td><p class="title" id="tiempotx"></p></td>
                                    </tr>
                                    <tr>
                                        <td><p class="title text-primary"><b>Emisor:</b></p></td>
                                        <td><p class="title" id="emisortx"></p></td>
                                    </tr>
                                    <div id="infoextra">
                                    </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="divextra">
                <div class="container">
                    <div class="row">
                        <p class="text-white">Siga el proceso de deposito en la pagina del emisor de la moneda <span id="txcode" class="text-primary"></span></p>
                    </div>
                    <br>
                    <div class="row">
                        <a id="linkasset" target="_blanck" class="text-primary"></a>
                    </div>
                </div>
            </div>
            <div id="div404"></div>
        </div>
    </div>
</div>

<input id="llavePublica" name="llavePublica" type="hidden" value="{{ publico }}"> {% endblock content %} {% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/8.1.1/stellar-sdk.min.js" integrity="sha512-LqiPc+iFcRYmvDlZ9FnWC4/MGbalvG+mNkx2CyLY+uiLgj0aG8eAh04gOq9li/o/TQOxgKfBkRlnhXoH3QBYtA==" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        const server = new StellarSdk.Server('https://horizon.stellar.org');
        const publico = $("#llavePublica").val()
        var msjstellar = "{{msjstellarjson | escapejs }}";
        msjstellar = JSON.parse(msjstellar);
        var cuenta = false;
        var toml = false;
        var asset = false;
        var tomlurl = false;
        var asseturl = false;
        var toml_org = false;
        var protocolos = [];
        var protocolo_select = false;
        $('#loader').hide();
        $("#divextra").hide();
        var todohide = function() {
            //$("#divXLM").hide();
            //$("#div404").hide();
            $("#divVarios").hide();

        }
        todohide();

        $("#btncopiar").tooltip({
            title: "Copiado",
            trigger: 'click'
        });

        $('#btncopiar').on('click', function() {
            var copyText = document.getElementById("textocopiar");
            $("#textocopiar").attr("readonly", false);

            var btncopiar = $(this);
            copyText.select();
            copyText.setSelectionRange(0, 99999);


            document.execCommand("copy");
            $("#textocopiar").attr("readonly", true);


        });

        //--------------------SECCION DE FUNCIONES ASINCRONAS---------------

        //---------obtener cuenta de stellar
        /**
         *@param{string} public
         *@returns {Promise}
         */
        async function getCuenta(public) {
            $('#loader').show();
            try {
                let response = await server.loadAccount(public);

                $('#loader').hide();
                return response;


            } catch (error) {
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "div404");
                } else {
                    console.log(error);
                    newMensaje(error_default, "errors2", "danger", "div404");
                }
                $('#loader').hide();

                return false;
            }

        }

        //---------obtener activo/asset de stellar
        /**
         *@param{string} code
         *@param{string} issuer
         *@returns {Promise}
         */
        async function getActivo(code, issuer) {
            $('#loader').show();
            try {

                let asset = server.assets();
                let callasset = await asset.forCode(code).forIssuer(issuer).call();
                $('#loader').hide();
                return callasset



            } catch (error) {
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "div404");
                } else {
                    console.log(error);
                    newMensaje(error_default, "errors2", "danger", "div404");
                }
                $('#loader').hide();

                return false;
            }
        }

        //---------obtener el toml de stellar
        /**
         *@param{string} tomlurl
         *@returns {Promise}
         */
        async function getToml(tomlurl) {
            $('#loader').show();
            /*try{
                let response = await $.ajax({
                    url: "http://www.gobelx.com",
                    type: 'GET',
                });
                console.log(response);
            }catch(error){
console.log(error);
            }*/
            try {

                toml = await new StellarSdk.StellarTomlResolver.resolve(tomlurl);
                $('#loader').hide();
                return toml;

            } catch (error) {
                console.log(error);
                try {
                    toml = await new StellarSdk.StellarTomlResolver.resolve(tomlurl, {
                        allowHttp: true
                    });
                    $('#loader').hide();
                    return toml;

                } catch (error) {
                    console.log(error);
                    if (error.response) {
                        printMsjStellar(error.response, msjstellar, "danger", "div404");
                        } else {
                        newMensaje("Esta moneda no tiene habilitada esta opción, lo invitamos a intercambiarla por otras monedas en el mercado.", "errors2", "danger", "div404");
                    }


                    $('#loader').hide();
                    return false;
                }


            }
        }
        //------------------OBTENER SEP6
        /**
         *@returns {Promise}
         */
        async function getSep06(linkdeposit) {
            $('#loader').show();

            try {

                let response = await $.ajax({
                    url: toml.TRANSFER_SERVER + linkdeposit,
                    type: 'GET',
                    data: {
                        'asset_code': asset.records[0].asset_code,
                        'account': publico
                    },
                });



                $('#loader').hide();
                return response;

            } catch (error) {
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "div404");
                } else {
                    newMensaje("Esta moneda no tiene habilitada esta opción, lo invitamos a intercambiarla por otras monedas en el mercado.", "errors2", "danger", "div404");
                }
                $('#loader').hide();

                return false;

            }
        }
        //------------------OBTENER SEP24
        /**
         *@returns {Promise}
         */
        async function getSep024() {
            $('#loader').show();
            try {
                let response = await $.ajax({
                    url: toml.TRANSFER_SERVER_SEP0024 + "/info",
                    type: 'GET'
                });

                $('#loader').hide();

                return response;


            } catch (error) {
                console.log(error);
                newMensaje(error_default, "errors2", "danger", "div404");
                $('#loader').hide();
                return false;
            }


        }
        //------------------OBTENER PUNTO FINAL DE AUTENTICACION
        /**
         *@returns {Promise}
         */
        async function getAuthEndPoint() {
            $('#loader').show();
            try {
                let response = await $.ajax({
                    url: toml.WEB_AUTH_ENDPOINT,
                    data: {
                        account: publico,
                    },
                    type: 'GET',
                });

                $('#loader').hide();

                return response;


            } catch (error) {
                console.log(error);
                newMensaje(error_default, "errors2", "danger", "div404");
                $('#loader').hide();
                return false;
            }


        }
        //------------------ENVIAR TRANSACCION AL PUNTO FINAL DE AUTENTICACION 
        /**
         *@returns {Promise}
         */
        async function getAuthEndPointPost(transaccion) {
            $('#loader').show();

            try {
                let response = await $.ajax({
                    url: toml.WEB_AUTH_ENDPOINT,
                    data: JSON.stringify({
                        transaction: transaccion,
                    }),
                    type: 'POST',
                    headers: {
                        "Content-Type": 'application/json'
                    },
                });

                $('#loader').hide();

                return response;


            } catch (error) {
                newMensaje(error.responseText, "errors2", "danger", "div404");
                $('#loader').hide();
                return false;
            }


        }
        //------------------CHEQUEAR LA TRANSACCIÓN
        /**
         *@returns {Promise}
         */

        async function checkTransaccion(token) {
            $('#loader').show();
            try {
                let formdata= new FormData();
                formdata.append('asset_code',String(asset.records[0].asset_code));
	            formdata.append('account',  String(publico));
	            //formdata.append('memo',  "");
	            //formdata.append('memo_type',"");
                formdata.append('lang',"en");
                let response = await $.ajax({
                    url: toml.TRANSFER_SERVER_SEP0024 + "/transactions/deposit/interactive",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    headers: {
                        "Authorization": 'Bearer ' + token
                    },
                });

                $('#loader').hide();

                return response;


            } catch (error) {
                console.log(error);
                newMensaje(error_default, "errors2", "danger", "div404");
                $('#loader').hide();
                return false;
            }


        }

        async function getTransactionEnvelope(XDR) {
            $('#loader').show();

            try {
                let transaccion = new StellarSdk.TransactionBuilder.fromXDR(XDR, StellarSdk.Networks.PUBLIC)
                let keypair = StellarSdk.Keypair.fromSecret(sessionStorage.getItem('merma'));
                //let keypair = StellarSdk.Keypair.fromSecret("SAUYIZCEUQIFB2SBRWRRSXIRREMJF6KNXCWIKOIBIS25WFQE6PQUH7RQ");

                transaccion.sign(keypair);




                $('#loader').hide();
                return transaccion.toXDR();

            } catch (error) {
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "div404");
                } else {
                    console.log(error);
                    newMensaje(error_default, "errors2", "danger", "div404");
                }
                $('#loader').hide();

                return false;

            }



        }


        //---------------------FUNCIONES NORMALES------------
        /**
         *@returns {Null}
         */
        function validarCampos() {

            $("#divextra").hide();
            if ($("#id_co_moneda").val() != "" && protocolo_select) {
                $("#btnbuscar").attr("disabled", false);
                if (protocolo_select == 0) {

                    $("#divVarios").hide();
                    $("#divextra").show();
                    $("#txcode").text($("#id_co_moneda option:selected").text());
                    $("#linkasset").attr("href", asseturl);
                    $("#linkasset").text(toml_org);
                    $("#btnbuscar").attr("disabled", true);
                }


            } else {
                $("#btnbuscar").attr("disabled", true);
            }

        }

        //---------------------ESCOGER PROTOCOLO EN EL SELECT----------
        $("#id_co_moneda").change(async function() {
            $("#btnbuscar").attr("disabled", true);
            $("#divVarios").hide();
            if (!cuenta) {
                cuenta = await getCuenta(publico);
            }
            let isu = $("#id_co_moneda").val();
            let code = $("#id_co_moneda option:selected").text();

            if (isu != "") {
                $("#divXLM").hide();
                asset = await getActivo(code, isu);


                if (asset) {
                    //console.log(isu);

                    /*if (isu == "GA6E6YDYXXAXG4VZAOGIX3N3HETLMGVBLQKAAIZQ3PIMQGHAQ63RA6EO") {
                        tomlurl = "anchor.gobelx.io";
                    } else {
                        tomlurl = asset.records[0]._links.toml.href;
                        let ru = new URL(tomlurl);
                        console.log(ru.hostname);
                        tomlurl = ru.hostname;
                    }*/
                    tomlurl = asset.records[0]._links.toml.href;

                    //console.log(tomlurl);
                    if (tomlurl == 'https://centre.io/.well-known/stellar.toml') {
                        tomlurl = 'https://usdcswap.com/.well-known/stellar.toml';
                    }

                    let ru = new URL(tomlurl);

                    //en la pagina
                    tomlurl = ru.hostname;
                    toml_org = ru.hostname;
                    asseturl = ru.hostname;

                    //cuando se abre el local
                    //tomlurl = "localhost:8000";
                    //toml_org = "localhost:8000";
                    //asseturl = "localhost:8000";


                    toml = await getToml(tomlurl);

                    //$("#id_protocolo").html("");

                    //let tx = '<option value="">Seleccione...</option>';
                    let tx = '';
                    protocolos = [];
                    let anchor_asset_type = false;
                    //onsole.log(toml)
                    if (toml) {
                        //console.log(toml);
                        if(toml.DOCUMENTATION!= undefined){
                        if (toml.DOCUMENTATION.ORG_NAME != undefined) {
                            toml_org = toml.DOCUMENTATION.ORG_NAME;
                        }
                        if (toml.DOCUMENTATION.ORG_URL != undefined) {
                            asseturl = toml.DOCUMENTATION.ORG_URL;
                        }

                        }
                        if (toml.TRANSFER_SERVER != undefined) {
                            tx += '<option value="1">SEP-06</option>';
                            protocolos.push(1);
                        }

                        if (toml.TRANSFER_SERVER_SEP0024 != undefined) {
                            tx += '<option value="2">SEP-24</option>';
                            protocolos.push(2);
                        }
                        //console.log(toml);

                        if (protocolos.length > 1) {

                            $.each(toml.CURRENCIES, function(idx, value) {
                                if (value.code == code && value.issuer == isu && value.anchor_asset_type != undefined) {
                                    anchor_asset_type = value.anchor_asset_type;
                                }
                            });

                            if (anchor_asset_type) {

                                if (anchor_asset_type == "fiat") {
                                    protocolo_select = 2;
                                } else {
                                    protocolo_select = 1;
                                }

                            } else {
                                protocolo_select = false;
                                if(code=="USDC" && isu=="GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN"){
                                    protocolo_select = 2;
                                }
                            }


                        } else if (protocolos.length == 1) {
                            protocolo_select = protocolos[0];
                        } else {
                            protocolo_select = 0;
                        }
                        //console.log(protocolo_select);

                        //$("#id_protocolo").html(tx);
                        validarCampos();
                    } else {
                        tx = '<option value="">Seleccione...</option>';
                        //$("#id_protocolo").html(tx);
                        protocolo_select = false;
                        validarCampos();
                    }









                }




            } else {
                $("#divXLM").show();
                $("#divVarios").hide();
                let tx = '<option value="">Seleccione...</option>';
                $("#id_protocolo").html(tx);
                validarCampos();
            }







        });

        //-----------------FUCION INICIADORA DEL PROCESO
        $("#btnbuscar").on('click', async function() {
            let protocolo = protocolo_select;
            //console.log(protocolo);

            if (protocolo == 1) {
                await ProcesoSep06();
                $("#divextra").hide();
            } else {
                $("#divVarios").hide();
                $("#divextra").hide();
                await procesoSep24();

            }

        });

        //-------------------FUNCIONES ASIMCRONAS ENCARGADAS DE LOS PROCEDIMIENTOS SEP----

        //------------procedimiento para sep06
        async function ProcesoSep06() {
            $("#loader").show();
            let linkdeposit = "";
            if (toml.TRANSFER_SERVER.includes("/deposit")) {

            } else {
                linkdeposit = "/deposit";
            }
            //console.log("aqui");

            response = await getSep06(linkdeposit);
            //console.log(response);
            if (response) {

                $("#divVarios").show();
                //console.log(response);

                $("#depositotx").text(response.how);
                if (response.min_amount != undefined) {
                    $("#trminimo").show();
                    $("#minimotx").text(response.min_amount + " " + asset.records[0].asset_code);
                } else {
                    $("#trminimo").hide();
                    $("#minimotx").text("");
                }
                if (response.fee_fixed != undefined) {

                    $("#trcomision").show();
                    $("#comisiontx").text(response.fee_fixed + " " + asset.records[0].asset_code);
                } else {
                    $("#trcomision").hide();
                    $("#comisiontx").text("");
                }
                if (response.eta != undefined) {

                    $("#trtiempo").show();
                    $("#tiempotx").text((response.eta / 60) + " Minutos");
                } else {
                    $("#trtiempo").hide();
                    $("#tiempotx").text("");
                }
                $("#emisortx").text(tomlurl);

                if (response.extra_info != undefined) {
                    txex = "<tr><td><p class='title'><b>Información extra:</b>";


                    mensaje += "\n<b>Información extra:</b>";
                    if (response.extra_info.message != undefined) {

                        txex += response.extra_info.message + "</td></tr>";
                    } else {
                        txex += response.extra_info + "</td></tr>";
                    }
                    $("#infoextra").show();
                    $("#infoextra").html(txex);


                } else {
                    $("#infoextra").hide();
                    $("#infoextra").html("");

                }



                $("#loader").hide();

            }





        }

        //------------procedimiento para sep24
        async function procesoSep24() {
            $("#loader").show();

            //-----------------PASO 1 CONFIRMAR SI TIENE SEP024
            if (!toml.SIGNING_KEY ||
                !toml.TRANSFER_SERVER_SEP0024 ||
                !toml.WEB_AUTH_ENDPOINT
            ) {
                newMensaje("El TOML debe contener SIGNING_KEY, TRANSFER_SERVER_SEP0024 y WEB_AUTH_ENDPOINT para realizar la operacion", "paso1-res1", "dark", "div404");
                $("#loader").hide();
                return false;
            }

            //-----------------PASO 2 CONSULTAR AL LINK DE INFORMACION DE SEP24
            let sep024 = await getSep024(toml);
            if (sep024) {

                //-----------------PASO 3 COMPROBAR SI ESTE ASSET LO TIENE FUNCIONANDO
                if (!sep024['deposit'][asset.records[0].asset_code]['enabled']) {
                    newMensaje("No se hallo este activo en la consulta /info", "paso1-res1", "dark", "div404");
                    $("#loader").hide();
                    return false;
                }

                //-----------------PASO 4 CONSULTAR EL PUNTO DE AUTENTICACION
                let authend = await getAuthEndPoint();

                if (authend) {

                    //-----------------PASO 5 COMPROBAR SI RETORNO LA TRANSACCION DE DESAFIO
                    if (!authend.transaction) {
                        newMensaje("El WEB_AUTH_ENDPOINT no retorno la transaccion de desafio, que es requisito para continuar", "paso7-content2", "danger", "div404");
                        return false;
                    }


                    //---------PASO 6 CONSULTAR UNA TRANSACCION SEP 10
                    let transaccion = await getTransactionEnvelope(authend.transaction);

                    if (transaccion) {

                        //---------PASO 7 ENVIAR LA TRANSACCION AL PUNTO DE AUTENTICACION
                        let authend2 = await getAuthEndPointPost(transaccion)

                        if (authend2) {

                            //---------PASO 8 COMPROBAR SI ESTA AUTENTICACION DEBOLVIO SU TOKEN
                            if (!authend2.token) {
                                newMensaje("El WEB_AUTH_ENDPOINT no retorno el token necesario para continuar", "danger", "div404");
                                return false;
                            }

                            //---------PASO 9 CONSULTAR Y CHEQUEAR EL TOKEN POR OTRO LADO

                            let check = await checkTransaccion(authend2.token)

                            if (check) {

                                if (!check.url) {
                                    newMensaje("No se recivio un URL por parte de la peticion al /transactions/deposit/interactive", "paso10-content2", "danger", "div404");
                                    return false
                                }

                                //console.log(check.url);

                                let popup = window.open(check.url, 'popup', 'height=800,width=500,toolbar=no');
                                if (!popup) {

                                    newMensaje("Las ventanas emergentes estan bloqueadas, usted necesita activarlas para que funcione el proceso", "paso10-content2", "dark", "div404");

                                }
                                $(popup).on("click", function(e) {
                                    var data = e.originalEvent.data;
                                });



                            }


                        }



                    }




                }

            }





        }



    });
</script>
{% endblock javascripts %}