{% extends 'inicio/base2.html' %}

{% block title %}
Deposito
{% endblock title %}

{% block content %}
<div class="row">
  {% if msg != '' %}
    {% if success is True %}   
      {% include 'includes/msj-success.html' %}
    {% else %}
      {% include 'includes/msj-danger.html' %}
    {% endif %}
  {% endif %}
</div>

<div class="container">
  <div class="row ">
    <div class="col-md-12 mb-5">
      <div class="card ">
        <div class="card-header">
       <div class="d-flex align-items-center">
                        <h1 class="card-title">Deposito</h1>
                        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>

          </div>
          {% include 'partials/submenu/barra_deposito.html' %}
        </div>

        <div class="card-body">
          <form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=13%}">{% csrf_token %}
            <h4 class="card-title text-primary">Activo a Depositar</h4>
             <div class="row">
          <div class="form-group col-md-5 col-lg-4 ">
              {{ form.co_moneda}} {% if form.errors.co_moneda %}<span class="help-block text-red">{{ form.errors.co_moneda }}</span>{% endif %}
          </div>
           </div>
           <h4 class="card-title text-primary">Cuenta a Depositar</h4>
            <div class="row">
              <div class="form-group col-md-5 col-lg-4 ">
                <p>Banco</p>
                <!--<label class="bmd-label-floating text-primary" for="co_banco">Banco</label>-->
                  {{form.co_banco}}
                  {% if form.errors.co_banco %}<span class="help-block white-text">{{ form.errors.co_banco }}</span>{% endif %}
              </div>
              <div class="form-group col-md-12 col-lg-4 ">
                <p>Cuenta</p>
                <!--<label class="bmd-label-floating text-primary" for="co_cuenta">Cuenta</label>-->
                {{form.co_cuenta}}
                {% if form.errors.co_cuenta %}<span class="help-block white-text">{{ form.errors.co_cuenta }}</span>{% endif %}
              </div>
            </div>

            <h4 class="card-title text-primary">Datos de la Transferencia</h4>
            <div class="row">
              <div class="form-group col-md-3 ">
                <p id="textmoneda">Monto</p>
                <!--<label class="bmd-label-floating text-white" for="nu_monto">Monto (Bolivares)</label>-->
                  {{ form.nu_monto}}
                  {% if form.errors.nu_monto %}<span class="help-block white-text">{{ form.errors.nu_monto }}</span>{% endif %}
              </div>

              <div class="form-group col-md-4">
                <p>Referencia o hash</p>
                <!--<label class="bmd-label-floating text-white" for="tx_codigo" id="labelu">referencia o hash</label>-->
                  {{ form.tx_codigo}}
                  {% if form.errors.tx_codigo %}<span class="help-block white-text">{{ form.errors.tx_codigo }}</span>{% endif %}
              </div>
            </div>
      
            <li class="dropdown-divider"></li>
            <div class="card-footer text-center">
              <input type="submit" value="Procesar" class=" btn btn-primary btn-sm container waves-effect  text-dark" name="procesar"/>
            </div>
            <div id="alertdiv">
                
              </div>

          </form>
        </div>
      </div>
    </div>   
  </div>
</div>

<input id="token" name="token" type="hidden" value={{ token }}>
{% endblock content %}
{% block javascripts %}
 <script>
  $(document).ready(function(){
     $("#loader").hide();
    //alert("Debe depositar desde una cuenta de su propiedad no nos haremos responsables de un deposito de terceros");
     const url =window.location.protocol + "//" + window.location.host + "";
     $("#id_co_moneda").on('change', async function () {
        $("#id_co_moneda option:selected").each( async function () {
            $("#loader").show();  
            let co_moneda = $(this).val();


            try{
              let response = await $.ajax({
                url: url+'/api/banco/',
                type: 'POST',
                 data: {
                'co_moneda': co_moneda
                },
                
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }});

              if(response){
                $("#textmoneda").text("Monto("+$("#id_co_moneda option:selected").text()+")"); 
                 $("#id_co_banco").html('');      
                  $("#id_co_cuenta").html('<option value=>Seleccione...</option>');
                  let bancoprimero='';
                 if(response.success){
                  let uno=true;
                  let i=1;
                  
                  $.each(response.data, function(k, v) {
                    i++;
                    if(uno){
                      bancoprimero=v.co_banco;
                      uno=false;
                    }

                   $("#id_co_banco").append('<option value='+v.co_banco+'>'+v.tx_banco+'</option>');

                    });

                  if(i<=1){
                      $("#id_co_banco").html('<option value=>Seleccione...</option>');
                  }
                  } 
                  $("#loader").hide();     
                  await getcuenta(bancoprimero);

                             
                }
              

            }catch(error){
              newMensaje("Ha ocurrido un error","errors","danger","alertdiv");
              newMensaje(error,"errors","danger","alertdiv");
              $("#id_co_banco").html('<option value=>Seleccione...</option>');
              $("#id_co_cuenta").html('<option value=>Seleccione...</option>');
               $("#loader").hide();   


            }
            

            

        
            	
        });
         });
      
    var getcuenta= async function(co_banco){
      $("#loader").show(); 
      try{
            let response = await $.ajax({
                url: url+'/api/cuenta/',
                type: 'POST',
                 data: {
                'co_banco': co_banco
                },
                
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            });

            if(response){

                  $("#id_co_cuenta").html('');
                  $("#id_cedul").html('<option value=>Seleccione...</option>');
                  $("#id_nombre").html('<option value=>Seleccione...</option>');
                 if(response.success){
                   let i=1;
                  $.each(response.data, function(k, v) {
                    i++;
                   $("#id_co_cuenta").append('<option value='+v.co_cuenta+'>'+v.tx_cuenta+'</option>');
                      $("#id_cedul").append('<option value=' + v.cedul + '>' + v.cedul + '</option>');
                      $("#id_nombre").append('<option value=' + v.nombre + '>' + v.nombre + '</option>');

                    });

                if(i<=1){
                      $("#id_co_cuenta").html('<option value=>Seleccione...</option>');
                  }

                  }   
                  $("#loader").hide();  

            }

            }catch(error){

              newMensaje("Ha ocurrido un error","errors","danger","alertdiv");
              newMensaje(error,"errors","danger","alertdiv");
              $("#id_co_cuenta").html('<option value=>Seleccione...</option>');
               $("#loader").hide();   

            }

    }
     $("#id_co_banco").on('change',async function () {
        $("#id_co_banco option:selected").each(async function () {
             
            let co_banco = $(this).val();
            await getcuenta(co_banco);


            
            
            	
        });
   });

  });
</script>   
{% endblock javascripts %}