{% extends 'inicio/base2.html' %}

{% block title %}
Depositos
{% endblock title %}

{% block content %}
<div class="row">

  {% if msg != '' %}
  {% if success is True %}   

  {% include 'includes/msj-success.html' %}
  {% else %}
  {% include 'includes/msj-danger.html' %}
  {% endif %}

  {% endif %}
</div>

<div  class="container" >
  {% include 'partials/submenu/barrasolicitudes.html' %}
  <div class="row ">
    <div class="col-md-12 mb-5">
      <div class="card ">
        
          <div class="card-header">
            <h2 class="card-title">Cargar Fondos</h2>
          
          </div>
          
          <center><h3 class="card-title">Cuentas a Depositar</h3></center>
        <div class="card-body">
          <div class="row">
          <form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=13%}">{% csrf_token %} 
            <div class="form-group col-md-5 col-lg-4 ">
              <label class="bmd-label-floating text-white" for="co_banco">BANCO</label>
          
              {{form.co_banco}}

                {% if form.errors.co_banco %}<span class="help-block white-text">{{ form.errors.co_banco }}</span>{% endif %}
            
            </div>
            <div class="form-group col-md-12 col-lg-4 ">

              <label class="bmd-label-floating text-white" for="co_cuenta">Cuenta</label>
          
              {{form.co_cuenta}}

              {% if form.errors.co_cuenta %}<span class="help-block white-text">{{ form.errors.co_cuenta }}</span>{% endif %}
            </div>
       
          </div>
          </div>
          <center><h3 class="card-title">Datos de la Trasnferencia</h3></center>
            <div class="row">
              <div class="form-group col-md-3 ">
                <label class="bmd-label-floating text-white" for="nu_monto">Monto (Bolivares)</label>
        
                {{ form.nu_monto}}
                {% if form.errors.nu_monto %}<span class="help-block white-text">{{ form.errors.nu_monto }}</span>{% endif %}
        
              </div>
          
            

              <div class="form-group col-md-4">
      
              <label class="bmd-label-floating text-white" for="tx_codigo" id="labelu">referencia o hash</label>
                {{ form.tx_codigo}}
                {% if form.errors.tx_codigo %}<span class="help-block white-text">{{ form.errors.tx_codigo }}</span>{% endif %}
    
              </div>
          
            </div>
         

        
          <li class="dropdown-divider"></li>
          <div class="card-footer text-center">
        
            <input type="submit" value="Procesar" class=" btn btn-primary btn-sm container waves-effect  text-dark" name="procesar"/>
          </div>
      
        </form>
      </div>
    </div>   
  </div>
  
  </div>

<input id="token" name="token" type="hidden" value={{ token }}>
{% endblock content %}
{% block javascripts %}
 <script>
  $(document).ready(function(){
    //alert("Debe depositar desde una cuenta de su propiedad no nos haremos responsables de un deposito de terceros");

      

     $("#id_co_banco").on('change', function () {
        $("#id_co_banco option:selected").each(function () {

            var url =window.location.protocol + "//" + window.location.host + "";
            var co_banco = $(this).val();
            $.ajax({
                url: url+'/api/cuenta/',
                type: 'POST',
                 data: {
                'co_banco': co_banco
                },
                
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {
                  
                    $("#id_co_cuenta").html('<option value=>Seleccione...</option>');
                    $("#id_cedul").html('<option value=>Seleccione...</option>');
                    $("#id_nombre").html('<option value=>Seleccione...</option>');
                 if(arg.success){
                  $.each(arg.data, function(k, v) {
                   $("#id_co_cuenta").append('<option value='+v.co_cuenta+'>'+v.tx_cuenta+'</option>');
                      $("#id_cedul").append('<option value=' + v.cedul + '>' + v.cedul + '</option>');
                      $("#id_nombre").append('<option value=' + v.nombre + '>' + v.nombre + '</option>');

                    });
                  }                     
                }
            });
            	
        });
   });

  });
</script>   
{% endblock javascripts %}