
{% extends 'inicio/baseinit.html' %} 


{% load static %} {% block title %} Transferencia SEP07{% endblock title %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h1 class="card-title">Transferencia SEP07</h1>
                        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
                    </div>
                </div>
                <div class="card-body">
                    {% if adv|length > 0 %}


                    <li class="dropdown-divider"></li>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title text-danger">Advertencia</h3>
                        </div>

                        <div class="col-md-12">
                            {% for val in adv %}

                            <p>{{ val }}</p>
                            <br> {% endfor %}

                        </div>

                    </div>
                    {% endif %}
                    <li class="dropdown-divider"></li>
                    {% if success %} {% if tipo == "pay" %}

                    <div class="table-full-width table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="title text-primary">Destino: </p>
                                        <!--<p class="text-muted">(Solo entre usuarios de Prontopagos)</p>-->
                                    </td>
                                    <td>
                                        <p class="title">{{ data.destination }}</p>
                                    </td>
                                </tr>

                                {% if operation.in_monto %}

                                <tr>
                                    <td>
                                        <p class="title text-primary">Monto: </p>
                                    </td>
                                    <td>
                                        <p class="title">{{ data.amount }} ({{ data.asset_code }})</p>
                                    </td>
                                </tr>
                                {% endif %}

                                <tr>
                                    <td>
                                        <p class="title text-primary">Activo:</p>
                                    </td>
                                    <td>
                                        <p class="title">{{ data.asset_code }}</p>
                                        {% if data.asset_code != "XLM" %}
                                        <p class="text-muted">{{ data.asset_issuer }}</p>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if data.origin_domain %}
                                <tr>
                                    <td>
                                        <p class="title text-primary">Dominio de origen:</p>
                                    </td>
                                    <td>
                                        <p class="title">{{ data.origin_domain }}</p>
                                    </td>
                                </tr>

                                {% endif %} {% if data.memo %}
                                <tr>
                                    <td>
                                        <p class="title text-primary">Memo:</p>
                                    </td>
                                    <td>
                                        <p class="title" id="tx_memo">
                                            {{ data.memo }}
                                        </p>
                                    </td>
                                </tr>
                                {% endif %} {% if data.msg %}
                                <tr>
                                    <td>
                                        <p class="title text-primary">Mensaje:</p>
                                    </td>
                                    <td>
                                        <p class="title">{{ data.msg }}</p>
                                    </td>
                                </tr>
                                {% endif %}



                            </tbody>

                        </table>
                    </div>
                    <div class="row">
                        {% if not operation.in_monto %}


                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating text-white" for="id_nu_monto" id="label_nu_monto">Monto ({{ data.asset_code }})</label>
                                <input type="number" class="form-control text-white" id="id_nu_monto" />
                                <span class='help-block text-danger' id='err_nu_monto'></span>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating text-white" for="id_nu_comision" id="label_nu_comision">Comisión (XLM)</label>
                                <input type="text" class="form-control text-white" id="id_nu_comision" onfocus="this.blur()" value="{{ operation.fee.raw }}" />
                            </div>
                        </div>
                        {% if data.asset_code == "XLM" %}

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating text-white" for="id_nu_total" id="label_nu_total">Total</label>
                                <input type="text" class="form-control text-white" id="id_nu_total" onfocus="this.blur()" />
                            </div>
                        </div>

                        {% endif %} {% endif %}
                        <div class="col-md-12">
                            <div class="form-group">
                                {% if operation.in_monto %}

                                <a href='javascript:void(0)' class="btn btn-fill btn-primary container waves-effect text-dark" name="procesar" id="btnprocesar">Procesar</a> {% else %}

                                <a href='javascript:void(0)' class="btn btn-fill btn-primary container waves-effect text-dark" name="procesar" id="btnprocesar" disabled>Procesar</a> {% endif %}
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <p class="title">Aun no se encuentra disponible esta modalidad</p>
                    {% endif %} {% else %}
                    <p class="title">{{ error }}</p>

                    {% endif %}
                    <div id="alertcontainer">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock content %} {% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/8.1.1/stellar-sdk.min.js" integrity="sha512-LqiPc+iFcRYmvDlZ9FnWC4/MGbalvG+mNkx2CyLY+uiLgj0aG8eAh04gOq9li/o/TQOxgKfBkRlnhXoH3QBYtA==" crossorigin=" anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/7.0.0/stellar-sdk.js" integrity="sha512-7UiifYw3IcKJHf3suEDr1yWa8rHVWW6xjuFiZ5kANlJ3Cncg8c9JE/wGJRfl72ckMD+ZidUeVx+/lNAUYk+t1g==" crossorigin=" anonymous"></script>

<script>
    $(document).ready(function() {

        const server = new StellarSdk.Server('https://horizon.stellar.org');
        var XDR = "{{ xdr | escapejs }}"
        $("#loader").hide();


        var sep07_store = "{{ jsondata | escapejs }}";
        sep07_store = JSON.parse(sep07_store);

        var operation_store = "{{ jsonoperation | escapejs }}";
        operation_store = JSON.parse(operation_store);

        var msjstellar = "{{msjstellarjson | escapejs }}";
        msjstellar = JSON.parse(msjstellar);


        var input_monto_valido = false;


        console.log(sep07_store);
        console.log(operation_store);
        console.log(XDR);
        //newMensaje("La transacción ha sido realizada sactifactoriamente","bien","success","alertcontainer");

        if (sep07_store.tipo == "pay" && sep07_store.memo_type == "MEMO_TEXT") {
            $("#tx_memo").text(sep07_store.memo);
        }


        async function validarCampos() {

            let content = {
                "success": true,
                "msg": ""
            }



            if ($("#id_nu_monto").val() == "") {
                content.success = false;
                content.msg = "El campo monto no puede estar vacio";
            }

            if ($("#id_nu_monto").val() <= 0) {

                content.success = false;
                content.msg = "El monto no puede ser menor o igual a cero";


            }







            let tb = parseFloat(operation_store.balance.nu_balance.toString().replace(",", "."));
            let tl = 99999999999999;

            if (sep07_store.asset_code == "XLM") {
                console.log("aqui");
                //var tm = parseFloat($("#id_nu_monto").val()) + operation_store.fee.raw + fcomisionppg;
                var tm = parseFloat($("#id_nu_monto").val()) + operation_store.fee.raw;
            } else {
                var tm = parseFloat($("#id_nu_monto").val());

                if (operation_store.balance_native <= operation_store.fee.raw) {
                    content.success = false;
                    content.msg = "No tienes ninguna recerva de XLM para realizar alguna operación";
                }

            }




            if (operation_store.balance.nu_limit != "-" && operation_store.balance.nu_limit != "") {
                tl = parseFloat(operation_store.balance.nu_limit.replace(",", "."));
            }
            //console.log(tl);

            //console.log(tm.toFixed(9) +"-" + tb.toFixed(9));
            //console.log(verdad+"-"+verdad2);
            if (parseFloat(tm.toFixed(9)) > parseFloat(tb.toFixed(9))) {
                content.success = false;
                content.msg = "No dispone de esa cantidad en su balance";
            }
            //console.log(verdad+"-"+verdad2);

            if (parseFloat(tm.toFixed(9)) > parseFloat(tl.toFixed(9))) {
                content.success = false;
                content.msg = "El monto no puede ser mayor a tu limite";


            }

            //console.log(verdad+"-"+verdad2);



            if ($("#id_nu_monto").val() == 0) {
                content.success = false;
                content.msg = "El monto no puede ser igual a cero";

            }
            //console.log(verdad+"-"+verdad2);



            //console.log(verdad+"-"+verdad2);
            if (content.success) {
                $("#id_nu_total").val(tm);
                $("#id_nu_total").blur();

                //$("#id_nu_total").attr("disabled",true);

                $("#id_nu_monto").closest('.form-group').removeClass('has-danger').addClass('has-success');
                $("#id_nu_monto").closest('.form-check').removeClass('has-danger').addClass('has-success');
                $("#err_nu_monto").text("");

                $('#loader').hide();


            } else {
                $("#btnprocesar").attr("disabled", true);
                //$("#id_nu_comision").attr("disabled",true);

                //$("#id_nu_total").attr("disabled",false);
                $("#id_nu_total").val("");
                $("#id_nu_total").blur();
                //$("#id_nu_total").attr("disabled",true);

                $('#loader').hide();

                $("#id_nu_monto").closest('.form-group').removeClass('has-success').addClass('has-danger');
                $("#id_nu_monto").closest('.form-check').removeClass('has-success').addClass('has-danger');
                $("#err_nu_monto").text(content.msg);

            }
            input_monto_valido = content.success;
            return content.success;


        }

        function validarGeneral() {
            if (input_monto_valido) {
                $("#btnprocesar").attr("disabled", false);
            } else {
                $("#btnprocesar").attr("disabled", true);
            }


        }


        $("#id_nu_monto").on('keyup', async function() {
            //console.log("gola");

            await validarCampos();
            validarGeneral();
        });




        async function getTransactionEnvelope() {
            $('#loader').show();

            try {



                let transaccion = new StellarSdk.TransactionBuilder.fromXDR(XDR, StellarSdk.Networks.PUBLIC)
                let keypair = StellarSdk.Keypair.fromSecret(sessionStorage.getItem('merma'));
                let asset = false
                transaccion.sign(keypair);

                let transresultado = await server.submitTransaction(transaccion);
                newMensaje("La transacción ha sido realizada sactifactoriamente", "bien", "success", "alertcontainer");




                $('#loader').hide();
                return true;

            } catch (error) {
                console.log(error);
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "alertcontainer");
                } else {
                    newMensaje(error, "errors2", "danger", "alertcontainer");
                }
                $('#loader').hide();

                return false;

            }



        }

        function buildMemo() {

            switch (sep07_store.memo_type) {
                case "MEMO_TEXT":
                    memo = StellarSdk.Memo.text(sep07_store.memo);
                    break;
                case "MEMO_ID":
                    memo = StellarSdk.Memo.id(sep07_store.memo);
                    break;
                case "MEMO_HASH":
                    memo = StellarSdk.Memo.hash(sep07_store.memo);
                    break;
                case "MEMO_RETURN":
                    memo = StellarSdk.Memo.return(sep07_store.memo);
                    break;

                default:
                    memo = StellarSdk.Memo.text(sep07_store.memo);
            }

            return memo
        }

        async function makeTransaction() {
            $('#loader').show();

            try {

                console.log(operation_store.fee.normal);
                comision = operation_store.fee.normal;
                let source = await server.loadAccount(operation_store.source);
                let transaccion = new StellarSdk.TransactionBuilder(source, {
                    "fee": comision,
                    "networkPassphrase": StellarSdk.Networks.PUBLIC
                });
                if (operation_store.memo != "") {
                    let memo = buildMemo();
                    transaccion = transaccion.addMemo(memo)
                }
                console.log(memo)

                let asset = false
                if (sep07_store.asset_code == "XLM") {
                    asset = StellarSdk.Asset.native();
                } else {
                    asset = new StellarSdk.Asset(sep07_store.asset_code, sep07_store.asset_issuer);
                }

                transaccion = transaccion.addOperation(
                    StellarSdk.Operation.payment({
                        destination: sep07_store.destination,
                        asset: asset,
                        amount: $("#id_nu_monto").val(),
                    })
                );

                let keypair = StellarSdk.Keypair.fromSecret(sessionStorage.getItem('merma'));

                transaccion = transaccion.setTimeout(30).build();
                transaccion.sign(keypair);

                let transresultado = await server.submitTransaction(transaccion);
                newMensaje("La transacción ha sido realizada sactifactoriamente", "bien", "success", "alertcontainer");




                $('#loader').hide();
                return true;

            } catch (error) {
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "alertcontainer");
                } else {
                    newMensaje(error, "errors2", "danger", "alertcontainer");
                }
                $('#loader').hide();

                return false;

            }



        }





        $("#btnprocesar").on("click", async function() {
            $('#loader').show();
            $("#btnprocesar").attr("disabled", true);
            let response = false;
            if (operation_store.in_monto) {
                response = await getTransactionEnvelope();
            } else {
                response = await makeTransaction();
            }

            console.log(response)
            if (response) {
                $("#id_nu_monto").attr("disabled", true);
                $("#btnprocesar").hide();
            } else {
                $("#btnprocesar").attr("disabled", false);
            }




        });
    });
</script>
{% endblock javascripts %}