 {% load qr_code %}
 <div class="row">

                            <div class="col-md-12 d-flex justify-content-center">
                                <p class="text-white">Este es su codigo de recuperación, en caso de que pierda su metodo de autenticación.
                                Es importante no perder este codigo, ya que en ese caso, usted tendria que pasar un procesedimiento de recuperacion muy extenso.</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                        
                             <div class="col-md-6">
                                            <input type="text" class="form-control" id="textocopiar" value="{{ token }}"/>
                                        </div>

                            <div class="col-md-6">
                                            <a href="javascript:void(0)" class="btn btn-fill  btn-primary text-dark" id="btncopiar">
                                        Copiar
                                    </a>

                       </div>
                        </div>
                        <script>
                        $(document).ready(function() {
                        $("#btncopiar").tooltip({
                                        title: "Copiado",
                                        trigger: 'click'
                                    });

                        $('#btncopiar').on('click', function() {
                            var copyText = document.getElementById("textocopiar");
                            var btncopiar = $(this);
                            copyText.select();
                            //copyText.setSelectionRange(0, 99999);

                            document.execCommand("copy");


                        });
                        });
                        </script>