 {% load qr_code %}
 <div class="row">

                            <div class="col-md-12 d-flex justify-content-center">
                                <p class="text-white">Por favor escanee el codigo qr con google authentication.</p>
                            </div>
                        </div>
                        <div class="row">
                        
                          <div class="col-md-12 d-flex justify-content-center">
                    {% qr_from_text img size="T" error_correction="L" version=1 border=4 image_format='png'%}
          </div>
                        </div>