 {% load static %} 
 <div class="row">

                            <div class="col-md-12">

                                <p class="text-white">Para empesar usted debe tener la aplicacion de autenticación</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=es&gl=US" target="_blank">
                                    <img src="{% static 'img/googleplaylogo.png' %}" alt="100" width="200">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="https://chrome.google.com/webstore/detail/authenticator/bhghoamapcdpbohphigoooaddinpkbai?hl=es" target="_blank">
                                    <img src="{% static 'img/googlestorelogo.png' %}" alt="100" width="200">
                                </a>
                            </div>
                        </div>