
{% load static %}

      <footer class="footer">
          <div class="container-fluid">
            <ul class="nav">
              <li class="nav-item">
                  PRONTOPAGOS
                  
              </li>
            </ul>
            <div class="copyright">
              ©
              <script>
                document.write(new Date().getFullYear())
              </script> 
              Gobelx
              All rights reserved. 
            </div>
          </div>
        </footer>
        
