    <div class="modal fade" id="menuSolicitudModal" tabindex="-1" role="dialog" aria-labelledby="menuSolicitudModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex align-items-center">
                        <h2 class="modal-title" id="menuSolicitudModalLabel">Nueva Solicitud</h2>
                 
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               
                <span aria-hidden="true">&times;</span>
               </div>
            </button>
                    </div>

                    <form method="POST" action="{% url 'nesoli' co_tipo_solicitud=7%}">
                        <div class="modal-body">
                            {% csrf_token %}

                            <input id="modal_co_tipo_solicitud" name="co_tipo_solicitud" type="hidden">

                            <!--Quizas mas adelante haga falta poner fecha-->
                            <h4 class="card-title"> ¿Estas seguro de hacer esta solicitud?</h4>
                            
                 
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>

                            <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="btn">Si</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


<script>


</script>