<div class="alert alert-success col-md-12">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span><!--b> Felicidades </b-->{{msg}}</span>
</div>