 {% load static %}

<div class="sidebar">
    <div class="sidebar-wrapper">
    <!--
        <div class="logo">
            <a href="{% url 'balance' %}" class="simple-text logo-mini">

                <img src="{% static 'img/logoppg2.png' %}" alt="">
            </a>
            <a href="{% url 'balance' %}" class="simple-text logo-normal">
            ProntoPagos
          </a>
        </div>-->
        <!-- ! ----------------------------------Elementos de la barra de tareas-------------------------------->
        <ul class="nav">
            <li class="{% if request.resolver_match.url_name == 'inicio' %}active{% endif %}">
                <a href="{% url 'inicio' %}">
                    <i class="tim-icons icon-bank"></i>
                    <p>Inicio</p>
                </a>
            </li>

            <!-- ! ----------------------------------nuevo menu lobster-------------------------------->
            <li class="{% if request.resolver_match.url_name == 'transferencia' %}active{% endif %}">

                <a href="{% url 'transferencia' %}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-minimal-up"></i></span>
                    <span class="sidebar-normal"> Enviar </span>
                </a>
         
            </li>
            <li class="{% if request.resolver_match.url_name == 'depositar' or request.resolver_match.url_name == 'preSolicitud' and  co_tipo_solicitud == 13 %}active{% endif %}">

                <a href="{% url 'depositar'  %}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-minimal-down"></i></span>
                    <span class="sidebar-normal"> Depositar</span>
                </a>
         
            </li>
            <li class="{% if request.resolver_match.url_name == 'retirar' %}active{% endif %}">

                <a href="{% url 'retirar'  %}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-minimal-down"></i></span>
                    <span class="sidebar-normal"> Retirar</span>
                </a>
         
            </li>
            <li class="{% if request.resolver_match.url_name == 'preSolicitud' and  co_tipo_solicitud == 24 %}active{% endif %}">

                <a href="{% url 'preSolicitud' co_tipo_solicitud=24%}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-credit-card"></i></span>
                    <span class="sidebar-normal"> Comprar Lumens </span>
                </a>
         
            </li>
            <li class="{% if request.resolver_match.url_name == 'preSolicitud' and  co_tipo_solicitud == 15 %}active{% endif %}">

                <a href="{% url 'preSolicitud' co_tipo_solicitud=15%}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-tv-2 "></i></span>
                    <span class="sidebar-normal"> Pagos de Servicios </span>
                </a>
         
            </li>
            <li class="{% if request.resolver_match.url_name == 'preSolicitud' and  co_tipo_solicitud == 28 %}active{% endif %}">

                <a href="{% url 'preSolicitud' co_tipo_solicitud=28%}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-money-coins"></i></span>
                    <span class="sidebar-normal"> Cambiar Paypal </span>
                </a>
         
            </li>
            <li class="{% if request.resolver_match.url_name == 'balance' %}active{% endif %}">

                <a href="{% url 'balance' %}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-wallet-43"></i></span>
                    <span class="sidebar-normal"> Activos </span>
                </a>
         
            </li>
            <li class="{% if request.resolver_match.url_name == 'comerciar' %}active{% endif %}">

                <a href="{% url 'comerciar' %}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-send"></i></span>
                    <span class="sidebar-normal"> Intercambiar </span>
                </a>
         
            </li>
            <li class="{% if request.resolver_match.url_name == 'pronto_amigo' %}active{% endif %}">

                <a href="{% url 'pronto_amigo'%}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-single-02"></i></span>
                    <span class="sidebar-normal"> ProntoamiGO </span>
                </a>
         
            </li>
            <li class="{% if request.resolver_match.url_name == 'historico' %}active{% endif %}">

                <a href="{% url 'historico' %}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-bullet-list-67"></i></span>
                    <span class="sidebar-normal"> Historial </span>
                </a>

            </li>
            <li>

                <a href="{% url 'contactos' %}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-chat-33"></i></span>
                    <span class="sidebar-normal"> Contactos </span>
                </a>
          
            </li>
            <li class="{% if request.resolver_match.url_name == 'sesiones' %}active{% endif %}">

                <a href="{% url 'sesiones'%}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-single-02"></i></span>
                    <span class="sidebar-normal"> Historial de conexiones </span>
                </a>
         
            </li>
            <li class="{% if request.resolver_match.url_name == 'billeteraa' %}active{% endif %}
            {% if request.resolver_match.url_name == 'perfilusuario' %}active{% endif %}
            {% if request.resolver_match.url_name == 'seguridad' %}active{% endif %}
            {% if request.resolver_match.url_name == 'registrar-cuentas' %}active{% endif %}
            {% if request.resolver_match.url_name == 'qr_billetera' %}active{% endif %}
            ">

                <a href="{% url 'billeteraa' %}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-lock-circle"></i></span>
                    <span class="sidebar-normal"> Configuración </span>
                </a>
         
            </li>
            <li>

                <a href="http://prontopagos.zendesk.com/hc/es-41g" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-bulb-63"></i></span>
                    <span class="sidebar-normal"> Preguntas Frecuentes </span>
                </a>
         
            </li>
            <!--
            ----------------------------------CUENTA------------------------------
            <li class="{% if request.resolver_match.url_name == 'billeteraa' %}active{% endif %}
            {% if request.resolver_match.url_name == 'balance' %}active{% endif %}
            {% if request.resolver_match.url_name == 'historico' %}active{% endif %}
            {% if request.resolver_match.url_name == 'bandejaInicio' %}active{% endif %}
            {% if request.resolver_match.url_name == 'bandejaser' %}active{% endif %}
            {% if request.resolver_match.url_name == 'agentebandeja' %}active{% endif %}
            ">

                <a href="{% url 'billeteraa' %}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-chart-bar-32"></i></span>
                    <span class="sidebar-normal"> Cuenta </span>
                </a>
         
            </li>

             ----------------------------------Solicitudes------------------------------
            <li class="{% if request.resolver_match.url_name == 'compra'%}active{% endif %}
            {% if request.resolver_match.url_name == 'venta'%}active{% endif %}
            {% if request.resolver_match.url_name == 'preSolicitud' and co_tipo_solicitud == 13 %}active{% endif %}
            {% if request.resolver_match.url_name == 'preSolicitud' and  co_tipo_solicitud == 7 %}active{% endif %}
            {% if request.resolver_match.url_name == 'preSolicitud' and  co_tipo_solicitud == 15 %}active{% endif %}
            {% if request.resolver_match.url_name == 'preSolicitud' and  co_tipo_solicitud == 12 %}active{% endif %}
            {% if request.resolver_match.url_name == 'preSolicitud' and  co_tipo_solicitud == 8 %}active{% endif %}
            ">

                <a href="{% url 'preSolicitud' co_tipo_solicitud=13 %}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-cart"></i></span>
                    <span class="sidebar-normal"> Solicitudes </span>
                </a>
         
            </li>          
            ----------------------------------SEGURIDAD--------------------------------
            <li class="{% if request.resolver_match.url_name == 'seguridad' %}active{% endif %}
            {% if request.resolver_match.url_name == 'registrar-cuentas' %}active{% endif %}
            ">

                <a href="{% url 'seguridad' %}" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-key-25"></i></span>
                    <span class="sidebar-normal"> Seguridad </span>
                </a>
         
            </li> 
           
            ----------------------------------Ayuda--------------------------------
            <li>

                <a href="http://prontopagos.zendesk.com/hc/es-41g" class="text-white">
                    <span class="sidebar-mini-icon"><i class="tim-icons icon-bulb-63"></i></span>
                    <span class="sidebar-normal"> Ayuda </span>
                </a>
         
            </li> -->
        </ul>
    </div>
</div>
{% block javascripts %}
<!--<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=61d01e51-3397-49b0-bc86-736a5183a669"> </script>-->
{% endblock javascripts %}