

    <div class="sidebar">
      <div class="sidebar-wrapper">
      <div class="logo">

          <a target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-black" class="simple-text logo-normal">
       PRONTOPAGO
          </a>
        </div>

        {% if user.is_authenticated %}
        <ul class="nav">
          <li>
            <a href="{% url 'balance' %}" class="text-white">
              <i class="tim-icons icon-coins"></i>
              <p>Balance</p>
            </a>
          </li>
          <li><a class="text-white" href="{% url 'historico' %}"><i class="tim-icons icon-paper"></i><p>Historico</p></a></li>
          <li><a class="text-white" href="{% url 'transferencia' %}"><i class="tim-icons icon-cart"></i><p>Transferencia</p></a></li>
          <li><a class="text-white" href="{% url 'transferencia2' %}"><i class="tim-icons icon-bank"></i><p>Transferencia2</p></a></li>
          <li><a class="text-white" href="{% url 'recargaBSS' %}"><i class="tim-icons icon-bag-16"></i><p>Recibir BSS</p></a></li>
          <li><a class="text-white" href="{% url 'pagoservicios' %}"><i class="tim-icons icon-bus-front-12"></i><p>Pago Servicios</p></a></li>

          <li class="dropdown-divider"></li>
          <li><a class="text-white title"><p>Usuario</p></a></li>
          <li><a class="text-white" href="{% url 'seguridad' %}"><i class="tim-icons icon-key-25"></i><p>Seguridad</p></a></li>
          
          <li class="dropdown-divider"></li>
          <li><a class=" text-white"><p>Servicios</p></a></li>
          <li><a class="text-white" href="{% url 'bandejaservpendientes' %}"><i class="tim-icons icon-notes"></i><p>Bandeja Pendientes</p></a></li>
        
         
          <li class="dropdown-divider"></li>
          <li><a class=" text-white"><p>Agente</p></a></li>
          <li><a class="text-white" href="{% url 'bandejaservicios' %}"><i class="tim-icons icon-notes"></i><p>Bandeja</p></a></li>
          <li><a class="text-white" href="{% url 'procesoservicios' %}"><i class="tim-icons icon-bank"></i><p>Proceso</p></a></li>
        
        
  
          <li class="dropdown-divider"></li>
          <li><a class=" white-text"><p>Administración</p></a></li>
          <li><a class="white-text" href="{% url 'bandeja' %}"><i class="tim-icons icon-bank"></i><p>Bandeja de verificación</p></a></li>
          <li><a class="white-text" href="{% url 'bandejaVeriInd' %}"><i class="tim-icons icon-bank"></i><p>Bandeja de indentidades</p></a></li>
        
         


        </ul>
        {% endif %}
        
      </div>
    </div>
