{% extends 'inicio/base2.html' %} 

{% block title %} peticion {% endblock title %} 


{% block content %}

<div class="row">

{% if msg != '' %}
{% if success is True %}   

{% include 'includes/msj-success.html' %}
{% else %}
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>
<div class="row ">
 
    <div class="col-md-12 col-lg-6">
<form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=co_tipo_solicitud %}">
            {% csrf_token %}
            <div class="card ">

                <div class="card-header">

                    <h2 class="card-title">Quiero ser agente</h2>

                </div>

                <div class="card-body">
                    <div class="row">
                            <div class="form-group col-md-12">

                                <label class="bmd-label-floating text-white" for="co_metodo_pago">Metodos de Pago</label> 
                                {{form.co_metodo_pago}}
                                {% if form.errors.co_metodo_pago %}<span class="help-block white-text">{{ form.errors.co_metodo_pago }}</span>{% endif %}
       
                            </div>
                             <div class="form-group col-md-12">

                                <label class="bmd-label-floating text-white" for="co_proveedor_servicios">Proveedor</label> 
                                {{form.co_proveedor_servicios}}
                                {% if form.errors.co_proveedor_servicios %}<span class="help-block white-text">{{ form.errors.co_proveedor_servicios }}</span>{% endif %}
       
                            </div>
                             <div class="form-group col-md-12">

                                <label class="bmd-label-floating text-white" for="co_servicios">Metodos de Pago</label> 
                                {{form.co_servicios}}
                                {% if form.errors.co_servicios %}<span class="help-block white-text">{{ form.errors.co_servicios }}</span>{% endif %}
       
                            </div>

                    </div>
                    
                <div id="divinput">
                </div>



                </div>
                
                <li class="dropdown-divider"></li>
                <div class="card-footer text-center">

                    <a href="javascript:void(0)"  class="btn btn-fill btn-primary text-dark" id="boton1" disabled>
                    Ingresar
                    </a>
                </div>
                


            </div>
    </div>
    <div class="col-md-12 col-lg-6">
           
            <div class="card ">
                    <div class="card-body">
                         <div class="table-responsive">
            <table class="table tablesorter table-hover" id="" >
                <thead>
                  <tr>
                      <th>Provedor</th>
                      <th>Servicio</th>
                      <th></th>
                  </tr>
                </thead>  

                <tbody class="white-text" id="tbody">
               
                </tbody>
            </table>
          </div>
                </div>
                <li class="dropdown-divider"></li>
                <div class="card-footer text-center">

                    <input type="submit" value="Procesar" class="btn btn-fill btn-primary container waves-effect text-dark" name="procesar" id="procesar" disabled/>
                </div>

    </div>


        </form>
    </div>
    
</div>

 <input id="token" name="token" type="hidden" value={{ token }}>

{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){

var validar = function(){
if ($("#id_co_proveedor_servicios option:selected").val()!='' &&  $("#id_co_servicios option:selected").val()!=''){
    
 return true;           
}else{
 return false;
}
}
var validar2 = function(){
if ($(".hinput").length && $("#id_co_metodo_pago").val()!=''){
    
 return true;           
}else{
 return false;
}

}
var desbloquear1 = function(){
    if (validar()){
        $("#boton1").attr('disabled',false);  
    }else{
        $("#boton1").attr('disabled',true);
    }
}

var desbloquear2 = function(){
    if (validar2()){
        $("#procesar").attr('disabled',false);  
    }else{
        $("#procesar").attr('disabled',true);
    }
}

var eliminar = function(e){
         cod=e.currentTarget.id;
         $("#tr"+cod).remove(); 
         $("#div"+cod).remove();
         desbloquear2();
}




    $("#id_co_metodo_pago").on('change', function () {

      $("#id_co_metodo_pago option:selected").each(function () {


         desbloquear2();
      });
      
      });

    $("#id_co_proveedor_servicios").on('change', function () {

      $("#id_co_proveedor_servicios option:selected").each(function () {

        var co_proveedor_servicios = $(this).val();
        var url = window.location.protocol + "//" + window.location.host + "/";

        $.ajax({
          url: url + 'api/tipo-servicios/',
          type: 'POST',
          data: {
            'co_proveedor_servicios': co_proveedor_servicios
          },
          headers: {"Authorization": 'token '+$("#token").val()},
          beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success: function (arg) {

            $("#id_co_servicios").html('<option value=>Seleccione...</option>');
            if (arg.success) {
              $.each(arg.data, function (k, v) {
                $("#id_co_servicios").append('<option value=' + v.co_servicios + '>' + v.tx_servicios + '</option>');
               
              });
            }
        desbloquear1();
          }
        })

      });


    });

    $("#id_co_servicios").on('change', function () {
      
      $("#id_co_servicios option:selected").each(function () {

        desbloquear1();
      });
    });


$('#boton1').on('click', function () {
      if(validar()){
            //alert($("#div"+$("#id_co_servicios option:selected").val()).length);
            if ($("#div"+$("#id_co_servicios option:selected").val()).length == 0){
            var tx="<tr id='tr"+$("#id_co_servicios option:selected").val()+"'>";
                tx+="<td>"+$("#id_co_proveedor_servicios option:selected").text().toUpperCase()+"</td>";
                tx+="<td>"+$("#id_co_servicios option:selected").text().toUpperCase()+"</td>";
                
                 tx+="<td><a href='javascript:void(0)' class='btn btn-link btn-danger btn-icon btn-sm edit borrar' id="+$("#id_co_servicios option:selected").val()+" ><i class='tim-icons icon-trash-simple'></i></a></td>";
            
                tx+="</tr>";
            $("#tbody").append(tx);

          $("#divinput").append("<input id='div"+$("#id_co_servicios option:selected").val()+"' name=servicios class=hinput type=hidden value="+$("#id_co_servicios option:selected").val()+" />");
               
     
          $('.borrar').on('click', eliminar);
          desbloquear2();

        }

     

      }
  });


});
</script>
{% endblock javascripts %}