{% extends 'inicio/base2.html' %} {% block title %} servicios {% endblock title %} {% block content %}
{% load etiquetas %}
<div class="row">

{% if msg != '' %}
{% if success == 1%}   
{% include 'includes/msj-success.html' %}

{% else%}   
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>

<div class="row mt-5">
    <div class="col-md-12 col-lg-12">
        <h1 class="title text-center">BANDEJA DE SERVICIOS DE AGENTES</h1>
    </div>
    <div class="col-md-12 col-lg-12  mb-5">
        <div class="card ">



        <div class="card-header">
                <nav class="navbar justify-content-between">
                    <a class="navbar-brand"></a>
                    <form class="form-inline">
                     
                        <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 wasa" data-toggle="modal" data-target="#exampleModal" id="botone1">
                            <i class="tim-icons icon-zoom-split"></i>
                        </a>
                    </form>
                </nav>
            <ul class="nav nav-pills nav-pills-primary">
            <li class="nav-item">
              <a class="nav-link active" href="#disponibles" data-toggle="tab">Disponibles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#tomados" data-toggle="tab">Tomados</a>
            </li>
          </ul>
            </div>

            <div class="card-body">

           <div class="tab-content tab-space">
           
            <div class="tab-pane active" id="disponibles" >
                <div class="table-responsive">
                    <table class="table tablesorter table-hover" id="">
                        <thead>
                            <tr>
                            
                                <th>Solicitud</th>
                                <th>Usuario</th>
                                <th>Proveedor</th>
                                <th>Servicio</th>
                                <th>Fecha Creación</th>
                                <th>Estatus</th>
                                <th></th>
                                 <th></th>
                            </tr>
                        </thead>

                        <tbody class="white-text">
                            {% for values in data %}
                            <tr>
                                <td>
                                    <p class="text-white">{{values.co_solicitud.co_solicitud}}</p>
                                </td>
                                  <td>
                                    <p class="text-white">{{values.co_pago_servicios.co_solicitud.co_usuario.username}}</p>
                                </td>
                                <td>
                                    <p class="text-white">{{values.co_servicios.co_proveedor_servicios.tx_proveedor_servicios}}</p>
                                </td>
                                 <td>
                                    <p class="text-white">{{values.co_servicios.co_tipo_servicios.tx_servicios.upper}}</p>
                                </td>

                                <td>
                                    <p class="text-white">{{values.co_solicitud.created_at}}</p>
                                </td>

                                <td>
                                    <p class="text-white">{{values.co_solicitud.co_estatus.tx_estatus}}</p>
                                </td>
                                <td>

                                </td>
                                 <td>
                                 <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 finanza" data-toggle="modal" data-target="#FinanzaModal" id="{{values.co_solicitud.co_solicitud}}">
                            <i class="tim-icons icon-coins"></i>
                        </a>
                                 
                    

                                </td>

                                <td>
                                     <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 tomar" data-toggle="modal" data-target="#tomarModal" id="{{values.co_pago_servicios}}">
                                        <i class="tim-icons icon-double-right"></i>
                                    </a>
                                </td>


                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            
            <div class="tab-pane" id="tomados" >
            <div class="table-responsive">
                    <table class="table tablesorter table-hover" id="">
                        <thead>
                            <tr>
                            
                                <th>Solicitud</th>
                                <th>Usuario</th>
                                <th>Proveedor</th>
                                <th>Servicio</th>
                                <th>Fecha Creación</th>
                                <th>Estatus</th>
                                <th></th>
                                 <th></th>
                                 <th></th>
                            </tr>
                        </thead>

                        <tbody class="white-text">
                            {% for values in tomado %}
                            <tr>
                                <td>
                                    <p class="text-white">{{values.co_pago_servicios.co_solicitud.co_solicitud}}</p>
                                </td>
                                 <td>
                                    <p class="text-white">{{values.co_pago_servicios.co_solicitud.co_usuario.username}}</p>
                                </td>
                                <td>
                                    <p class="text-white">{{values.co_pago_servicios.co_servicios.co_proveedor_servicios.tx_proveedor_servicios}}</p>
                                </td>
                                 <td>
                                    <p class="text-white">{{values.co_pago_servicios.co_servicios.co_tipo_servicios.tx_servicios.upper}}</p>
                                </td>

                                <td>
                                    <p class="text-white">{{values.co_pago_servicios.co_solicitud.created_at}}</p>
                                </td>

                                <td>
                                    <p class="text-white">{{values.co_pago_servicios.co_solicitud.co_estatus.tx_estatus}}</p>
                                </td>
                                <td>

                                </td>
                                 <td>
                                 <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 finanza" data-toggle="modal" data-target="#FinanzaModal" id="{{values.co_pago_servicios.co_solicitud.co_solicitud}}">
                            <i class="tim-icons icon-coins"></i>
                        </a>
                                 
                    

                                </td>

                                <td>
                                     <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 end" data-toggle="modal" data-target="#endModal" id="{{values.co_pago_servicios.co_solicitud.co_solicitud}}">
                                        <i class="tim-icons icon-double-right"></i>
                                    </a>
                                </td>
                                <td>
                                {% if values.co_pago_servicios.co_solicitud.get_incidencia2.in_delete %}
                                <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-danger my-2 my-sm-0 cancelar" data-toggle="modal" data-target="#cancelarModal" id="{{values.co_pago_servicios.co_solicitud.co_solicitud}}">
                                        <i class="tim-icons icon-trash-simple"></i>
                                    </a>
                                {% endif %}
                                     


                                </td>


                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

            </div>
            </div>
        </div>
    </div>

</div>
<!-----------------------------------CANCELAR MODAL-------------------------------------->
<div class="modal fade" id="cancelarModal" tabindex="-1" role="dialog" aria-labelledby="cancelarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="cancelarModalLabel">Cancelar</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
                </div>

                <form method="GET" action="" id="cancelarform">
                    <div class="modal-body">
                        {% csrf_token %}

                        <input id="codigocancelar" name="codigo" type="hidden">

                        <p class="text-white"><h4>¿Esta seguro de cancelar esta solicitud?</h4></p>

                        <!--Quizas mas adelante haga falta poner fecha-->

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>

                        <input type="submit" class="btn btn-fill btn-primary text-dark" name='boton' id="cancelarbtn" value="Procesar"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-----------------------------------APROBAR MODAL-------------------------------------->
<div class="modal fade" id="endModal" tabindex="-1" role="dialog" aria-labelledby="endModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="endModalLabel">Aprobar</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
                </div>

                <form method="GET" action="" id="endform">
                    <div class="modal-body">
                        {% csrf_token %}

                        <input id="codigoend" name="codigo" type="hidden">

                        <p class="text-white"><h4>¿Esta seguro de confirmar esta solicitud?</h4></p>

                        <!--Quizas mas adelante haga falta poner fecha-->

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>

                        <input type="submit" class="btn btn-fill btn-primary text-dark" name='boton' id="aprobarbtn" value="Procesar"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-----------------------------------TOMAR MODAL-------------------------------------->
<div class="modal fade" id="tomarModal" tabindex="-1" role="dialog" aria-labelledby="tomarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="tomarModalLabel">Tomar solicitud</h2>
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader3"></div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
                </div>

                <form method="GET" action="" id="tomarform">
                    <div class="modal-body">
                        {% csrf_token %}

                        <input id="codigotomar" name="codigo" type="hidden">

                            <div class="card ">
        <div class="card-header">
          <h4 class="card-title">Datos basicos</h4>
        </div>
     <table class="table tablesorter table-hover">

        <tbody class="text-white">
        <tr>
        <td>Usuario: </td> 
        <td id="tdusername"> </td>
        <td>Moneda: </td> 
        <td id="tdtx_moneda"> </td>
        </tr>
        
        <tr>
        <td>Monto: </td> 
        <td id="tdnu_monto"> </td>
        <td >Comision: </td> 
        <td id="tdnu_monto_comision"> </td>
        </tr>

         <tr>
        <td >Proveedor: </td> 
        <td id="tdtx_proveedor"> </td>
        <td >Servicios: </td> 
        <td id="tdtx_servicios"> </td>
        </tr>
         
        
        </tbody>
      </table>
      </div>
            <div class="card ">
        <div class="card-header">
          <h4 class="card-title">Requisitos</h4>
        </div>
     <table class="table tablesorter table-hover">

        <tbody class="text-white" id="tbrequisitos">
     
         
        
        </tbody>
      </table>
      </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="btntomar">Procesar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
<!-----------------------------------DETALLE  MODAL-------------------------------------->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="exampleModalLabel">Modal title</h2>
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
                </div>

                <form method="POST" action="{% url 'agentebandeja' %}">
                    <div class="modal-body">
                        {% csrf_token %}

                        <input id="codigo" name="codigo" type="hidden">
                        <div class="form-group col-md-12">

                            <label class="bmd-label-floating text-white">proveedor</label> {{ form.co_proveedor_servicios}}
                        </div>
                        <div class="form-group col-md-12">

                            <label class="bmd-label-floating text-white">servicios</label> {{ form.co_servicios}}
                        </div>

                        <div class="form-group col-md-12">

                            <label class="bmd-label-floating text-white">Estatus</label> {{ form.co_estatus}}
                        </div>

                        <!--Quizas mas adelante haga falta poner fecha-->

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="btn">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-----------------------------------FINANZA MODAL-------------------------------------->
<div class="modal fade" id="FinanzaModal" tabindex="-1" role="dialog" aria-labelledby="FinanzaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                <div style="flex-direction:column;">
                    <h2 class="modal-title" id="FinanzaModalLabel">Transaccion</h2>
                    <h3 class="pl-2" id="modalSubtitle">Sub Title</h3>
                    </div>
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader2">
                    
                </div>




                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
                </div>

                    <div class="modal-body">

                        <input id="codigo2" name="codigo2" type="hidden">
                        <div class="table-responsive">
        


        <table class="table tablesorter" >

        <tbody class="white-text">
         <tr>
            <td>Moneda:</td>
            <td id="tdMoneda"></td>
          </tr>
          <tr>
            <td>Monto:</td>
            <td id="tdMonto"></td>
          </tr>
          <tr>
            <td>Destinatario:</td>
            <td id="tdDestinatario"></td>
          </tr>
          <tr>
            <td>Comision:</td>
            <td id="tdComision"></td>
          </tr>
          <tr>
            <td>Estatus:</td>
            <td id="tdEstatus"></td>
          </tr>
           <tr>
            <td>Fecha:</td>
            <td id="tdFecha"></td>
          </tr>

         
         
        
        </tbody>
      </table>


      </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>

                     </div>
            </div>
        </div>
    </div>

        <input id="token" name="token" type="hidden" value={{ token }}>

        <!--<p class="white-text">{{data}}</p>

<p class="white-text">{{token}}</p>-->

        {% endblock content %} {% block javascripts %}
<script>


            $(document).ready(function() {


                $("#loader").hide();
                
                $("#loader3").hide();
                
                $("#loader4").hide();
                var valores = function(id) {
                    var cod = id;
                    var codigo = parseInt(cod.charAt(cod.length - 1));

                    return cod;
                }

                var advertencia1 = function(e) {
                    $("#codigo2").val(valores(e.currentTarget.id));
                    onclick();

                }
                var advertencia2 = function(e) {
                    $("#codigotomar").val(valores(e.currentTarget.id));
                    $("#btntomar").attr("disabled", true);
                    onclickTomar();
                    
                  
                    
                }
                var advertencia3 = function(e) {
                    
                $("#codigocancelar").val(valores(e.currentTarget.id));  
                var url =window.location.protocol + "//" + window.location.host + "";     
                  $('#cancelarform').attr('action', url+"/solicitud/"+valores(e.currentTarget.id)+"/10");
                  
                    
                }
                var advertencia4 = function(e) {
                    
                $("#codigoend").val(valores(e.currentTarget.id));  
                var url =window.location.protocol + "//" + window.location.host + "";     
                  $('#endform').attr('action', url+"/solicitud/"+valores(e.currentTarget.id)+"/11");
                  
                    
                }

                var openmodal = function(e) {
                    $("#codigo").val('');
                    var val = valores(e.currentTarget.id)

                        $("#exampleModalLabel").text("Busqueda");
                        $("#btn").text('Buscar');

                     

                }

                var onclick = function() {
                    var codigo = $("#codigo2").val();

                    $('#loader2').show();
                    $('.finanza').attr("disabled", true);

                    var url = window.location.protocol + "//" + window.location.host + "";

                    $.ajax({
                        url: url + '/api/operaciones/transaccion2/',
                        type: 'POST',
                        data: {
                            'co_solicitud': codigo
                        },
                        headers: {
                            "Authorization": 'token ' + $("#token").val()
                        },
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        },
                        success: function(arg) {

                            $('#loader2').hide();

                            $('.finanza').attr("disabled", false);


                            if (arg.success) {

                                $.each(arg.data, function(k, v) {
                                     $("#modalSubtitle").text(v.tx_tipo_transaccion);
                                    if(!v.co_transaccion_emisor){

                                        $("#tdMoneda").text(v.tx_moneda+" ("+v.tx_simbolo+")");
                                        
                                        $("#tdMonto").text(v.nu_monto);
                                        
                                        $("#tdDestinatario").text(v.tx_receptor);
                                        
                                        $("#tdEstatus").text(v.tx_estatus);

                                        $("#tdFecha").text(v.updated_at);

                                
                                        
                                    }else{

                                        
                                        $("#tdComision").text(v.nu_monto+" ("+v.nu_comision+"%)");

                                    }
                                    
                                   

                                })


                            }

                        },
                        error: function(xhr, ajaxOptions, thrownError) {

                            $('#loader').hide();
                            $('.finanza').attr("disabled", false);
                            console.log(xhr.status);
                            console.log(thrownError);
                        }
                    })
                }

        var onclickTomar = function(){
        var codigo=$("#codigotomar").val();
         $('#loader3').show();

        $('.tomar').attr("disabled", true);
        var url =window.location.protocol + "//" + window.location.host + "";
       

        $.ajax({
                url: url+'/api/data-servicios/',
                type: 'POST',
                 data: {
                     'co_pago_servicios':codigo
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {
                  $('#tbrequisitos').empty();
                if(arg.success){
                  $.each(arg.data, function (key, value) {

                    $('#tdusername').html(value.username);
                    $('#tdtx_moneda').html(value.tx_moneda);
                    $('#tdnu_monto').html(value.nu_monto+" "+value.tx_simbolo);
                    $('#tdtx_proveedor').html(value.tx_proveedor);
                    $('#tdtx_servicios').html(value.tx_servicio);
                    
                    $('#tdnu_monto_comision').html(value.nu_monto_comision+" ("+value.nu_comision*100+"%)");


                  
                  $.each(value.requisitos, function (key, val) {
                  var tx1='<tr><td>'+val.tx_requisito+':</td>';
                  
                  var tx2='<td>'+val.tx_respuesta_requisito+'</td>';
                  
                  var tx3='</tr>';
                  

                  $('#tbrequisitos').append(tx1+tx2);
                  });
                  $('#tomarform').attr('action', url+"/solicitud/"+value.id_solicitud);
                  });
                  
                   $("#btntomar").attr("disabled", false);
                   
                   $(".tomar").attr("disabled", false);
                }
                $('#loader3').hide();

                
                },
                error: function (xhr, ajaxOptions, thrownError) {
                   $('#loader3').hide();
                   $('.tomar').attr("disabled", false);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })
    }


        $("#id_co_proveedor_servicios").on('change', function () {

      $("#id_co_proveedor_servicios option:selected").each(function () {

        var co_proveedor_servicios = $(this).val();
        var url = window.location.protocol + "//" + window.location.host + "/";

        $.ajax({
          url: url + 'api/tipo-servicios/',
          type: 'POST',
          data: {
            'co_proveedor_servicios': co_proveedor_servicios
          },
          headers: {"Authorization": 'token '+$("#token").val()},
          beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success: function (arg) {

            $("#id_co_servicios").html('<option value=>Seleccione...</option>');
            if (arg.success) {
              $.each(arg.data, function (k, v) {
                $("#id_co_servicios").append('<option value=' + v.co_servicios + '>' + v.tx_servicios + '</option>');
               
              });
            }
           
            $("#id_co_servicios").selectpicker("refresh");
          }
        })

      });


    });

                $('.cancelar').on('click', advertencia3);

                $('.end').on('click', advertencia4);
                $('.tomar').on('click', advertencia2);
                $('.finanza').on('click', advertencia1);

                $('.wasa').on('click', openmodal);

            });

        </script>


        {% endblock javascripts %}