{% extends 'inicio/base2.html' %}

{% block title %}
Bandeja servicios
{% endblock title %}
{% block estilo %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">       
<style>

       .tabs .tab a{
            color:black;
        } /*Black color to the text*/

        .tabs .tab a:hover {
            background-color:#ffe57f;
            color:black;
        } /*Text color on hover*/

        .tabs .tab a.active {
            color:#212121;
        } /*Background and text color when a tab is active*/

        .tabs .indicator {
            background-color:#212121;
        }

#divimg{
  max-height:400px;
	overflow-y: auto;
  }

.modal { 
 width: 100% !important ;
 height: 100% !important ; } 

</style>
{% endblock estilo %}
{% block content %}
<div  class="row" >
<div class="col-md-12 mb-5">
  <div class="card text-center">
  <div class="card-header">
  <h2 class="card-title">Bandeja servicios</h2>
  </div>

  <div class="container mt-3">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#divpendiente">Bandeja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#divproceso">Proceso</a>
        </li>
      </ul>
    
      <div class="tab-content">
        <div id="divpendiente" class="container tab-pane active">

      <table class="table tablesorter table-hover" >
        <thead>
          <tr>
              <th>Moneda</th>
              <th>Acronimo</th>
              <th>Monto</th>
              <th>Usuario</th>
              <th>Comisión</th>

              <th>Servicios</th>
              <th>Estatus</th>
              
              <th></th>
          </tr>
        </thead>

        <tbody class="white-text">
        {% for values in data %}
         <tr>
            <td>{{values.get_hist_transaccion.co_transaccion.co_moneda.tx_moneda}}</td>
            <td>{{values.get_hist_transaccion.co_transaccion.co_moneda.tx_simbolo}}</td>
            <td>{{values.get_hist_transaccion.co_transaccion.nu_monto|floatformat:2}}</td>

            <td>{{values.get_hist_transaccion.co_transaccion.co_emisor.username}}</td>

        
            <td>{{values.get_hist_transaccion.co_transaccion.get_comision.nu_monto|floatformat:2}} ({% widthratio values.get_hist_transaccion.co_transaccion.co_comision.nu_monto 1 100%}%)</td>
            <td>{{values.co_servicios.co_proveedor_servicios.tx_proveedor_servicios}}</td>
            <td>{{values.co_estatus.tx_estatus}}</td>

            <td> 
            <a href="javascript:void(0)" class="btn btn-link btn-primary btn-icon btn-sm edit validar" data-toggle="modal" data-target="#exampleModal" id="{{values.co_pago_servicios}}"><i class="tim-icons icon-pencil"></i></a>
         </td>

          </tr>
        {% endfor %}
         
        
        </tbody>
      </table>
</div>

      <div id="divproceso" class="container tab-pane fade">

       <table class="table tablesorter table-hover" >
        <thead>
          <tr>
              <th>Moneda</th>
              <th>Acronimo</th>
              <th>Monto</th>
              <th>Usuario</th>
              <th>Comisión</th>

              <th>Servicios</th>
              
              <th>Tiempo</th>
              
              <th></th>
          </tr>
        </thead>

        <tbody class="white-text">
        {% for val in data2 %}
         <tr>
            <td>{{val.co_pago_servicio}}</td>
            <td>{{val.get_hist_transaccion.co_transaccion.co_moneda.tx_simbolo}}</td>
            <td>{{val.get_hist_transaccion.co_transaccion.nu_monto}}</td>

            <td>{{val.get_hist_transaccion.co_transaccion.co_emisor.username}}</td>

        
            <td>{{val.get_hist_transaccion.co_transaccion.get_comision.nu_monto}} ({% widthratio values.get_hist_transaccion.co_transaccion.co_comision.nu_monto 1 100%}%)</td>
            <td>{{val.co_servicios.co_proveedor_servicios.tx_proveedor_servicios}}</td>
           <td></td>
            <td> 
            <a href="javascript:void(0)" class="btn btn-link btn-primary btn-icon btn-sm edit validar" data-toggle="modal" data-target="#exampleModal" id="{{values.co_pago_servicios}}"><i class="tim-icons icon-pencil"></i></a>
            <!--<a class="btn-floating  amber accent-4 modal-trigger validar" href="#modal2" id="{{values.co_pago_servicios}}"><i class="material-icons black-text">search</i></a>
         </td>-->

          </tr>
        {% endfor %}
         
        
        </tbody>
      </table>

      
</div>
</div>

</div>
     
      
    <form method="POST" action="{% url 'bandejaservicios' %}">
        {% csrf_token %}
    <input id="codigo" name="codigo" type="hidden">


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
        <h2 class="modal-title" id="exampleModalLabel">Solicitud</h2>
           <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
           
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
      </div>
      
      <form method="POST" action="{% url 'proceso' %}">
      <div class="modal-body">
             {% csrf_token %}
             
            <input id="codigo" name="codigo" type="hidden">
      <div class="card ">
        <div class="card-header">
          <h4 class="card-title">Datos basicos</h4>
        </div>
     <table class="table tablesorter table-hover">

        <tbody class="text-white">
        <tr>
        <td>Usuario: </td> 
        <td id="tdusername"> </td>
        <td>Moneda: </td> 
        <td id="tdtx_moneda"> </td>
        </tr>
        
        <tr>
        <td>Monto: </td> 
        <td id="tdnu_monto"> </td>
        <td >Comision: </td> 
        <td id="tdnu_monto_comision"> </td>
        </tr>

         <tr>
        <td >Proveedor: </td> 
        <td id="tdtx_proveedor"> </td>
        <td >Servicios: </td> 
        <td id="tdtx_servicios"> </td>
        </tr>
         
        
        </tbody>
      </table>
      </div>
            <div class="card ">
        <div class="card-header">
          <h4 class="card-title">Requisitos</h4>
        </div>
     <table class="table tablesorter table-hover">

        <tbody class="text-white" id="tbrequisitos">
     
         
        
        </tbody>
      </table>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>
        
        <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="botonsi" disabled>Buscar</button>    
      </div>
        </form>
    </div>
  </div>
</div>


<!--! modal viejo -->
  
  </form>
</div>
</div>
</div>
</div>
</div>
<input id="token" name="token" type="hidden" value={{ token }}>
{% endblock content %}

{% block javascripts %}
<script>

  $(document).ready(function(){


    $(".nav-tabs a").click(function(){
      $(this).tab('show');
    });

    $('#loader').hide();
    var valores = function(id){
    var cod=id;
    var codigo=parseInt(cod.charAt(cod.length-1));

    return cod;
    }
    
    var advertencia1 = function(e){
        $("#codigo").val(valores(e.currentTarget.id));
        onclick();
    }

    
    $("#botonsi").click(function(){

    });
    var onclick = function(){
        var codigo=$("#codigo").val();
         $('#loader').show();

        var url =window.location.protocol + "//" + window.location.host + "";
        $('.validar').attr("disabled", false);
        $.ajax({
                url: url+'/api/data-servicios/',
                type: 'POST',
                 data: {
                     'co_pago_servicios':codigo
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {
                  $('#tbrequisitos').empty();
                if(arg.success){
                  $.each(arg.data, function (key, value) {

                    $('#tdusername').html(value.username);
                    $('#tdtx_moneda').html(value.tx_moneda);
                    $('#tdnu_monto').html(value.nu_monto+" "+value.tx_simbolo);
                    $('#tdtx_proveedor').html(value.tx_proveedor);
                    $('#tdtx_servicios').html(value.tx_servicio);
                    
                    $('#tdnu_monto_comision').html(value.nu_monto_comision+" ("+value.nu_comision*100+"%)");


                  
                  $.each(value.requisitos, function (key, val) {
                  var tx1='<tr><td>'+val.tx_requisito+':</td>';
                  
                  var tx2='<td>'+val.tx_respuesta_requisito+'</td>';
                  
                  var tx3='</tr>';
                  

                  $('#tbrequisitos').append(tx1+tx2);
                  });
                  });
                  
                   $("#botonsi").attr("disabled", false);
                }
                $('#loader').hide();

                
                },
                error: function (xhr, ajaxOptions, thrownError) {
                   $('#loader').hide();
                   $('.validar').attr("disabled", true);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })
    }

    $('.validar').on('click', advertencia1);
    
    });


</script>
{% endblock javascripts %}
