{% extends 'inicio/base2.html' %}

{% block title %}
Bandeja pendientes
{% endblock title %}

{% block content %}
<div  class="container" >
      <div class="col-md-12 mb-5">
      <div class="card ">
  <div class="card-header">
  <h2 class="card-title">Bandeja de Pendientes</h2>
  </div>

  <div class="card-body">
  <div class="table-responsive">
    <div class="col-md-12">
      <table class="table tablesorter table-hover" >
        <thead>
          <tr>
              <th>Moneda</th>
              <th>Acronimo</th>
              <th>Monto</th>
              <th>Comisión</th>
              <th>Servicios</th>
              <th>Estatus</th>
              
              <th></th>
          </tr>
        </thead>

        <tbody class="white-text">
        {% for values in data %}
         <tr>
            <td id="a{{values.co_pago_servicios}}">{{values.get_hist_transaccion.co_transaccion.co_moneda.tx_moneda}}</td>
            <td id="b{{values.co_pago_servicios}}">{{values.get_hist_transaccion.co_transaccion.co_moneda.tx_simbolo}}</td>
            <td>{{values.get_hist_transaccion.co_transaccion.nu_monto|floatformat:2}}</td>

        
            <td>{{values.get_hist_transaccion.co_transaccion.get_comision.nu_monto|floatformat:2}} ({% widthratio values.get_hist_transaccion.co_transaccion.co_comision.nu_monto 1 100%}%)</td>
            <td>{{values.co_servicios.co_proveedor_servicios.tx_proveedor_servicios}}</td>
            <td>{{values.co_estatus.tx_estatus}}</td>

            <td>
            <!--<input type="submit" value="Eliminar" class="btn btn-fill btn-primary container waves-effect text-dark"name="Eliminar" href="#modal1" id="boton{{values.co_pago_servicios}}"/>-->
            <!--<a class="btn-floating  modal-trigger validar" href="#modal1" id="boton{{values.co_pago_servicios}}"><i class="material-icons black-text">delete_forever</i></a>-->
             <a href="javascript:void(0)" class="btn btn-fill btn-primary container waves-effect text-dark validar" name="Eliminar" data-toggle="modal" data-target="#modal1" id="{{values.co_pago_servicios}}">
            <i>Eliminar</i>
          </a>
         </td>

          </tr>
        {% endfor %}
         
        
        </tbody>
      </table>

      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      
      
<!--Spinner de carga-->
      <div class="spinner-grow text-danger" role="status" id="loader">
  <span class="sr-only">Loading...</span>
</div>

<!--Fin de Spinner de carga-->
<!--Modal-->
<input id="token" name="token" type="hidden" value="{{token}}">
<input id="codigo" name="codigo" type="hidden">
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
        <h2 class="modal-title" id="modal1Label">¿Realmente desea cancelar la peticion?</h2>
           
           
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
      </div>
      
      <div class="modal-body">
             {% csrf_token %}
             
            <input id="codigo" name="codigo" type="hidden">
                <div class="form-group col-md-12">
                
                <!--<label class="bmd-label-floating text-white">Servicio</label>-->

                </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Cerrar</button>
        
        <a type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="botonsi">Eliminar</a>    
      </div>
    </div>
  </div>
</div>

<!--Fin Modal de acciones-->
{% endblock content %}

{% block javascripts %}
<script>
  $(document).ready(function(){

    $('#loader').hide();
    var valores = function(id){
    var cod=id;
    var codigo=parseInt(cod.charAt(cod.length-1));

    return cod;
    }
    
    var advertencia1 = function(e){
      $("#codigo").val(valores(e.currentTarget.id));

    }

    
    $("#botonsi").click(function(){
    onclick();

    });
    var onclick = function(){
        var codigo=$("#codigo").val();
         $('#loader').show();

        var url =window.location.protocol + "//" + window.location.host + "";
                $('.validar').attr("disabled", true);
        $.ajax({
                url: url+'/operaciones/servicios/bandeja/cancelar-peticion/',
                type: 'POST',
                 data: {
                     'co_pago_servicios':codigo
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {
                if(arg.success){
                location.reload();
                }
                $('#loader').hide();

                
                },
                error: function (xhr, ajaxOptions, thrownError) {
                   $('#loader').hide();
                   $('.validar').attr("disabled", false);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })
    }

    $('.validar').on('click', advertencia1);

    });
</script>
{% endblock javascripts %}
