{% extends 'inicio/base2.html' %}
{% load static %}
{% block title %} Pagos de Servicios {% endblock title %} {% block content %}
<div class="row">
    {% if msg != '' %} {% if success is True %} {% include 'includes/msj-success.html' %} {% else %} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}
</div>

    <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h1 class="card-title">Pagos de Servicios</h1>  
                        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
                    </div>
                </div>

                <form id="formservicios">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="card-subtitle">Seleccione la Informacion de su Servicio</h4>
                                <li class="dropdown-divider"></li>

                                <div class="container">
                                    <p for="co_moneda">Proveedor</p>
                                    <div class="d-flex justify-content-center">
                                        <div class="row">
                                            {% for proveedores in proveedor  %}
                                            <div class="col-6 col-lg-4 col-md-4 col-sm-4"  id="botones">
                                                <button type="button" class=" btn btn-simple border border-primary proveedores"  value="{{proveedores.co_proveedor_servicios}}" id="{{proveedores.tx_proveedor_servicios}}">
                                                    <div class="btn-inner--icon text-white">
                                                        {% if proveedores.tx_proveedor_servicios == 'SIMPLE TV' %}
                                                        <span ><img src="{% static 'img/simpletv1.png' %}" width="80" height="60"></span>
                                                        {% endif %}

                                                        {% if proveedores.tx_proveedor_servicios == 'MOVISTAR' %}
                                                        <span ><img src="{% static 'img/movistar.png' %}" width="80" height="60"></span>
                                                        {% endif %}
                                                        
                                                        {% if proveedores.tx_proveedor_servicios == 'DIGITEL' %}
                                                        <span ><img src="{% static 'img/digitel.png' %}" width="80" height="60"></span>
                                                        {% endif %}

                                                        {% if proveedores.tx_proveedor_servicios == 'MOVILNET' %}
                                                        <span ><img src="{% static 'img/movilnet.jpg' %}" width="80" height="60"></span>
                                                        {% endif %}
                                                    </div>
                                                </button>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <p for="tx_balance">Tipo de Servicios</p>
                                                <!--<label class="bmd-label-floating text-white" for="tx_balance">Balance disponible</label>-->
                                                {{form.co_servicios}}
                                                <span class='help-block text-danger' id='err_co_servicios'></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <li class="dropdown-divider"></li>          
                                <div class="row">
                                    <h4 class="card-subtitle text-secondary col-md-12">Requisitos</h4>
                                    <div class="col-md-4">
                                        <div id="requisitos" class="form-group" style="display:none;">  
                                            <p for="tx_requisitos" id="requi0"></p>
                                            <input type="text" class="form-control text-white" id="requ0" name="req0"  maxlength="20"/>
                                        </div>
                                        <div id="idrequisitos"></div>
                                    </div>
                                </div>

                                <li class="dropdown-divider"></li>
                                <h4 class="card-subtitle text-secondary">Seleccione el Activo</h4>
                                <div class="row">
                                    {% for activo in activos  %}
                                    <div class="col-6 col-lg-4 col-md-4 col-sm-4" id="botones_activos">
                                        {% if activo.nu_balance2 > '0.00' %}
                                            <button type="button" class=" btn btn-simple border border-primary disabled activos" value="{{activo.tx_asset_code}}" id="{{activo.tx_asset_issuer}}">
                                                <div class="btn-inner--icon text-white activo_code">
                                                    <img src="{% if activo.tx_asset_code != 'XLM' %}
                                                    {{activo.img}}
                                                    {% endif %}
                                                    
                                                    {% if activo.tx_asset_code == 'XLM' %}
                                                    {% static 'img/stellar-xlm-logo.png' %} 
                                                    {% endif %}
                                                    "width="30" height="30">&nbsp{{activo.tx_asset_code}}<br>
                                                    {{activo.nu_balance|floatformat:7}}
                                                </div>
                                            </button>
                                        {% endif %}
                                            <!--
                                            {% comment %} 
                                            <button type="button" class=" btn btn-simple border border-primary  col-lg-2 col-md-2 col-sm-2 mr-2 activos" value="{{activo.tx_asset_code}}" id="{{activo.tx_asset_issuer}}">
                                                <div class="btn-inner--icon text-white activo_code">
                                                    <img src="{% if activo.tx_asset_code != 'XLM' %}
                                                    {{activo.img}}
                                                    {% endif %}
                                                    {% if activo.tx_asset_code == 'XLM' %}
                                                    {% static 'img/stellar-xlm-logo.png' %} 
                                                    {% endif %}
                                                    "width="30" height="30">&nbsp{{activo.tx_asset_code}}<br>
                                                    {{activo.nu_balance|floatformat:7}}
                                                </div>
                                            </button> 
                                            {% endcomment %}-->
                                    </div>
                                    {% endfor %}
                                </div>
                                

                                <li class="dropdown-divider"></li>
                                <h4 class="card-title text-secondary">Monto</h4>
                                <div class="row divmonto">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <p for="nu_monto">Monto</p>
                                            <!--<label class="bmd-label-floating text-white" for="nu_monto">Monto a enviar</label>-->
                                            {{ form.nu_monto}}
                                            <span class='help-block text-danger' id='err_nu_monto'></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4" id="divtotal">
                                        <div class="form-group">
                                            <p for="tx_balance">Total a debitar</p>
                                            <!--<label class="bmd-label-floating text-white" for="nu_total">Total a debitar del balance</label>-->
                                            {{ form.tx_balance}} 
                                            <span class='help-block text-danger' id='err_tx_balance'></span>
                                        </div>
                                    </div>
                                </div>
                                
                                <li class="dropdown-divider"></li>
                                <div class="card-footer text-center">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% comment %} <button type="button" class="btn btn-fill btn-primary container waves-effect text-dark" data-toggle="modal" data-target="#confirmacion" id="procesar">
                                                Procesar
                                                </button> {% endcomment %}
                                            <a href='javascript:void(0)' class="btn btn-fill btn-primary container waves-effect text-dark disabled" aria-disabled="true" name="procesar" data-toggle="modal" data-target="#confirmacion" id="procesar">Procesar</a>
                                        </div>
                                        <div class="col-md-12">
                                            <div id="alertdiv"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
        
                <div id="datacontainer">
                    {% for values in activos %}
                    <input id="a{{ forloop.counter }}" name="a{{ forloop.counter }}" type="hidden" value="{{ values.nu_balance}}">
                    <input id="b{{ forloop.counter }}" name="b{{ forloop.counter }}" type="hidden" value="{{ values.nu_limit}}">
                    <input id="c{{ forloop.counter }}" name="c{{ forloop.counter }}" type="hidden" value="{{ values.tx_asset_issuer}}"> {% endfor %}
                </div>
            </div>
    </div>


    <!-- Modal -->
<div class="modal fade" id="confirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="titulomodal">Resume de la Transacción</h1>
                <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader2"></div>
            </div>
            <div class="modal-body">
                <div id="divimagen" class="d-flex justify-content-center" style="display:none;">
                    <img src="{% static 'img/check_PPG.png' %}" alt="" width="150" height="150" id="imagencheck" style="display:none;">
                </div>
                <div class="col-md-12">
                    <div id="divalertamodal"></div>
                </div>
                <div id="divseguro">
                    <div class="table-responsive">
                        <table class="table tablesorter table-hover" id="tabla">
                            <tbody >
                                            
                                <tr>
                                    <th scope="row" class = "text-primary">Proveedor:</th>
                                    <td class="text-white" id="proveedor"></td>   
                                </tr>
                                <tr>
                                    <th scope="row" class="text-primary">Servicios:</th>
                                    <td class="text-white" id="servicio"></td>
                                </tr>
                                <tr>
                                    <th scope="row"  id="tx_servicios" class="text-primary"></th>
                                    <td class="text-white" id="valrequisitos"></td>
                                </tr>
                                <tr>
                                    <th scope="row"  id="tx_servicio" class="text-primary">Monto:</th>
                                    <td class="text-white" id="monto"></td>
                                </tr>
                                <tr>
                                    <th scope="row"  id="tx_servicio" class="text-primary">Total Activo</th>
                                    <td class="text-white" id="activomonto"></td>
                                </tr>
                                <tr>
                                    <th scope="row"  id="tx_fecha" class="text-primary">Fecha:</th>
                                    <td class="text-white" id="fecha"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {% comment %} <button type="button" class="btn btn-primary text-dark" data-dismiss="modal" style="display:none;">Cerrar</button> {% endcomment %}
                <button type="button" class="btn btn-primary text-dark" data-dismiss="modal" id="btncerrar">Cerrar</button>
                <button type="button" class="btn btn-primary text-dark " id="aceptar">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<input id="llavePublica" name="llavePublica" type="hidden" value="{{ publico }}">
<input id="token" name="token" type="hidden" value="{{token}}">
<input id="count" name="count" type="hidden" value="">
<input id="in_tipo_busqueda" name="in_tipo_busqueda" type="hidden" value="0"> {% endblock content %} {% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/7.0.0/stellar-sdk.js" integrity="sha512-7UiifYw3IcKJHf3suEDr1yWa8rHVWW6xjuFiZ5kANlJ3Cncg8c9JE/wGJRfl72ckMD+ZidUeVx+/lNAUYk+t1g==" crossorigin="anonymous"></script>
<script>
    
        $(document).ready(function() {

            setFormValidation('#formservicios');
            const co_tipo_solicitud = "{{ co_tipo_solicitud }}";
            const comisionppg = "{{ comision }}";
            const fcomisionppg = parseFloat(comisionppg.replace(",", "."));
            const server = new StellarSdk.Server('https://horizon.stellar.org');
            console.log($("#llavePublica").val());
            var destinatario = false;
            var memo = "";
            var fee = "";
            var asset = StellarSdk.Asset.native();
            var feenumero = 0;
            var nuevo = false;
            var primero = false;
            var tx_proveedor;
            var servicios;
            var conversion;
            var req;
            var asset1;
            $("#loader").hide();
            $("#loader2").hide();
            //$("#requ0").hide();
            
            


            const url = window.location.protocol + "//" + window.location.host + "";
            var misactivos = "{{misactivosjson | escapejs }}";
            misactivos = JSON.parse(misactivos);
            var activo_select;
            var co_servicios;
            console.log(misactivos);
            //activo_selected = false;
            
            
            //-----------mio-----------//

    //$("#id_co_servicios").attr("disabled","true");
    //$("#id_co_servicios").attr('disabled',true);


     function getFecha() {
        var d = new Date();
        var m = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre", "Octubre","Noviembre", "Diciembre"];
        var fecha = [d.getDate()+' '+'de'+' '+m[d.getMonth()]+' '+'de'+' '+d.getFullYear()];
        return fecha;
  
}
    $('#requ0').on('input', function () { 
    this.value = this.value.replace(/[^0-9]/g,'');
});
    function findGetParameter(parameterName) {
        var result = null,
            tmp = [];
        location.search
            .substr(1)
            .split("&")
            .forEach(function (item) {
            tmp = item.split("=");
            if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
            });
        return result;
    }
    var tp_solicitud = window.location.href.split('/')[5];
    tp_solicitud=parseInt(tp_solicitud);
    //console.log(tp_solicitud);


                let btns = $("#botones button");
                $(".proveedores").click(function(){
                    btns.removeClass("active");
                    $(this).addClass("active");
                    //$("#procesar").removeClass("disabled");
                    $("#id_co_servicios").removeAttr("disabled");

                    //-------------------------------------------------\\
                    serviciosReset();
                    /*$("#requisitos").css("display","none");
                    $(".activos").addClass('disabled');
                    $("#id_nu_monto").attr('disabled');
                    $("#id_nu_monto").val("");
                    $("#id_nu_monto").closest('.form-group').removeClass('has-success');
                    $("#id_nu_monto").closest('.form-check').removeClass('has-success');
                    $("#id_tx_balance").val("");*/

                    

                
                    



                    var co_proveedor_servicios = $(this).val();
                     tx_proveedor = $(this).attr("id");
                    var url = window.location.protocol + "//" + window.location.host + "/";

                    $.ajax({
                    url: url + 'api/tipo-servicios/',
                    type: 'POST',
                    data: {
                        'co_proveedor_servicios': co_proveedor_servicios
                    },
                    headers: {"Authorization": 'token '+$("#token").val()},
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (arg) {

                        $("#id_co_servicios").html('<option value=>Seleccione...</option>');
                        if (arg.success) {
                        $.each(arg.data, function (k, v) {
                            $("#id_co_servicios").append('<option value=' + v.co_servicios + '>' + v.tx_servicios + '</option>');
                        
                        });
                        }
                    
                        $("#id_co_servicios").selectpicker("refresh");
                    }
                    })


                });


 $("#id_co_servicios").on('change', function () {
     servicios = $("#id_co_servicios option:selected").text();
     if($("#id_co_servicios").val() !=""){
        $("#id_co_servicios").closest('.form-group').removeClass('has-danger').addClass('has-success');
        $("#id_co_servicios").closest('.form-check').removeClass('has-danger').addClass('has-success');
        $("#err_usernamedir").text("");
         input_servicio_valido = true;
        // console.log(input_servicio_valido);
     }
     
     
      $("#id_co_servicios option:selected").each(function () {
          

         co_servicios = $(this).val();
        var url = window.location.protocol + "//" + window.location.host + "/";
        //$("#requisitos").html('');
        $("#requisitos").css("display","none");
        $.ajax({
          url: url + 'api/requisitos-servicios/',
          type: 'POST',
          data: {
            'co_servicios': co_servicios
          },
          headers: {"Authorization": 'token '+$("#token").val()},
          beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success: function (arg) {
            $("#requesitos").html('');
            $("#idrequesitos").html('');
            $("#count").val(0);
            if (arg.success) {
                 $("#requisitos").css("display","block");
              var i = 0;
              $.each(arg.data, function (k, v) {
                  req = v.tx_requisitos_servicios;
                 
                  $("#requi0").text(v.tx_requisitos_servicios);
                  
                  
               // $("#requisitos").append('<div class="form-group col-md-12 "><label class="bmd-label-floating text-white" id=requi'+i+' for="r' + v.co_requisitos_servicios + '">' + v.tx_requisitos_servicios + '</label><input type="text" class="form-control text-white" id=requ'+i+' name="req' + i + '"/>');


                //$("#requisitos").append('</div>');

                $("#idrequisitos").append('<input type="hidden" id="idreq' + i + '" name="idreq' + i + '" value="' + v.co_requisitos_servicios + '"/>');



               i++;

              });
              $("#count").val(i);
              i = 0;
            }

          }
        })

      });


    });


     $('input[name=req0]').change(function() {
        if ($("input[name=req0]").val() != "") {
            input_requisito_valido = true;
            $("input[name=req0]").closest('.form-group').removeClass('has-danger').addClass('has-success');
            $("input[name=req0]").closest('.form-check').removeClass('has-danger').addClass('has-success');
            //$("#err_username").text("");
            //console.log(input_requisito_valido);
            $(".activos").removeClass('disabled');

        }
     });       
        
                let btns_Activos = $("#botones_activos button");
                $(".activos").click(function(){
                    btns_Activos.removeClass("active");
                    $(this).addClass("active");
                    input_monto_valido = false;
                    validarGeneral();
                    $("#id_nu_monto").removeAttr("disabled");;
                    $("#id_nu_monto").val("");
                    $("#id_tx_balance").val("");


                    let code = $(this).val();
                    let issuer =$(this).attr("id");
                    
                    $.each(misactivos,function(index, value){
                      if(value.tx_asset_code==code && value.tx_asset_issuer==issuer){
                        activo_select=value;
                         }
                     });
                     console.log(activo_select.tx_asset_code+" "+activo_select.tx_asset_issuer)
                   //console.log(activo_select);
                   if(activo_select.tx_asset_code !="USDC" && activo_select.tx_asset_issuer !="GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN"){
                       librodeoferta(activo_select.tx_asset_code, activo_select.tx_asset_issuer);
                   }else{
                        asset1 = new StellarSdk.Asset(activo_select.tx_asset_code, activo_select.tx_asset_issuer);
                        $("#id_nu_monto").keyup(async function(){
                            conversion = $("#id_nu_monto").val();
                           /* input_monto_valido = true;
                            validarGeneral();    
                            $("#id_tx_balance").val(conversion);   */
                                if(conversion>activo_select.nu_balance){

                                $("#id_nu_monto").closest('.form-group').removeClass('has-success').addClass('has-danger');
                                $("#id_nu_monto").closest('.form-check').removeClass('has-success').addClass('has-danger');
                                $("#err_nu_monto").text("No dispone de esa cantidad en su conversion");

                                $("#id_tx_balance").closest('.form-group').removeClass('has-success').addClass('has-danger');
                                $("#id_tx_balance").closest('.form-check').removeClass('has-success').addClass('has-danger');
                                $("#err_tx_balance").text("No dispone de esa cantidad en su balance");
                                input_monto_valido = false;
                                validarGeneral();

                                }else{
                                    $("#id_nu_monto").closest('.form-group').removeClass('has-danger').addClass('has-success');
                                    $("#id_nu_monto").closest('.form-check').removeClass('has-danger').addClass('has-success');
                                    $("#err_nu_monto").text("");

                                    $("#id_tx_balance").closest('.form-group').removeClass('has-danger').addClass('has-success');
                                    $("#id_tx_balance").closest('.form-check').removeClass('has-danger').addClass('has-success');
                                    $("#err_tx_balance").text("");
                                    input_monto_valido = true;
                                    validarGeneral();
                        
                                                        }
                                        //console.log(conversion);
                                        //console.log(input_monto_valido);
                        
                            $("#id_tx_balance").val(conversion);
                        

                        });
                       //input_monto_valido = true;
                       

                   }
                   //librodeoferta(activo_select.tx_asset_code, activo_select.tx_asset_issuer);
                });

           

function librodeoferta(code1,issuer1){
    //console.log(code1+" "+issuer1);
    if (code1 != "0" && code1 != "XLM") {
             asset1 = new StellarSdk.Asset(code1, issuer1);
    }else{
          asset1 = StellarSdk.Asset.native();
    }
    
    server
  .orderbook(
    new StellarSdk.Asset(
      "USDC",
      "GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN",
    ),
    asset1,
    
  )
  .call()
  .then(function (resp) {
     montoActivo(resp.asks[0].price);

    //console.log(resp);
  })
  .catch(function (err) {
    console.error(err);
    montoActivo(1);
  });

}      
  


var input_servicio_valido = false;
var input_requisito_valido = false;
var input_monto_valido = false;


function montoActivo(precio){ 
	

    $("#id_nu_monto").keyup(async function(){

     conversion = precio*$("#id_nu_monto").val();
     conversion = parseFloat(conversion).toFixed(7);
     if(conversion>activo_select.nu_balance){

        $("#id_nu_monto").closest('.form-group').removeClass('has-success').addClass('has-danger');
        $("#id_nu_monto").closest('.form-check').removeClass('has-success').addClass('has-danger');
        $("#err_nu_monto").text("No dispone de esa cantidad en su conversion");

        $("#id_tx_balance").closest('.form-group').removeClass('has-success').addClass('has-danger');
        $("#id_tx_balance").closest('.form-check').removeClass('has-success').addClass('has-danger');
        $("#err_tx_balance").text("No dispone de esa cantidad en su balance");
        input_monto_valido = false;
        

     }else{
        $("#id_nu_monto").closest('.form-group').removeClass('has-danger').addClass('has-success');
        $("#id_nu_monto").closest('.form-check').removeClass('has-danger').addClass('has-success');
        $("#err_nu_monto").text("");

        $("#id_tx_balance").closest('.form-group').removeClass('has-danger').addClass('has-success');
        $("#id_tx_balance").closest('.form-check').removeClass('has-danger').addClass('has-success');
        $("#err_tx_balance").text("");
        input_monto_valido = true;
        validarGeneral();
        
     }
     //console.log(conversion);
     //console.log(input_monto_valido);
    
        $("#id_tx_balance").val(conversion);
        

    });
}

    function validarGeneral() {

        if (input_servicio_valido && input_requisito_valido && input_monto_valido) {
            $("#procesar").removeClass("disabled");
        } else {
            $("#procesar").addClass("disabled");
        }


    }

    $("#procesar").on('click',function(){
        
       // $("#confirmacion").show();
        $("#loader").show();
        $("#proveedor").text(tx_proveedor);
        $("#servicio").text(servicios);
        $("#monto").text($("#id_nu_monto").val()+" "+"$");
        $("#activomonto").text(conversion+" "+activo_select.tx_asset_code);
        $("#tx_servicios").text(req+":");
        $("#valrequisitos").text($("#requ0").val());
        $("#fecha").text(getFecha());
       

   

    });

    async function api_pago_ruta1(){
        console.log($("#id_tx_balance").val());
        if(activo_select.tx_asset_code != 'XLM'){

        
        var settings = {
            "url": "https://pathpayment.gobelx.io/api/ruta-path",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            "data": {
                "destination_assets_code": "USDC",
                "destination_assets_issuer": "GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN",
                "source_asset_type": "credit_alphanum4",
                "source_asset_issuer": activo_select.tx_asset_issuer,
                "source_asset_code": activo_select.tx_asset_code,
                "source_asset_amount": $("#id_tx_balance").val(),
            }
            };

            $.ajax(settings).done(function (response) {
            var rutaStellar = response.pathStellar;  
           
            console.log(response);
            // console.log(response.pathStellar);
            //console.log(response.precio);
            api_pago_ruta2( response.amountRute, response.pathStellar);
            });
    } else{
                    var settings = {
                        "url": "https://pathpayment.gobelx.io/api/ruta-path",
                        "method": "POST",
                        "timeout": 0,
                        "headers": {
                            "Content-Type": "application/x-www-form-urlencoded"
                        },
                        "data": {
                            "destination_assets_code": "USDC",
                            "destination_assets_issuer": "GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN",
                            "source_asset_type": "native",
                            "source_asset_code": activo_select.tx_asset_code,
                            "source_asset_amount": $("#id_tx_balance").val(),
                        }
                        };

                        $.ajax(settings).done(function (response) {
                        console.log(response);
                        api_pago_ruta2( response.amountRute, response.pathStellar);
                        });
    }
   }

    function api_pago_ruta2(precio, pathStellar,){
      // console.log("----------------ruta 2---------------------");
      // console.log(precio);
      // console.log(pathStellar);
       
       var rutaJson = JSON.stringify(pathStellar);
       console.log(rutaJson);
       
    if(activo_select.tx_asset_code != 'XLM'){
        var settings = {
  "url": "https://pathpayment.gobelx.io/api/ruta-path-operation",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/x-www-form-urlencoded"
  },
  "data": {
    "destination_assets_code": "USDC",
    "destination_assets_issuer": "GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN",
    "source_asset_type": "credit_alphanum4",
    "source_asset_issuer": activo_select.tx_asset_issuer,
    "source_asset_code": activo_select.tx_asset_code,
    "source_asset_amount": $("#id_tx_balance").val(),
    "public_key": $("#llavePublica").val(),
    //"public_key_dest": "GAOF7MZZGIWR6EAHBHQKATTU4FX7P6JD4G37R3B6DAC2DHSMMTEWBLAD",
    "public_key_dest": "GBOT4VSNIXCDV47PO6KGUYYH6E725XGSZUOSQ2MYTSL6IPVZ66YFN6EH",
    "amountRute": precio,
    "llave_privada": sessionStorage.getItem('merma'),
    "path": rutaJson
  }
};

$.ajax(settings).done(function (response) {
  console.log(response);

  var obj = {
            "tp_solicitud": tp_solicitud,
            "monto":$("#id_tx_balance").val(),
            "activo_code":activo_select.tx_asset_code, 
            "activo_issuer":activo_select.tx_asset_issuer,
            //"hash": result.hash,
            "co_servicios":co_servicios,
            "tx_respuesta_requisito":$("#requ0").val(),
            "co_requisitos_servicios":$("#idreq0" ).val(),
            "monto2":$("#id_nu_monto").val(),
           
        };
        var datos_servicio = JSON.stringify(obj);
        if (response.success == true){
            console.log(obj);
             let respuesta = $.ajax({

            url: url + '/operaciones/servicios/pago/',
            type: 'POST',
            data:obj,
            co_tipo_solicitud:tp_solicitud,
            /*{
                'datos':obj,
                'co_tipo_solicitud':tp_solicitud,
            },*/
            headers: {
                "Authorization": 'token ' + $("#token").val()
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            }
        });
        $("#divimagen").css("display","block");
        $("#imagencheck").css("display","block");
        $("#titulomodal").text("Transacción Realizada con éxito");
        $("#aceptar").hide();
        $("#loader2").hide();

         $("#btncerrar").click(function(){
           $("#formservicios")[0].reset();

           //$("#procesar").addClass("disabled");
            location.reload();
            
            });
        }else{
            console.log("error");
        }
       /* let respuesta = $.ajax({

            url: url + '/operaciones/servicios/pago/',
            type: 'POST',
            data:obj,
            co_tipo_solicitud:tp_solicitud,
            
            headers: {
                "Authorization": 'token ' + $("#token").val()
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            }
        });
        $("#divimagen").css("display","block");
        $("#imagencheck").css("display","block");
        $("#titulomodal").text("Transacción Realizada con éxito");
        $("#aceptar").hide();
        $("#loader2").hide();

         $("#btncerrar").click(function(){
           
           $("#procesar").addClass("disabled");
            
            });*/
        });
    }else{
        var settings = {
  "url": "https://pathpayment.gobelx.io/api/ruta-path-operation",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/x-www-form-urlencoded"
  },
  "data": {
    "destination_assets_code": "USDC",
    "destination_assets_issuer": "GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN",
    "source_asset_type": "native",
    "source_asset_code": activo_select.tx_asset_code,
    "source_asset_amount": $("#id_tx_balance").val(),
    "public_key": $("#llavePublica").val(),
    "public_key_dest": "GBOT4VSNIXCDV47PO6KGUYYH6E725XGSZUOSQ2MYTSL6IPVZ66YFN6EH",
    //"public_key_dest": "GDJ6BPIEGYONVUGM7GYNNZ2EZ7DO37ADPF67FKZNGCDRDQ5GEWBIVFQ2",
    "amountRute": precio,
    "llave_privada": sessionStorage.getItem('merma'),
    "path": rutaJson
        }
    };

        $.ajax(settings).done(function (response) {
        console.log(response);
        var obj = {
            "tp_solicitud": tp_solicitud,
            "monto":$("#id_tx_balance").val(),
            "activo_code":activo_select.tx_asset_code, 
            "activo_issuer":null,
            //"hash": result.hash,
            "co_servicios":co_servicios,
            "tx_respuesta_requisito":$("#requ0").val(),
            "co_requisitos_servicios":$("#idreq0" ).val(),
            "monto2":$("#id_nu_monto").val(),
           
        };
        
        var datos_servicio = JSON.stringify(obj);
        if (response.success == true){
            
             let respuesta = $.ajax({

            url: url + '/operaciones/servicios/pago/',
            type: 'POST',
            data:obj,
            co_tipo_solicitud:tp_solicitud,
            /*{
                'datos':obj,
                'co_tipo_solicitud':tp_solicitud,
            },*/
            headers: {
                "Authorization": 'token ' + $("#token").val()
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            }
        });
        $("#divimagen").css("display","block");
        $("#imagencheck").css("display","block");
        $("#titulomodal").text("Transacción Realizada con éxito");
        $("#aceptar").hide();
        $("#loader2").hide();

         $("#btncerrar").click(function(){
            $("#formservicios")[0].reset();

           //$("#procesar").addClass("disabled");
            location.reload();
            
            });
        }else{
            console.log("error");
        }
        });
    }

} //funcion cierre


    $("#aceptar").click(async function(){

        //var destinoppg = "GDJ6BPIEGYONVUGM7GYNNZ2EZ7DO37ADPF67FKZNGCDRDQ5GEWBIVFQ2";
        //let cuenta = await server.loadAccount($("#llavePublica").val());
        $("#loader2").show();
        
        if(activo_select.tx_asset_code == 'USDC' && activo_select.tx_asset_issuer == 'GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN'){
            makeTransaccion();
        }else{
            api_pago_ruta1();
        }
        
        //api_pago_ruta2();
       
    });


    async function makeTransaccion() {
       
        //var destinationId = "GBOT4VSNIXCDV47PO6KGUYYH6E725XGSZUOSQ2MYTSL6IPVZ66YFN6EH";
        var destinationId = "GBOT4VSNIXCDV47PO6KGUYYH6E725XGSZUOSQ2MYTSL6IPVZ66YFN6EH";

            var transaction;


server
  .loadAccount(destinationId)
  
  .catch(function (error) {
    if (error instanceof StellarSdk.NotFoundError) {
      throw new Error("The destination account does not exist!");
    } else return error;
  })
  
  .then(function () {
    return server.loadAccount($("#llavePublica").val());
  })
  .then(function (sourceAccount) {
    
    transaction = new StellarSdk.TransactionBuilder(sourceAccount, {
      fee: StellarSdk.BASE_FEE,
      networkPassphrase: StellarSdk.Networks.PUBLIC,
    })
      .addOperation(
        StellarSdk.Operation.payment({
          destination: destinationId,
          asset: asset1,
          amount: $("#id_tx_balance").val(),
        }),
      ).setTimeout(180).build();
   
    let keypair = StellarSdk.Keypair.fromSecret(sessionStorage.getItem('merma'));
    transaction.sign(keypair);
    
    return server.submitTransaction(transaction);
  })
  .then(function (result) {
    console.log("Success! Results:", result);

       var obj = {
            "tp_solicitud": tp_solicitud,
            "monto":$("#id_tx_balance").val(),
            "activo_code":activo_select.tx_asset_code, 
            "activo_issuer":activo_select.tx_asset_issuer,
            //"hash": result.hash,
            "co_servicios":co_servicios,
            "tx_respuesta_requisito":$("#requ0").val(),
            "co_requisitos_servicios":$("#idreq0" ).val(),
            "monto2":$("#id_nu_monto").val(),
           
        };
        var datos_servicio = JSON.stringify(obj);
        let response = $.ajax({

            url: url + '/operaciones/servicios/pago/',
            type: 'POST',
            data:obj,
            co_tipo_solicitud:tp_solicitud,
            /*{
                'datos':obj,
                'co_tipo_solicitud':tp_solicitud,
            },*/
            headers: {
                "Authorization": 'token ' + $("#token").val()
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            }
        });
        $("#divimagen").css("display","block");
        $("#imagencheck").css("display","block");
        $("#titulomodal").text("Transacción Realizada con éxito");
        $("#aceptar").hide();
        $("#loader2").hide();

         $("#btncerrar").click(function(){
            $("#formservicios")[0].reset();
           location.reload();
           //$("#procesar").addClass("disabled");

            
            });
        
        return response

        

  })
  .catch(function (error) {
    console.error("Something went wrong!", error);
    newMensaje(error, "errors2", "danger", "divalertamodal");
    

   
            

        
     });


    }

    function serviciosReset(){
        $(".activos").removeClass('active');

        $("#id_co_servicios").closest('.form-group').removeClass('has-success');
        $("#id_co_servicios").closest('.form-check').removeClass('has-success');
        input_servicio_valido = false;

        $("#requisitos").css("display","none");
        $("#requ0").val("");
        $("#requisitos").closest('.form-group').removeClass('has-success');
        $("#requisitos").closest('.form-check').removeClass('has-success');
        input_requisito_valido = false;

        $(".activos").addClass('disabled');

        $("#id_nu_monto").attr('disabled');
        $("#id_nu_monto").val("");
        $("#id_nu_monto").closest('.form-group').removeClass('has-success');
        $("#id_nu_monto").closest('.form-check').removeClass('has-success');
        $("#id_nu_monto").closest('.form-group').removeClass('has-danger');
        $("#id_nu_monto").closest('.form-check').removeClass('has-danger');
        input_monto_valido = false;

        $("#id_tx_balance").closest('.form-group').removeClass('has-success');
        $("#id_tx_balance").closest('.form-check').removeClass('has-success');
        $("#id_tx_balance").closest('.form-group').removeClass('has-danger');
        $("#id_tx_balance").closest('.form-check').removeClass('has-danger');
        $("#id_tx_balance").val("");

        validarGeneral();

    }


});//FIN DE JQUERY
    </script>
    {% endblock %}