{% extends 'inicio/base.html' %}

{% block titulo %}
Procesando
{% endblock titulo %}
{% block estilo %}
<style>
</style>
{% endblock estilo %}
{% block content %}

<div class="row">
{% if msg != '' %}
{% if success is True %}
<div class="msg msg-success z-depth-3">{{msg}}</div>
{% else %}
<div class="msg msg-alert z-depth-3">{{msg}}</div>
{% endif %}

{% endif %}
</div>
<div  class="container" >

  <div class="row center">
   <form method="POST" action="{% url 'transfsuccess' %}">
        {% csrf_token %}
  <div class="card  grey darken-4">
         <div class="card-content amber-text text-accent-4">
           <span class="card-title center">Servicios</span>
           <div class="row">
          <p class="white-text">Su transacción ha sido realisada con exito</p>
          </div>
          <br>


        
        </div>
        <div class="card-action center ">
          <input type="submit" value="Continuar" class="btn waves-effect amber accent-4 black-text btn-block" name="continuar"/>
        </div>
      </div>
      </form>
  </div>   
</div>

{% endblock content %}
{% block script %}
<script>
  $(document).ready(function(){
    
    $("#check").click(function(){
    });

  });
 </script> 
 {% endblock %}