{% extends 'inicio/base2.html' %}

{% block title %}
Solicitudes de Agentes
{% endblock title %}

{% block content %}
<div  class="container" >
    <div class="col-md-12 mb-5">
      <div class="card ">
        <div class="card-header">
        <h2 class="card-title">Bandeja de Solicitudes de Nuevos Agentes</h2>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <div class="col-md-12">
                    <table class="table tablesorter table-hover" >
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Tipo de Solicitud</th>
                                <th>Fecha y Hora de Solicitud</th>
                                <th>Estatus</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody class="white-text">
                        {% for values in data %}
                            <tr>
                                <td>{{values.co_usuario.username}}</td>
                                <td>{{values.co_tipo_solicitud.tx_tipo_solicitud}}</td>
                                <td>{{values.created_at}}</td>
                                <td>{{values.co_estatus.tx_estatus}}</td>

                                <td>
                                    <a href="javascript:void(0)" class="btn btn-fill btn-primary container waves-effect text-dark validar" name="Tomar" data-toggle="modal" data-target="#modal1" id="{{values.co_solicitud}}">
                                    <i>Aprobar</i>
                                    </a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>


<!-----------------------modal----------------------------->

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
        <h2 class="modal-title" id="modal1Label">Solicitud</h2>
           <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
      </div>

    <form method="POST" action="{% url 'lista-solicitudes' %}">
        <div class="modal-body">
                    {% csrf_token %}
                    
                    <input id="codigo" name="codigo" type="hidden">
            <div class="card ">
                <div class="card-header">
                <h4 class="card-title">¿Desea Aprobar esta Solicitud?</h4>
                <h5 class="card-title">Datos basicos</h5>
                </div>

            <table class="table tablesorter table-hover">

                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Tipo de Soliditud</th>
                        <th>Estatus</th>
                    </tr>
                </thead>

                
                <tbody class="white-text">
         <tr>
            <td id="tdusername"> </td>
            <td></td>
            <td></td>

            </table>
            </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">No</button>
        
        <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="botonsi">Si</button>    
      </div>
    </form>
</div>
</div>
</div>


{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready(function(){
   

    $('#loader').hide();
    var valores = function(id){
    var cod=id;
    var codigo=parseInt(cod.charAt(cod.length-1));

    return codigo;
    }
    
    var advertencia1 = function(e){
        $("#codigo").val(valores(e.currentTarget.id));
        //alert($("#codigo").val());
        onclick();
    }

    
    $("#botonsi").click(function(){

    });
    var onclick = function(){
        var codigo=$("#codigo").val();
         $('#loader').show();

        var url =window.location.protocol + "//" + window.location.host + "";
        $('.validar').attr("disabled", false);
        $.ajax({
                url: url+'/agente/lista-solicitudes/',
                type: 'POST',
                 data: {
                     'co_solicitud':codigo
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {
                if(arg.success){
                  $.each(arg.data, function (key, value) {

                    $('#tdusername').html(val.co_usuario.username);

                  });
               
                   $("#botonsi").attr("disabled", false);
                }
                $('#loader').hide();

                
                },
                error: function (xhr, ajaxOptions, thrownError) {
                   $('#loader').hide();
                   $('.validar').attr("disabled", true);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })
    }

    $('.validar').on('click', advertencia1);
    
    });


</script>
{% endblock javascripts%}