
        .red-50{background-color:#ffebee;}
        .red-100{background-color: #ffcdd2;}
        .red-200{ 
            background-color: #ef9a9a;
        }
        .red-300{ 
            background-color: #e57373;
        }
        .red-400{ 
            background-color: #ef5350;
        }
        .red-500{ 
            background-color: #f44336;
        }
        .red-600{ 
            background-color: #e53935;
        }
        .red-700{ 
            background-color: #d32f2f;
        }
        .red-800{ 
            background-color: #c62828;
        }
        .red-900{ 
            background-color: #b71c1c;
        }
        .red-a100{ 
            background-color: #ff8a80;
        }
        .red-a200{ 
            background-color: #ff5252;
        }
        .red-a400{ 
            background-color: #ff1744;
        }
        .red-a700{ 
            background-color: #d50000;

        }
        
        .text-red-50{color:#ffebee;}
        .text-red-100{color: #ffcdd2;}
        .text-red-200{color: #ef9a9a;}
        .text-red-300{color: #e57373;}
        .text-red-400{color: #ef5350;}
        .text-red-500{color: #f44336;}
        .text-red-600{color: #e53935;}
        .text-red-700{color: #d32f2f;}
        .text-red-800{color: #c62828;}
        .text-red-900{color: #b71c1c;}
        .text-red-a100{color: #ff8a80;}
        .text-red-a200{color: #ff5252;}
        .text-red-a400{color: #ff1744;}
        .text-red-a700{color: #d50000;}

.pink-50{ background-color: #fce4ec;}
.pink-100{ background-color: #f8bbd0;}
.pink-200{ background-color: #f48fb1;}
.pink-300{ background-color: #f06292;}
.pink-400{ background-color: #ec407a;}
.pink-500{ background-color: #e91e63;}
.pink-600{ background-color: #d81b60;}
.pink-700{ background-color: #c2185b;}
.pink-800{ background-color: #ad1457;}
.pink-900{ background-color: #880e4f;}
.pink-a100{ background-color: #ff80ab;}
.pink-a200{ background-color: #ff4081;}
.pink-a400{ background-color: #f50057;}
.pink-a700{ background-color: #c51162;}
.purple-50{ background-color: #f3e5f5; }
.purple-100{ background-color: #e1bee7; }
.purple-200{ background-color: #ce93d8; }
.purple-300{ background-color: #ba68c8; }
.purple-400{ background-color: #ab47bc; }
.purple-500{ background-color: #9c27b0; }
.purple-600{ background-color: #8e24aa; }
.purple-700{ background-color: #7b1fa2; }
.purple-800{ background-color: #6a1b9a; }
.purple-900{ background-color: #4a148c; }
.purple-a100{ background-color: #ea80fc; }
.purple-a200{ background-color: #e040fb; }
.purple-a400{ background-color: #d500f9; }
.purple-a700{ background-color: #a0f; }
.deep-purple-50{ background-color:#ede7f6; }
.deep-purple-100{ background-color:#d1c4e9; }
.deep-purple-200{ background-color:#b39ddb; }
.deep-purple-300{ background-color:#9575cd; }
.deep-purple-400{ background-color:#7e57c2; }
.deep-purple-500{ background-color:#673ab7; }
.deep-purple-600{ background-color:#5e35b1; }
.deep-purple-700{ background-color:#512da8; }
.deep-purple-800{ background-color:#4527a0; }
.deep-purple-900{ background-color:#311b92; }
.deep-purple-a100{ background-color:#b388ff; }
.deep-purple-a200{ background-color:#7c4dff; }
.deep-purple-a400{ background-color:#651fff; }
.deep-purple-a700{ background-color:#6200ea; }
.indigo-50{background-color: #e8eaf6;}
.indigo-100{background-color: #c5cae9;}
.indigo-200{background-color: #9fa8da;}
.indigo-300{background-color: #7986cb;}
.indigo-400{background-color: #5c6bc0;}
.indigo-500{background-color: #3f51b5;}
.indigo-600{background-color: #3949ab;}
.indigo-700{background-color: #303f9f;}
.indigo-800{background-color: #283593;}
.indigo-900{background-color: #1a237e;}
.indigo-a100{background-color: #8c9eff;}
.indigo-a200{background-color: #536dfe;}
.indigo-a400{background-color: #3d5afe;}
.indigo-a700{background-color: #304ffe;}
.blue-50{background-color: #e3f2fd;}
.blue-100{background-color: #bbdefb;}
.blue-200{background-color: #90caf9;}
.blue-300{background-color: #64b5f6;}
.blue-400{background-color: #42a5f5;}
.blue-500{background-color: #2196f3;}
.blue-600{background-color: #1e88e5;}
.blue-700{background-color: #1976d2;}
.blue-800{background-color: #1565c0;}
.blue-900{background-color: #0d47a1;}
.blue-a100{background-color: #82b1ff;}
.blue-a200{background-color: #448aff;}
.blue-a400{background-color: #2979ff;}
.blue-a700{background-color: #2962ff;}
.light-blue-50{background-color: #e1f5fe;}
.light-blue-100{background-color: #b3e5fc;}
.light-blue-200{background-color: #81d4fa;}
.light-blue-300{background-color: #4fc3f7;}
.light-blue-400{background-color: #29b6f6;}
.light-blue-500{background-color: #03a9f4;}
.light-blue-600{background-color: #039be5;}
.light-blue-700{background-color: #0288d1;}
.light-blue-800{background-color: #0277bd;}
.light-blue-900{background-color: #01579b;}
.light-blue-a100{background-color: #80d8ff;}
.light-blue-a200{background-color: #40c4ff;}
.light-blue-a400{background-color: #00b0ff;}
.light-blue-a700{background-color: #0091ea;}
.cyan-50{background-color: #e0f7fa;}
.cyan-100{background-color: #b2ebf2;}
.cyan-200{background-color: #80deea;}
.cyan-300{background-color: #4dd0e1;}
.cyan-400{background-color: #26c6da;}
.cyan-500{background-color: #00bcd4;}
.cyan-600{background-color: #00acc1;}
.cyan-700{background-color: #0097a7;}
.cyan-800{background-color: #00838f;}
.cyan-900{background-color: #006064;}
.cyan-a100{background-color: #84ffff;}
.cyan-a200{background-color: #18ffff;}
.cyan-a400{background-color: #00e5ff;}
.cyan-a700{background-color: #00b8d4;}
.teal-50{background-color: #e0f2f1;}
.teal-100{background-color: #b2dfdb;}
.teal-200{background-color: #80cbc4;}
.teal-300{background-color: #4db6ac;}
.teal-400{background-color: #26a69a;}
.teal-500{background-color: #009688;}
.teal-600{background-color: #00897b;}
.teal-700{background-color: #00796b;}
.teal-800{background-color: #00695c;}
.teal-900{background-color: #004d40;}
.teal-a100{background-color: #a7ffeb;}
.teal-a200{background-color: #64ffda;}
.teal-a400{background-color: #1de9b6;}
.teal-a700{background-color: #00bfa5;}
.green-50{background-color: #e8f5e9;}
.green-100{background-color: #c8e6c9;}
.green-200{background-color: #a5d6a7;}
.green-300{background-color: #81c784;}
.green-400{background-color: #66bb6a;}
.green-500{background-color: #4caf50;}
.green-600{background-color: #43a047;}
.green-700{background-color: #388e3c;}
.green-800{background-color: #2e7d32;}
.green-900{background-color: #1b5e20;}
.green-a100{background-color: #b9f6ca;}
.green-a200{background-color: #69f0ae;}
.green-a400{background-color: #00e676;}
.green-a700{background-color: #00c853;}
.light-green-50{background-color: #f1f8e9;}
.light-green-100{background-color: #dcedc8;}
.light-green-200{background-color: #c5e1a5;}
.light-green-300{background-color: #aed581;}
.light-green-400{background-color: #9ccc65;}
.light-green-500{background-color: #8bc34a;}
.light-green-600{background-color: #7cb342;}
.light-green-700{background-color: #689f38;}
.light-green-800{background-color: #558b2f;}
.light-green-900{background-color: #33691e;}
.light-green-a100{background-color: #ccff90;}
.light-green-a200{background-color: #b2ff59;}
.light-green-a400{background-color: #76ff03;}
.light-green-a700{background-color: #64dd17;}
.lime-50{background-color: #f9fbe7;}
.lime-100{background-color: #f0f4c3;}
.lime-200{background-color: #e6ee9c;}
.lime-300{background-color: #dce775;}
.lime-400{background-color: #d4e157;}
.lime-500{background-color: #cddc39;}
.lime-600{background-color: #c0ca33;}
.lime-700{background-color: #afb42b;}
.lime-800{background-color: #9e9d24;}
.lime-900{background-color: #827717;}
.lime-a100{background-color: #f4ff81;}
.lime-a200{background-color: #eeff41;}
.lime-a400{background-color: #c6ff00;}
.lime-a700{background-color: #aeea00;}
.yellow-50{background-color: #fffde7;}
.yellow-100{background-color: #fff9c4;}
.yellow-200{background-color: #fff59d;}
.yellow-300{background-color: #fff176;}
.yellow-400{background-color: #ffee58;}
.yellow-500{background-color: #ffeb3b;}
.yellow-600{background-color: #fdd835;}
.yellow-700{background-color: #fbc02d;}
.yellow-800{background-color: #f9a825;}
.yellow-900{background-color: #f57f17;}
.yellow-a100{background-color: #ffff8d;}
.yellow-a200{background-color: #ff0;}
.yellow-a400{background-color: #ffea00;}
.yellow-a700{background-color: #ffd600;}
.amber-50{background-color: #fff8e1;}
.amber-100{background-color: #ffecb3;}
.amber-200{background-color: #ffe082;}
.amber-300{background-color: #ffd54f;}
.amber-400{background-color: #ffca28;}
.amber-500{background-color: #ffc107;}
.amber-600{background-color: #ffb300;}
.amber-700{background-color: #ffa000;}
.amber-800{background-color: #ff8f00;}
.amber-900{background-color: #ff6f00;}
.amber-a100{background-color: #ffe57f;}
.amber-a200{background-color: #ffd740;}
.amber-a400{background-color: #ffc400;}
.amber-a700{background-color: #ffab00;}
.orange-50{background-color: #fff3e0;}
.orange-100{background-color: #ffe0b2;}
.orange-200{background-color: #ffcc80;}
.orange-300{background-color: #ffb74d;}
.orange-400{background-color: #ffa726;}
.orange-500{background-color: #ff9800;}
.orange-600{background-color: #fb8c00;}
.orange-700{background-color: #f57c00;}
.orange-800{background-color: #ef6c00;}
.orange-900{background-color: #e65100;}
.orange-a100{background-color: #ffd180;}
.orange-a200{background-color: #ffab40;}
.orange-a400{background-color: #ff9100;}
.orange-a700{background-color: #ff6d00;}
.deep-orange-50{background-color: #fbe9e7;}
.deep-orange-100{background-color: #ffccbc;}
.deep-orange-200{background-color: #ffab91;}
.deep-orange-300{background-color: #ff8a65;}
.deep-orange-400{background-color: #ff7043;}
.deep-orange-500{background-color: #ff5722;}
.deep-orange-600{background-color: #f4511e;}
.deep-orange-700{background-color: #e64a19;}
.deep-orange-800{background-color: #d84315;}
.deep-orange-900{background-color: #bf360c;}
.deep-orange-a100{background-color: #ff9e80;}
.deep-orange-a200{background-color: #ff6e40;}
.deep-orange-a400{background-color: #ff3d00;}
.deep-orange-a700{background-color: #dd2c00;}
.brown-100{background-color: #d7ccc8;}
.brown-200{background-color: #bcaaa4;}
.brown-50{background-color: #efebe9;}
.brown-300{background-color: #a1887f;}
.brown-400{background-color: #8d6e63;}
.brown-500{background-color: #795548;}
.brown-600{background-color: #6d4c41;}
.brown-700{background-color: #5d4037;}
.brown-800{background-color: #4e342e;}
.brown-900{background-color: #3e2723;}
.brown-a100{background-color: #d7ccc8;}
.brown-a200{background-color: #bcaaa4;}
.brown-a400{background-color: #8d6e63;}
.brown-a700{background-color: #5d4037;}
.grey-50{background-color: #fafafa;}
.grey-100{background-color: #f5f5f5;}
.grey-200{background-color: #eee;}
.grey-300{background-color: #e0e0e0;}
.grey-400{background-color: #bdbdbd;}
.grey-500{background-color: #9e9e9e;}
.grey-600{background-color: #757575;}
.grey-700{background-color: #616161;}
.grey-800{background-color: #424242;}
.grey-900{background-color: #212121;}
.grey-a100{background-color: #f5f5f5;}
.grey-a200{background-color: #eee;}
.grey-a400{background-color: #bdbdbd;}
.grey-a700{background-color: #616161;}
.blue-grey-50{background-color: #eceff1;}
.blue-grey-100{background-color: #cfd8dc;}
.blue-grey-200{background-color: #b0bec5;}
.blue-grey-300{background-color: #90a4ae;}
.blue-grey-400{background-color: #78909c;}
.blue-grey-500{background-color: #607d8b;}
.blue-grey-600{background-color: #546e7a;}
.blue-grey-700{background-color: #455a64;}
.blue-grey-800{background-color: #37474f;}
.blue-grey-900{background-color: #263238;}
.blue-grey-a100{background-color: #cfd8dc;}
.blue-grey-a200{background-color: #b0bec5;}
.blue-grey-a400{background-color: #78909c;}
.blue-grey-a700{background-color: #455a64;}



.text-pink-50{ color: #fce4ec;}
.text-pink-100{ color: #f8bbd0;}
.text-pink-200{ color: #f48fb1;}
.text-pink-300{ color: #f06292;}
.text-pink-400{ color: #ec407a;}
.text-pink-500{ color: #e91e63;}
.text-pink-600{ color: #d81b60;}
.text-pink-700{ color: #c2185b;}
.text-pink-800{ color: #ad1457;}
.text-pink-900{ color: #880e4f;}
.text-pink-a100{ color: #ff80ab;}
.text-pink-a200{ color: #ff4081;}
.text-pink-a400{ color: #f50057;}
.text-pink-a700{ color: #c51162;}
.text-purple-50{ color: #f3e5f5; }
.text-purple-100{ color: #e1bee7; }
.text-purple-200{ color: #ce93d8; }
.text-purple-300{ color: #ba68c8; }
.text-purple-400{ color: #ab47bc; }
.text-purple-500{ color: #9c27b0; }
.text-purple-600{ color: #8e24aa; }
.text-purple-700{ color: #7b1fa2; }
.text-purple-800{ color: #6a1b9a; }
.text-purple-900{ color: #4a148c; }
.text-purple-a100{ color: #ea80fc; }
.text-purple-a200{ color: #e040fb; }
.text-purple-a400{ color: #d500f9; }
.text-purple-a700{ color: #a0f; }
.text-deep-purple-50{ color:#ede7f6; }
.text-deep-purple-100{ color:#d1c4e9; }
.text-deep-purple-200{ color:#b39ddb; }
.text-deep-purple-300{ color:#9575cd; }
.text-deep-purple-400{ color:#7e57c2; }
.text-deep-purple-500{ color:#673ab7; }
.text-deep-purple-600{ color:#5e35b1; }
.text-deep-purple-700{ color:#512da8; }
.text-deep-purple-800{ color:#4527a0; }
.text-deep-purple-900{ color:#311b92; }
.text-deep-purple-a100{ color:#b388ff; }
.text-deep-purple-a200{ color:#7c4dff; }
.text-deep-purple-a400{ color:#651fff; }
.text-deep-purple-a700{ color:#6200ea; }
.text-indigo-50{color: #e8eaf6;}
.text-indigo-100{color: #c5cae9;}
.text-indigo-200{color: #9fa8da;}
.text-indigo-300{color: #7986cb;}
.text-indigo-400{color: #5c6bc0;}
.text-indigo-500{color: #3f51b5;}
.text-indigo-600{color: #3949ab;}
.text-indigo-700{color: #303f9f;}
.text-indigo-800{color: #283593;}
.text-indigo-900{color: #1a237e;}
.text-indigo-a100{color: #8c9eff;}
.text-indigo-a200{color: #536dfe;}
.text-indigo-a400{color: #3d5afe;}
.text-indigo-a700{color: #304ffe;}
.text-blue-50{color: #e3f2fd;}
.text-blue-100{color: #bbdefb;}
.text-blue-200{color: #90caf9;}
.text-blue-300{color: #64b5f6;}
.text-blue-400{color: #42a5f5;}
.text-blue-500{color: #2196f3;}
.text-blue-600{color: #1e88e5;}
.text-blue-700{color: #1976d2;}
.text-blue-800{color: #1565c0;}
.text-blue-900{color: #0d47a1;}
.text-blue-a100{color: #82b1ff;}
.text-blue-a200{color: #448aff;}
.text-blue-a400{color: #2979ff;}
.text-blue-a700{color: #2962ff;}
.text-light-blue-50{color: #e1f5fe;}
.text-light-blue-100{color: #b3e5fc;}
.text-light-blue-200{color: #81d4fa;}
.text-light-blue-300{color: #4fc3f7;}
.text-light-blue-400{color: #29b6f6;}
.text-light-blue-500{color: #03a9f4;}
.text-light-blue-600{color: #039be5;}
.text-light-blue-700{color: #0288d1;}
.text-light-blue-800{color: #0277bd;}
.text-light-blue-900{color: #01579b;}
.text-light-blue-a100{color: #80d8ff;}
.text-light-blue-a200{color: #40c4ff;}
.text-light-blue-a400{color: #00b0ff;}
.text-light-blue-a700{color: #0091ea;}
.text-cyan-50{color: #e0f7fa;}
.text-cyan-100{color: #b2ebf2;}
.text-cyan-200{color: #80deea;}
.text-cyan-300{color: #4dd0e1;}
.text-cyan-400{color: #26c6da;}
.text-cyan-500{color: #00bcd4;}
.text-cyan-600{color: #00acc1;}
.text-cyan-700{color: #0097a7;}
.text-cyan-800{color: #00838f;}
.text-cyan-900{color: #006064;}
.text-cyan-a100{color: #84ffff;}
.text-cyan-a200{color: #18ffff;}
.text-cyan-a400{color: #00e5ff;}
.text-cyan-a700{color: #00b8d4;}
.text-teal-50{color: #e0f2f1;}
.text-teal-100{color: #b2dfdb;}
.text-teal-200{color: #80cbc4;}
.text-teal-300{color: #4db6ac;}
.text-teal-400{color: #26a69a;}
.text-teal-500{color: #009688;}
.text-teal-600{color: #00897b;}
.text-teal-700{color: #00796b;}
.text-teal-800{color: #00695c;}
.text-teal-900{color: #004d40;}
.text-teal-a100{color: #a7ffeb;}
.text-teal-a200{color: #64ffda;}
.text-teal-a400{color: #1de9b6;}
.text-teal-a700{color: #00bfa5;}
.text-green-50{color: #e8f5e9;}
.text-green-100{color: #c8e6c9;}
.text-green-200{color: #a5d6a7;}
.text-green-300{color: #81c784;}
.text-green-400{color: #66bb6a;}
.text-green-500{color: #4caf50;}
.text-green-600{color: #43a047;}
.text-green-700{color: #388e3c;}
.text-green-800{color: #2e7d32;}
.text-green-900{color: #1b5e20;}
.text-green-a100{color: #b9f6ca;}
.text-green-a200{color: #69f0ae;}
.text-green-a400{color: #00e676;}
.text-green-a700{color: #00c853;}
.text-light-green-50{color: #f1f8e9;}
.text-light-green-100{color: #dcedc8;}
.text-light-green-200{color: #c5e1a5;}
.text-light-green-300{color: #aed581;}
.text-light-green-400{color: #9ccc65;}
.text-light-green-500{color: #8bc34a;}
.text-light-green-600{color: #7cb342;}
.text-light-green-700{color: #689f38;}
.text-light-green-800{color: #558b2f;}
.text-light-green-900{color: #33691e;}
.text-light-green-a100{color: #ccff90;}
.text-light-green-a200{color: #b2ff59;}
.text-light-green-a400{color: #76ff03;}
.text-light-green-a700{color: #64dd17;}
.text-lime-50{color: #f9fbe7;}
.text-lime-100{color: #f0f4c3;}
.text-lime-200{color: #e6ee9c;}
.text-lime-300{color: #dce775;}
.text-lime-400{color: #d4e157;}
.text-lime-500{color: #cddc39;}
.text-lime-600{color: #c0ca33;}
.text-lime-700{color: #afb42b;}
.text-lime-800{color: #9e9d24;}
.text-lime-900{color: #827717;}
.text-lime-a100{color: #f4ff81;}
.text-lime-a200{color: #eeff41;}
.text-lime-a400{color: #c6ff00;}
.text-lime-a700{color: #aeea00;}
.text-yellow-50{color: #fffde7;}
.text-yellow-100{color: #fff9c4;}
.text-yellow-200{color: #fff59d;}
.text-yellow-300{color: #fff176;}
.text-yellow-400{color: #ffee58;}
.text-yellow-500{color: #ffeb3b;}
.text-yellow-600{color: #fdd835;}
.text-yellow-700{color: #fbc02d;}
.text-yellow-800{color: #f9a825;}
.text-yellow-900{color: #f57f17;}
.text-yellow-a100{color: #ffff8d;}
.text-yellow-a200{color: #ff0;}
.text-yellow-a400{color: #ffea00;}
.text-yellow-a700{color: #ffd600;}
.text-amber-50{color: #fff8e1;}
.text-amber-100{color: #ffecb3;}
.text-amber-200{color: #ffe082;}
.text-amber-300{color: #ffd54f;}
.text-amber-400{color: #ffca28;}
.text-amber-500{color: #ffc107;}
.text-amber-600{color: #ffb300;}
.text-amber-700{color: #ffa000;}
.text-amber-800{color: #ff8f00;}
.text-amber-900{color: #ff6f00;}
.text-amber-a100{color: #ffe57f;}
.text-amber-a200{color: #ffd740;}
.text-amber-a400{color: #ffc400;}
.text-amber-a700{color: #ffab00;}
.text-orange-50{color: #fff3e0;}
.text-orange-100{color: #ffe0b2;}
.text-orange-200{color: #ffcc80;}
.text-orange-300{color: #ffb74d;}
.text-orange-400{color: #ffa726;}
.text-orange-500{color: #ff9800;}
.text-orange-600{color: #fb8c00;}
.text-orange-700{color: #f57c00;}
.text-orange-800{color: #ef6c00;}
.text-orange-900{color: #e65100;}
.text-orange-a100{color: #ffd180;}
.text-orange-a200{color: #ffab40;}
.text-orange-a400{color: #ff9100;}
.text-orange-a700{color: #ff6d00;}
.text-deep-orange-50{color: #fbe9e7;}
.text-deep-orange-100{color: #ffccbc;}
.text-deep-orange-200{color: #ffab91;}
.text-deep-orange-300{color: #ff8a65;}
.text-deep-orange-400{color: #ff7043;}
.text-deep-orange-500{color: #ff5722;}
.text-deep-orange-600{color: #f4511e;}
.text-deep-orange-700{color: #e64a19;}
.text-deep-orange-800{color: #d84315;}
.text-deep-orange-900{color: #bf360c;}
.text-deep-orange-a100{color: #ff9e80;}
.text-deep-orange-a200{color: #ff6e40;}
.text-deep-orange-a400{color: #ff3d00;}
.text-deep-orange-a700{color: #dd2c00;}
.text-brown-100{color: #d7ccc8;}
.text-brown-200{color: #bcaaa4;}
.text-brown-50{color: #efebe9;}
.text-brown-300{color: #a1887f;}
.text-brown-400{color: #8d6e63;}
.text-brown-500{color: #795548;}
.text-brown-600{color: #6d4c41;}
.text-brown-700{color: #5d4037;}
.text-brown-800{color: #4e342e;}
.text-brown-900{color: #3e2723;}
.text-brown-a100{color: #d7ccc8;}
.text-brown-a200{color: #bcaaa4;}
.text-brown-a400{color: #8d6e63;}
.text-brown-a700{color: #5d4037;}
.text-grey-50{color: #fafafa;}
.text-grey-100{color: #f5f5f5;}
.text-grey-200{color: #eee;}
.text-grey-300{color: #e0e0e0;}
.text-grey-400{color: #bdbdbd;}
.text-grey-500{color: #9e9e9e;}
.text-grey-600{color: #757575;}
.text-grey-700{color: #616161;}
.text-grey-800{color: #424242;}
.text-grey-900{color: #212121;}
.text-grey-a100{color: #f5f5f5;}
.text-grey-a200{color: #eee;}
.text-grey-a400{color: #bdbdbd;}
.text-grey-a700{color: #616161;}
.text-blue-grey-50{color: #eceff1;}
.text-blue-grey-100{color: #cfd8dc;}
.text-blue-grey-200{color: #b0bec5;}
.text-blue-grey-300{color: #90a4ae;}
.text-blue-grey-400{color: #78909c;}
.text-blue-grey-500{color: #607d8b;}
.text-blue-grey-600{color: #546e7a;}
.text-blue-grey-700{color: #455a64;}
.text-blue-grey-800{color: #37474f;}
.text-blue-grey-900{color: #263238;}
.text-blue-grey-a100{color: #cfd8dc;}
.text-blue-grey-a200{color: #b0bec5;}
.text-blue-grey-a400{color: #78909c;}
.text-blue-grey-a700{color: #455a64;}
