{% extends 'inicio/base2.html' %}

{% block title %}
Bandeja Retiros
{% endblock title %}

{% block content %}


<div  class="row" >
<div class="col-md-12 mb-5">
  <div class="card text-center">
  <div class="card-header">
  <h2 class="card-title">Bandeja Retiros</h2>
  </div>
              <table id="datatable" class="table">
                <thead>
                  <tr>
                    <th>Transaccion</th>
                    <th>Moneda</th>
                    <th>Monto</th>
                    <th>Comision</th>
                    <th>Monto Comisión</th>
                    <th>Usuario</th>
                    <th>Estatus</th>
                    <th class="sorting_desc_disabled sorting_asc_disabled text-right">Acción</th>
                  </tr>
                </thead>
                 <tbody>
                 {% for values in data %}
                  <tr>
                    <td>{{values.co_transaccion}}</td>
                    <td>{{values.co_transaccion.co_moneda.tx_simbolo}}</td>

                    <td>{{values.co_transaccion.nu_monto|floatformat:2}}</td>
                    <td>{% widthratio values.co_transaccion.co_comision.nu_monto 1 100%}%</td>
                    <td>{{values.get_retiros_transaccion.co_transaccion.get_comision.nu_monto|floatformat:2}} {% widthratio values.get_hist_transaccion.co_transaccion.co_comision.nu_monto 1 100%}</td>
                    <td>{{values.co_transaccion.co_emisor.username}}</td>
                    <td>{{values.co_estatus.tx_estatus}}</td>
                    <td class="text-right">
                      <a href="javascript:void(0)" class="btn btn-link btn-primary btn-icon btn-sm edit validar" data-toggle="modal" data-target="#exampleModal" id="{{values.co_retiro}}"><i class="tim-icons icon-pencil"></i></a>
                     </td>
                  </tr>

                 {% endfor %}
                 
                  </tbody>
                </table>
          
                </div>
                </div>
                </div>
                </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
        <div class="row">
        <div class="col-md-12"><h2 class="modal-title" id="exampleModalLabel">Aprobar Retiro</h2></div>
        <div class="col-md-12"><h4 class="pl-2" id="subtitutlo">Sub Title</h4></div>
        </div>



           <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
           
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
      </div>
      
      <form method="POST" action="{% url 'bandeja-retiros' %}">
      <div class="modal-body">
             {% csrf_token %}
             
            

            <input id="codigo" name="codigo" type="hidden">

                      <table class="table table-borderless text-white ">
            <thead>
              <tr>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Nombre</th>
                <td id="tx_nombre"></td>
                <th scope="row">Cedula/Rif</th>
                <td id="nu_documento"></td>
                
                
              </tr>
            
              <tr>
                <th scope="row">Moneda</th>
                <td id="moneda"></td>
                 <th scope="row">Banco</th>
                <td id="tx_banco"></td>
              </tr>
              <tr>
                <th scope="row">Cuenta</th>
                <td id="tx_cuenta"></td>
                <th scope="row">Monto</th>
                <td id="nu_monto"></td>
              </tr>
              
              <tr>
                <th scope="row">Hash/Referencia</th>
                <td>{{form.hash_referencia}}</td>
              </tr>
            </tbody>
          </table>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>
        
        <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="btn">Buscar</button>    
      </div>
        </form>
    </div>
  </div>
</div>
<input id="token" name="token" type="hidden" value={{ token }}>
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){

$("#loader").hide();
$("#subtitutlo").hide();
    var valores = function(id){
    var cod=id;
    var codigo=parseInt(cod.charAt(cod.length-1));

    return cod; 
    }
    
    var advertencia1 = function(e){
      
        
        $("#id_co_instituto").attr('required',true);
        $("#id_co_rol").attr('required',true);
        $("#codigo").val(valores(e.currentTarget.id));   
        $("#exampleModalLabel").text("Datos de la Solicitud");
        $("#btn").text('Procesar');
        $("#btn").val(3);
        
        $("#id_username").hide();
        
        
        $("#tx_nombre").hide();
        $("#tx_nombre").show();
        
          
        onclick();

    }
    var openmodal=function(e){
        $("#codigo").val('');
        
        var val=valores(e.currentTarget.id);
        if(val==1){
        
        $("#id_co_instituto").attr('required',false);
        $("#id_co_rol").attr('required',false);
        $("#subtitutlo").hide();

        $("#id_username").show();
        
        $("#lavelusername").show();
        $("#exampleModalLabel").text("Busqueda");
        $("#btn").text('Buscar');
        $("#btn").val(1);
        
          
        }
        
    }

    var onclick = function(){
        var codigo=$("#codigo").val();

                $('#loader').show();
                $('.validar').attr("disabled", true);
                
                $('#btn').attr("disabled", true);
        var url =window.location.protocol + "//" + window.location.host + "";
               
        $.ajax({
                url: url+'/api/retiroAprobar/',
                type: 'POST',
                data: {
                     'co_retiro':codigo,
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {

                  $('#loader').hide();
                  
                   $('.validar').attr("disabled", false);
                   
                $('#btn').attr("disabled", false);

                if(arg.success){

                  
                  $.each(arg.data, function(k, v) {
                   
                   
                  $("#tx_nombre").text(v.tx_nombre);
                  $("#nu_documento").text(v.co_tipo_documento+" - "+v.nu_documento);
                  $("#moneda").text(v.tx_simbolo);
                  $("#tx_banco").text(v.tx_banco);
                  $("#tx_cuenta").text(v.tx_cuenta);
                  $("#nu_monto").text(v.nu_monto);

                  
                /*$("#subtitutlo").show();
                  $("#id_co_rol option[value='"+v.co_rol+"']").attr("selected",true);
                  $("#id_co_rol option[value='"+v.co_rol+"']").attr("selected",true);
                  $("#id_co_instituto option[value='"+v.co_instituto+"']").attr("selected",true);*/
                   if(v.is_active){
                     
                    $("#estatus").bootstrapSwitch('state', true);
                    
                   }else{
                     
                    $("#estatus").bootstrapSwitch('state', false);
                   }
                   
                  })


                }
                
                },
                error: function (xhr, ajaxOptions, thrownError) {

                  $('#loader').hide();
                  $('.validar').attr("disabled", false);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })
    }

    $('.validar').on('click', advertencia1);

     $('.wasa').on('click', openmodal);

});

</script> 


{% endblock javascripts %}