{% extends 'inicio/base.html' %}

{% block titulo %}
Retiro de Fondos
{% endblock titulo %}

{% block content %}
<div class="row">
{% if msg != '' %}
{% if success is True %}
<div class="msg msg-success z-depth-3">{{msg}}</div>
{% else %}
<div class="msg msg-alert z-depth-3">{{msg}}</div>
{% endif %}

{% endif %}
</div>

{% include 'partials/submenu/barrasolicitudes.html' %}
<div  class="container" >

  <div class="row center">
   <form method="POST" action="{% url 'recargaBSS' %}">
        {% csrf_token %}
  <div class="card  grey darken-4">
         <div class="card-content amber-text text-accent-4">
           <span class="card-title center">Retiro de Fondos</span>
           <div class="row">
               <div class="input-field col s12 ">
                   {{ form.co_moneda}}
                   <label for="co_moneda">Moneda</label>
                   {% if form.errors.co_moneda %}<span class="help-block white-text">{{ form.errors.co_moneda }}</span>{% endif %}
               </div>
               <div class="input-field col s12 ">
                   <select name="co_banco" class="validate white-text" id="id_co_banco">
                       <option value="" selected class="validate white-text">Seleccione...</option>
                   </select>
                   <label for="co_banco">Banco</label>
                   {% if form.errors.co_banco %}<span class="help-block white-text">{{ form.errors.co_banco }}</span>{% endif %}


               </div>
               <div class="input-field col s12 ">
                   <select name="co_cuenta" class="validate white-text" id="id_co_cuenta">
                       <option value="" selected class="validate white-text">Seleccione...</option>
                   </select>
                   <label for="co_cuenta">Cuenta</label>
                   {% if form.errors.co_cuenta %}<span class="help-block white-text">{{ form.errors.co_cuenta }}</span>{% endif %}


               </div>
               
               
               <div class="input-field col s12 ">
                   {{ form.nu_monto}}
                   <label for="nu_monto">Monto</label>
                   {% if form.errors.nu_monto %}<span class="help-block white-text">{{ form.errors.nu_monto }}</span>{% endif %}

               </div>
               
           </div>
          
        </div>
        <div class="card-action center ">
          <input type="submit" value="Procesar" class="btn waves-effect amber accent-4 black-text btn-block" name="procesar"/>
        </div>
      </div>
      </form>
  </div>   
</div>
{% endblock %}
{% block script %}
<script>
  $(document).ready(function(){
    $('select').formSelect();

     $("#id_co_banco").on('change', function () {
         $("#id_co_banco option:selected").each(function () {

             var co_banco = $(this).val();
            $.ajax({
                url: 'http://localhost:8000/api/bancoretiro/',
                type: 'POST',
                 data: {
                     'co_banco': co_banco 
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {

                $("#id_co_banco").html('<option value=>Seleccione...</option>');
                 if(arg.success){
                  $.each(arg.data, function(k, v) {
                      $("#id_co_banco").append('<option value=' + v.co_banco + '>' + v.co_banco+'</option>');

                    });
                  }
                    $("#id_co_banco").formSelect();

                }
            })

        });
   });

  });
</script>
<script>
  $(document).ready(function(){
    $('select').formSelect();

     $("#id_co_banco").on('change', function () {
        $("#id_co_banco option:selected").each(function () {

            var co_banco = $(this).val();
            $.ajax({
                url: 'http://localhost:8000/api/cuenta/',
                type: 'POST',
                 data: {
                'co_banco': co_banco
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {
                  
                    $("#id_co_cuenta").html('<option value=>Seleccione...</option>');
                    $("#id_cedul").html('<option value=>Seleccione...</option>');
                    $("#id_nombre").html('<option value=>Seleccione...</option>');
                 if(arg.success){
                  $.each(arg.data, function(k, v) {
                   $("#id_co_cuenta").append('<option value='+v.co_cuenta+'>'+v.tx_cuenta+'</option>');
                      $("#id_cedul").append('<option value=' + v.cedul + '>' + v.cedul + '</option>');
                      $("#id_nombre").append('<option value=' + v.nombre + '>' + v.nombre + '</option>');

                    });
                  }
                    $("#id_co_cuenta").formSelect();
                    $("#id_cedul").formSelect();
                    $("#id_nombre").formSelect();


                          
                }
            })
            	
        });
   });

  });
</script>
{% endblock script %}