{% extends 'inicio/base2.html' %}

{% block title %}
Retirar Fondos
{% endblock title %}

{% block content %}
<div class="row">

{% if msg != '' %}
{% if success is True %}   

{% include 'includes/msj-success.html' %}
{% else %}
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>
<div class="container">
  <div class="row ">
    <div class="col-md-12 mb-5">
      <div class="card ">   
        <div class="card-header">
          <h1 class="card-title">Retirar Fondos</h1>  
        </div> 
        <div class="card-body">
          <form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=co_tipo_solicitud%}">{% csrf_token %}
            <div class="row">

              <div class="form-group col-md-2 col-lg-2">
                <!--<label class="bmd-label-floating text-white" for="co_moneda">Moneda</label>-->
                <p>Moneda</p>
                {{ form.co_moneda}}
                {% if form.errors.co_moneda %}<span class="help-block white-text">{{ form.errors.co_moneda }}</span>{% endif %}
              </div>
            
              <div class="form-group col-md-5 col-lg-5">
                <!--<label class="bmd-label-floating text-white" for="tx_balance">Balance disponible</label>-->
                <p>Balance disponible</p>
                {{ form.tx_balance}}
                {% if form.errors.tx_balance %}<span class="help-block white-text">{{ form.errors.tx_balance }}</span>{% endif %}
              </div>
           
              <div class="form-group col-md-5 col-lg-5">
                <!--<label class="bmd-label-floating text-white" for="co_banco">Banco</label>-->
                <p>Banco</p>
                {{form.co_banco}}
                {% if form.errors.co_banco %}<span class="help-block white-text">{{ form.errors.co_banco }}</span>{% endif %}
              </div>

            </div>

            <div class="row">

              <div class="form-group col-md-6 col-lg-6">
                <!--<label class="bmd-label-floating text-white" for="co_cuenta">Cuenta</label>-->
                <p>Cuenta</p>
                {{form.co_cuenta}}
                {% if form.errors.co_cuenta %}<span class="help-block white-text">{{ form.errors.co_cuenta }}</span>{% endif %}
              </div>
              
            </div>
            
            <div class="row">
              <div class="form-group col-md-12 col-lg-6 ">
                <!--<label class="bmd-label-floating text-white" for="nu_monto">Monto</label>-->
                <p>Monto</p>
                {{ form.nu_monto}}
                {% if form.errors.nu_monto %}<span class="help-block white-text">{{ form.errors.nu_monto }}</span>{% endif %}
              </div>
            </div>
             
            {{form.nu_balance}}
            <li class="dropdown-divider"></li>
            <div class="card-footer text-center">
              <input type="submit" value="Procesar" class="btn btn-fill btn-primary container waves-effect text-dark" name="procesar"/>
            </div>
          </form>
        </div>
      </div>   
    </div>
  </div>
</div>
<input id="token" name="token" type="hidden" value={{ token }}>
{% endblock %}
{% block javascripts %}
 <script>
  $(document).ready(function(){
    
     $("#id_co_moneda").on('change', function () {
        $("#id_co_moneda option:selected").each(function () {

            var url =window.location.protocol + "//" + window.location.host + "";
            var co_moneda = $(this).val();
            $.ajax({
                url: url+'/api/banco-moneda/',
                type: 'POST',
                 data: {
                'co_moneda': co_moneda
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                
                success: function (arg) {
                  
                    $("#id_co_banco").html('<option value=>Seleccione...</option>');
                    
                 if(arg.success){
                  $.each(arg.data, function(k, v) {
                   $("#id_co_banco").append('<option value='+v.co_banco_moneda+'>'+v.tx_banco+'</option>');
                      
                    });
                  }
                    
                }
            })

           $.ajax({
                url: url+'/api/balancetoken/',
                type: 'POST',
                 data: {
                'co_moneda': co_moneda
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {
                  
                 if(arg.success){
                  $.each(arg.data, function(k, v) {
                     $("#id_tx_balance").removeAttr("disabled");
                   $("#id_tx_balance").val(arg.data.balance);
                    $("#id_tx_balance").focus();
                   $("#id_tx_balance").prop("disabled", true);
                    $("#id_nu_balance").val(arg.data.balance);

                    });
                  }
                
                }
            })
            	
        });
   });

     $("#id_co_banco").on('change', function () {
        $("#id_co_banco option:selected").each(function () {

            var url =window.location.protocol + "//" + window.location.host + "";
            var co_banco_moneda = $(this).val();
            $.ajax({
                url: url+'/api/cuentaretiro/',
                type: 'POST',
                 data: {
                'co_banco_moneda': co_banco_moneda
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                
                success: function (arg) {
                  
                    $("#id_co_cuenta").html('<option value=>Seleccione...</option>');
                    
                 if(arg.success){
                  $.each(arg.data, function(k, v) {
                   $("#id_co_cuenta").append('<option value='+v.co_cuenta+'>'+v.tx_cuenta+'</option>');
                      
                    });
                  }
                    
                }
            })
            	
        });
   });

  });
</script>
{% endblock javascripts %}