{% extends 'inicio/base2.html' %} {% load static %} {% block title %} Retiro {% endblock title %} {% block content %}
<style>
    .titulos-tb {
        color: #f9a825
    }
</style>
<div class="row">
    {% if msg != '' %} {% if success == 1%} {% include 'includes/msj-success.html' %} {% else%} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}
</div>
<div id="alercontainer"></div>

<div class="row">
    <div class="card ">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h1 class="card-title">Retiro</h1>
                <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
            </div>
        </div>

        <div class="card-body">
            <form id="formretiro">
                <div class="col-md-12">
                    <h4 class="text-primary">Seleccione la moneda que desea retirar</h4>
                    <div class="row d-flex align-items-center">
                        <div class="col-12 col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                {{ form.co_moneda}} {% if form.errors.co_moneda %}<span class="help-block text-red">{{ form.errors.co_moneda }}</span>{% endif %}
                            </div>
                        </div>
                        <!--<div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating text-white" for="protocolo">Protocolo</label>
                                <select name="protocolo" id="id_protocolo" class='form-control'>
                                    <option value="">Seleccione...</option>
                                </select>
                            </div>
                        </div>-->
                        <div class="col-12 col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <a href='javascript:void(0)' class="btn btn-fill btn-primary container waves-effect text-dark" name="buscar" id="btnbuscar" disabled>Continuar</a>
                            </div>
                        </div>
                        <div class="col-md-12" id="div_input_cuenta">
                            <div class="form-group">
                                <label class="bmd-label-floating text-white" for="tx_cuenta" id="label_cuenta">Cuenta </label> {{ form.tx_cuenta}}
                            </div>
                        </div>
                    </div>
                    <li class="dropdown-divider"></li>
                    <div id="divXLM"></div>
                    <div id="divVarios">
                        <div class="container">
                            <!--<div class="col-md-12">
                                <p id="instrucciones"><b class="titulos-tb">Instrucciones:</b> Transfiere a la billetera que se mostrara a continuación con la cantidad de que desea retirar</p>
                            </div>-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td><p class="title"><b class="titulos-tb">Retiro automático (SEP-06)</b> </p></td>
                                                    <td><p class="title"> Datos y requisitos del retiro </p></td>
                                                </tr>
                                                <tr id="trminimo">
                                                    <td><p class="title"><b class="titulos-tb">Mínimo:</b></p></td>
                                                    <td><p class="title" id="minimotx"></p></td>
                                                </tr>
                                                <tr id="trcomision">
                                                    <td><p class="title"><b class="titulos-tb">Comisión fija:</b></p></td>
                                                    <td><p class="title" id="comisiontx"></p></td>
                                                </tr>
                                                <tr id="trcomision2">
                                                    <td><p class="title"><b class="titulos-tb">Comisión porcentual:</b></p></td>
                                                    <td><p class="title" id="comisiontx2"></p></td>
                                                </tr>
                                                {% comment %}
                                                <tr id="trtpmemo">
                                                    <td><p class="title"><b class="titulos-tb">Tipo de Memo:</b> </p></td>
                                                    <td><p class="title" id="tpmemotx"> </p></td>
                                                </tr>
                                                <tr id="trmemo">
                                                    <td><p class="title"><b class="titulos-tb">Memo a ingresar:</b> </p></td>
                                                    <td><p class="title" id="memotx"> </p></td>
                                                </tr> {% endcomment %}
                                                <tr>
                                                    <td><p class="title"><b class="titulos-tb">Emisor:</b> </p></td>
                                                    <td><p class="title" id="emisortx"> </p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating text-white" for="id_nu_monto">Monto a retirar</label> {{ form.nu_monto}}<span class='help-block text-danger' id='errme'></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating text-white" for="id_nu_comision">Comisión (XLM)</label> {{ form.nu_comision}}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating text-white" for="id_nu_total">Total a recibir</label> {{ form.nu_total}}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <a href='javascript:void(0)' class="btn btn-fill btn-primary container waves-effect text-dark" name="procesar" id="btnprocesar">Procesar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divextra">
                        <div class="container">
                            <div class="row">
                                <p class="text-white">Siga el proceso de retiro en la pagina del emisor de la moneda <span id="txcode" class="text-primary"></span></p>
                            </div>
                            <br>
                            <div class="row">
                                <a id="linkasset" target="_blanck" class="text-primary"></a>
                            </div>
                        </div>
                    </div>
                    <div id="div404"></div>
                    <div id="divsep07">
                        <div class="row">
                            <p class="text-white">
                            Al hacer al hacer clic en la opción continuar, su navegador mostrará un mensaje, permita la opción y siga el proceso.
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="alercontainer2"></div>
<input id="llavePublica" name="llavePublica" type="hidden" value="{{ publico }}">{% endblock content %} {% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/8.2.4/stellar-sdk.js"></script>
<script>
    $(document).ready(function() {
        const server = new StellarSdk.Server('https://horizon.stellar.org');
        const publico = $("#llavePublica").val()
        var cuenta = false;
        var toml = false;
        var asset = false;
        var asset_simple = false;
        var tomlurl = false;
        var responsesep06 = false;
        var asseturl = false;
        var toml_org = false;
        var protocolos = [];
        var protocolo_select = false;
        var fee = false;
        var in_sep07=false;
        //setTimeout('document.location.reload()',10000);

        setFormValidation('#formretiro');
        $("#div_input_cuenta").hide();
        $("#divextra").hide();
        $("#divsep07").hide();
        var monto_minimo = 0;
        var monto_comision = 0;
        var monto_comision2 = 0;
        var monto_minimo_total = 0;
        var monto_balance = 0;
        var misactivos = "{{ misactivosjson | escapejs }}";
        var msjstellar = "{{msjstellarjson | escapejs }}";
        msjstellar = JSON.parse(msjstellar);
        misactivos = JSON.parse(misactivos);

        $("#loader").hide();
        var todohide = function() {
            $("#divXLM").hide();
            $("#div404").hide();
            $("#divVarios").hide();

        }


        todohide();

        //--------------------SECCION DE FUNCIONES ASINCRONAS---------------

        //---------obtener cuenta de stellar
        /**
         *@param{string} public
         *@returns {Promise}
         */
        async function getCuenta(public) {
            $('#loader').show();
            try {
                let response = await server.loadAccount(public);

                $('#loader').hide();
                return response;


            } catch (error) {
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "div404");
                } else {
                    console.log(error);
                    newMensaje(error_default, "errors2", "danger", "div404");
                }
                $('#loader').hide();

                return false;
            }

        }

        //---------obtener activo/asset de stellar
        /**
         *@param{string} code
         *@param{string} issuer
         *@returns {Promise}
         */
        async function getActivo(code, issuer) {
            $('#loader').show();
            try {

                let asset = server.assets();
                let callasset = await asset.forCode(code).forIssuer(issuer).call();
                $('#loader').hide();
                return callasset



            } catch (error) {
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "div404");
                } else {
                    console.log(error);
                    newMensaje(error_default, "errors2", "danger", "div404");
                }
                $('#loader').hide();

                return false;
            }
        }

        //---------obtener el toml de stellar
        /**
         *@param{string} tomlurl
         *@returns {Promise}
         */
        async function getToml(tomlurl) {
            $('#loader').show();

            try {

                toml = await new StellarSdk.StellarTomlResolver.resolve(tomlurl);
                $('#loader').hide();
                
                return toml;

            } catch (error) {

                try {
                    toml = await new StellarSdk.StellarTomlResolver.resolve(tomlurl, {
                        allowHttp: true
                    });
                    $('#loader').hide();
                    return toml;

                } catch (error) {
                    
                    $("#div404").show();
                    if (error.response) {
                        printMsjStellar(error.response, msjstellar, "danger", "div404");
                        
                    console.log('unio');
                    } else {
                        newMensaje("Esta moneda no tiene habilitada esta opción, lo invitamos a intercambiarla por otras monedas en el mercado.", "errors2", "danger", "div404");
                         console.log('dos');
                    }
                    console.log('aqui');


                    $('#loader').hide();
                    return false;
                }


            }
        }
        //------------------OBTENER SEP6
        /**
         *@returns {Promise}
         */
        async function getSep06(linkdeposit) {
            $('#loader').show();

            try {
                let tipoanchor = "";
                $.each(toml.CURRENCIES, function(key, v) {
                    if (v.code == asset.records[0].asset_code && v.issuer == asset.records[0].asset_issuer) {
                        tipoanchor = v.anchor_asset_type;
                    }

                });

                let response = $.ajax({
                    url: toml.TRANSFER_SERVER + linkdeposit,
                    type: 'GET',
                    data: {
                        'asset_code': asset.records[0].asset_code,
                        'account': publico,
                        'dest': $("#id_tx_cuenta").val(),
                        'type': tipoanchor
                    }

                });

                $('#loader').hide();
                return response;

            } catch (error) {
                
                $("#div404").show();
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "div404");
                } else {
                    newMensaje("Esta moneda no tiene habilitada esta opción, lo invitamos a intercambiarla por otras monedas en el mercado.", "errors2", "danger", "div404");
                }
                $('#loader').hide();

                return false;

            }
        }
        //------------------OBTENER SEP24
        /**
         *@returns {Promise}
         */
        async function getSep024() {
            $('#loader').show();
            try {
                let response = await $.ajax({
                    url: toml.TRANSFER_SERVER_SEP0024 + "/info",
                    type: 'GET'
                });

                $('#loader').hide();

                return response;


            } catch (error) {
                console.log(error);
                $("#div404").show();
                newMensaje(error_default, "errors2", "danger", "div404");
                $('#loader').hide();
                return false;
            }


        }
        //------------------OBTENER PUNTO FINAL DE AUTENTICACION
        /**
         *@returns {Promise}
         */
        async function getAuthEndPoint() {
            $('#loader').show();
            try {
                let response = await $.ajax({
                    url: toml.WEB_AUTH_ENDPOINT,
                    data: {
                        account: publico,
                    },
                    type: 'GET',
                });

                $('#loader').hide();

                return response;


            } catch (error) {
                console.log(error);
                $("#div404").show();
                newMensaje(error_default, "errors2", "danger", "div404");
                $('#loader').hide();
                return false;
            }


        }
        //------------------ENVIAR TRANSACCION AL PUNTO FINAL DE AUTENTICACION 
        /**
         *@returns {Promise}
         */
        async function getAuthEndPointPost(transaccion) {
            $('#loader').show();

            try {
                let response = await $.ajax({
                    url: toml.WEB_AUTH_ENDPOINT,
                    data: JSON.stringify({
                        transaction: transaccion,
                    }),
                    type: 'POST',
                    headers: {
                        "Content-Type": 'application/json'
                    },
                });

                $('#loader').hide();

                return response;


            } catch (error) {
                
                $("#div404").show();
                newMensaje(error.responseText, "errors2", "danger", "div404");
                $('#loader').hide();
                return false;
            }


        }
        //------------------CHEQUEAR LA TRANSACCIÓN
        /**
         *@returns {Promise}
         */

        async function checkTransaccion(token) {
            $('#loader').show();
            try {
                let response = await $.ajax({
                    url: toml.TRANSFER_SERVER_SEP0024 + "/transactions/withdraw/interactive",
                    data: {

                        'asset_code': asset.records[0].asset_code,
                        'account': publico,
                        'lang': "en"
                    },
                    type: 'POST',
                    headers: {
                        "Authorization": 'Bearer ' + token
                    },
                });

                $('#loader').hide();

                return response;


            } catch (error) {
                console.log(error);
                $("#div404").show();
                newMensaje(error_default, "errors2", "danger", "div404");
                $('#loader').hide();
                return false;
            }


        }

        async function getTransactionEnvelope(XDR) {
            $('#loader').show();

            try {
                let transaccion = new StellarSdk.TransactionBuilder.fromXDR(XDR, StellarSdk.Networks.PUBLIC)
                let keypair = StellarSdk.Keypair.fromSecret(sessionStorage.getItem('merma'));
                //let keypair = StellarSdk.Keypair.fromSecret("SAUYIZCEUQIFB2SBRWRRSXIRREMJF6KNXCWIKOIBIS25WFQE6PQUH7RQ");

                transaccion.sign(keypair);




                $('#loader').hide();
                return transaccion.toXDR();

            } catch (error) {
                console.log(error);
                $("#div404").show();
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "div404");
                } else {
                    newMensaje(error_default, "errors2", "danger", "div404");
                }
                $('#loader').hide();

                return false;

            }



        }

        async function transaccionSep06() {
            try {

                switch (responsesep06.memo_type) {
                    case "text":
                        var memo = StellarSdk.Memo.text(responsesep06.memo);
                        break;
                    case "id":
                        var memo = StellarSdk.Memo.id(responsesep06.memo);
                        break;
                    case "hash":
                        var memo = StellarSdk.Memo.hash(responsesep06.memo);
                        break;
                    case "return":
                        var memo = StellarSdk.Memo.return(responsesep06.memo);
                        break;

                    default:
                        var memo = StellarSdk.Memo.text(responsesep06.memo);
                }

                let transaction = new StellarSdk.TransactionBuilder(cuenta, {
                        "fee": fee,
                        "networkPassphrase": StellarSdk.Networks.PUBLIC
                    })
                    .addOperation(
                        StellarSdk.Operation.payment({
                            destination: responsesep06.account_id,
                            asset: asset,
                            amount: $("#id_nu_monto").val(),
                        })
                    )
                    .addMemo(memo)
                    .setTimeout(30)
                    .build();
                let keypair = StellarSdk.Keypair.fromSecret(sessionStorage.getItem('merma'));
                transaction.sign(keypair);

                let transresultado = await server.submitTransaction(transaction);

                newMensaje("La transferencia ha sido realizada sactifactoriamente, por favor espere los resultados.", 'alerta', 'success', "alercontainer");
                $('#loader').hide();
                return transresultado;




            } catch (error) {
                //console.log(error);
                newMensaje("Ha ocurrido un error", "errors", "danger", "alertdiv");
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "alertdiv");
                } else {
                    console.log(error);
                    newMensaje(error_default, "errors2", "danger", "alertdiv");
                }
                $('#loader').hide();
                $("#btnprocesar").attr("disabled", false);
                return false;
            }


        }


        //---------------------FUNCIONES NORMALES------------
        /**
         *@returns {Null}
         */
        function habilitarCuenta() {
            $("#id_tx_cuenta").val("");
            if (protocolo_select != "") {

                if (protocolo_select == 1) {
                    let code = $("#id_co_moneda option:selected").text();

                    $("#label_cuenta").text("Coloque una cuenta " + code + " válida donde desee recibir sus " + code);
                    $("#div_input_cuenta").show();


                } else {
                    $("#div_input_cuenta").hide();
                }

            }


        }


        /**
         *@returns {Null}
         */
        function validarCampos() {
            $("#divextra").hide();
            console.log(protocolo_select);
            if (protocolo_select == 1) {

                    if ($("#id_co_moneda").val() != "" && $("#id_tx_cuenta").val() != "") {
                        $("#btnbuscar").attr("disabled", false);
                    } else {
                        $("#btnbuscar").attr("disabled", true);
                    }


                } else if (protocolo_select == 0) {
                    $("#divVarios").hide();
                    $("#divextra").show();
                    $("#txcode").text($("#id_co_moneda option:selected").text());
                    $("#linkasset").attr("href", 'https://'+asseturl);
                    $("#linkasset").text(toml_org);
                    $("#btnbuscar").attr("disabled", true);


                } else {
                    console.log("por aqui");
                    if ($("#id_co_moneda").val() != "") {
                         console.log("uno");
                        $("#btnbuscar").attr("disabled", false);
                    } else {
                         console.log("dos");
                        $("#btnbuscar").attr("disabled", true);
                    }
                }





        }


        //---------------------ESCOGER PROTOCOLO EN EL SELECT----------
        $("#id_co_moneda").change(async function() {
            todohide();
            $("#divVarios").hide();
            
                in_sep07=false;
             $("#divsep07").hide();
            if (!cuenta) {
                cuenta = await getCuenta(publico);
            }
            let isu = $("#id_co_moneda").val();
            let code = $("#id_co_moneda option:selected").text();

            if (isu != "") {
                $("#divXLM").hide();
                asset = await getActivo(code, isu);
                asset_simple = new StellarSdk.Asset(code, isu);


                if (asset) {
                    //console.log(isu);
                    /*if (isu == "GA6E6YDYXXAXG4VZAOGIX3N3HETLMGVBLQKAAIZQ3PIMQGHAQ63RA6EO") {
                        tomlurl = "anchor.gobelx.io";
                    } else {
                        tomlurl = asset.records[0]._links.toml.href;
                        let ru = new URL(tomlurl);
                        console.log(ru.hostname);
                        tomlurl = ru.hostname;
                    }*/

                    tomlurl = asset.records[0]._links.toml.href;
                    if (tomlurl == 'https://centre.io/.well-known/stellar.toml') {
                        tomlurl = 'https://usdcswap.com/.well-known/stellar.toml';
                    }
                    let ru = new URL(tomlurl);
                    tomlurl = ru.hostname;
                    toml_org = ru.hostname;
                    asseturl = ru.hostname;


                    toml = await getToml(tomlurl);


                    $("#id_protocolo").html("");

                    //let tx = '<option value="">Seleccione...</option>';
                    let tx = '';
                    protocolos = [];
                    let anchor_asset_type = false;
                    if (toml) {
                        if (toml.DOCUMENTATION != undefined) {
                            if (toml.DOCUMENTATION.ORG_NAME != undefined) {
                                toml_org = toml.DOCUMENTATION.ORG_NAME;
                            }
                            if (toml.DOCUMENTATION.ORG_URL != undefined) {
                                asseturl = toml.DOCUMENTATION.ORG_URL;
                            }

                        }

                        if (toml.TRANSFER_SERVER != undefined) {
                            tx += '<option value="1">SEP-06</option>';
                            protocolos.push(1);

                        }

                        if (toml.TRANSFER_SERVER_SEP0024 != undefined) {

                            tx += '<option value="2">SEP-24</option>';
                            protocolos.push(2);
                        }

                        //$("#id_protocolo").html(tx);
                        if (protocolos.length > 1) {
                            console.log("aqui antes");
                            $.each(toml.CURRENCIES, function(idx, value) {
                                if (value.code == code && value.issuer == isu && value.anchor_asset_type != undefined) {
                                    anchor_asset_type = value.anchor_asset_type;
                                }
                            });

                            if (anchor_asset_type) {

                                if (anchor_asset_type == "fiat") {
                                    protocolo_select = 2;
                                } else {
                                    protocolo_select = 1;
                                }

                            } else {
                                console.log("dodo");
                                protocolo_select = false;
                            }
                            console.log(tomlurl);
                            if(tomlurl == 'usdcswap.com'){
                                console.log("toto");
                                protocolo_select = 2;
                            }


                        } else if (protocolos.length == 1) {
                            protocolo_select = protocolos[0];
                        } else {
                            protocolo_select = false;
                        }
                        
                        if (toml.DOCUMENTATION != undefined) {
                            if(toml.DOCUMENTATION.ORG_DBA!= undefined && toml.DOCUMENTATION.ORG_DBA=="Gobelx" && protocolo_select==2){
                                $("#divsep07").show();
                                in_sep07=true;
                            }
                        }

                        habilitarCuenta();
                        validarCampos();
                    } else {
                        tx = '<option value="">Seleccione...</option>';
                        //$("#id_protocolo").html(tx);
                        protocolo_select = false;
                        habilitarCuenta();
                        validarCampos();
                    }






                }




            } else {
                $("#divXLM").show();
                $("#divVarios").hide();
                let tx = '<option value="">Seleccione...</option>';
                protocolo_select = false;
                //$("#id_protocolo").html(tx);
                validarCampos();
            }







        });

        $("#id_tx_cuenta").on('change', function() {
            validarCampos();
        });

        $("#id_tx_cuenta").on('keyup', function() {
            validarCampos();
        });

        //-----------------FUCION INICIADORA DEL PROCESO
        $("#btnbuscar").on('click', async function() {
            let protocolo = protocolo_select;
            let cuenta = $("#id_tx_cuenta").val();
            let code = $("#id_co_moneda option:selected").text();
            if (protocolo == 1) {
                if (code == 'BTC') {
                    if (cuenta.length >= 34 && (cuenta.charAt(0) == '1' || cuenta.charAt(0) == '3' || cuenta.charAt(0) == 'b') && cuenta.charAt(1) == 'c') {
                        fee = await server.fetchBaseFee();
                        fee += 1100;
                        await ProcesoSep06();
                    } else {
                        newMensaje("Ingresa una billetera BTC valida", 'alertabtc', 'danger', "alercontainer");
                    }
                } else {
                    fee = await server.fetchBaseFee();
                    fee += 1100;
                    await ProcesoSep06();
                }



            } else {
                $("#divVarios").hide();
                try{
                if(in_sep07){
                    console.log("aqui")
                    navigator.registerProtocolHandler("web+stellar",
                            "https://prontopagos.io/SEP07/?operation=%s",
                            "Stellar protocolo SEP007");
                }
                }catch{

                }
                await procesoSep24();

            }

        });

        $("#id_nu_monto").on('keyup', async function() {
            let monto = $("#id_nu_monto").val();
            let minimo = parseFloat($("#minimotx").text());
            //.toPrecision(12)
            let monto_porce = monto * monto_comision2;

            //console.log(monto + "-" + monto_porce);

            let resultado = parseFloat(parseFloat(monto - monto_porce - monto_comision).toPrecision(9))
            if (monto >= minimo) {
                $("#id_nu_total").attr("onfocus", "");
                $("#id_nu_total").val(resultado);
                $("#id_nu_total").attr("onfocus", '$(this).blur()');
            } else {
                $("#id_nu_total").attr("onfocus", "");
                $("#id_nu_total").val("");
                $("#id_nu_total").attr("onfocus", '$(this).blur()');
            }


        });

        //-----------------BOTON PARA HACER UNA TRANSACCION DE DEPOSITO SEP06
        $("#btnprocesar").on('click', async function() {
            $("#loader").show();
            m = parseFloat($("#minimotx").text());
            let feenumero = parseFloat(fee) * 0.0000001;
            //m = m.toFixed(9);

            //console.log(cuenta);

            let balance_select = false;
            let balance_xlm = false;
            $.each(cuenta.balances, function(key, v) {
                if (v.asset_type != "native") {
                    if (v.asset_code == asset_simple.code && v.asset_issuer == asset_simple.issuer) {
                        balance_select = v;
                    }
                } else {
                    balance_xlm = v.balance;
                }


            });
            //parseFloat

            let recerva = (2 + cuenta.subentry_count) * 0.5;
            let total_xlm = balance_xlm - recerva;

            //console.log(total_xlm);

            if (total_xlm <= 0) {
                newMensaje("No tiene suficientes XLM para efectuar alguna transacción", 'alerta', 'danger', "alercontainer2");
                $('#loader').hide();
                return false;
            }


            if (total_xlm < feenumero) {
                newMensaje("No tiene suficientes XLM para cubrir la comisión de stellar", 'alerta', 'danger', "alercontainer2");
                $('#loader').hide();
                return false;
            }


            if ($("#id_nu_monto").val() < m) {
                newMensaje("El monto tiene que ser mayor al monto minimo.", 'alerta', 'danger', "alercontainer2");
                $('#loader').hide();
                return false;
            }

            if (parseFloat(balance_select.balance) < $("#id_nu_monto").val()) {
                newMensaje("Balance de " + asset_simple.code + " insuficiente", 'alerta', 'danger', "alercontainer2");
                $('#loader').hide();
                return false;
            }


            let transac = await transaccionSep06();
            $("#loader").hide();
        });

        //-------------------FUNCIONES ASIMCRONAS ENCARGADAS DE LOS PROCEDIMIENTOS SEP----

        //------------procedimiento para sep06
        async function ProcesoSep06() {
            $("#loader").show();
            let linkdeposit = "";
            if (toml.TRANSFER_SERVER.includes("/withdraw")) {

            } else {
                linkdeposit = "/withdraw";
            }
            $("#id_nu_comision").attr("onfocus", "");
            comi = parseFloat(parseFloat(fee * 0.0000001).toPrecision(9));
            $("#id_nu_comision").val(comi);
            $("#id_nu_comision").attr("onfocus", '$(this).blur()');

            response = await getSep06(linkdeposit);


            if (response) {

                //---------------------------------
                todohide();

                $("#divVarios").show();

                $("#depositotx").text(response.how);
                //var instx = "<b class=titulos-tb>Instrucciones:</b> Transfiere a la billetera que se mostrara a continuación con la cantidad de ";
                //instx += asset.records[0].asset_code;
                //instx += " que desea retirar";
                //$("#instrucciones").html(instx);

                /*if (response.account_id != undefined) {
                    $("#trbilletera").show();
                    $("#billeteratx").text(response.account_id);
                } else {
                    $("#trbilletera").hide();
                    $("#billeteratx").text("");
                }*/
                //console.log(response);
                if (response.memo_type != undefined) {
                    $("#trtpmemo").show();
                    $("#tpmemotx").text(response.memo_type);
                } else {
                    $("#trtpmemo").hide();
                    $("#tpmemotx").text("");
                }


                if (response.memo != undefined) {
                    $("#trmemo").show();
                    $("#memotx").text(response.memo);
                } else {
                    $("#trmemo").hide();
                    $("#memotx").text("");
                }

                $("#depositotx").text(response.how);
                if (response.min_amount != undefined) {
                    $("#trminimo").show();
                    $("#minimotx").text(response.min_amount + " " + asset.records[0].asset_code);
                    monto_minimo = response.min_amount;
                } else {
                    $("#trminimo").hide();
                    $("#minimotx").text("");
                    monto_minimo = 0;
                }

                if (response.fee_fixed != undefined) {

                    $("#trcomision").show();
                    $("#comisiontx").text(response.fee_fixed + " " + asset.records[0].asset_code);
                    monto_comision = response.fee_fixed;
                } else {
                    $("#trcomision").hide();
                    $("#comisiontx").text("");
                    monto_comision = 0;
                }

                if (response.fee_percent != undefined) {

                    $("#trcomision2").show();
                    $("#comisiontx2").text((response.fee_percent * 100) + "%");
                    monto_comision2 = response.fee_percent;
                } else {
                    $("#trcomision2").hide();
                    $("#comisiontx2").text("");
                    monto_comision2 = 0;
                }



                monto_minimo_total = parseFloat(monto_comision + monto_minimo);
                monto_minimo_total = parseFloat(monto_minimo_total.toFixed(9));

                responsesep06 = response;

                $("#emisortx").text(tomlurl);



                $("#loader").hide();

            }





        }

        //------------procedimiento para sep24
        async function procesoSep24() {
            $("#loader").show();

            //-----------------PASO 1 CONFIRMAR SI TIENE SEP024
            if (!toml.SIGNING_KEY ||
                !toml.TRANSFER_SERVER_SEP0024 ||
                !toml.WEB_AUTH_ENDPOINT
            ) {
                newMensaje("El TOML debe contener SIGNING_KEY, TRANSFER_SERVER_SEP0024 y WEB_AUTH_ENDPOINT para realizar la operacion", "paso1-res1", "dark", "div404");
                $("#loader").hide();
                return false;
            }

            //-----------------PASO 2 CONSULTAR AL LINK DE INFORMACION DE SEP24
            let sep024 = await getSep024(toml);
            if (sep024) {

                //-----------------PASO 3 COMPROBAR SI ESTE ASSET LO TIENE FUNCIONANDO
                if (!sep024['deposit'][asset.records[0].asset_code]['enabled']) {
                    newMensaje("No se hallo este activo en la consulta /info", "paso1-res1", "dark", "div404");
                    $("#loader").hide();
                    return false;
                }

                //-----------------PASO 4 CONSULTAR EL PUNTO DE AUTENTICACION
                let authend = await getAuthEndPoint();

                if (authend) {

                    //-----------------PASO 5 COMPROBAR SI RETORNO LA TRANSACCION DE DESAFIO
                    if (!authend.transaction) {
                        newMensaje("El WEB_AUTH_ENDPOINT no retorno la transaccion de desafio, que es requisito para continuar", "paso7-content2", "danger", "div404");
                        return false;
                    }


                    //---------PASO 6 CONSULTAR UNA TRANSACCION SEP 10
                    let transaccion = await getTransactionEnvelope(authend.transaction);

                    if (transaccion) {

                        //---------PASO 7 ENVIAR LA TRANSACCION AL PUNTO DE AUTENTICACION
                        let authend2 = await getAuthEndPointPost(transaccion)

                        if (authend2) {

                            //---------PASO 8 COMPROBAR SI ESTA AUTENTICACION DEBOLVIO SU TOKEN
                            if (!authend2.token) {
                                newMensaje("El WEB_AUTH_ENDPOINT no retorno el token necesario para continuar", "danger", "div404");
                                return false;
                            }

                            //---------PASO 9 CONSULTAR Y CHEQUEAR EL TOKEN POR OTRO LADO

                            let check = await checkTransaccion(authend2.token)

                            if (check) {

                                if (!check.url) {
                                    newMensaje("No se recivio un URL por parte de la peticion al /transactions/deposit/interactive", "paso10-content2", "danger", "div404");
                                    return false
                                }

                                let popup = window.open(check.url, 'popup', 'height=800,width=500,toolbar=no');
                                if (!popup) {

                                    newMensaje("Las ventanas emergentes estan bloqueadas, usted necesita activarlas para que funcione el proceso", "paso10-content2", "dark", "div404");

                                }
                                $(popup).on("click", function(e) {
                                    var data = e.originalEvent.data;
                                });



                            }


                        }



                    }




                }

            }





        }



    });
</script>
{% endblock javascripts %}