{% extends 'inicio/base2.html' %}

{% block title %}
Deposito
{% endblock title %}

{% block content %}
 <div class="row ">
    <div class="col-md-6 col-lg-6">
   <form method="POST" action="">
        {% csrf_token %}
  <div class="card ">
            
        <div class="card-header">
        
                  <h2 class="card-title">depositar</h2>
          
          </div>
          
         <div class="card-body">
          <table class="table tablesorter table-hover" id="" >
          <tbody>
          <tr>
          <td>SRT:{{ texto }} </td>
          
          <td id="tdbalance"></td>
          </tr>
          </tbody>
                </table>

                        <!--Quizas mas adelante haga falta poner fecha-->

                    </div>
                    
                     
          
        
          <li class="dropdown-divider"></li>
        <div class="card-footer text-center">
        
<a href="javascript:void(0)" class="btn btn-fill btn-primary text-dark my-2 my-sm-0" id='boton'>
                           procesar
                        </a> 
                        <a href="javascript:void(0)" class="btn btn-fill btn-primary text-dark my-2 my-sm-0" id='boton2'>
                           Limpiar
                        </a> </div>
      </div>
      </form>
  </div>   

  <div class="col-md-6 col-lg-6">
    <div class="card ">
            
        <div class="card-header">
        
                  <h2 class="card-title">Respuesta</h2>
          
          </div>
          
         <div class="card-body overflow-auto" id="divrespuesta" >


                        <!--Quizas mas adelante haga falta poner fecha-->

                    </div>



  </div>
  </div>
</div>
{% endblock content%}