{% extends 'inicio/base2.html' %} {% block title %} Deposito {% endblock title %} {% block content %}
<div class="row">

    {% if msg != '' %} {% if success is True %} {% include 'includes/msj-success.html' %} {% else %} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}
</div>
<div class="row ">
    <div class="col-md-6 col-lg-6">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="card ">

                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h2 class="card-title">Depositar</h2>
                        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>

                    </div>
                </div>
                <a target="_blank" href="{{ uri }}">stellarsep7</a>

                <div class="card-body">
                    <table class="table tablesorter table-hover" id="">
                        <tbody>
                            <tr class="table-demanda">
                                <td> BSS: </td>

                                <td id="tdbalance"></td>
                            </tr>
                            <tr class="table-demanda-focus">
                                <td> BSS: </td>

                                <td id="tdbalance"></td>
                            </tr>
                            <tr class="table-oferta-focus">
                                <td> BSS: </td>

                                <td id="tdbalance"></td>
                            </tr>
                            <tr class="table-oferta">
                                <td> BSS: </td>

                                <td id="tdbalance"></td>
                            </tr>
                        </tbody>
                    </table>

                    <!--Quizas mas adelante haga falta poner fecha-->

                </div>




                <li class="dropdown-divider"></li>
                <div class="card-footer text-center">

                    <a href="javascript:void(0)" class="btn btn-fill btn-primary text-dark my-2 my-sm-0 botone" id='1'>
                        Depositar
                        </a>
                    <a href="javascript:void(0)" class="btn btn-fill btn-primary text-dark my-2 my-sm-0 botone" id='2'>
                       Retirar
                    </a>
                    <a href="javascript:void(0)" class="btn btn-fill btn-primary text-dark my-2 my-sm-0" id='boton2'>
                           Limpiar
                        </a> 
                         <a href="javascript:void(0)" class="btn btn-fill btn-primary text-dark my-2 my-sm-0" id='boton3'>
                           agregar
                        </a></div>
            </div>
        </form>
    </div>

    <div class="col-md-6 col-lg-6">
        <div class="card ">

            <div class="card-header">

                <h2 class="card-title">Respuesta</h2>

            </div>

            <div class="card-body overflow-auto" id="divrespuesta">


                <!--Quizas mas adelante haga falta poner fecha-->

            </div>



        </div>
    </div>
</div>

<input id="token" name="token" type="hidden" value="{{token}}">
<input id="llavePublica" name="llavePublica" type="hidden" value="{{ publico }}"> {% endblock content %} {% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/7.0.0/stellar-sdk.js" integrity="sha512-7UiifYw3IcKJHf3suEDr1yWa8rHVWW6xjuFiZ5kANlJ3Cncg8c9JE/wGJRfl72ckMD+ZidUeVx+/lNAUYk+t1g==" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        const server = new StellarSdk.Server('https://horizon.stellar.org');
        const url = window.location.protocol + "//" + window.location.host + "/";
        var msjstellar = "{{msjstellarjson | escapejs }}";
        msjstellar = JSON.parse(msjstellar);
        const publico = $("#llavePublica").val()

    $("#boton3").on('click',function(){
navigator.registerProtocolHandler("web+stellar",
            "https://prontopagos.io/SEP07/?operation=%s",
            "Stellar protocolo SEP007");

    });
    /*navigator.registerProtocolHandler("web+stellar",
            "http://localhost:8000/SEP07/?operation=%s",
            "Stellar protocolo SEP007");*/
        //const publico = "GD3JP476GGDFXUGSQUFJHYMPBWRDSUWLFXYC4CNZDT27FE72FCJSNOF3"


        $('#loader').hide();


        async function getmisSTR() {
            $('#loader').show();
            try {
                let response = await $.ajax({
                    url: url + "pruebastellar/api/balanceSTR",
                    type: 'POST',
                    headers: {
                        "Authorization": 'token ' + $("#token").val()
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    }
                });

                $("#tdbalance").text(await response.balance);
                $('#loader').hide();

            } catch (error) {
                $('#loader').hide();

                return false;
            }


        }

        async function getSep024(toml) {
            $('#loader').show();
            console.log(toml);
            try {
                let response = await $.ajax({
                    url: toml.TRANSFER_SERVER_SEP0024 + "/info",
                    type: 'GET'
                });

                $('#loader').hide();

                return response;


            } catch (error) {
                newMensaje(error, "errors2", "danger", "divrespuesta");
                $('#loader').hide();
                return false;
            }


        }

        async function getAuthEndPoint(toml) {
            $('#loader').show();
            try {
                let response = await $.ajax({
                    url: toml.WEB_AUTH_ENDPOINT,
                    data: {
                        account: $("#llavePublica").val(),
                    },
                    type: 'GET',
                    /*beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },*/
                });

                $('#loader').hide();

                return response;


            } catch (error) {
                newMensaje(error, "errors2", "danger", "divrespuesta");
                $('#loader').hide();
                return false;
            }


        }

        async function getAuthEndPointPost(toml, transaccion) {
            $('#loader').show();

            try {
                let response = await $.ajax({
                    url: toml.WEB_AUTH_ENDPOINT,
                    data: JSON.stringify({
                        transaction: transaccion,
                    }),
                    type: 'POST',
                    headers: {
                        "Content-Type": 'application/json'
                    },
                    /*beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },*/
                });

                $('#loader').hide();

                return response;


            } catch (error) {
                newMensaje(error.responseText, "errors2", "danger", "divrespuesta");
                $('#loader').hide();
                return false;
            }


        }

        async function checkTransaccion(toml, code, token, tipo) {
            $('#loader').show();
            try {
                let response = await $.ajax({
                    url: toml.TRANSFER_SERVER_SEP0024 + "/transactions/" + tipo + "/interactive",
                    data: {

                        'asset_code': code,
                        'account': $("#llavePublica").val(),
                        'lang': "en"
                    },
                    type: 'POST',
                    headers: {
                        "Authorization": 'Bearer ' + token
                    },
                    /*beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },*/
                });

                $('#loader').hide();
                console.log(response);

                return response;


            } catch (error) {
                newMensaje(error, "errors2", "danger", "divrespuesta");
                $('#loader').hide();
                return false;
            }


        }


        getmisSTR();
        async function getActivo(code, issuer) {
            $('#loader').show();
            try {
                console.log("----------PASO 2 RESPUESTA ACTIVO-----------");
                console.log("<- Fetch issuer account from Horizon");

                let asset = server.assets();
                let callasset = await asset.forCode(code).forIssuer(issuer).call();

                newMensaje("<- Fetch issuer account from Horizon", "paso2-res1", "success", "divrespuesta");
                newMensaje(code + "-" + issuer, "paso2-content1", "dark", "divrespuesta");
                console.log(callasset);
                return callasset



            } catch (error) {
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "divrespuesta");
                } else {
                    newMensaje(error, "errors2", "danger", "divrespuesta");
                }
                $('#loader').hide();

                return false;
            }
        }
        async function getCuenta(public) {
            $('#loader').show();
            try {
                let response = await server.loadAccount(public);
                console.log("----------PASO 0 RESPUESTA DE MI CUENTA-----------");
                console.log("<- Fetch my issuer account from Horizon");
                console.log(response);


                newMensaje("<- respuesta de horizon sobre mi cuenta", "paso0-res1", "success", "divrespuesta");
                newMensaje(response.id, "paso0-content1", "dark", "divrespuesta");

                return response;


                $('#loader').hide();
            } catch (error) {
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "divrespuesta");
                } else {
                    newMensaje(error, "errors2", "danger", "divrespuesta");
                }
                $('#loader').hide();

                return false;
            }

        }

        async function getToml(tomlurl) {
            $('#loader').show();

            try {
                let toml = await new StellarSdk.StellarTomlResolver.resolve(tomlurl, {
                    allowHttp: true
                });
                console.log("<- " + tomlurl);
                console.log(toml);



                newMensaje("<-" + tomlurl, "response", "success", "divrespuesta");
                newMensaje(toml, "response", "dark", "divrespuesta");

                $('#loader').hide();
                return toml;
            } catch (error) {
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "divrespuesta");
                } else {
                    newMensaje(error, "errors2", "danger", "divrespuesta");
                }
                $('#loader').hide();

                return false;

            }
        }
        async function getTransactionEnvelope(XDR) {
            $('#loader').show();

            try {
                let transaccion = new StellarSdk.TransactionBuilder.fromXDR(XDR, StellarSdk.Networks.PUBLIC)
                let keypair = StellarSdk.Keypair.fromSecret("{{ request.session.merma }}");
                //let keypair = StellarSdk.Keypair.fromSecret("SAUYIZCEUQIFB2SBRWRRSXIRREMJF6KNXCWIKOIBIS25WFQE6PQUH7RQ");

                transaccion.sign(keypair);

                console.log(transaccion);

                newMensaje(StellarSdk.Networks.PUBLIC, "paso8-content2", "dark", "divrespuesta");
                newMensaje("Base64 Encoded " + transaccion, "paso8-content3", "dark", "divrespuesta");




                $('#loader').hide();
                return transaccion.toXDR();

            } catch (error) {
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "divrespuesta");
                } else {
                    newMensaje(error, "errors2", "danger", "divrespuesta");
                }
                $('#loader').hide();

                return false;

            }



        }





        $("#boton2").on('click', function() {
            $("#divrespuesta").html('');

        });

        $(".botone").on('click', async function() {
            let tipot = "deposit";
            if ($(this).attr("id") == 2) {
                tipot = "withdraw";
            }
            //let code = "BSSX";
            //let issuer = "GBIOLTB6542SFVPAIDPQMJZHJJLLLFGDAXZF4PDGKD2DHIVYCWIQIYGT";
            let code = "BSS";
            let issuer = "GA6E6YDYXXAXG4VZAOGIX3N3HETLMGVBLQKAAIZQ3PIMQGHAQ63RA6EO";

            //let code = "USD";
            //let issuer = "GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX";
            let mipublico = $("#llavePublica").val();
            newMensaje("---PASO 0 PREGUNTA A MI CUENTA", "paso0", "light", "divrespuesta");
            newMensaje("-> Consultar mi cuenta en horizon", "paso0-post1", "info", "divrespuesta");
            let cuenta = await getCuenta(mipublico);

            //---------PASO 1 PREGUNTA CUENTA EXTERNA---------
            console.log("---PASO 1 PREGUNTA AL ACTIVO CUENTA EXTERNA");
            console.log("-> Fetch asset from Horizon " + issuer);

            newMensaje("---PASO 1 PREGUNTA AL ACTIVO", "paso1", "light", "divrespuesta");
            newMensaje("-> Fetch issuer account from Horizon", "paso1-post1", "info", "divrespuesta");
            newMensaje(code + "-" + issuer, "paso1-content1", "dark", "divrespuesta");



            newMensaje("---PASO 2 RESPUESTA CUENTA EXTERNA", "paso2", "light", "divrespuesta");
            let activo = await getActivo(code, issuer);
            //---------PASO 3 INFORMACION-------------------------------------------

            newMensaje("---PASO 3 INFORMACION", "paso3", "light", "divrespuesta");

            //let tomlurl = activo.records[0]._links.toml.href;
            let tomlurl = "http://localhost:8000/.well-known/stellar.toml"
                //let tomlurl = "http://localhost:8000/.well-known/stellar.toml"
            var ru = new URL(tomlurl);
            //tomlurl = ru.hostname;
            tomlurl = "localhost:8000"
                //tomlurl = "anchor.gobelx.io"
                //var dominio2 = dominio.substring(8, dominio.length);
            console.log(tomlurl);
            if (!tomlurl) {
                newMensaje("No se pudo encontrar el toml en el emisor de activos", "paso3-content1", "danger", "divrespuesta");
                console.log("No se pudo encontrar el toml en el emisor de activos");
            } else {
                newMensaje("Se encontro '" + tomlurl + "' como TOML del emisor, consultando el TOML para buscar el servidor de transferencia", "paso3-content1", "dark", "divrespuesta");
                console.log("Se encontro  '" + tomlurl + "' como TOML del emisor, consultando el TOML para buscar el servidor de transferencia");
                //---------PASO 4 CONSULTAR TOML---------------------------------------------

                console.log("----------PASO 4 CONSULTAR TOML-----------");
                console.log("-> " + tomlurl);
                newMensaje("---PASO 4 CONSULTAR TOML", "paso4", "light", "divrespuesta");
                newMensaje("->" + tomlurl, "paso4-post1", "info", "divrespuesta");

                let toml = await getToml(tomlurl);
                console.log(toml);

                //---------PASO 5 INFORMACION-----------------------------------------


                console.log("----------PASO 5 INFORMACION-----------");
                console.log("Received WEB_AUTH_ENDPOINT from TOML:" + toml.WEB_AUTH_ENDPOINT);
                console.log("Received TRANSFER_SERVER_SEP0024 from TOML:" + toml.TRANSFER_SERVER_SEP0024);
                console.log("Received asset issuer from TOML:" + toml.SIGNING_KEY);


                newMensaje("---PASO 5 INFORMACION TOML", "paso5", "light", "divrespuesta");
                newMensaje("Received WEB_AUTH_ENDPOINT from TOML: " + toml.WEB_AUTH_ENDPOINT, "paso5-res1", "dark", "divrespuesta");
                newMensaje("Received TRANSFER_SERVER_SEP0024 from TOML: " + toml.TRANSFER_SERVER_SEP0024, "paso5-res2", "dark", "divrespuesta");
                newMensaje("Received asset issuer from TOML: " + toml.SIGNING_KEY, "paso5-res3", "dark", "divrespuesta");


                if (!toml.SIGNING_KEY ||
                    !toml.TRANSFER_SERVER_SEP0024 ||
                    !toml.WEB_AUTH_ENDPOINT
                ) {
                    newMensaje("TOML must contain a SIGNING_KEY, TRANSFER_SERVER_SEP0024 and WEB_AUTH_ENDPOINT", "paso5-res4", "dark", "divrespuesta");
                } else {



                    //---------PASO 6 COMPROBAR VIALIDAD DEL DEPOSITO-----------------------------------------


                    console.log("----------PASO 6 COMPROBAR VIALIDAD DEL DEPOSITO-----------");
                    console.log("Check /info endpoint to ensure this currency is enabled for deposit");
                    newMensaje("---PASO 6 COMPROBAR VIALIDAD DEL DEPOSITO", "paso6", "light", "divrespuesta");
                    newMensaje("Check /info endpoint to ensure this currency is enabled for deposit", "paso6-res1", "dark", "divrespuesta");

                    console.log("->" + toml.TRANSFER_SERVER_SEP0024 + "/info");

                    newMensaje("->" + toml.TRANSFER_SERVER_SEP0024 + "/info", "paso6-post1", "info", "divrespuesta");



                    let sep024 = await getSep024(toml);

                    console.log("<-" + toml.TRANSFER_SERVER_SEP0024 + "/info");
                    console.log(sep024);

                    newMensaje("<-" + toml.TRANSFER_SERVER_SEP0024 + "/info", "response", "success", "divrespuesta");
                    newMensaje(sep024, "response", "dark", "divrespuesta");

                    if (!sep024['deposit'][code]['enabled']) {
                        console.log("Asset is not enabled in the /info endpoint");
                    } else {
                        console.log("Deposit is enabled, and requires authentication so we should go through SEP-0010");






                        //---------PASO 7 COMPROBAR SEP 10-----------------------------------------

                        console.log("---------PASO 7 COMPROBAR SEP 10--------------");

                        console.log("Start the SEP-0010 flow to authenticate the wallet’s Stellar account");


                        console.log("->" + toml.WEB_AUTH_ENDPOINT);

                        console.log("account: " + mipublico);

                        newMensaje("---PASO 7 COMPROBAR SEP 10", "paso7", "light", "divrespuesta");

                        newMensaje("Start the SEP-0010 flow to authenticate the wallet’s Stellar account", "paso7-res1", "dark", "divrespuesta");
                        newMensaje("->" + toml.WEB_AUTH_ENDPOINT, "paso7-post1", "info", "divrespuesta");
                        newMensaje("account: " + mipublico, "request", "dark", "divrespuesta");
                        let authend = await getAuthEndPoint(toml);

                        console.log("<-" + toml.WEB_AUTH_ENDPOINT);
                        console.log(authend);

                        newMensaje("<-" + toml.WEB_AUTH_ENDPOINT, "paso7-res1", "success", "divrespuesta");
                        newMensaje(authend, "paso7-content1", "dark", "divrespuesta");

                        if (!authend.transaction) {
                            console.log("The WEB_AUTH_ENDPOINT didn't return a challenge transaction");
                            newMensaje("The WEB_AUTH_ENDPOINT didn't return a challenge transaction", "paso7-content2", "danger", "divrespuesta");

                        } else {
                            console.log("We’ve received a challenge transaction from the server that we need the client to sign with our Stellar account.");
                            newMensaje("We’ve received a challenge transaction from the server that we need the client to sign with our Stellar account.", "paso7-content2", "dark", "divrespuesta");




                            //---------PASO 8 CONSULTAR UNA TRANSACCION SEP 10-----------------------------------------

                            console.log("---------PASO 8 CONSULTAR UNA TRANSACCION SEP 10--------------");
                            newMensaje("---PASO 8 CONSULTAR UNA TRANSACCION SEP 10", "paso8", "light", "divrespuesta");


                            let transaccion = await getTransactionEnvelope(authend.transaction);


                            //---------PASO 9 MAS DE SEP 10-----------------------------------------

                            console.log("---------PASO 9 MAS DE SEP 10-------------");
                            console.log("We need to send the signed SEP10 challenge back to the server to get a JWT token to authenticate our stellar account with future actions");
                            console.log("->" + toml.WEB_AUTH_ENDPOINT);
                            console.log(JSON.stringify({
                                account: mipublico,
                                transaction: transaccion,
                            }));



                            newMensaje("---PASO 9 MAS DE SEP 10", "paso9", "light", "divrespuesta");
                            newMensaje("We need to send the signed SEP10 challenge back to the server to get a JWT token to authenticate our stellar account with future actions", "informacion", "dark", "divrespuesta");
                            newMensaje("->" + toml.WEB_AUTH_ENDPOINT, "paso9-post1", "info", "divrespuesta")
                            newMensaje(JSON.stringify({
                                account: mipublico,
                                transaction: transaccion,
                            }), "paso9-content1", "dark", "divrespuesta");


                            let authend2 = await getAuthEndPointPost(toml, transaccion)

                            console.log("<-" + toml.WEB_AUTH_ENDPOINT);
                            newMensaje("<-" + toml.WEB_AUTH_ENDPOINT, "paso9-res1", "success", "divrespuesta");



                            if (!authend2.token) {
                                console.log("No token was returned from POST /auth");
                                newMensaje("No token was returned from POST /auth", "danger", "divrespuesta");
                            } else {

                                console.log(authend2);
                                newMensaje("token: " + authend2.token, "paso9-content1", "dark", "divrespuesta");

                                //---------PASO 10 CHEQUEAR TRANSACNTION SEP 10-----------------------------------------

                                console.log("---------PASO 10 CHEQUEAR TRANSACNTION SEP 10------------------");
                                console.log("To get the url for the interactive flow check the /transactions/deposit/interactive endpoint");
                                console.log("-> " + toml.TRANSFER_SERVER_SEP0024 + "/transactions/deposit/interactive");
                                console.log(JSON.stringify({
                                    asset_code: code,
                                    account: mipublico,
                                    lang: 'en'
                                }));

                                newMensaje("---PASO 10 CHEQUEAR TRANSACNTION SEP 10", "paso10", "light", "divrespuesta");

                                newMensaje("To get the url for the interactive flow check the /transactions/deposit/interactive endpoint", "paso10-content1", "dark", "divrespuesta");
                                newMensaje("-> " + toml.TRANSFER_SERVER_SEP0024 + "/transactions/deposit/interactive", "paso10-post1", "info", "divrespuesta")
                                newMensaje(JSON.stringify({
                                    asset_code: code,
                                    account: mipublico,
                                    lang: 'en'
                                }), "paso10-content2", "dark", "divrespuesta");

                                //[{"key":"asset_code","value":"SRT","description":"","type":"text","enabled":true}],
                                let check = await checkTransaccion(toml, code, authend2.token, tipot)


                                console.log("<- " + toml.TRANSFER_SERVER_SEP0024 + "/transactions/deposit/interactive");
                                newMensaje("<-" + toml.TRANSFER_SERVER_SEP0024, "paso10-res1", "success", "divrespuesta");

                                if (!check.url) {
                                    console.log("No URL Returned from POST /transactions/deposit/interactive");
                                    newMensaje("No URL Returned from POST /transactions/deposit/interactive", "paso10-content2", "danger", "divrespuesta");


                                } else {
                                    console.log(check);
                                    newMensaje(JSON.stringify({
                                        type: check.type,
                                        url: check.url,
                                        id: check.id
                                    }), "paso10-content2", "dark", "divrespuesta");







                                    //---------PASO 11 QUIZAS EL ULTIMO-----------------------------------------
                                    console.log("---------PASO 11 QUIZAS EL ULTIMO-------------------");
                                    console.log("To collect the interactive information we launch the interactive URL in a frame or webview, and await payment details from a postMessage callback");
                                    newMensaje("---PASO 11 QUIZAS EL ULTIMO", "paso11", "light", "divrespuesta");
                                    newMensaje("To collect the interactive information we launch the interactive URL in a frame or webview, and await payment details from a postMessage callback", "paso11-content1", "dark", "divrespuesta");


                                    var popup = window.open(check.url, 'popup', 'height=800,width=500,toolbar=no');
                                    if (!popup) {
                                        console.log("Popups are blocked. You’ll need to enable popups for this demo to work");
                                    }
                                    $(popup).on("click", function(e) {
                                        console.log(e);
                                        var data = e.originalEvent.data; // Should work.
                                        console.log(data);
                                    });

                                    /*window.onmessage = function({ data: { transaction } }){
                                      console.log('gunciona');
                                      if (transaction.status === 'completed') {
                                        
                                        console.log('Transaction status complete')
                                      } else {
                                        console.log('Transaction status pending...')
                                        setTimeout(function (){
                                          
                                          const urlBuilder = new URL(transaction.more_info_url)
                                          urlBuilder.searchParams.set('callback', 'postMessage')

                                          popup.location.href = urlBuilder.toString()
                                        }, 1000)
                                      }
                                    }*/

                                    console.log('al menos paso por aqui');





                                    //-----FIN DEL AJAX 7
                                }








                                //-----FIN DEL AJAX 6
                            }






                            //-----FIN DEL AJAX 5




                            //-----FIN DEL AJAX 4
                        }



                        //-----FIN DEL AJAX 3
                    }







                    //-----FIN DEL AJAX 2 
                }




                //-----FIN DEL AJAX 1 

            }

            //-----FIN DEL BOTON EVENTO
        });


    });
</script>

{% endblock javascripts %}