{% extends 'inicio/base2.html' %} {% load static %}
<!--Transferencia-->
{% block title %} Intercambiar {% endblock title %} {% block content %}
<div class="row">

    {% if msg != '' %} {% if success is True %} {% include 'includes/msj-success.html' %} {% else %} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}
</div>
<div class="container">
    <div class="row ">
        <div class="col-md-12 mb-5">
            <div class="card ">
                <div class="card-header">
                    <!--<h1 class="card-title">Transferencia Interno</h1>-->
                    <div class="d-flex align-items-center">
                        <h1 class="card-title">Intercambiar</h1>
                        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>

                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="bmd-label-floating text-white" for="tx_balance">Click para seleccionar el activo a cambiar</label>
                            <button class="btn btn-simple btn-primary btn-block" data-toggle="modal" data-target="#ventaModal" id="btnsell">
                             
                              <div class="d-flex align-items-center row">
                                <div class="col-md-3">
                                    <img src="
                                    {% if actinitsell.asset_type == "native" %}
                                            
                                    {% static 'img/stellar-xlm-logo.png' %}
                                    {% else %}
                                      {% if actinitsell.img != "" %}
                                          {{ actinitsell.img }}
                                      {% else %}
                                      {% static 'img/interrogacion.png' %}
                                    
                                      {% endif %}
                                    {% endif %}
                                    
                                    
                                    " id="image" alt="50" width="50" height="50"> 
                                  
                                </div>
                                <div class="col-md-7">
                              <p class="title">{{ actinitsell.tx_asset_code }}</p>
                              <p class="text-muted" id="balancesell">{{ actinitsell.nu_balance }}<p>
                                </div>
                                <div class="col-md-2">
                                    <i class="tim-icons icon-double-right"></i>
                                </div>
                              </div>

                            </button>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="bmd-label-floating text-white" for="tx_balance">Click para seleccionar el activo que quieres recibir</label>
                            <button class="btn btn-simple btn-primary btn-block" data-toggle="modal" data-target="#compraModal" id="btnbuy">
                            {% if actinitbuy != "" %}
                              

                              <div class="d-flex align-items-center row">
                                <div class="col-md-2">
                                    <i class="tim-icons icon-double-left"></i>
                                </div>
                                <div class="col-md-3">
                                    <img src="
                                            {% if actinitbuy.asset_type == "native" %}
                                            
                                            {% static 'img/stellar-xlm-logo.png' %}
                                            {% else %}
                                              {% if actinitbuy.img != "" %}
                                                  {{ actinitbuy.img }}
                                              {% else %}
                                              {% static 'img/interrogacion.png' %}
                                            
                                              {% endif %}
                                            {% endif %}
                                            " id="image2" alt="50" width="50" height="50"> 
                                  
                                </div>
                                <div class="col-md-7">
                              <p class="title">{{ actinitbuy.tx_asset_code }}</p>
                              <p class="text-muted" id="balancebuy">{{ actinitbuy.nu_balance }}<p>
                                </div>
                               

                              </div>


                            {% else %}

                              <p class="title">Seleccione</p>
                              <p class="text-muted">-</p>
                            {% endif %}


                            </button>
                        </div>
                    </div>
                  
                    
                   


                </div>
                
                
                </div>
                
            </div>
        </div>
    </div>


  <div class="col">
    <div class="card">
      <div class="card-body">
 

         <canvas id="myChart" width="723px" height="255px"></canvas>
  
      </div>
  </div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ofetas</h5>
        <table class="table" id="contenidoAsks">
  <thead>
    <tr>
      
      <th scope="col">Precio({{actinitbuy.tx_asset_code}})</th>
      <th scope="col">Monto({{actinitsell.tx_asset_code}})</th>
      <th scope="col">Total({{actinitbuy.tx_asset_code}})</th>
    </tr>
  </thead>
  <tbody >
  {% comment %} <td id="tbPrecio"></td>
  <td id="tbMonto"></td>
  <td id="tbTotal"></td> {% endcomment %}

    
  </tbody>
</table>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ofertas Culminadas</h5>
        <table class="table" id="contenidoBids">
  <thead>
    <tr>
    
      <th scope="col">Precio({{actinitbuy.tx_asset_code}})</th>
      <th scope="col">Monto({{actinitsell.tx_asset_code}})</th>
      <th scope="col">Total({{actinitbuy.tx_asset_code}})</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
      </div>
    </div>
  </div>
</div>

  


    
    

{% include 'pruebas/modalsell.html' %} {% include 'pruebas/modalbuy.html' %}

<input id="modaltag" name="modaltag" type="hidden" value="sell">

<input id="llavePublica" name="llavePublica" type="hidden" value="{{ publico }}">
<input id="token" name="token" type="hidden" value="{{token}}"> {% endblock content %} {% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/7.0.0/stellar-sdk.js" integrity="sha512-7UiifYw3IcKJHf3suEDr1yWa8rHVWW6xjuFiZ5kANlJ3Cncg8c9JE/wGJRfl72ckMD+ZidUeVx+/lNAUYk+t1g==" crossorigin="anonymous"></script>
{% comment %} <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>


<script type="text/javascript">
            $.get('{% url "line_chart_json" %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line', 
                    data: data,
                });
            });
        </script> {% endcomment %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

{% comment %} <script>

var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script> {% endcomment %}

<script>
function grafica(datos){
    console.log(datos);
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['Red', 'Blue', 'Yellow'],
        datasets: [{
            label: '# of Votes',
            //data: [12, 19, 3, 5, 2, 3],
            data:datos,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
   
});
}
    $(document).ready(function() {
        $('#loader').hide();
        $('#loader2').hide();

        var activosell = "{{actinitselljson | escapejs }}";

        var activobuy = "{{ actinitbuyjson | escapejs }}";

        var storetrade = "{{ tradesjson | escapejs }}";

        var code1 = "{{ code1 }}";
        var code2 = "{{ code2 }}";
        var issuer1 = "{{ issuer1 }}";
        var issuer2 = "{{ issuer2 }}";
        var msjstellar = "{{msjstellarjson | escapejs }}";
        msjstellar = JSON.parse(msjstellar);

        activosell = JSON.parse(activosell);
        activobuy = JSON.parse(activobuy);
        storetrade = JSON.parse(storetrade);

        var datosAdd = [];


        $(".buscar").on("click", function() {
            //console.log(storetrade.datos);
            code = $(this).attr("id");
            $.each(storetrade.datos, function(idx, value) {
                //console.log(code + "-" + value.id);
                if (value.id == code) {
                    $("#tiempo").text(value.fecha);

                    $("#tx_base_monto").text(value.base_amount);
                    $("#tx_base_code").text(value.base_asset_code);
                    $("#tx_base_issuer").text(value.base_asset_issuer);

                    $("#tx_counter_monto").text(value.counter_amount);
                    $("#tx_counter_code").text(value.counter_asset_code);
                    $("#tx_counter_issuer").text(value.counter_asset_issuer);

                }

            });


        });

        if (code1 != "0" && code1 != "XLM") {
            var asset1 = new StellarSdk.Asset(code1, issuer1);
        } else {
            var asset1 = StellarSdk.Asset.native();
        }

        if (code2 != "0" && code2 != "XLM") {
            var asset2 = new StellarSdk.Asset(code2, issuer2);
        } else {
            var asset2 = StellarSdk.Asset.native();
        }
        //console.log(asset1 + "-" + asset2);
        //console.log(code1 + "-" + code2);



        var server = new StellarSdk.Server('https://horizon.stellar.org');

        //LIBROS DE ORFERTA

        var callback = function (resp) {
            //OFERTAS
            $.each( resp.asks, function(idx, value){

               

                var i = 0;
               var htmlTags = '<tr>'+
                '<td>'+value.price+'</td>'+
                '<td>'+value.amount+'</td>'+
                '<td></td>'+'</tr>';
               

                var vlent = resp.asks.length;
                console.log(vlent)

                if(i<vlent){ 
                $("#contenidoAsks tbody").append(htmlTags);
                }
                
           
                

               /* $("#tbPrecio").text(value.pricie),
                $("#tbMonto").text(value.amount)*/

                //console.log(value)


            });

            //OFERTAS COMPLETADAS
            
             $.each( resp.bids, function(idx, value){
                datosAdd.push(value.price);
               

                var i = 0;
               var htmlTags = '<tr>'+
                '<td>'+value.price+'</td>'+
                '<td>'+value.amount+'</td>'+
                '<td></td>'+'</tr>';
               

                var vlent = resp.bids.length;
                console.log(vlent)

                if(i<vlent){ 
                $("#contenidoBids tbody").append(htmlTags);
                }
                
           
                

               /* $("#tbPrecio").text(value.pricie),
                $("#tbMonto").text(value.amount)*/

                //console.log(value)

            
            });
            grafica(datosAdd);
  console.log(resp);
};

var es = server
  .orderbook(asset1, asset2,
    /*new StellarSdk.Asset("ETH",
      "GBDEVU63Y6NTHJQQZIKVTC23NWLQVP3WJ2RI2OTSJTNYOIGICST6DUXR",),
    new StellarSdk.Asset(
      //"BB1",
      //"GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN",
      "BTC",
      "GAUTUYY2THLF7SGITDFMXJVYH3LHDSMGEAKSBU267M2K7A3W543CKUEF",
    ),*/
  )
  .cursor("now")
  .stream({ onmessage: callback })






        setFormValidation('#formcomercio');

        $(".nav-item").on("click", function() {

            $(".nav-item").removeClass("active");

            /*if ($("#modaltag").val() == "sell") {
                $("#modaltag").val("buy");
            } else {
                $("#modaltag").val("sell");
            }*/

            $(this).addClass("active");


        });
        $(".nav-item2").on("click", function() {
            $(".nav-item2").removeClass("active");
            $(this).addClass("active");

        });
        $(".nav-item-oferta").on("click", function() {
            $(".nav-item-oferta").removeClass("active");
            $(this).addClass("active");

        });

        $("#btnsell").on("click", function() {
            $("#modaltag").val("sell");


        });
        $("#btnbuy").on("click", function() {

            $("#modaltag").val("buy");
        });



        $("#myinput").on("change", function() {
            $('#loader').show();
            var texto = $(this).val();
            consultar(texto);

        });
        var validarMonto2 = function(id, monto1, monto2, monto3) {
            //id=e.currentTarget.id;
            monto1 = parseFloat(parseFloat(monto1).toFixed(9));
            //monto1 = monto1.toFixed(9);
            monto2 = parseFloat(parseFloat(monto2).toFixed(9));
            //monto2 = monto2.toFixed(9);
            monto3 = parseFloat(parseFloat(monto3).toFixed(9));
            //monto3 = monto3.toFixed(9);
            if (monto1 == "") {
                $("#" + id).closest('.form-group').removeClass('has-success').addClass('has-danger');
                $("#" + id).closest('.form-check').removeClass('has-success').addClass('has-danger');

                $("#err_" + id).text("Este campo es requerido");

                return false;
            }

            if (monto3 != "-") {
                if (monto1 > monto3) {
                    $("#" + id).val("");
                    $("#" + id).closest('.form-group').removeClass('has-success').addClass('has-danger');
                    $("#" + id).closest('.form-check').removeClass('has-success').addClass('has-danger');

                    $("#err_" + id).text("El monto no debe ser mayor a tu limite");
                    //console.log(monto1 + "-" + monto3);
                    return false;
                }
            }

            if (monto1 <= 0) {
                $("#" + id).val("");
                $("#" + id).closest('.form-group').removeClass('has-success').addClass('has-danger');
                $("#" + id).closest('.form-check').removeClass('has-success').addClass('has-danger');

                $("#err_" + id).text("El monto no debe ser menor o igual a 0");

                return false;
            }



            return true;


        }


        var validarMonto = function(id, monto1, monto2, monto3) {


            if (!validarMonto2(id, monto1, monto2, monto3)) {
                return false;
            }
            monto1 = parseFloat(monto1);
            monto2 = parseFloat(monto2);
            monto3 = parseFloat(monto3);

            if (monto1.toFixed(9) > monto2.toFixed(9)) {
                $("#" + id).val("");
                $("#" + id).closest('.form-group').removeClass('has-success').addClass('has-danger');
                $("#" + id).closest('.form-check').removeClass('has-success').addClass('has-danger');

                $("#err_" + id).text("El monto no debe ser mayor a tu balance");

                return false;
            }



            return true;


        }


        var oferta = async function(oid, omonto, oprecio) {

            $('#loader').show();
            $(".quitar").attr("disabled", true);
            $("#btnprocesar").attr("disabled", true);
            
            let fee=await server.fetchBaseFee();
            fee+=1100;
            //console.log(oid);
            var cuenta = server.loadAccount($("#llavePublica").val());
            //console.log(omonto+"-"+oprecio);
            if (oid == "") {
                ope = {
                    selling: asset1,
                    buying: asset2,
                    amount: omonto,
                    price: oprecio,
                };
            } else {
                ope = {
                    selling: asset1,
                    buying: asset2,
                    amount: "0",
                    price: "1",
                    offerId: oid
                };
            }

            //console.log("wa1");
            cuenta.then(
                function(value) {
                    console.log("aqui");
                    var transaction = new StellarSdk.TransactionBuilder(value, {
                            "fee": fee,
                            "networkPassphrase": StellarSdk.Networks.PUBLIC
                        })
                        .addOperation(
                            StellarSdk.Operation.manageSellOffer(ope)
                        )
                        .setTimeout(30)
                        .build();

                    try{
                        var keypair = StellarSdk.Keypair.fromSecret("{{ request.session.merma }}");
                        transaction.sign(keypair);
                    }catch(error){
                        var keypair ="";
                    }
                    



                    
                    transresultado = server.submitTransaction(transaction);
                    transresultado.then(
                        function(value) {
                            console.log("aqio3");

                            var datos = {"hash":value.hash,};
                            var obj = JSON.stringify(datos);
                            //notificacion 
                            var url =window.location.protocol + "//" + window.location.host + "";
                            
                            $.ajax({
                                
                                url: url+'/api/v3/usuario/notif_intercambio/',
                                type: 'POST',
                                data:
                                {
                                'datos':obj,

                                },
                                headers: {"Authorization": 'token '+$("#token").val()},
                                beforeSend: function (xhr, settings) {
                                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                                },
                                success: function (arg) {}
                                    });

                            $('#loader').hide();
                            $("#btnprocesar").attr("disabled", false);

                            $(".quitar").attr("disabled", false);
                            if (oid == "") {
                                /* activosell.nu_balance = parseFloat(parseFloat(activosell.nu_balance).toFixed(9)) - parseFloat(parseFloat(omonto).toFixed(9));
                                 //activobuy.nu_balance = parseFloat(parseFloat(activobuy.nu_balance).toFixed(9)) - (parseFloat(parseFloat(omonto).toFixed(9)) * parseFloat(parseFloat(oprecio).toFixed(9)));
                                 $("#balancesell").text(activosell.nu_balance);*/

                                newMensaje("La oferta se ha procesado sactifactoriamente", "alerta1", "success");

                            } else {
                                /*if ($("#c"+oid).val()==activosell.tx_asset_code && $("#a"+oid).val()==activosell.tx_asset_issuer){
                                        activosell.nu_balance = parseFloat(parseFloat(activosell.nu_balance).toFixed(9)) - parseFloat(parseFloat(omonto).toFixed(9));
                                
                                        $("#balancesell").text(activosell.nu_balance);
                                    }*/
                                newMensaje("La oferta se ha cancelado sactifactoriamente", "alerta1", "success");

                            }
                            recargar();

                        },
                        function(error) {
                            //console.log(error);
                            $('#loader').hide();
                            $("#btnprocesar").attr("disabled", false);
                            $(".quitar").attr("disabled", false);
                            newMensaje("Hubo un error en la operacion", "alerta2", "warning","alercontainer");
                            if(error.response){
                                printMsjStellar(error.response,msjstellar,"danger","alercontainer");
                                }else{
                            newMensaje(error,"errors2","danger","alercontainer");
                                 }

                        }
                    );

                },
                function(error) {
                    $('#loader').hide();
                    $("#btnprocesar").attr("disabled", false);
                    $(".quitar").attr("disabled", false);
                    newMensaje("Hubo un error en la operacion", "alerta2", "warning","alercontainer");
                    if(error.response){
                        printMsjStellar(error.response,msjstellar,"danger","alercontainer");
                        }else{
                        newMensaje(error,"errors2","danger","alercontainer");
                    }
                }


            );

        }

        var recargar = function() {

            var url = window.location.protocol + "//" + window.location.host + "";
            $('#loader2').show();
            $.ajax({
                url: url + '/api/v3/get-trades/',
                type: 'POST',
                headers: {
                    "Authorization": 'token ' + $("#token").val()
                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
            }).done(function(arg) {
                    $("#tbodyactivo").html("");

                    $("#tbodyhistorico").html("");
                    tx = "";
                    tx2 = "";

                    $.each(arg.oferta.datos, function(idx, value) {
                        tx += "<tr>";
                        tx += "<td>";
                        tx += "<p class='title'>" + value.nu_total + "</p>";
                        tx += "<p class='text-muted'>" + value.buy_asset_code + "</p>";
                        tx += "</td>";
                        tx += "<td>";
                        tx += "<p class='title'>" + value.nu_precio + "</p>";
                        tx += "</td>";
                        tx += "<td>";
                        tx += "<p class='title'>-" + value.nu_monto + "</p>";
                        tx += "<p class='text-muted'>" + value.sell_asset_code + "</p>";
                        tx += "</td>";
                        tx += "<td>";
                        tx += "<a href='javascript:void(0)' class='btn btn-danger btn-sm quitar' name='btnquitar' id='" + value.id + "'>Quitar</a>";
                        tx += "</td>";

                        tx += "<input type='hidden' value='" + value.base_amount + "' id='m" + value.id + "'>";
                        tx += "<input type='hidden' value='" + value.sell_asset_code + "' id='c" + value.id + "'>";
                        tx += "<input type='hidden' value='" + value.sell_asset_issuer + "' id='a" + value.id + "'>";



                        tx += "</tr>";



                    });

                    $.each(arg.trades.datos, function(idx, value2) {

                        tx2 += "<tr>";
                        tx2 += "<td>";
                        if (value2.type_corto == "Venta") {
                            tx2 += "<span class='badge badge-success'>" + value2.type_corto + "</span>";
                        } else if (value2.type_corto == "Compra") {
                            tx2 += "<span class='badge badge-danger'>" + value2.type_corto + "</span>";
                        } else {
                            tx2 += "<span class='badge badge-primary text-black'>" + value2.type_corto + "</span>";
                        }
                        tx2 += "</td>";
                        tx2 += "<td>";
                        tx2 += "<p class='title'>+" + value2.counter_amount + "</p>";
                        tx2 += "<p class='text-muted'>" + value2.counter_asset_code + "</p>";
                        tx2 += "</td>";
                        tx2 += "<td>";
                        tx2 += "<p class='title'>" + value2.nu_precio + "</p>";
                        tx2 += "</td>";
                        tx2 += "<td>";
                        tx2 += "<p class='title'>-" + value2.base_amount + "</p>";
                        tx2 += "<p class='text-muted'>" + value2.base_asset_code + "</p>";
                        tx2 += "</td>";
                        tx2 += "<td></td>";
                        tx2 += "</tr>";

                    });
                    storetrade = arg.trades;
                    ////console.log(storetrade);

                    $("#tbodyactivo").html(tx);
                    $("#tbodyhistorico").html(tx2);




                    $(".quitar").on("click", async function() {
                        code = $(".quitar").attr("id");
                        await oferta(code, "0", "0");
                    });
                    $('#loader2').hide();
                    location.reload();








                }).fail(function(jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    newMensaje(errorThrown,"errord","danger","alercontainer");
                    $("#loader").hide();
                    

            });
        }

        $("#btnprocesar").on("click", async function() {


            await oferta("",$("#id_nu_monto").val(),$("#id_nu_precio").val());


        });

        $(".quitar").on("click", async function() {


            code = $(".quitar").attr("id");

            await oferta(code, 0, 0);


        });


        $("#id_nu_monto").on("change", function() {
            code = $(this).attr("id");


            if (validarMonto(code, $(this).val(), activosell.nu_balance, activosell.nu_limit)) {
                $(this).closest('.form-group').removeClass('has-danger').addClass('has-success');
                $(this).closest('.form-check').removeClass('has-danger').addClass('has-success');
                $("#err_" + code).text("");

            } else {

                $("#btnprocesar").attr("disabled", true);
            }


        });

        $("#id_nu_precio").on("change", function() {
            code = $(this).attr("id");

            if (validarMonto2(code, $(this).val(), activobuy.nu_balance, activobuy.nu_limit)) {
                $(this).closest('.form-group').removeClass('has-danger').addClass('has-success');
                $(this).closest('.form-check').removeClass('has-danger').addClass('has-success');
                $("#err_" + code).text("");

            } else {

                $("#btnprocesar").attr("disabled", true);
            }
        });

        $(".inputval").on("change", function() {

            if ($("#id_nu_precio").val() != "" && $("#id_nu_monto").val() != "") {
                var monto = $("#id_nu_monto").val();
                var precio = $("#id_nu_precio").val();
                var total = monto * precio;
                $("#id_nu_total").attr("disabled", false);
                if (total > (activobuy.nu_limit - activobuy.nu_balance)) {

                    $("#id_nu_total").closest('.form-group').removeClass('has-success').addClass('has-danger');
                    $("#id_nu_total").closest('.form-check').removeClass('has-success').addClass('has-danger');
                    $("#err_id_nu_total").text("El resultado es mayor a su limite");
                    $("#id_nu_total").val("");

                    $("#btnprocesar").attr("disabled", true);
                } else {
                    //console.log("tres");

                    $("#id_nu_total").closest('.form-group').removeClass('has-danger').addClass('has-success');
                    $("#id_nu_total").closest('.form-check').removeClass('has-danger').addClass('has-success');
                    $("#err_id_nu_total").text("");
                    $("#id_nu_total").val(total);

                    $("#btnprocesar").attr("disabled", false);

                }

                $("#id_nu_total").attr("disabled", true);



            } else {

                $("#btnprocesar").attr("disabled", true);
            }
        });





        var consultar = function(valor) {


            var url = window.location.protocol + "//" + window.location.host + "";
            var url2 = window.location.protocol + "//" + window.location.host + "/";

            $.ajax({
                url: url + '/api/v3/get-asset/',
                type: 'POST',
                data: {
                    'code': valor,
                },
                headers: {
                    "Authorization": 'token ' + $("#token").val()
                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function(arg) {
                    $('#loader').hide();
                    var imginterrogacion = url2 + "static/img/interrogacion.png";
                    var imglumens = url2 + "static/img/stellar-xlm-logo.png";



                    if (arg.success) {
                        $("#tablebody2").html("");
                        $("#tablebody4").html("");
                        var tx = "";
                        var tx2 = "";
                        i = 1;
                        $.each(arg.datos, function(idx, value) {



                            tx += "<tr>";
                            tx += "<td id='a" + i + "'>";
                            //console.log(value);

                            if (value.asset_type == "native") {
                                tx += "<img  src='" + imglumens + "' id='image" + i + "' alt='50' width='50' height='50'>";
                            } else {

                                if (value.img == "") {
                                    tx += "<img  src='" + imginterrogacion + "' id='image" + i + "' alt='50' width='50' height='50'>";

                                } else {
                                    tx += "<img  src='" + value.img + "' id='image" + i + "' alt='50' width='50' height='50'>";

                                }


                            }

                            tx += "<td>";
                            if(value.tx_moneda!="" && value.tx_moneda !="sin_toml"){
                            tx += "<p class='title text-white'><b>" + value.tx_moneda + "</b>(" + value.tx_asset_code + ")</p>";
                            }else{
                               tx += "<p class='title text-white'>(" + value.tx_asset_code + ")</p>";
                            }
                            tx += "<p class='text-muted'>" + value.org_url + "<p>";
                            tx += "</td>";
                            tx += "<td>";

                            if (value.nu_balance != "") {
                                tx += "<p class='title text-white'><b>" + value.nu_balance + "</b>(" + value.tx_asset_code + ")</p>";
                            }
                            tx += "</td>";

                            tx += "<td>";
                            tx2 = tx;
                            if (value.tx_asset_issuer != "") {
                                if (value.tx_asset_code == code2) {
                                    tx += "<form method='GET' action='" + url + "/comercio/" + value.tx_asset_code + "/" + value.tx_asset_issuer + "/" + code1 + "/" + issuer1 + "'>";

                                } else {
                                    tx += "<form method='GET' action='" + url + "/comercio/" + value.tx_asset_code + "/" + value.tx_asset_issuer + "/" + code2 + "/" + issuer2 + "'>";

                                }

                                if (value.tx_asset_code == code1) {
                                    tx2 += "<form method='GET' action='" + url + "/comercio/" + code2 + "/" + issuer2 + "/" + value.tx_asset_code + "/" + value.tx_asset_issuer + "'>";

                                } else {
                                    tx2 += "<form method='GET' action='" + url + "/comercio/" + code1 + "/" + issuer1 + "/" + value.tx_asset_code + "/" + value.tx_asset_issuer + "'>";

                                }
                            } else {
                                if (value.tx_asset_code == code2) {
                                    tx += "<form method='GET' action='" + url + "/comercio/" + value.tx_asset_code + "/0/" + code1 + "/" + issuer1 + "'>";

                                } else {
                                    tx += "<form method='GET' action='" + url + "/comercio/" + value.tx_asset_code + "/0/" + code2 + "/" + issuer2 + "'>";

                                }
                                if (value.tx_asset_code == code1) {
                                    tx2 += "<form method='GET' action='" + url + "/comercio/" + code1 + "/" + issuer1 + "/" + value.tx_asset_code + "/0'>";

                                } else {
                                    tx2 += "<form method='GET' action='" + url + "/comercio/" + code1 + "/" + issuer1 + "/" + value.tx_asset_code + "/0'>";

                                }

                            }



                            tx += "<button type='submit' class='btn btn-primary container text-dark'>Tomar</button>";
                            tx += "</form>";
                            tx += "</td>";
                            tx += "</tr>";

                            tx2 += "<button type='submit' class='btn btn-primary container text-dark'>Tomar</button>";
                            tx2 += "</form>";
                            tx2 += "</td>";
                            tx2 += "</tr>";


                            i++;
                        });


                        $("#tablebody2").append(tx);
                        $("#tablebody4").append(tx2);




                    }

                },
                error: function(xhr, ajaxOptions, thrownError) {
                    $('#loader').hide();
                    newMensaje(errorThrown,"errord","danger","alercontainer");
                    //console.log(xhr.status);
                    //console.log(thrownError);
                }
            });

        }

    });
</script>
{% endblock javascripts %}