{% extends 'inicio/base2.html' %} {% load static %}
<!--Transferencia-->
{% block title %} TDC / TDD  {% endblock title %} {% block content %}
<div class="row">

    {% if msg != '' %} {% if success is True %} {% include 'includes/msj-success.html' %} {% else %} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}
</div>
<div class="container">
    <div class="row ">
        <div class="col-md-12 mb-5">
            <div class="card ">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h1 class="card-title">Prueba Mercantil TDD/ TDC </h1>
                        
                        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
                    </div>
                </div>

                <form id="formservicios">
                    <div class="card-body">
                        <div class="row">
                        
                            <div class="col-md-12">
                              
                                 {% comment %} <div class="form-group">
                                    <label for="tp_cuentas">tipo de cuenta</label>
                                    <select class="form-control" id="tp_cuentas">
                                        <option value="0">Seleccione...</option>
                                        <option value="CA">Cta de Ahorros</option>
                                        <option value="CC">Cta Corriente</option>
                                        
                                    </select>
                                </div>  {% endcomment %}

                                
                                {% comment %} <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                           
                                            <label for="tp_tarjetas">tipo de tarjetas</label>
                                            <select class="form-control" id="tp_tarjetas">
                                                <option value="0">Seleccione...</option>
                                                <option value="tdc">Credito</option>
                                                <option value="tdd">Debito</option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                
                                
                                </div> {% endcomment %}

                                  <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <p for="tx_balance">numero de tarjeta</p>
                                            <input type="text" class="form-control text-white" id="nu_tarjeta" name="req0"  maxlength="20"/>
                                            
                                        </div>
                                    </div>
                                
                                
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <p for="tx_balance">fecha de vencimiento</p>
                                            <input type="text" class="form-control text-white" id="fe_vencimiento" name="req0" placeholder=" ejemplo 2021/11"/>
                                            
                                        </div>
                                    </div>
                                
                                
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <p for="tx_balance">cvv de tarjeta</p>
                                            <input type="text" class="form-control text-white" id="cvv" name="req0"  maxlength="3"/>
                                            
                                        </div>
                                    </div>
                                
                                
                                </div>


                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <p for="tx_balance">nacionalidad </p>
                                            <select class="form-control" id="tp_nacionalidad">
                                                <option value="0">Seleccione...</option>
                                                <option value="V">Venezolano</option>
                                                <option value="E">Extranjero</option>
                                                <option value="J">Juridico</option>
                                                
                                            </select>
                                            
                                        </div>
                                    </div>
                                
                                
                                </div>

                                 <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <p for="tx_balance">cedula</p>
                                            <input type="text" class="form-control text-white" id="cedula" name="req0"/>
                                            
                                        </div>
                                    </div>
                                
                                
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <p for="tx_balance">Numero de Factura</p>
                                            <input type="text" class="form-control text-white" id="nu_factura" name="req0" placeholder="ingrese un numeo entero porfavor ejemplo 652"/>
                                            
                                        </div>
                                    </div>
                                
                                
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <p for="tx_balance">Divisa</p>
                                            <select class="form-control" id="tp_divisa">
                                                <option value="0">Seleccione...</option>
                                                <option value="VES">BSS</option>
                                                <option value="USD">USD</option>
                                                
                                                
                                            </select>
                                            
                                        </div>
                                    </div>

                                
                        </div>
                        <div class="card-footer text-center">
                            <div class="row">
                                <div class="col-md-12">
                                    {% comment %} <button type="button" class="btn btn-fill btn-primary container waves-effect text-dark" data-toggle="modal" data-target="#confirmacion" id="procesar">
                                        Procesar
                                        </button> {% endcomment %}
                                    <a href='javascript:void(0)' class="btn btn-fill btn-primary container waves-effect text-dark" aria-disabled="true" name="procesar" data-toggle="modal" data-target="#confirmacion" id="procesar">Procesar</a>
                                </div>
                                <div class="col-md-12">
                                    <div id="alertdiv"> </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    
    </div>
    <input id="token" name="token" type="hidden" value="{{token}}">
 {% endblock content %} 

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/7.0.0/stellar-sdk.js" integrity="sha512-7UiifYw3IcKJHf3suEDr1yWa8rHVWW6xjuFiZ5kANlJ3Cncg8c9JE/wGJRfl72ckMD+ZidUeVx+/lNAUYk+t1g==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js" integrity="sha512-nOQuvD9nKirvxDdvQ9OMqe2dgapbPB7vYAMrzJihw5m+aNcf0dX53m6YxM4LgA9u8e9eg9QX+/+mPu8kCNpV2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



<script>


    $(document).ready(function() {
        $("#loader").hide();
        var tpcuenta = $("#tp_cuentas").val();
        var tptarjeta = $("#tp_tarjetas").val();
        var tpnacionalidad = $("#tp_nacionalidad").val();
        var tpdivisa;
        const url = window.location.protocol + "//" + window.location.host + "";
        
        


        $("#tp_cuentas").on('change', function(){
            tpcuenta = $("#tp_cuentas option:selected").val();
            console.log(tpcuenta);
        });

        $("#tp_tarjetas").on('change', function(){
            tptarjeta = $("#tp_tarjetas option:selected").val();
            console.log(tptarjeta);
        });

        $("#tp_nacionalidad").on('change', function(){
            tpnacionalidad= $("#tp_nacionalidad option:selected").val();
            console.log(tpnacionalidad);
        });

        $("#tp_divisa").on('change', function(){
            tpdivisa= $("#tp_divisa option:selected").val();
            console.log(tpdivisa);
        });

        console.log(tpcuenta);


    $("#procesar").click(function(){
        enviardatos();
    });
function enviardatos(){ 
    var obj = {
            
            "tpcuenta":tpcuenta,
            "tptarjeta":tptarjeta,
            "nu_tarjeta":$("#nu_tarjeta").val(),
            "fe_vencimiento":$("#fe_vencimiento").val(),
            "cvv":$("#cvv").val(),
            "nacionalidad":tpnacionalidad,
            "cedula":$("#cedula").val(),
           
        };

        console.log(obj);
    let respuesta = $.ajax({

            url: url + '/apitdc/',
            type: 'POST',
            data:obj,
            
            /*{
                'datos':obj,
                'co_tipo_solicitud':tp_solicitud,
            },*/
            headers: {
                "Authorization": 'token ' + $("#token").val()
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (arg) {
                
                console.log(arg);
                if(arg.success = true){

                    var settings = {
  "url": "https://apimbu.mercantilbanco.com/mercantil-banco/sandbox/v1/payment/pay",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/json",
    "X-IBM-Client-Id": "81188330-c768-46fe-a378-ff3ac9e88824"
  },
  "data": JSON.stringify({
    "merchant_identify": {
      "integratorId": 31,
      "merchantId": 150332,
      "terminalId": "abcde"
    },
    "client_identify": {
      "ipaddress": "10.0.0.1",
      "browser_agent": "Chrome 18.1.3",
      "mobile": {
        "manufacturer": "Samsung",
        "model": "S9",
        "os_version": "Oreo 9.1",
        "location": {
          "lat": 37.422476,
          "lng": 122.08425
        }
      }
    },
    "transaction": {
      "trx_type": "compra",
      "payment_method":"tdc",
      "card_number": $("#nu_tarjeta").val(),
      "customer_id":tpnacionalidad+$("#cedula").val(),
      "invoice_number": $("#nu_factura").val(),
      "account_type": "",
      "twofactor_auth": "",
      "expiration_date": $("#fe_vencimiento").val(),
      "cvv": arg.data,
      "currency": $("#tp_divisa").val(),
      "amount": 2525.33
    }
  }),
};

$.ajax(settings).done(function (response) {
  console.log(response);
});
                }
            }
        });
    
        
            }
        });
    
</script>
{% endblock javascripts %}