{% extends 'inicio/base2.html' %}

{% block title %}
Deposito
{% endblock title %}



{% block content %}
<div class="row">

{% if msg != '' %}
{% if success is True %}   

{% include 'includes/msj-success.html' %}
{% else %}
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>
 <div class="row ">
    <div class="col-md-6 col-lg-6">
   <form method="POST" action="">
        {% csrf_token %}
  <div class="card ">
            
        <div class="card-header">
          <div class="d-flex align-items-center">
                        <h2 class="card-title">Depositar</h2>
                        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>

                    </div>
          </div>
          
         <div class="card-body">
          <table class="table tablesorter table-hover" id="" >
          <tbody>
          <tr>
          <td>SRT: </td>
          
          <td id="tdbalance"></td>
          </tr>
          </tbody>
                </table>

                        <!--Quizas mas adelante haga falta poner fecha-->

                    </div>
                    
                     
          
        
          <li class="dropdown-divider"></li>
        <div class="card-footer text-center">
        
<a href="javascript:void(0)" class="btn btn-fill btn-primary text-dark my-2 my-sm-0" id='boton'>
                           procesar
                        </a> 
                        <a href="javascript:void(0)" class="btn btn-fill btn-primary text-dark my-2 my-sm-0" id='boton2'>
                           Limpiar
                        </a> </div>
      </div>
      </form>
  </div>   

  <div class="col-md-6 col-lg-6">
    <div class="card ">
            
        <div class="card-header">
        
                  <h2 class="card-title">Respuesta</h2>
          
          </div>
          
         <div class="card-body overflow-auto" id="divrespuesta" >


                        <!--Quizas mas adelante haga falta poner fecha-->

                    </div>



  </div>
  </div>
</div>

          <input id="token" name="token" type="hidden" value="{{token}}">
          <input id="llavePublica" name="llavePublica" type="hidden" value="{{ publico }}">  
{% endblock content %}


{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/7.0.0/stellar-sdk.js" integrity="sha512-7UiifYw3IcKJHf3suEDr1yWa8rHVWW6xjuFiZ5kANlJ3Cncg8c9JE/wGJRfl72ckMD+ZidUeVx+/lNAUYk+t1g==" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
const server = new StellarSdk.Server('https://horizon-testnet.stellar.org');
const url = window.location.protocol + "//" + window.location.host + "/";
var msjstellar = "{{msjstellarjson | escapejs }}";
    msjstellar = JSON.parse(msjstellar);

$('#loader').hide();


async function getmisSTR(){
$('#loader').show();
try{
  let response =  await $.ajax({
          url: url+"pruebastellar/api/balanceSTR",
          type: 'POST',
          headers: {"Authorization": 'token '+$("#token").val()},
          beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          }});

  $("#tdbalance").text(await response.balance);
  $('#loader').hide();

}catch(error){
$('#loader').hide();
}


}

getmisSTR();

async function getCuenta(){
  $('#loader').show();
  try{
    let response=await server.loadAccount($("#llavePublica").val());
    console.log("----------PASO 2 RESPUESTA CUENTA EXTERNA-----------");
    console.log("<- Fetch issuer account from Horizon");
    console.log(response);


    newMensaje("<- Fetch issuer account from Horizon","post2","success","divrespuesta");
    newMensaje(response.id,"content2","dark","divrespuesta");

    return response;

    
  $('#loader').hide();
  }catch(error){
    if(error.response){
    printMsjStellar(error.response,msjstellar,"danger","divrespuesta");
    }else{
    newMensaje(error,"errors2","danger","divrespuesta");
    }
    $('#loader').hide();
  }

}
         

 $("#boton2").on('click', function () {
$("#divrespuesta").html('');

 });

 $("#boton").on('click', async function () {
      
      //---------PASO 1 PREGUNTA CUENTA EXTERNA---------
      console.log("----------PASO 1 PREGUNTA CUENTA EXTERNA-----------");
      
      console.log("-> Fetch issuer account from Horizon GCDNJUBQSX7AJWLJACMJ7I4BC3Z47BQUTMHEICZLE6MU4KQBRYG5JY6B");
      
      newMensaje("-> Fetch issuer account from Horizon","post1","info","divrespuesta");
      newMensaje("GCDNJUBQSX7AJWLJACMJ7I4BC3Z47BQUTMHEICZLE6MU4KQBRYG5JY6B","content1","dark","divrespuesta");



 $.ajax({
          url: "https://horizon-testnet.stellar.org/accounts/GCDNJUBQSX7AJWLJACMJ7I4BC3Z47BQUTMHEICZLE6MU4KQBRYG5JY6B",
          type: 'GET',
          beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success: function (arg) {
            
            //---------PASO 2 RESPUESTA CUENTA EXTERNA----------------------------------
            
            console.log("----------PASO 2 RESPUESTA CUENTA EXTERNA-----------");
            console.log("<- Fetch issuer account from Horizon");
            console.log(arg);


            newMensaje("<- Fetch issuer account from Horizon","post2","success","divrespuesta");
            newMensaje(arg,"content2","dark","divrespuesta");


            
            //---------PASO 3 INFORMACION-------------------------------------------
            
            console.log("----------PASO 3 INFORMACION-----------");
           var dominio=arg.home_domain;
           var dominio2=dominio.substring(8,dominio.length);
           console.log(dominio2);
           if (!dominio){
             newMensaje("Couldn't find a home_domain on the assets issuer","content2","danger","divrespuesta");

              
            console.log("Couldn't find a home_domain on the assets issuer");
            }else{
            newMensaje("Found home_domain '"+dominio+"' as issuer's domain, fetching the TOML file to find the transfer server","content2","dark","divrespuesta");

            console.log("Found home_domain '"+dominio+"' as issuer's domain, fetching the TOML file to find the transfer server");
            

          
       
          //---------PASO 4 CONSULTAR TOML---------------------------------------------

            
          var tomlurl=dominio+"/.well-known/stellar.toml";
          console.log("----------PASO 4 CONSULTAR TOML-----------");
          console.log("-> "+tomlurl);
          newMensaje("->"+tomlurl,"request","info","divrespuesta");
     

          
          var url = window.location.protocol + "//" + window.location.host + "/";
          $.ajax({
          url: url+"pruebastellar/api/toml",
          type: 'POST',
          data: {
            'dominio': dominio2,
          },
          headers: {"Authorization": 'token '+$("#token").val()},
          beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success: function (arg2) {
            
          console.log("<- "+tomlurl);
          console.log(arg2);
          

          newMensaje("<-"+tomlurl,"response","success","divrespuesta");
          newMensaje(arg2,"response","dark","divrespuesta");
          
          
          
          
          //---------PASO 5 INFORMACION-----------------------------------------

          
          console.log("----------PASO 5 INFORMACION-----------");
          console.log("Received WEB_AUTH_ENDPOINT from TOML:"+arg2.WEB_AUTH_ENDPOINT);        
          console.log("Received TRANSFER_SERVER_SEP0024 from TOML:"+arg2.TRANSFER_SERVER_SEP0024);
          console.log("Received asset issuer from TOML:"+arg2.SIGNING_KEY);



          newMensaje("Received WEB_AUTH_ENDPOINT from TOML: "+arg2.WEB_AUTH_ENDPOINT,"response","dark","divrespuesta");
          newMensaje("Received TRANSFER_SERVER_SEP0024 from TOML: "+arg2.TRANSFER_SERVER_SEP0024,"response","dark","divrespuesta");
          newMensaje("Received asset issuer from TOML: "+arg2.SIGNING_KEY,"response","dark","divrespuesta");


          if (
            !arg2.SIGNING_KEY ||
            !arg2.TRANSFER_SERVER_SEP0024 ||
            !arg2.WEB_AUTH_ENDPOINT
          ) {
              newMensaje("TOML must contain a SIGNING_KEY, TRANSFER_SERVER_SEP0024 and WEB_AUTH_ENDPOINT","response","dark","divrespuesta");
          }else{

          

          //---------PASO 6 COMPROBAR VIALIDAD DEL DEPOSITO-----------------------------------------

         
          console.log("----------PASO 6 COMPROBAR VIALIDAD DEL DEPOSITO-----------");
          console.log("Check /info endpoint to ensure this currency is enabled for deposit");
          newMensaje("Check /info endpoint to ensure this currency is enabled for deposit","response","dark","divrespuesta");

          console.log("->"+arg2.TRANSFER_SERVER_SEP0024+"/info");
          
          newMensaje("->"+arg2.TRANSFER_SERVER_SEP0024+"/info","request","info","divrespuesta");


           $.ajax({
          url: arg2.TRANSFER_SERVER_SEP0024+"/info",
          type: 'GET',
          beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success: function (arg3) {


          console.log("<-"+arg2.TRANSFER_SERVER_SEP0024+"/info");
          console.log(arg3);

          newMensaje("<-"+arg2.TRANSFER_SERVER_SEP0024+"/info","response","success","divrespuesta");
          newMensaje(arg3,"response","dark","divrespuesta");
         
          if (!arg3['deposit']['SRT']['enabled']){
            
              console.log("Asset is not enabled in the /info endpoint");
          }else{
              console.log("Deposit is enabled, and requires authentication so we should go through SEP-0010");
          
          
          
          
          
      
          //---------PASO 7 COMPROBAR SEP 10-----------------------------------------
          
          console.log("---------PASO 7 COMPROBAR SEP 10--------------");
          
         console.log("Start the SEP-0010 flow to authenticate the wallet’s Stellar account");
    
          
        console.log("->"+arg2.WEB_AUTH_ENDPOINT);
        
        console.log("account: GAFYTFOIIUEDGNFDQG6IIAO3TGBRVL4HCVX5XM7K5INWGZXDNDYOLE52");
        
         newMensaje("Start the SEP-0010 flow to authenticate the wallet’s Stellar account","info","divrespuesta");
         newMensaje("->"+arg2.WEB_AUTH_ENDPOINT,"request","info","divrespuesta");
        newMensaje("account: GAFYTFOIIUEDGNFDQG6IIAO3TGBRVL4HCVX5XM7K5INWGZXDNDYOLE52","request","dark","divrespuesta");
          $.ajax({
          url: arg2.WEB_AUTH_ENDPOINT,
          data:{
          account: 'GAFYTFOIIUEDGNFDQG6IIAO3TGBRVL4HCVX5XM7K5INWGZXDNDYOLE52',
          },
          type: 'GET',
          beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success: function (arg4) {
            console.log("<-"+arg2.WEB_AUTH_ENDPOINT);
            console.log(arg4);
          newMensaje("<-"+arg2.WEB_AUTH_ENDPOINT,"response","success","divrespuesta");
          newMensaje(arg4,"response","dark","divrespuesta");
          
            if (!arg4.transaction){
              console.log("The WEB_AUTH_ENDPOINT didn't return a challenge transaction");
              newMensaje("The WEB_AUTH_ENDPOINT didn't return a challenge transaction","response","danger","divrespuesta");
            
            }else{
              console.log("We’ve received a challenge transaction from the server that we need the client to sign with our Stellar account.");
              newMensaje("We’ve received a challenge transaction from the server that we need the client to sign with our Stellar account.","response","dark","divrespuesta");
            



          //---------PASO 8 CONSULTAR UNA TRANSACCION SEP 10-----------------------------------------
          
          console.log("---------PASO 8 CONSULTAR UNA TRANSACCION SEP 10--------------");
          console.log("-> "+url+"pruebastellar/api/transacionEnvelope");
          newMensaje("-> "+url+"pruebastellar/api/transacionEnvelope","request","info","divrespuesta")
            
          $.ajax({
          url: url+"pruebastellar/api/transacionEnvelope",
          data:{
          transaccion: arg4.transaction,
          network:arg4.network_passphrase
          },
          type: 'POST',
          headers: {"Authorization": 'token '+$("#token").val()},
          beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success: function (arg5) {
          console.log("<- "+url+"pruebastellar/api/transacionEnvelope");
          console.log(arg5);

          newMensaje("<- "+url+"pruebastellar/api/transacionEnvelope","response","success","divrespuesta");
          newMensaje(arg5.transaccion,"response","dark","divrespuesta");
          newMensaje("Base64 Encoded "+arg5.XDR,"response","dark","divrespuesta");
          
          

          //---------PASO 9 MAS DE SEP 10-----------------------------------------
          
          console.log("---------PASO 9 MAS DE SEP 10-------------");
          console.log("We need to send the signed SEP10 challenge back to the server to get a JWT token to authenticate our stellar account with future actions");
          console.log("->"+arg2.WEB_AUTH_ENDPOINT);
          console.log(JSON.stringify({
          account: 'GAFYTFOIIUEDGNFDQG6IIAO3TGBRVL4HCVX5XM7K5INWGZXDNDYOLE52',
          transaction:arg5.XDR,
          }));




          newMensaje("We need to send the signed SEP10 challenge back to the server to get a JWT token to authenticate our stellar account with future actions","informacion","dark","divrespuesta");
          newMensaje("->"+arg2.WEB_AUTH_ENDPOINT,"request","info","divrespuesta")
          newMensaje(JSON.stringify({
          account: 'GAFYTFOIIUEDGNFDQG6IIAO3TGBRVL4HCVX5XM7K5INWGZXDNDYOLE52',
          transaction:arg5.XDR,
          }),"informacion","dark","divrespuesta");
          

          
           $.ajax({
          url: arg2.WEB_AUTH_ENDPOINT,
          data:JSON.stringify({
          account: 'GAFYTFOIIUEDGNFDQG6IIAO3TGBRVL4HCVX5XM7K5INWGZXDNDYOLE52',
          transaction:arg5.XDR,
          }),
          type: 'POST',
          headers: {
            "Content-Type": 'application/json' 
            },
          beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success: function (arg6) {
        console.log("<-"+arg2.WEB_AUTH_ENDPOINT);
        newMensaje("<-"+arg2.WEB_AUTH_ENDPOINT,"response","success","divrespuesta");
           


        if(!arg6.token){
          
        console.log("No token was returned from POST /auth");

        }else{

        console.log(arg6);
        newMensaje("token: "+arg6.token,"informacion","dark","divrespuesta");
           

     




          //---------PASO 10 CHEQUEAR TRANSACNTION SEP 10-----------------------------------------
          
          console.log("---------PASO 10 CHEQUEAR TRANSACNTION SEP 10------------------");
          console.log("To get the url for the interactive flow check the /transactions/deposit/interactive endpoint");
          console.log("-> "+arg2.TRANSFER_SERVER_SEP0024+"/transactions/deposit/interactive");
          console.log(JSON.stringify({
          asset_code: 'SRT',
          account:'GAFYTFOIIUEDGNFDQG6IIAO3TGBRVL4HCVX5XM7K5INWGZXDNDYOLE52',
          lang:'en'
          }));


        newMensaje("To get the url for the interactive flow check the /transactions/deposit/interactive endpoint","informacion","dark","divrespuesta");
        newMensaje("-> "+arg2.TRANSFER_SERVER_SEP0024+"/transactions/deposit/interactive","request","info","divrespuesta")
        newMensaje(JSON.stringify({
          asset_code: 'SRT',
          account:'GAFYTFOIIUEDGNFDQG6IIAO3TGBRVL4HCVX5XM7K5INWGZXDNDYOLE52',
          lang:'en'
          }),"informacion","dark","divrespuesta");
        
        var formData = new FormData();
        formData.append('asset_code',"SRT");
        formData.append('account',"GAFYTFOIIUEDGNFDQG6IIAO3TGBRVL4HCVX5XM7K5INWGZXDNDYOLE52");       
        formData.append('lang', "en");
          
        console.log(formData)
//[{"key":"asset_code","value":"SRT","description":"","type":"text","enabled":true}],
        $.ajax({
          url: url+"pruebastellar/api/chequearTransaccion",
          data:{
          token:arg6.token,
          url:arg2.TRANSFER_SERVER_SEP0024+"/transactions/deposit/interactive"},
          type: 'POST',
          headers: {
            //"Content-Type": 'multipart/form-data',
            //"Authorization": 'Bearer '+arg6.token,
            "Authorization": 'token '+$("#token").val(),
            },
          beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success: function (arg7) {
          

        console.log("<- "+arg2.TRANSFER_SERVER_SEP0024+"/transactions/deposit/interactive");
        newMensaje("<-"+arg2.TRANSFER_SERVER_SEP0024,"response","success","divrespuesta");
           
        if(!arg7.url){
        console.log("No URL Returned from POST /transactions/deposit/interactive");
        newMensaje("No URL Returned from POST /transactions/deposit/interactive","informacion","danger","divrespuesta");
         

        }else{
          console.log(arg7);
          newMensaje(JSON.stringify({
          type: arg7.type,
          url:arg7.url,
          id:arg7.id}),"informacion","dark","divrespuesta");
         
        





        //---------PASO 11 QUIZAS EL ULTIMO-----------------------------------------
        console.log("---------PASO 11 QUIZAS EL ULTIMO-------------------");
        console.log("To collect the interactive information we launch the interactive URL in a frame or webview, and await payment details from a postMessage callback");
        newMensaje("To collect the interactive information we launch the interactive URL in a frame or webview, and await payment details from a postMessage callback","informacion","dark","divrespuesta");
        
        
        var popup=window.open(arg7.url, 'popup', 'height=800,width=500,toolbar=no');
        if (!popup) {
            console.log("Popups are blocked. You’ll need to enable popups for this demo to work");
          }
        $(popup).on("click", function(e) {
          console.log(e);
            var data = e.originalEvent.data;  // Should work.
            console.log(data);
        });
        
          /*window.onmessage = function({ data: { transaction } }){
            console.log('gunciona');
            if (transaction.status === 'completed') {
              
              console.log('Transaction status complete')
            } else {
              console.log('Transaction status pending...')
              setTimeout(function (){
                
                const urlBuilder = new URL(transaction.more_info_url)
                urlBuilder.searchParams.set('callback', 'postMessage')

                popup.location.href = urlBuilder.toString()
              }, 1000)
            }
          }*/

console.log('al menos paso por aqui');



          
         
        //-----FIN DEL AJAX 7
        }}});

          
          /*this.logger.response(
      toml.TRANSFER_SERVER_SEP0024 + '/transactions/deposit/interactive',
      interactiveResponse
    )
    if (!interactiveResponse.url) {
      throw 'No URL Returned from POST /transactions/deposit/interactive'
    }*/
          
          
          
          
          
          
     

          //-----FIN DEL AJAX 6
        }}});






      //-----FIN DEL AJAX 5
          }});




          //-----FIN DEL AJAX 4
              }}});



          //-----FIN DEL AJAX 3
           }}});





         

          //-----FIN DEL AJAX 2 
          }}}); 

      

          
          //-----FIN DEL AJAX 1 
          
          }}});

          //-----FIN DEL BOTON EVENTO
          });


});
</script>

{% endblock javascripts %}