{% extends 'inicio/base2.html' %} {% load static %} {% block title %} Balance {% endblock title %} {% block content %}
<div class="row">
    {% if msg != '' %} {% if success == 1%} {% include 'includes/msj-success.html' %} {% else%} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}
</div>
<div class="row">
    <div class="col-md-12">
        <div id="alercontainer"></div>
    </div>
</div>
    <div class="row ">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Activos</h2>
                </div>
                <div class="card-body">
                    <li class="dropdown-divider"></li>
                    <div class="card-header">
                        <h4 class="card-title">Activos recomendados por Prontopagos</h4>
                    </div>
                    <div class="row">
                        {% for va in recomendados %}
                        <div class="col-6 col-md-4 col-lg-4 col-sm-4" id="re-{{va.tx_asset}}">
                            <div class="card ">
                                <div class="card-header">
                                    <div class="row d-flex justify-content-center text-white" id="rimg">
                                        <img src="
                                            {% if va.img != "" %}
                                                {{ va.img }}
                                            {% else %}
                                                {% static 'img/interrogacion.png' %}                   
                                            {% endif %}
                                            " alt="50" width="50" height="50">
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <h4 class="card-title">
                                        {% if  va.tx_moneda != "" and va.tx_moneda != "sin_toml"%}
                                         {{va.tx_moneda}}
                                        {% endif %}({{va.asset.code}})
                                        </h4>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <h5>{{ va.org_url}}</h5>
                                    </div>

                                </div>
                                <div class="card-body">
                                    <!--<p class="text-white" name="rdescmoneda" id="rd{{ forloop.counter }}">{{ va.asset_desc}}</p>-->
                                    <a class="btn btn-primary btn-sm container waves-effect text-dark botondetalle2" data-toggle='modal' data-target='#detalleModal' href='javascript:void(0)' id="{{va.tx_asset}}">Agregar</a>
                                </div>
                                <!--
                                <div class="card-footer">
                                    <a class="btn btn-primary btn-sm container waves-effect text-dark botondetalle2" data-toggle='modal' data-target='#detalleModal' href='javascript:void(0)' id="{{va.tx_asset}}">Agregar</a>
                                </div>
                                -->
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <li class="dropdown-divider"></li>

                    <!--///////////////Mis activos////////////////-->

                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h2 class="card-title">Mis Activos</h2>
                            <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
                        </div>
                    </div>
                    <div class="card-header">
                        <div class="navbar">
                            <input class="form-control" id="myinput" type="text" placeholder="Buscar..">
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter table-hover" id="">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody class="white-text" id="tablebody">
                                    {% for values in activos %} 
                                    {% if values.asset_type != "liquidity_pool_shares" %}
                                    {% if values.propio or values.asset_type == "native" %}
                                    <tr>
                                        <td>
                                            <img src="
                                        {% if values.asset_type == "native" %}
                                                {% static 'img/stellar-xlm-logo.png' %}
                                            {% else %}
                                                {% if values.img != "" %}
                                                    {{ values.img }}
                                                {% else %}
                                                {% static 'img/interrogacion.png' %}
                                                
                                                {% endif %}
                                        {% endif %}
                                        
                                        " alt="50" width="50" height="50">
                                        {% if  values.tx_moneda != "" and values.tx_moneda != "sin_toml"%}
                                         {{values.tx_moneda}}
                                        {% endif %}({{values.asset.code}})
                                        </td>
                                        <td>
                                            {{values.nu_balance2}}
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-6">
                                                <a href='javascript:void(0)' class='btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 botondetalle' data-toggle='modal' data-target='#detalleModal' id="{{values.tx_asset}}">
                                                <i class="tim-icons icon-zoom-split"></i></a>
                                            
                                                {% if values.asset_type != "native" %}
                                                <a href='javascript:void(0)' class='btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 botonagregar' id='{{values.tx_asset}}'>
                                                {% if  values.nu_balance != "" or values.nu_balance > 0  %}
                                                <!--Quitar--><i class="tim-icons icon-simple-remove"></i>
                                                {% else %}
                                                <!--Agregar--><i class="tim-icons icon-simple-add"></i>
                                                {% endif %}  
                                                </a>
                                                {% endif %}
                                            </div>
                                            </div>

                                        </td>
                          
                                    </tr>
                                    {% endif %}{% endif %}  {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>



<!--///////////////Modales////////////////-->

<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="border-primary modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader2"></div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row d-flex justify-content-center text-white" id="pimg">
                    <img src="{% static 'img/stellar-xlm-logo.png' %}" id="image" alt="50" width="50" height="50">
                </div>
                <div class="row d-flex justify-content-center text-white" id="pmone">
                    Lumens
                </div>
                <div class="row d-flex justify-content-center">
                    <h5 id="purl"></h5>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12" id="tddescripcion">
                        <p class="text-white" name="pdescripcion" id="pdescripcion"></p>
                    </div>
                    <div class="col-md-12" id="tdissuer">
                        <h5 class="text-primary">Issuer</h5>
                        <h5 class="text-white" name="pissuer" id="pissuer"></h5>
                    </div>
                    <hr/>
                    <div class="col-md-12" id="tddescmoneda">
                        <h5 class="text-primary">Descripción</h5>
                        <h5 class="text-white" name="pdescmoneda" id="pdescmoneda"></h5>
                    </div>
                    <hr/>
                    <div class="col-md-12" id="tdcondicion">
                        <h5 class="text-primary">Condiciones</h5>
                        <h5 class="text-white" name="pcondicion" id="pcondicion"></h5>
                    </div>
                </div>
                <!--Quizas mas adelante haga falta poner fecha-->
            </div>
            <input id="ide" name="ide" type="hidden">
            <div class="modal-footer">
                <a class="btn btn-primary text-dark agr botonagregar btnmodal" href='javascript:void(0)' id="{{va.tx_asset}}">
                    Agregar
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader2"></div>

                    </a>
                <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<input id="token" name="token" type="hidden" value={{ token }}>
<input id="reco" name="reco" type="hidden" value="0">
<input id="llavePublica" name="llavePublica" type="hidden" value="{{ publico }}"> {% endblock content %} {% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/7.0.0/stellar-sdk.js" integrity="sha512-7UiifYw3IcKJHf3suEDr1yWa8rHVWW6xjuFiZ5kANlJ3Cncg8c9JE/wGJRfl72ckMD+ZidUeVx+/lNAUYk+t1g==" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        const server = new StellarSdk.Server('https://horizon.stellar.org');
        const comisionppg="{{ comision }}";
        const fcomisionppg=parseFloat(comisionppg.replace(",","."));
        const co_comision = "{{ co_comision }}";
        var cuentap = false;
        const publico = $("#llavePublica").val()
        
        var msjstellar = "{{msjstellarjson | escapejs }}";
        msjstellar = JSON.parse(msjstellar);

        var allactivos = "{{allactivosjson | escapejs }}";
        allactivos = JSON.parse(allactivos);

        var imglumens = url + "/static/img/stellar-xlm-logo.png";
        var imginterrogacion = url + "/static/img/interrogacion.png";

        $('#loader').hide();
        $('#loader2').hide();
        //$("#tddescripcion").hide();
        //$("#tdissuer").hide();
        //$("#tddescmoneda").hide();
        //$("#tdcondicion").hide();

        $("#myinput").on("keyup", function() {
            //$('#loader').show();
            var texto = $(this).val();
            consultar(texto);

        });

        function buscarUnActivo(codigo) {
            let asset = "";
            $.each(allactivos, function(idx, value) {
                if (value.tx_asset == codigo) {
                    asset = value;
                }
            });
            //console.log(asset);
            return asset
        }


        async function getActivo() {
            $('#loader').show();
            $('#loader2').show();

            try {

                let response = await $.ajax({
                    url: url + '/api/stellar/account/balance/detalle',
                    type: 'GET',
                    headers: {
                        "Authorization": 'token ' + $("#token").val()
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                });



                $('#loader').hide();
                $('#loader2').hide();
                if (response.success) {

                    return response.datos;
                } else {
                    if(response.error != undefined){
                        newMensaje(response.error, "errors2", "danger", "alercontainer");
                    }else{
                        newMensaje("Ha ocurrido un error", "errors2", "danger", "alercontainer");
                    }
                    return false;
                }

            } catch (error) {
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "alercontainer");
                } else {
                    console.log(error);
                    newMensaje(error_default, "errors2", "danger", "alercontainer");
                }
                $('#loader').hide();
                $('#loader2').hide();

                return false;

            }
        }

        var contenidoenbucle = function(value) {
            let tx = "";
            tx += "<tr>";
            tx += "<td>";
            //console.log(value);

            if (value.asset_type == "native") {
                tx += "<img  src='" + imglumens + "' alt='50' width='50' height='50'>";
            } else {

                if (value.img == "") {
                    tx += "<img  src='" + imginterrogacion + "' alt='50' width='50' height='50'>";

                } else {
                    tx += "<img  src='" + value.img + "' alt='50' width='50' height='50'>";

                }


            }

            if(value.tx_moneda!="" && value.tx_moneda!="sin_toml"){
            tx += " " + value.tx_moneda + "(" + value.asset.code + ")" + "</td>";
            }else{
            tx += "(" + value.asset.code + ")" + "</td>";
            }


            tx += "<td>" + value.nu_balance2 + "</td>";
            tx += "<td>";
            tx += "<a href='javascript:void(0)' class='btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 botondetalle' data-toggle='modal' data-target='#detalleModal' id='" + value.tx_asset + "'>";
            tx += "<i class='tim-icons icon-zoom-split'></i>";
            tx += "</a>";


            tx += "</td>";
            tx += "<td>";
            if (value.asset_type != "native") {
                tx += "<a href='javascript:void(0)' class='btn btn-fill btn-primary text-dark my-2 my-sm-0 botonagregar' id='" + value.tx_asset + "'>";
                if (value.nu_balance != undefined) {


                    tx += "Quitar";

                } else {
                    tx += "Agregar";
                }

                tx += "</a>";
            }



            tx += "</td>";


            tx += "</tr>";
            return tx
        }
        async function botonagregar(codigo){
            var asset = buscarUnActivo(codigo);
            
            var si = true;
            $(".botonagregar").attr("disabled", true);

            if (asset.nu_balance != undefined) {
                si = false;
            }
            await agregarConfianza(asset, si, "");

        }

        function botondetalle(codigo){

            $(".btnmodal").attr('id', codigo);
            asset = buscarUnActivo(codigo);
            if (asset.asset_type == "native") {
                $(".btnmodal").hide();
            } else {
                $(".btnmodal").show();
            }
            $(".btnmodal").html("Agregar");
            if (asset.nu_balance != undefined) {
                si = false;
                $(".btnmodal").html("Quitar");
            }
            $("#reco").val("0");
            pintarmodal(asset);

        }

        var consultar = function(valor) {


            $('#loader').hide();

            $('#tablebody').html("");
            var tx = "";
            
            //console.log("aqui1");
            if (valor == "") {
                $.each(allactivos, function(idx, value) {
                    //console.log(value);
                    if (value.propio || value.asset_type == "native") {
                        tx += contenidoenbucle(value);
                    }
                });
            } else {
                $.each(allactivos, function(idx, value) {
                    let codi = value.asset.code;
                    if (codi.includes(valor.toUpperCase())) {
                        tx += contenidoenbucle(value);
                    }
                });

            }
            //console.log("aqui2");
            $('#tablebody').append(tx);
            $("#detalleModal").modal('hide');
            //console.log("aqui6");

            $(".botonagregar").on("click", async function() {
                    await botonagregar($(this).attr('id'));
            });

        $(".botondetalle").on("click", function() {
            botondetalle($(this).attr('id'));
        });




        }

        var pintarmodal = function(value) {

             if(value.tx_moneda!="" && value.tx_moneda!="sin_toml"){
            $("#pmone").text(value.tx_moneda + "(" + value.asset.code + ")");
             }else{
            $("#pmone").text("(" + value.asset.code + ")");
             }
            $("#purl").text(value.org_url);
            $("#ide").val(value.tx_asset);

            if (value.asset_type == "native") {

                $("#image").attr("src", imglumens);
            } else {

                if (value.img == "") {
                    $("#image").attr("src", imginterrogacion);
                } else {

                    $("#image").attr("src", value.img);
                }
            }

            $("#pdescripcion").text(value.org_desc);
            $("#pissuer").text(value.asset.issuer);
            //onsole.log(value);
            $("#pdescmoneda").text(value.asset_desc);
            $("#pcondicion").text(value.asset_conditions);
        }

        //----------------FUNCION CUANDO SE VALLA A APLICAR EL CAMBIO A A SYNC AWAIT
        /**
         *@param{string} public 
         *@param{string} loader 
         *@returns {object} 
         */
        var getCuenta = async function(public) {
            try {

                let response = await server.loadAccount($("#llavePublica").val());
                //console.log("Aquiooo");
                return response;

            } catch (error) {
                //console.log(error);
                newMensaje("Ha ocurrido un error", "errors", "danger", "alercontainer");
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "alercontainer");
                } else {
                    console.log(error);
                    newMensaje(error_default, "errors2", "danger", "alertdiv");
                }

                $('#loader').hide();
                $("#loader2").hide();
                $(".botonagregar").attr("disabled", false);
                $("#detalleModal").modal('hide');

                return false;
            }
        }

        async function sendAfiliacion(codigo) {
            try {
                let response = await $.ajax({
                    url: url + '/api/afiliado/transaccion/',
                    type: 'POST',
                    data: {
                        'tx_codigo': codigo,
                        'nu_monto': fcomisionppg,
                        'co_comision': co_comision,
                        'tipo':12,
                    },
                    headers: {
                        "Authorization": 'token ' + $("#token").val()
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    }
                });
                return response;

            } catch (error) {
                console.log(error);
                //newMensaje("Ha ocurrido un error", "errors", "danger", "alertdiv");
                newMensaje(error_default, "def", "danger", "alertdiv");
                return false;
            }

        }

        var makeTransaccion = async function(cuenta, si, asset) {
            $('#loader').show();
            $('#loader2').show();
            let fee = await server.fetchBaseFee();
            fee += 1100;
            try {
                if (si) {
                    var transaction = new StellarSdk.TransactionBuilder(cuenta, {
                            "fee": fee,
                            "networkPassphrase": StellarSdk.Networks.PUBLIC
                        })
                        .addOperation(
                            StellarSdk.Operation.changeTrust({
                                "asset": asset
                            })
                        )
                        .addOperation(
                            StellarSdk.Operation.payment({
                              destination: "GCEOQCK55IEOM6FAWVMW7L2NZQVKZHEECCKSJSAQKRHI2UHRD2UFEMUE",
                              asset: StellarSdk.Asset.native(),
                              amount: String(fcomisionppg),
                            })
                        )
                        .setTimeout(30)
                        .build();
                } else {
                    var transaction = new StellarSdk.TransactionBuilder(cuenta, {
                            "fee": fee,
                            "networkPassphrase": StellarSdk.Networks.PUBLIC
                        })
                        .addOperation(
                            StellarSdk.Operation.changeTrust({
                                "asset": asset,
                                "limit": "0"
                            })
                        )
                        /*.addOperation(
                            StellarSdk.Operation.payment({
                              destination: "GCEOQCK55IEOM6FAWVMW7L2NZQVKZHEECCKSJSAQKRHI2UHRD2UFEMUE",
                              asset: StellarSdk.Asset.native(),
                              amount: String(fcomisionppg),
                            })
                        )*/  
                        .setTimeout(30)
                        .build();
                }

                let keypair = StellarSdk.Keypair.fromSecret(sessionStorage.getItem('merma'));
                transaction.sign(keypair);

                response = await server.submitTransaction(transaction);

                if (response.hash != undefined && si) {
                    let resp_afi = await sendAfiliacion(response.hash);
                }
                $('#loader').hide();
                $('#loader2').hide();

                return response

            } catch (error) {

                $('#loader').hide();
                $('#loader2').hide();
                $(".botonagregar").attr("disabled", false);
                //newMensaje("Ha ocurrido un error", "errors", "danger", "alercontainer");
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "alercontainer");
                } else {
                    console.log(error);
                    newMensaje(error_default, "errors2", "danger", "alercontainer");
                }

                $("#detalleModal").modal('hide');
                return false;

            }
        }

        var agregarConfianza = async function(activo, si) {
            $('#loader').show();
            $('#loader2').show();
            //console.log(activo);
            let asset = new StellarSdk.Asset(activo.asset.code, activo.asset.issuer);

            //console.log(si);
            if (!cuentap) {
                cuentap = await getCuenta(publico);
            }

            //console.log(StellarSdk.BASE_FEE);
            //console.log(StellarSdk.Networks.TESTNET);

            if (cuentap) {
                let transaction = await makeTransaccion(cuentap, si, asset);
                if (transaction) {
                    $('#loader').show();
                    $('#loader2').show();
                    $("#myinput").val("");

                    if (si) {
                        newMensaje("El activo " + activo.asset.code + " se ha agregado sactifactoriamente", "si", "success", "alercontainer");
                    } else {
                        newMensaje("El activo " + activo.asset.code + " se ha quitado sactifactoriamente", "si", "success", "alercontainer");

                    }
                    $("#re-"+activo.asset.code+":"+activo.asset.issuer).hide();
                    allactivos = await getActivo();
                    if (allactivos) {
                        consultar("");
                        $(".botonagregar").attr("disabled", false);
                    }


                }

            }
            //console.log(transaction);






        }




        $(".botonagregar").on("click", async function() {
            await botonagregar($(this).attr('id'));
        });

        $(".botondetalle").on("click", function() {
            botondetalle($(this).attr('id'));
        });

        $(".botondetalle2").on("click", function() {

            let codigo = $(this).attr('id');
            let asset = "";
            $(".btnmodal").attr('id', codigo);

            asset = buscarUnActivo(codigo);


            if (asset.asset_type == "native") {
                $(".btnmodal").hide();
            } else {
                $(".btnmodal").show();
            }
            $(".btnmodal").html("Agregar");
            if (asset.nu_balance != undefined) {
                si = false;
                $(".btnmodal").html("Quitar");
            }

            $("#reco").val("1");
            pintarmodal(asset);

        });
    });
</script>
{% endblock javascripts %}