{% extends 'inicio/base2.html' %} {% block title %} Balance {% endblock title %} {% block content %}
<div class="row">

    {% if msg != '' %} {% if success == 1%} {% include 'includes/msj-success.html' %} {% else%} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}
</div>

<div id="alercontainer">

</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-5">
            <div class="card ">
                <div class="card-header">
                    <h1 class="card-title">Balance {{algo}}</h1>
                </div>
                <div class="card-header">
                    <nav class="navbar justify-content-between">
                        <a class="navbar-brand"></a>
                        <form class="form-inline">
                            <a href="javascript:void(0)" class="btn btn-primary text-dark my-2 my-sm-0 wasa" data-toggle="modal" data-target="#exampleModal" id="botone1">
                                <i>Agregar Activo</i>
                            </a>
                        </form>
                    </nav>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter table-hover" id="">
                            <thead>
                                <tr>
                                    <th>Moneda</th>
                                    <th>Limite</th>
                                    <th>Saldos</th>
                                    <th>Acciones</th>
                                    <th>Emisor</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody class="white-text">
                                {% for values in data3 %}
                                <tr>
                                    <td>
                                        {{values.tx_moneda}}({{values.tx_asset_code}})
                                    </td>
                                    <td>
                                        {% if values.tx_asset_type == "native" %} Sin Limite {% else %} {{values.nu_limit|floatformat:2}} {% endif %}
                                    </td>
                                    <td>
                                        {{values.nu_balance}}
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a class="btn btn-icon btn-fill btn-primary text-dark" data-toggle="tooltip" title="Cargar Fondos" href="#">
                                                    <i class="tim-icons icon-simple-add"></i></a>
                                            </div>

                                            <div class="col-sm-3">
                                                <a class="btn btn-icon btn-fill btn-primary text-dark" data-toggle="tooltip" title="Retirar Fondos" href="#">
                                                    <i class="tim-icons icon-simple-delete"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {% if values.tx_asset_type == "native" %} STELLAR {% else %}
                                        <button type="button" class="btn btn-icon btn-fill btn-primary text-dark" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ values.tx_asset_issuer }}">
                            <i class="tim-icons icon-key-25"></i></button> {% endif %}
                                    </td>
                                    <td>
                                        {% if values.tx_asset_type != "native" %} {% if values.in_confianza %}
                                        <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-danger delet" data-toggle="modal" data-target="#deleteModal" id='{{ values.co_usuario_activos }}'>
                                            <i class="tim-icons icon-trash-simple"></i>
                                        </a>
                                        {% else %} {% if values.co_solicitud is None %}
                                        <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark confianza2" data-toggle="modal" data-target="#confianzaModal2" id='{{  values.co_usuario_activos  }}'>
                                            <i class="tim-icons icon-simple-add"></i>
                                        </a>
                                        {% else %}
                                        <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark confianza" data-toggle="modal" data-target="#confianzaModal" id='{{ values.co_solicitud.co_solicitud }}'>
                                            <i class="tim-icons icon-simple-add"></i>
                                        </a>
                                        {% endif %} {% endif %} {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----------------------------------DETALLE  MODAL-------------------------------------->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="exampleModalLabel">Agregar Activos</h2>
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
                </div>

                <form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=16 %}">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group col-md-12">

                            <label class="bmd-label-floating text-white">Codigo</label> {{ form.tx_asset_code}}
                        </div>
                        <div class="form-group col-md-12">

                            <label class="bmd-label-floating text-white">Codigo Distribuidor</label> {{ form.tx_asset_issuer}}
                        </div>

                        <!--Quizas mas adelante haga falta poner fecha-->

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary text-dark" id="btnactivo" disabled>Procesar</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-----------------------------------CONFIANZA MODAL-------------------------------------->
    <div class="modal fade" id="confianzaModal" tabindex="-1" role="dialog" aria-labelledby="confianzaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex align-items-center">
                        <h2 class="modal-title" id="confianzaModalLabel">Confiaza en activos</h2>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
                    </div>

                    <form method="GET" id="confianzaForm">
                        <div class="modal-body">
                            {% csrf_token %}


                            <input type='hidden' name='codigo' id='codigo' />
                            <p class="text-white">¿Desea confiar en el activo?</p>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary text-dark">Procesar</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-----------------------------------CONFIANZA MODAL-------------------------------------->
        <div class="modal fade" id="confianzaModal2" tabindex="-1" role="dialog" aria-labelledby="confianzaModal2Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="d-flex align-items-center">
                            <h2 class="modal-title" id="confianzaModal2Label">Confiaza en activos</h2>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
                        </div>

                        <form method="POST" id="confianzaForm2" action="{% url 'preSolicitudEspecifico' co_tipo_solicitud=16 co_solicitud_formulario=19 %}">
                            <div class="modal-body">
                                {% csrf_token %}


                                <input type='hidden' name='codigo' id='confianzacodigo' />
                                <p class="text-white">¿Desea confiar en el activo?</p>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary text-dark">Procesar</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-----------------------------------DELETE MODAL-------------------------------------->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="d-flex align-items-center">
                                <h2 class="modal-title" id="deleteModalLabel">Confiaza en activos</h2>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
                            </div>

                            <form method="POST" id="deleteForm" action="{% url 'preSolicitud' co_tipo_solicitud=17 %}">
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <input type='hidden' name='codigo' id='deletecodigo' />

                                    <p class="text-white">¿Desea desconfiar en el activo?</p>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary text-dark">Procesar</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <input id="token" name="token" type="hidden" value={{ token }}>
                <!--<p class="white-text">{{data}}</p>

<p class="white-text">{{token}}</p>-->

                {% endblock content %} {% block javascripts %}
                <script>
                    $(document).ready(function() {

                        $("#loader").hide();

                        $('[data-toggle="tooltip"]').tooltip();
                        $('[data-toggle="popover"]').popover();

                        var newMensaje = function(msj, ida, tipo) {

                                if ($("#" + ida).length == 0) {
                                    var tx1 = '<div class="alert alert-' + tipo + '" id="' + ida + '" >';
                                    tx1 += '<button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">';
                                    tx1 += '<i class="tim-icons icon-simple-remove"></i>';
                                    tx1 += '</button>';
                                    tx1 += '<span id="alertText">' + msj + '</span></div>';

                                    $("#alercontainer").append(tx1);
                                }
                            }
                            //Validacion si el activo existe
                        var valores = function(id) {
                            var cod = id;
                            var codigo = parseInt(cod.charAt(cod.length - 1));
                            return cod;
                        }
                        var advertencia = function(e) {

                            var url = window.location.protocol + "//" + window.location.host + "";
                            $('#confianzaForm').attr('action', url + "/solicitud/" + valores(e.currentTarget.id));
                        }
                        var advertencia2 = function(e) {

                            var cod = valores(e.currentTarget.id);
                            $('#deletecodigo').val(cod);
                        }

                        var advertencia3 = function(e) {

                            var cod = valores(e.currentTarget.id);
                            $('#confianzacodigo').val(cod);
                        }


                        var validar1 = function() {

                            if ($("#id_tx_asset_code").val() != '' && $("#id_tx_asset_issuer").val() != '') {

                                var url = window.location.protocol + "//" + window.location.host + "/";
                                var tx_asset_code = $("#id_tx_asset_code").val();
                                var tx_asset_issuer = $("#id_tx_asset_issuer").val();
                                $.ajax({
                                    url: url + 'api/operaciones/stellar/validar-activo',
                                    type: 'POST',
                                    data: {
                                        'tx_asset_code': tx_asset_code,
                                        'tx_asset_issuer': tx_asset_issuer,
                                    },
                                    headers: {
                                        "Authorization": 'token ' + $("#token").val()
                                    },
                                    beforeSend: function(xhr, settings) {
                                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                                    },
                                    success: function(arg) {

                                        if (arg.success) {

                                            $('#btnactivo').attr("disabled", false);

                                        } else {

                                            newMensaje(arg.msg, "alerta4", "warning");
                                            $("#id_tx_asset_code").val('');
                                            $("#id_tx_asset_issuer").val('');

                                            $('#btnactivo').attr("disabled", true);
                                        }

                                    },
                                    statusCode: {
                                        500: function(arg) {
                                            var data = arg.responseText;
                                            if (data.includes('AssetIssuerInvalidError')) {

                                                newMensaje("El emisor debe ser una clave pública correcta.", "alerta2", "warning");

                                            } else {
                                                newMensaje("Ha ocurrido un error.", "alerta3", "warning");


                                            }

                                            $('#btnactivo').attr("disabled", true);
                                        }

                                    }
                                });


                            }

                        }





                        $("#id_tx_asset_code").on('change', function() {
                            if ($(this).length > 12) {
                                $("#id_tx_asset_code").val('');
                                newMensaje("El texto no puede mayor a 12 caracteres", "alerta1", "warning");
                            }

                            validar1();
                        });

                        $("#id_tx_asset_issuer").on('change', function() {

                            validar1();
                        });



                        $('.confianza').on('click', advertencia);

                        $('.delet').on('click', advertencia2);


                        $('.confianza2').on('click', advertencia3);


                    });
                </script>
                {% endblock javascripts%}