{% extends 'inicio/base2.html' %} {% load static %}{% block title %} Histórico {% endblock title %} {% block content %}
<style> 
    .nav-tabs {
        display: flex;
        padding: 0.1rem
    }
</style>
    <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h2 class="card-title">Histórico</h2>
                        <div class="spinner-grow ml-auto text-primary" role="status" aria-hidden="true" id="loader"></div>
                    </div>

                    <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="tabbable-panel">
                            <div class="tabbable-line">
                                <ul class="nav  nav-tabs">
                                    <li class="nav-item active">
                                        <a href="#todos" class="ta" data-toggle="tab" id="1">Todos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#enviados" class="ta" data-toggle="tab" id="2">Enviados</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#recividos" class="ta" data-toggle="tab" id="3">Recibidos</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>     
                </div>

                <div class="card-body">
                    <div class="container">
                        <form method="POST" action="{% url 'filtro_historico' %}">{% csrf_token %}
                            <div class="navbar">
                                <input class="form-control" id="myInput" type="text" placeholder="Buscar..">
                            </div>
                        </form>
                    </div>

                    <div class="tab-content tab-space">
                        <div class="tab-pane active" id="todos">
                            <div class="table-responsive">
                                <table class="table">

                                    <thead>
                                        <tr>
                                            <th>Direccion</th>
                                            <th>Moneda</th>
                                            <th>Monto</th>
                                            <th>Transacción</th>
                                            <th>Fecha</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody class="white-text" id="tabletodo">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="recividos">
                            <div class="table-responsive">
                                <table class="table tablesorter table-hover">
                                    <thead>
                                        <tr>
                                            <th>Direccion</th>
                                            <th>Moneda</th>
                                            <th>Monto</th>
                                            <th>Transacción</th>
                                            <th>Fecha</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody class="white-text" id="tablerecividos">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane " id="enviados">
                            <div class="table-responsive">
                                <table class="table tablesorter table-hover">
                                    <thead>
                                        <tr>
                                            <th>Direccion</th>
                                            <th>Moneda</th>
                                            <th>Monto</th>
                                            <th>Transacción</th>
                                            <th>Fecha</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody class="white-text" id="tableenviados">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-sm container waves-effect text-dark" id="btnext">Cargar mas</button>
                    <!--<nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled" id="liinit">
                                <a class="page-link" href="javascript:void(0)" id="apage1">Inicio</a>
                            </li>
                            <li class="page-item disabled" id="liprev">
                                <a class="page-link" href="javascript:void(0)" id="pageprev">Atras</a>
                            </li>
                            <li class="page-item" id="linext">
                                <a class="page-link" href="javascript:void(0)" id="pagenext">Siguiente</a>
                            </li>
                            <li class="page-item" id="lifin">
                                <a class="page-link" href="javascript:void(0)" id="apage4">Ultimo</a>
                            </li>

                        </ul>
                    </nav>-->
                </div>
            </div>
    </div>

<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="detalleModalLabel">Detalles</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
        
                </div>
                <div class="modal-body">
                    <div class="row d-flex justify-content-center text-white" id="pimg">
                        <img src="{% static 'img/stellar-xlm-logo.png' %}" id="image" alt="50" width="50" height="50">
                    </div>
                    <div class="row d-flex justify-content-center text-white" id="pmone">
                        Lumens
                    </div>
                    <div class="row d-flex justify-content-center">
                        <h2 class="text-white" id="pmonto"></h2>

                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="badge badge-success" id="ptipo">

                            Recividos
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <h5>Recivido por</h5>
                            <h5 class="text-white" name="pdireccion" id="pdireccion"></h5>

                        </div>
                        <div class="col-md-12 col-lg-6">

                            <h5>Fecha</h5>
                            <h5 class="text-white" name="pfecha" id="pfecha"></h5>

                        </div>
                        <hr/>

                        <div class="col-md-12">
                            <h5>public key</h5>
                            <h5 class="text-white" name="ppublic_key" id="ppublic_key"></h5>

                        </div>
                        <hr/>
                        <div class="col-md-12">

                            <h5>Codigo de la transacción</h5>
                            <h5 class="text-white" name="ptransaccion" id="ptransaccion"></h5>

                        </div>
                        <hr/>
                        <div class="col-md-12">

                            <h5>memo</h5>
                            <h5 class="text-white" name="pmemo" id="pmemo"></h5>

                        </div>


                    </div>

                    <!--Quizas mas adelante haga falta poner fecha-->

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Cerrar</button>
                    <a class="btn btn-primary text-dark" href='javascript:void(0)' id="aconsulta" target="_blank">Consutar en un explorador</a>

                </div>
            </div>
        </div>
    </div>

    <input id="ipage1" name="ipage1" type="hidden">

    <input id="tipop" name="tipop" type="hidden" value="1">

    <input id="codigoult" name="codigoult" type="hidden" value="0">

    <input id="ultimo" name="ultimo" type="hidden" value="0">

    <input id="token" name="token" type="hidden" value={{ token }}> {% endblock content %} {% block javascripts %}
    <script>
        $(document).ready(function() {
            //$('.sticky-top ').css('background', 'rgba(23, 162, 184, 0.9)');
            var imgoriginal = $("#image").attr("src");
            var ur = window.location.protocol + "//" + window.location.host + "/";
            var imginterrogacion = ur + "static/img/interrogacion.png";
            //alert(imgoriginal);
            var consulta = function(tipo, page, tipo_page, restart) {
                var url = window.location.protocol + "//" + window.location.host + "";

                $('#loader').show();
                $.ajax({
                    url: url + '/api/v3/balance/',
                    type: 'POST',
                    data: {
                        'codigo': $("#codigoult").val(),
                        'paso': $("#ultimo").val(),
                        'tipo': tipo,
                        'page': page,
                        'tipo_page': tipo_page,
                    },
                    headers: {
                        "Authorization": 'token ' + $("#token").val()
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function(arg) {


                        $('#loader').hide();



                        if (arg.success) {
                            if (restart) {
                                $('#tabletodo').html("");
                                $('#tablerecividos').html("");
                                $('#tableenviados').html("");
                            }
                            if (arg.ultimo) {
                                $("#ultimo").val("1");
                            } else {
                                $("#ultimo").val("0");
                            }

                            var tx = "";
                            $.each(arg.data, function(idx, value) {
                                tx += "<tr>";
                                tx += "<td id='d" + value.id + "'>" + value.direccion + "</td>";
                                tx += "<td id='a" + value.id + "'>" + value.moneda + "</td>";
                                tx += "<td id='m" + value.id + "'>" + value.monto + "</td>";
                                tx += "<td id='t" + value.id + "'>" + value.tipo + "</td>";
                                tx += "<td id='f" + value.id + "'>" + value.fecha + "</td>";

                                tx += "<td>";
                                tx += "<a href='javascript:void(0)' class='btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 botondetalle' data-toggle='modal' data-target='#detalleModal' id='" + value.id + "'>";
                                tx += "<i class='tim-icons icon-zoom-split'></i>";
                                tx += "</a>";
                                tx += "</td>";

                                tx += "</tr>";

                                tx += "<input id='p" + value.id + "' name='ipublic' type='hidden' value='" + value.public + "'>";
                                tx += "<input id='c" + value.id + "' name='itransaccion' type='hidden' value='" + value.transaccion + "'>";
                                tx += "<input id='me" + value.id + "' name='imemo' type='hidden' value='" + value.memo + "'>";
                                tx += "<input id='n" + value.id + "' name='iname' type='hidden' value='" + value.moneda2 + "'>";
                                tx += "<input id='i" + value.id + "' name='iimg' type='hidden' value='" + value.img + "'>";




                                $("#codigoult").val(value.id);

                            });
                            if (tipo == "1") {

                                $('#tabletodo').append(tx);
                            } else if (tipo == "2") {

                                $('#tableenviados').append(tx);
                            } else if (tipo == "3") {

                                $('#tablerecividos').append(tx);

                            }
                            $(".botondetalle").on("click", function() {
                                var codigo = $(this).attr('id');

                                //pmone
                                $("#pmonto").text($("#m" + codigo).text() + " " + $("#a" + codigo).text());

                                if ($("#t" + codigo).text() == "Envio" || $("#t" + codigo).text() == "Eliminar cuenta") {
                                    $("#ptipo").removeClass("badge-success");
                                    $("#ptipo").removeClass("badge-danger");
                                    $("#ptipo").addClass("badge-danger");
                                } else {
                                    $("#ptipo").removeClass("badge-success");
                                    $("#ptipo").removeClass("badge-danger");
                                    $("#ptipo").addClass("badge-success");
                                }
                                $("#ptipo").text($("#t" + codigo).text());


                                $("#pdireccion").text($("#d" + codigo).text());

                                $("#pmone").text($("#n" + codigo).val());
                                if ($("#a" + codigo).text() == "XLM") {

                                    $("#image").attr("src", imgoriginal);
                                } else {

                                    if ($("#i" + codigo).val() == "") {
                                        $("#image").attr("src", imginterrogacion);
                                    } else {

                                        $("#image").attr("src", $("#i" + codigo).val());
                                    }
                                }


                                $("#pfecha").text($("#f" + codigo).text());
                                $("#ppublic_key").text($("#p" + codigo).val());
                                $("#ptransaccion").text($("#c" + codigo).val());
                                $("#pmemo").text($("#me" + codigo).val());
                                ur = "https://stellar.expert/explorer/public/tx/" + $("#c" + codigo).val();
                                $("#aconsulta").attr("href", ur);


                            });

                            $("#ipage1").val(arg.next);

                        }

                    },
                    error: function(xhr, ajaxOptions, thrownError) {

                        $('#loader').hide();
                        console.log(xhr.status);
                        console.log(thrownError);
                    }
                });
            }
            consulta("1", "", "0", true);

            $(".ta").on("click", function() {
                document.documentElement.scrollTop = 0;
                var codigo = $(this).attr('id');
                var tipo = codigo.toString();
                $("#tipop").val(tipo);
                $("#ultimo").val("0");
                consulta(tipo, "", "0", true);


            });

            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });



            $(".nav-item").on("click", function() {
                $(".nav-item").removeClass("active");
                $(this).addClass("active");

            });
            $("#btnext").on("click", function() {
                    consulta($("#tipop").val(), $("#ipage1").val(), "1", false);
                })
                /*$("#pagenext").on("click", function() {
                    $("#direccion").val("next");
                    $("#liinit").removeClass("disabled");
                    $("#liprev").removeClass("disabled");
                    consulta($("#tipop").val(), $("#ipage1").val(), "1");

                })*/
                /*$("#pageprev").on("click", function() {
                    $("#direccion").val("prev");
                    $("#lifin").removeClass("disabled");
                    $("#linext").removeClass("disabled");
                    consulta($("#tipop").val(), $("#ipage2").val(), "1");

                })*/




            $("#filtro1").hide();
            $('#filtro2').hide();
            $('#filtro3').hide();
            $('#filtro4').hide();

            $(".filtro").change(function() {
                var filtros = $(".filtro").val();
                //return console.log(filtros)

                if (filtros == 1) {

                    $('#filtro1').show();
                    $('#filtro2').hide();
                    $('#filtro3').hide();
                    $('#filtro4').hide();


                } else if (filtros == 2) {

                    $('#filtro2').show();
                    $("#filtro1").hide();
                    $('#filtro3').hide();
                    $('#filtro4').hide();

                } else if (filtros == 3) {
                    $('#filtro3').show();
                    $("#filtro1").hide();
                    $('#filtro2').hide();
                    $('#filtro4').hide();

                } else if (filtros == 4) {
                    $('#filtro4').show();
                    $("#filtro1").hide();
                    $('#filtro2').hide();
                    $('#filtro3').hide();

                }


                $('#id_filtro1').val('');
                $('#id_filtro2').val('');
                $('#id_filtro3').val('');
                $('#id_filtro4').val('');

            });




        });
    </script>
    {% endblock javascripts%}