{% extends 'inicio/base2.html' %}{% load static %}  {% block title %} Configuración {% endblock title %} {% block content %}
<div class="row">
    {% if msg != '' %} {% if success == 1%} {% include 'includes/msj-success.html' %} {% else%} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}
</div>

<div id="alercontainer"></div>

    <div class="row">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Configuración</h1>
                    {% include 'partials/submenu/barraseguridad.html' %}
                </div>
                <div class="card-body">
                    {% if billetera %}
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card card-plain">
                                <div class="card-header">
                                    <h4 class="card-title">Cuentas Stellar</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table tablesorter table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Cuentas</th>
                                                </tr>
                                            </thead>
                                            <tbody class="white-text">
                                                <tr>

                                                    <td class="td-actions text-right">
                                                        <a href="javascript:void(0)" class="btn btn-round btn-icon btn-primary text-dark my-2 my-sm-0" id="btncopiar3" data-toggle="tooltip" data-placement="top" title="Copiar">
                                                            <i class="tim-icons icon-single-copy-04"></i>
                                                        </a>

                                                    </td>
                                                    <td><input type="text" class="form-control" id="textocopiar3" value="{{billetera.address}}" style="color:white;  width:480px;" readonly />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            {% if billetera %}
                            <!--<div class="col-md-10">
                                <form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=23 %}">
                                    {% csrf_token %}
                                    <div class="card-header">
                                        <h4 class="card-title">Aceptar direcciones</h4>
                                        <h5 class="card-title text-white">{{ federacion2.fulladdress }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="text-white" align="justify">Utilice esta dirección alternativa para recibir cualquier activo Stellar sin agregar líneas de confianza. Se le informará cuando reciba una transferencia de algu activo.</p>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary text-dark" id="botonhabilitar" name="botonhabilitar">
                                        {%if user.in_aceptar%}
                                            Inhabilitar
                                            {%else%}
                                            Habilitar
                                            {%endif%}
                                        </button>
                                        <a href="javascript:void(0)" class="btn btn-primary text-dark" data-toggle="modal" data-target="#editModal2">
                                            Editar
                                        </a>
                                    </div>
                                </form>
                            </div>-->
                            {% endif %}

                        </div>


                        <div class="col-md-auto">
                            <div class="row">
                                <div class="card card-plain">
                                    <div class="card-header">
                                        <h4 class="card-title">Llave Secreta</h4>
                                    </div>

                                    <div class="card-body">
                                        <p>La llave secreta esta oculta</p>
                                        <a href="javascript:void(0)" class="my-2 my-sm-0" data-toggle="modal" data-target="#detModal" id="pc">
                                            <p class="text-primary">¿Deseas ver la llave secreta?</p>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="card card-plain">
                                    <div class="card-header">
                                        <h4 class="card-title">Dirección de la federación</h4>
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-auto">
                                                <p class="text-white">{{ federacion.fulladdress }}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <!--<a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0" data-toggle="modal" data-target="#editModal">
                                                    <i class="tim-icons icon-pencil"></i>
                                                </a>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card card-plain">
                                    <div class="card-header">
                                        <h4 class="card-title">

                                            <!--<a href="javascript:void(0)" class="my-2 my-sm-0" data-toggle="modal" data-target="#borraddrModal" id="deletecuentas">
                                        
                                        Eliminar tu cuenta Stellar
                                        </a>-->
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="card card-plain">
                            <div class="card-header">
                                <h4 class="card-title">
                                    Cuenta stellar
                                </h4>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Deseas crear una cuenta stellar o importar alguna</p>
                                    </div>

                                    <div class="col-md-3">
                                        <a href="javascript:void(0)" class="btn btn-primary text-dark" data-toggle="modal" data-target="#newModal" id="btnnuevo">Nuevo</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="javascript:void(0)" class="btn btn-primary text-dark" data-toggle="modal" data-target="#impModal">Importar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
    </div>


<!------------------------------------------MODAL MOSTRAR LLAVE PRIVADA -------------------------------->
<div class="modal fade" id="detModal" tabindex="-1" role="dialog" aria-labelledby="detModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="detModalLabel">Advertencia</h2>
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loaderdet"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
            </div>
            <div class="modal-body" id="bodyModalDetalle">
                <div class="container" id="contenido1">

                    <br>
                    <p class="text-white"> ¿En verdad deseas ver tu clave privada?</p>
                    <p class="text-white">si es asi, por favor ingrese su Clave</p>
                    <div class="form-group col-md-12">
                        <input type="password" name="frase" id="frase" class="form-control text-white" rows=5 cols=20/>
                    </div>
                    <div class="form-group col-md-12">
                        <div id="alertclave"></div>
                    </div>
                </div>

                <div class="container" id="contenido2">
                    <div class="row">
                        <br>
                        <p class="text-white">Se recomienda guardarla en un sitio seguro, fuera del alcance de personas ajenas</p>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <input type="text" name="privado" id="privado" class="form-control text-white" readonly />
                            </div>
                            <div class="form-group col-md-4">
                                    <a href="javascript:void(0)" class="btn btn-round btn-icon btn-primary text-dark my-2 my-sm-0" id="btncopiar2" data-toggle="tooltip" data-placement="top" title="Copiar">
                                        <i class="tim-icons icon-single-copy-04"></i>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary text-dark" id="botonRevelar" name="botonborrar">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <!---------------------------------------MODAL MOSTRAR BORRAR CUENTA------------------------------>

<div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-labelledby="borrarModalLabel" aria-hidden="true">
    <form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=18 %}">
        {% csrf_token %}
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex align-items-center">
                        <h2 class="modal-title" id="borrarModalLabel">Advertencia</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>    
                </div>
                <div class="modal-body">
                    <div class="container">
                        <p class="text-white">Esta acción es irrecuperable y no se puede deshacer.Si deseas continuar,se desativara permanentemente su cuenta Stellar conectada a los sistemas de GOBELX.</p>
                        <br>
                        <p class="text-white">
                            Le aconsejamos de tener un respaldo a su Frase de recuperación, asi mismo terner una copia de seguridad de las claves públicas y secretas de su cuenta Stellar.
                        </p>
                        <br>
                        <p class="text-white">
                            SUS FONDOS DE PERDERAN
                        </p>
                        <div class="form-group col-md-12">
                            {% if billetera is not None %}
                            <input type="hidden" name="co_billetera" id="co_billetera" value={{billetera.co_billetera}}/> {% endif %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary text-dark" id="botonRevelar">Borrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-------------------------------------------MODAL NUEVA CUENTA---------------------------------->

<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=19 %}">
        {% csrf_token %}
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex align-items-center">
                        <h2 class="modal-title" id="newModalLabel">Crear cuenta</h2>
                        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loadernew"></div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-white">Se le recomienda guardar esta frase de seguridad en un lugar seguro.</p>
                                    <p class="text-white">Es solo con esta frase con la que puedes recuperar su cuenta y los FONDOS asociados a la misma</p>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="textocopiar"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <a href="javascript:void(0)" class="btn btn-fill btn-block btn-primary text-dark" id="btncopiar">
                                    Copiar</a>
                                </div>
                                <input type="hidden" name="tx_public_key" id="tx_public_key">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary text-dark" name="botonnew">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-------------------------------------------MODAL NUEVA CUENTA IMPORTADA-------------------------------------->

<div class="modal fade" id="impModal" tabindex="-1" role="dialog" aria-labelledby="impModalLabel" aria-hidden="true">
    <form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=20 %}" id="formimportado">
        {% csrf_token %}
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex align-items-center">
                        <h2 class="modal-title" id="impModalLabel">Importar Cuenta</h2>
                        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loaderimp"></div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-white">Usted puede importar una cuenta Stellar para poder realizar transacciones en esta plataforma.</p>
                                    <p class="text-white">Para esto le sugerimos 2 opciones, importarla con su llave privada o por la frase de seguridad.</p>
                                </div>
                                <div class="col-md-6">
                                    <a href="javascript:void(0)" class="btn btn-fill btn-block btn-primary text-dark botonimpo" id="btnimp1">
                                    Llave privada</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="javascript:void(0)" class="btn btn-fill btn-block btn-primary text-dark botonimpo" id="btnimp2">
                                    Frase de seguridad</a>
                                </div>
                                <div class="col-md-12" id="divfrase">
                                    <div class="form-group">
                                        <label class="text-white">Frase de seguridad</label> {{ form.tx_frase }}
                                    </div>
                                </div>
                                <div class="col-md-12" id="divprivada">
                                    <div class="form-group">
                                        <label class="text-white">Llave privada</label> {{ form.tx_private_key }}
                                    </div>
                                </div>
                                <input type="hidden" name="tipoimportacion" id="tipoimportacion">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary text-dark" name="botonimpaceptar" disabled id="botonimpaceptar">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-------------------------------------------MODAL EDITAR FEDERACION -------------------------------------->

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=21 %}" id="formedit">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex align-items-center">
                        <h2 class="modal-title" id="impModalLabel">Editar usuario federación</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <label class="text-white">usuario federación</label> {{ form.tx_username }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary text-dark" name="botonfedea" id="botonfedea">Aceptar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-------------------------------------------MODAL EDITAR FEDERACION------------------------------------>

<div class="modal fade" id="editModal2" tabindex="-1" role="dialog" aria-labelledby="editModal2Label" aria-hidden="true">
    <form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=22 %}" id="formedit2">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex align-items-center">
                        <h2 class="modal-title" id="impModal2Label">Editar usuario federación</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <label class="text-white">usuario federación</label> {{ form.tx_username2 }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary text-dark" name="botonfedea2" id="botonfedea2">Aceptar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<input id="token" name="token" type="hidden" value={{ token }}> 
{% endblock content %}
{% block javascripts %}
<script src="{% static 'js/stellar-libs.js' %}"></script>
<script>
    function setFormValidation(id) {
        $(id).validate({
            highlight: function(element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
                $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
            },
            success: function(element) {
                $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
                $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
            },
            errorPlacement: function(error, element) {
                $(element).closest('.form-group').append(error);
            },
        });
    }

    $(document).ready(function() {
        
        const stellarKeystore = StellarLibs.StellarKeystore;
        const crypto = StellarLibs.crypto;

        setFormValidation('#formimportado');
        $('#id_tx_username').attr("required", true);
        $('#id_tx_username').attr("required", true);
        setFormValidation('#formedit');
        setFormValidation('#formedit2');

        $("#btncopiar").tooltip({
            title:"Copiado",
            trigger: 'click'
        });

        $('#btncopiar').on('click', function() {
            var copyText = document.getElementById("textocopiar");
            var btncopiar = $(this);
            copyText.select();
            //copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
        });

        $("#btncopiar2").tooltip({
            title:"Copiado",
            trigger: 'click'
        });

        $('#btncopiar2').on('click', function() {
            var copyText = document.getElementById("privado");
            var btncopiar = $(this);
            $("#privado").attr("disabled",false);
            copyText.select();
            //copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
            $("#privado").attr("disabled",true);
        });

        $('#btncopiar3').on('click', function() {
            let copyText = document.getElementById("textocopiar3");
            
            $("#textocopiar3").attr("readonly",false);
            let btncopiar = $(this);
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
            $("#textocopiar3").attr("readonly",true);


        });

        $("#loaderdet").hide();
        $("#loadernew").hide();
        $("#loaderimp").hide();
        $('#contenido2').hide();
        $('#divfrase').hide();
        $('#divprivada').hide();

        var valores = function(id) {
            var cod = id;
            var codigo = parseInt(cod.charAt(cod.length - 1));
            return codigo;
        }

        var eleccion = function(e) {
            $("#tipoimportacion").val(valores(e.currentTarget.id));
            var cod = $("#tipoimportacion").val();
            if (cod == 1) {
                $('#divfrase').hide();
                $('#divprivada').show();
            } else {
                $('#divfrase').show();
                $('#divprivada').hide();
            }
            $('#id_tx_frase').val('');
            $('#id_tx_private_key').val('');
            $('#botonimpaceptar').attr("disabled", true);
        }

        $('.seg').on('change', function() {
            ide = $(this).attr('id');
            verdad = false;
            if ($(this).val() !="") {
                if (ide =="id_tx_frase") {
                    verdad = validarfrase($(this).val());
                } else {
                    verdad = validarprivada($(this).val());
                }
                if (verdad) {
                    $('#botonimpaceptar').attr("disabled", false);
                } else {
                    $('#botonimpaceptar').attr("disabled", true);
                }
            } else {
                $('#botonimpaceptar').attr("disabled", true);
            }
        });

        var validarfrase = function(texto) {
            var words = texto.split(' ');
            if (words.length == 12 || words.length == 24) {
                return true;
            } else {
                return false;
            }
        }

        var validarprivada = function(texto) {
            if (texto.length == 56 && texto.charAt(0) =="S") {
                return true;
            } else {
                return false;
            }
        }


        $('#id_tx_username').on('change', function() {
            tx = $(this).val();
            if (tx =="") {
                $('#botonfedea').attr("disabled", true);
            } else {
                $('#botonfedea').attr("disabled", false);
            }
        });

        $('#id_tx_username2').on('change', function() {
            tx = $(this).val();
            if (tx =="") {
                $('#botonfedea2').attr("disabled", true);
            } else {
                $('#botonfedea2').attr("disabled", false);
            }
        });

        $('#btnnuevo').on('click', function() {
            $('#loadernew').show();
            var url = window.location.protocol +"//" + window.location.host +"";
            $.ajax({
                url: url + '/api/v3/generar-frase/',
                type: 'POST',
                headers: {
                   "Authorization": 'token ' + $("#token").val()
                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function(arg) {
                    $('#loadernew').hide();
                    $("#textocopiar").text(arg.data);
                    $("#tx_public_key").val(arg.public_key);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    $('#loadernew').hide();
                    //console.log(xhr.status);
                    //console.log(thrownError);
                }
            });
        });

        $('#pc').on('click', function() {
            $('#contenido2').hide();
            $('#contenido1').show();
            $('#privado').val("");
        });
                        
        $('#botonRevelar').on('click', async function() {
            $('#loaderdet').show();
            const frase = $("#frase").val();
            const keystoreDB=await getKeystoreDB();
            if(keystoreDB.success){
                const keystore = await getKeystore(formatKeystore(keystoreDB.keystore), frase);
                if (keystore) {
                    $('#contenido1').hide();
                    $('#contenido2').show();
                    $('#privado').attr("disabled",false);
                    $('#privado').val(keystore.secret());
                    $('#privado').attr("disabled",true);
                }else{
                    newMensaje("Clave incorreta","errors1","danger","alertclave");
                }
            }
            $('#loaderdet').hide();
            /*var url = window.location.protocol +"//" + window.location.host +"";
            $.ajax({
                url: url + '/api/v3/usuario/validar-clave/',
                type: 'POST',
                data: {
                    'password': frase
                },
                headers: {
                   "Authorization": 'token ' + $("#token").val()
                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function(arg) {
                    $('#loaderdet').hide();
                    if (arg.success) {
                        $('#contenido1').hide();
                        $('#contenido2').show();
                        $('#privado').attr("disabled",false);
                        $('#privado').val(sessionStorage.getItem('merma'));
                        $('#privado').attr("disabled",true);
                    }else{
                         $('#privado').val("");
                        newMensaje("Clave incorreta","errors1","danger","alertclave");
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    $('#loaderdet').hide();
                    //console.log(xhr.status);
                    //console.log(thrownError);    
                    newMensaje("A ocurrido un error","errors2","danger","alertclave");
                    newMensaje(thrownError,"errors3","danger","alertclave");
                }
            });*/
        });

         /**
         * Obtener keystore DB
         * @returns Keystore formado DB
         */
         async function getKeystoreDB() {
            try {
                let response = await $.ajax({
                    url: url + '/api/login/',
                    type: 'GET',
                    headers: {
                        "Authorization": 'token ' + $("#token").val()
                     },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    }
                });

                if (!response.success) {
                    newMensaje("Ha ocurrido un error. Vuelva a intentar", "errors2", "danger", "alercontainer");
                    
                }
                return response;

            } catch (error) {
                newMensaje("Ha ocurrido un error. Vuelva a intentar", "errors", "danger", "alercontainer");
                return false;
            }

        }
        /**
         * Obtener hash
         * @param code es la clave que va codificar
         * @returns la clave encryptada
         */
         function getHash(code) {
            var hash = crypto.createHash('sha256').update(code).digest("hex");
            return hash;
        }

        async function getKeystore(keystore, password) {
            try {

                const kp = await stellarKeystore.StellarKeystore.prototype.keypair(keystore, getHash(password + '_prontopagos'));
                return kp
            } catch (error) {
                newMensaje("Contraseña incorreta","errors1","danger","alertclave");
                return false;
            }
        }

    $('.botonimpo').on('click', eleccion);
});
</script>
{% endblock javascripts %}