{% extends 'inicio/base2.html' %}
{% block title %}
Configuración
{% endblock title %}

{% block content %}
<div class="row">
  {% if msg != '' %} {% if success == 1%} {% include 'includes/msj-success.html' %} {% else%} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}
</div>
<!----------Desactivar Notificaciones------------>
  <div class="row">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">Configuración</h1>
          {% include 'partials/submenu/barraseguridad.html' %}
        </div>
        <div class="card-body">
          <h4 class="card-title text-primary">Desactivar Notificaciones</h4>
            <form method= "POST">{% csrf_token %}
              <div class="col-sm-3">
                {% if data.in_notificacion == False %} 
                <button type="submit" class="btn btn-fill btn-primary text-dark" name="activar" value="activar" >Activar</button> 
                {% endif %}
                {% if data.in_notificacion == True %}
                <button type="submit" class="btn btn-fill btn-primary text-dark" name="desactivar" value="desactivar" >Desactivar</button>
                {% endif %}
              </div>
            </form>
        </div>
      </div>
  </div>

{% endblock %}