<h1>Mensaje de PapayaGroup</h1>

<dl>
<dt>Email: papayagroup20@gmail.com</dt>

<dt><center><h2>Hola {{codigo.username}} </h2></center></dt>
<dd><h3>Usted ha Agregado un Nuevo Activo.</h3></dd><br>
<dd><h2><strong>Codigo:</strong>{{codigo.codigo}}<br>
        <strong>Distribuidor:</strong>{{codigo.distribuidor}}</h2></dd>

<dd>En Caso de Presentarse algun Incoveniente Llame al 0500-SOPORTE y Siga las Instruciones</dd>

</dl>