{% extends "inicio/base2.html" %} {% load static %}{% block title %} cambiar clave {% endblock %}

<!-- Specific Page CSS goes HERE  -->

{% block content %} {% if msg != '' %} {% if success is True %} {% include 'includes/msj-success.html' %} {% else %} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}

<div class="container">
    <div class="row ">
        <div class="col-md-12 mb-5">
            <div class="card card-login">

                <div class="card-header">

                    <!-- <img src="{% static 'img/fondologinpapayalogo.png' %}" alt="">  -->
                    <!--<h1 class="card-title">&nbsp</h1>-->

                    <div class="d-flex align-items-center">
                        <h1 class="card-title">Cambio de Clave</h1>
                        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
                    </div>

                </div>
                <div class="card-body">

                    <div class="form-group">
                        <p for="id_password">Clave actual</p>
                        <input type="password" class="form-control text-white clave" id="id_password" name="password">
                        <span class='help-block text-danger' id='error_password'></span>
                    </div>

                    <div class="form-group">
                        <p for="id_new_password">Nueva clave</p>
                        <input type="password" class="form-control text-white clave" id="id_new_password" name="new_password">
                        <span class='help-block text-danger' id='error_new_password'></span>

                    </div>
                    <div class="form-group">
                        <p for="id_new_password2">Repetir nueva clave</p>
                        <input type="password" class="form-control text-white clave" id="id_new_password2" name="new_password2">
                        <span class='help-block text-danger' id='error_new_password2'></span>

                    </div>


                </div>
                <div class="row  text-center">

                    <div class="col-md-12">
                        <button href="javascript:void(0)" class="btn btn-fill btn-primary container text-dark" name="boton" id="boton4" disabled>Procesar</button>

                    </div>

                    <br/>

                    <div id="alercontainer" class="col-md-12">

                    </div>


                </div>


            </div>
        </div>

        <input id="token" name="token" type="hidden" value="{{token}}">
    </div>
</div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function() {
        $('#loader').hide();
        const url = window.location.protocol + "//" + window.location.host + "";

        //---------------------VALIDACION DE CLAVE------------- 
        var cambiarClave = async function() {
            try {
                let response = await $.ajax({
                    url: url + '/api/usuario/cambiar-clave/',
                    type: 'POST',
                    data: {
                        'pass1': $("#id_password").val(),
                        'pass2': $("#id_new_password").val(),

                    },
                    headers: {
                        "Authorization": 'token ' + $("#token").val()
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    }
                });

                return response

            } catch (error) {
                console.log(error.message)
                newMensaje("Ha ocurrido un error intentelo de nuevo", "errors2", "danger", "alercontainer");
                newMensaje(error.message, "errors3", "danger", "alercontainer");

                return false
            }
        }
        var validarClaves = function() {
            console.log("uno");

            if ($("#id_password").val() != '' && $("#id_new_password").val() != '' && $("#id_new_password2").val() != '') {
                if ($("#id_new_password").val() == $("#id_new_password2").val()) {
                    $("#boton4").prop("disabled", false);
                    return true;
                } else {
                    console.log("dos");
                    newMensaje("Los campos nueva clave y repetir clave deben ser iguales", "errorc", "danger", "alercontainer");
                    $("#boton4").prop("disabled", true);

                }


            } else {

                $("#boton4").prop("disabled", true);
            }
            return false;
        }

        $(".clave").change(function() {
            let id = $(this).attr("name");
            let value = $(this).val();
            let reg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[[()[\]{}|\\`~!@#$%^&*_\-+=;:\'",<>./?])[A-Za-z\d[()[\]{}|\\`~!@#$%^&*_\-+=;:\'",<>./?]{4,50}$/;
            if (!reg.test(value)) {
                data = {};
                data[id] = ['la contraseña debe tener de 4-40 caracteres, tener mayusculas, minusculas y caracter especiales'];
                $(this).val(null);
                validarInput(id, 3, data)

            } else {
                validarInput(id, 2)
            }
            if (id == "new_password") {
                $("#id_new_password2").val(null);
            }

            validarClaves();

        });

        $("#boton4").click(async function() {
            $("#boton4").attr("disabled", true);
            $("#loader").show();
            if (validarClaves()) {
                $("#boton4").attr("disabled", true);
                let response = await cambiarClave();
                if (response) {
                    if (response.success) {
                        newMensaje(response.msg, "succ", "success", "alercontainer");
                    } else {
                        newMensaje(response.msg, "errorr", "danger", "alercontainer");
                    }
                    $(".clave").val(null);
                }


            }
            $("#boton4").attr("disabled", false);
            $("#loader").hide();
        });


    });
</script>
{% endblock javascripts %}