{% extends 'inicio/base2.html' %} {% block title %} Contactos {% endblock title %} {% block content %}
<style>
.text-overflow-puntos {
      width: 180px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
}
</style>

<div class="row">
    {% if msg != '' %} {% if success == 1%} {% include 'includes/msj-success.html' %} {% else%} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}
</div>

<div id="alercontainer"></div>

    <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h1 class="card-title">Contactos</h1>
                        <div class="spinner-grow ml-auto text-primary" role="status" aria-hidden="true" id="loader3"></div>
                    </div>
                </div>
                
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <div class="row">
                                <input class="form-control col-8 col-md-10 col-sm-10 col-lg-11" id="myInput" type="text" placeholder="Buscar..">
                                <div class="col-auto col-md-auto col-sm-auto col-lg-auto">
                                    <a href='javascript:void(0)' class='btn btn-sm btn-icon btn-fill btn-primary btn-round text-dark botondetalle' rel="tooltip" data-original-title="Agregar" data-toggle='modal' data-target='#detalleModal' id=''>
                                    <i class="tim-icons icon-simple-add"></i></a>
                                    <!--<input type="submit" id="botonsubmit" value="agregar" class="btn btn-primary btn-sm text-dark" name="agregar"/>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="d-flex align-items-center col-12 col-md-12 col-lg-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    {% for val in data %} 
                                    <tr>
                                        <td>
                                            <div class="row"> 
                                                <div class="d-flex align-items-center col-lg-3 col-md-3 col-sm-4"> 
                                                    <img src="https://id.lobstr.co/{{val.co_keystore}}.png" alt="" width="20" height="20">
                                                    <p class="title" id="apodo{{val.co_directorio}}"> &nbsp{{val.tx_apodo}}</p>
                                                </div>
                                                <div class="col-5 col-lg-6 col-md-6 col-sm-3">
                                                    <input type="text" class="form-control col-12 col-md-12 col-lg-12 col-sm-12" id="contacto{{val.co_directorio}}" value="{{val.co_keystore}}" style="color:white;  width:480px;" readonly />
                                                    <!--<p class="text-muted text-overflow-puntos" id="contacto{{val.co_directorio}}">{{val.co_keystore}}</p>-->
                                                    {% if val.tx_memo %}
                                                        <p class="text-muted" id="memo{{val.co_directorio}}">{{val.tx_memo}}</p>
                                                    {% endif %}   
                                                    <input type="hidden" name="ic" id="ic{{val.co_directorio}}" value="{{val.co_directorio}}"/>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-4">
                                                    <a href="javascript:void(0)" class="btn btn-sm btn-icon btn-fill btn-primary btn-round text-dark mx-1 copiar" id="{{val.co_directorio}}" data-toggle="tooltip" data-placement="top" title="Copiar Billetera">
                                                        <i class="tim-icons icon-single-copy-04"></i>
                                                    </a>
                                                    <a href='javascript:void(0)' class='btn btn-sm btn-icon btn-fill btn-primary btn-round text-dark mx-1 botoneditar' data-toggle='modal' rel="tooltip" data-original-title="Editar" data-target='#editarModal' id="{{val.co_directorio}}">
                                                    <i class="tim-icons icon-pencil"></i></a>
                                                    <a href='javascript:void(0)' class='btn btn-sm btn-icon btn-fill btn-primary btn-round text-dark mx-1 botoneliminar' data-toggle='modal' rel="tooltip" title="Eliminar" data-original-title="Eliminar" data-target='#eliminarModal' id="{{val.co_directorio}}">
                                                    <i class="tim-icons icon-simple-remove"></i></a>
                                                    <a type="button" href="{% url 'transferencia' %}" rel="tooltip" title="" class="btn btn-sm btn-icon btn-fill btn-primary btn-round text-dark mx-1" data-original-title="Enviar">
                                                        <i class="tim-icons icon-minimal-up"></i>
                                                    </a>
                                                    <a type="button" href="{% url 'depositar'  %}" rel="tooltip" title="" class="btn btn-sm btn-icon btn-fill btn-primary btn-round text-dark mx-1" data-original-title="Recibir">
                                                        <i class="tim-icons icon-minimal-down"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    <tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>                      
                </div>     
            </div>
    </div>


<!--////////////// modal de agregar contacto ////////////////-->
<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="border-primary modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="detalleModalLabel">Agregar Contacto</h2>
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>   
            </div>
                <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-group col-sm-12 col-md-12">
                                <p class="title text-white">Billetera:</p>
                                {{form.tx_contacto}} {% if form.errors.tx_contacto %}<span class="help-block white-text">{{ form.errors.tx_contacto }}</span>{% endif %}
                            </div>
                        
                                <div class="form-group col-sm-12 col-md-12">
                                    <p class="title text-white">Apodo:</p>
                                    {{form.tx_apodo}} {% if form.errors.tx_apodo %}<span class="help-block white-text">{{ form.errors.tx_apodo }}</span>{% endif %}
                                </div>
                                <div class="form-group col-sm-12 col-md-12">
                                    <p class="title text-white">memo:</p>
                                    {{form.tx_memo}} {% if form.errors.tx_memo %}<span class="help-block white-text">{{ form.errors.tx_memo }}</span>{% endif %}
                                </div>
                            <div class="col-sm-12 col-md-12">    
                                <a class="btn btn-primary btn-group text-dark" href='javascript:void(0)' id="agregar">Agregar</a>
                            </div>
                        </div>
                        
                </div>

                <div class="modal-footer">
                    <div id="alercontainer2"></div>
                </div>
            </div>
        </div>
    </div>



    <!--////////////// modal de editar contacto ////////////////-->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="border-primary modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="editarModalLabel">Editar contacto</h2>
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader2"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>   
            </div>
                <div class="modal-body">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-center">
                                <h4 class="text-primary">AVISO</h4>
                            </div>
                            
                            <div class="col-sm-12 col-md-12">
                                <p class="text-white">Si desea cambiar la dirección del contacto deberá eliminarlo y registrarlo de nuevo.</p>
                                <!--{{form2.tx_contacto_ed}} {% if form2.errors.tx_contacto_ed %}<span class="help-block white-text">{{ form2.errors.tx_contacto_ed }}</span>{% endif %}-->
                            </div>
                            <input type="hidden" name="idedit" id="ideditcontacto"/>
                                                                    
                            <div class="form-group col-sm-12 col-md-12">
                                <p class="title text-white">Apodo:</p>
                                {{form2.tx_apodo_ed}} {% if form2.errors.tx_apodo_ed %}<span class="help-block white-text">{{ form2.errors.tx_apodo_ed }}</span>{% endif %}
                            </div>
                            <div class="form-group col-sm-12 col-md-12">
                                <p class="title text-white">memo:</p>
                                {{form2.tx_memo_ed}} {% if form2.errors.tx_memo_ed %}<span class="help-block white-text">{{ form2.errors.tx_memo_ed }}</span>{% endif %}
                            </div>
                            <div class="col-sm-12 col-md-12">    
                                <a class="btn btn-primary btn-round text-dark" href='javascript:void(0)' id="editar">Editar</a>
                            </div>
                        </div>
                        
                </div>

                <div class="modal-footer">
                    <div id="alercontainer2"></div>
                </div>
            </div>
        </div>
    </div>


    <!--////////////// modal de eliminar contacto ////////////////-->
<div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="eliminarModalLabel" aria-hidden="true">
    <div class="border-primary modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="eliminarModalLabel">Eliminar contacto</h2>
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader4"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>   
            </div>
                <div class="modal-body">
                    <div class="col-md-12">       
                        <input type="hidden" name="ideliminar" id="ideliminarcontacto"/>
                        <h5 class="title">¿Esta seguro que desea eliminar este contacto?</h5>
                        <div class="form-group col-sm-auto col-md-auto">
                            <p class="title text-white">Apodo:</p>
                            <input class="form-control text-white" type="text" id="apodo" onfocus=this.blur()/>
                        </div>
                        <div class="col-sm-12 col-md-12">    
                            <a class="btn btn-primary btn-round text-dark" href='javascript:void(0)' id="eliminarbtn">Eliminar</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="alercontainer2"></div>
                </div>
            </div>
        </div>
    </div>


<input id="token" name="token" type="hidden" value={{ token }}>

{% endblock content %}

{% block javascripts %}

<script>
$(document).ready(function() {
    var co_directorio=false;
    $('#loader').hide();
    $('#loader2').hide();
    $('#loader3').hide();
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $('.copiar').on('click', function() {
                var code=$(this).attr("id");
                var copyText = document.getElementById("contacto"+code);
                $("#contacto"+code).attr("readonly",false);
                
                var btncopiar = $(this);
                copyText.select();
                copyText.setSelectionRange(0, 99999);


                document.execCommand("copy");
                $("#contacto"+code).attr("readonly",true);


            });
            
            $("#id_tx_contacto").keypress(function () {
                $(this).val($(this).val().toUpperCase());
            });

            $("#id_username").change(function() {
                $(this).val($(this).val().toUpperCase());
            });

            $(".botondetalle").on("click", function() {
                            
                var codigo = $(this).attr('id');
                
                if($("#m"+codigo).val()=="native"){
                    $("#btnmodal").hide();
                }else{ 
                     $("#btnmodal").show();
                }
                if($("#b"+codigo).text()!="" ){
                    si=false;                                 
                    $("#btnmodal").html("Quitar");
                }


            });



            $(".botoneditar").on("click", function() {
                            
                var val = $(this).attr("id");
                $("#id_tx_contacto_ed").val($("#contacto"+val).text());
                $("#id_tx_apodo_ed").val($("#apodo"+val).text());
                $("#id_tx_memo_ed").val($("#memo"+val).text());
                $("#ideditcontacto").val($("#ic"+val).val());

               //console.log(val);

            });

            $("#agregar").on('click',function(){

                $('#loader').show();
                var url = window.location.protocol + "//" + window.location.host + "/";
                $.ajax({
                url: url + 'api/agregarcontacto/',
                type: 'POST',
                data: {
                    'tx_contacto':$("#id_tx_contacto").val(),
                    'tx_apodo':$("#id_tx_apodo").val(),
                    'tx_memo':$("#id_tx_memo").val(),
                    },
                //dataType: "json",
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function(arg) {
                    
                        if(arg.success){
                            $('#loader').hide();
                            location.reload()

                        }else{
                            $('#loader').hide();
                            $.each(arg.msg, function(key, value) {
                                    newMensaje(arg.msg,"aler1","danger","alercontainer2");
                            
                            });


                        }

                    },
                });

            });


            async function eliminarContacto(codigo){
                 try{
                 let response = await $.ajax({
                            url: url + '/api/eliminarcontacto/',
                            type: 'POST',
                            data: {
                                'co_directorio':codigo,
                                },
                            //dataType: "json",
                            headers: {"Authorization": 'token '+$("#token").val()},
                            beforeSend: function (xhr, settings) {
                                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                            }

                    });
                $('#loader3').show();
                return response;
                          
                 }catch(error){
                    newMensaje("Ha ocurrido un error","errors","danger","alercontainer");
                    newMensaje(error,"def","danger","alercontainer");      
                    $(".botoneliminar").attr("disabled",false);
                    $('#loader2').hide();
                    return false;
                 }
            }
            $(".botoneliminar").on("click", function() {
                            
                var codigo = $(this).attr("id");
                $("#apodo").val($("#apodo"+codigo).text());
                co_directorio=codigo;
                //console.log(codigo);
                $('#loader4').hide();

            });
            $("#eliminarbtn").on('click', async function(){
                $("#eliminarbtn").attr("disabled",true);
                $('#loader2').show();
                let response=await eliminarContacto(co_directorio);
                if(response){
                        $('#loader2').hide();
                        location.reload();
                }
            });


            $("#editar").on('click',function(){

                $('#loader2').show();
                var url = window.location.protocol + "//" + window.location.host + "/";
                $.ajax({
                url: url + 'api/editarcontacto/',
                type: 'POST',
                data: {
                    'tx_contacto':$("#id_tx_contacto_ed").val(),
                    'tx_apodo':$("#id_tx_apodo_ed").val(),
                    'tx_memo':$("#id_tx_memo_ed").val(),
                    'co_directorio':$("#ideditcontacto").val(),
                    },
                //dataType: "json",
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function(arg) {
                    
                        if(arg.success){
                            $('#loader2').hide();
                            location.reload()

                        }else{
                            $('#loader2').hide();
                            $.each(arg.msg, function(key, value) {
                                    newMensaje(arg.msg,"aler1","danger","alercontainer2");
                            
                            });


                        }

                    },
                });









            });












    });
</script>
{% endblock javascripts%}