{% extends 'inicio/base2.html' %} {% block title %} Editar Datos {% endblock title %} {% block content %}
{% load static %}
<div class="row">

{% if msg != '' %}
{% if success == 1%}   
{% include 'includes/msj-success.html' %}

{% else%}   
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>
<div id="alercontainer">
</div>
<!--
<style>

$custom-file-text: (
en: "Browse",
es: "Elegir"
);
</style>
-->
  <div class="row ">
      <div class="card">  

        <div class="card-header">
          <h1 class="card-title">Edición de datos personales</h1>
        </div>
        <form method="POST" action="{% url 'editarusuario2fa' %}" enctype="multipart/form-data">{% csrf_token %}
        <div class="card-body">
          <div class="row">

            <div class="form-group col-2 col-sm-2 col-md-1">
              <label class="bmd-label-floating text-white" for="co_tipo_documento">Tipo</label>
              {{ form.co_tipo_documento}}
              {% if form.errors.co_tipo_documento %}<span class="help-block white-text">{{ form.errors.co_tipo_documento }}</span>{% endif %}
            </div>

            <div class="form-group col-10 col-sm-10 col-md-5 ">
              <label class="bmd-label-floating text-white" for="nu_documento">Documento</label>
              {{ form.nu_documento}}
              {% if form.errors.nu_documento %}<span class="help-block white-text">{{ form.errors.nu_documento }}</span>{% endif %}
            </div>

            <div class="form-group col-md-12 col-lg-6 ">
              <label class="bmd-label-floating text-white" for="fe_nacimiento">Fecha nacimiento</label>
              {{ form.fe_nacimiento}}
              {% if form.errors.fe_nacimiento %}<span class="help-block white-text">{{ form.errors.fe_nacimiento }}</span>{% endif %}
            </div>

            <div class="form-group col-md-12 col-lg-6 ">
              <label class="bmd-label-floating text-white" for="tx_primer_nombre">Primer nombre</label>
              {{ form.tx_primer_nombre}}
              {% if form.errors.tx_primer_nombre %}<span class="help-block white-text">{{ form.errors.tx_primer_nombre }}</span>{% endif %}
            </div>

            <div class="form-group col-md-12 col-lg-6 ">
              <label class="bmd-label-floating text-white" for="tx_segundo_nombre">Segundo nombre</label>
              {{ form.tx_segundo_nombre}}
              {% if form.errors.tx_segundo_nombre %}<span class="help-block white-text">{{ form.errors.tx_segundo_nombre }}</span>{% endif %}
            </div>

            <div class="form-group col-md-12 col-lg-6">
              <label class="bmd-label-floating text-white" for="tx_primer_apellido">Primer apellido</label>
              {{ form.tx_primer_apellido}}
              {% if form.errors.tx_primer_apellido %}<span class="help-block white-text">{{ form.errors.tx_primer_apellido }}</span>{% endif %}
            </div>

            <div class="form-group col-md-12 col-lg-6">
              <label class="bmd-label-floating text-white" for="tx_segundo_apellido">Segundo apellido</label>
              {{ form.tx_segundo_apellido}}
              {% if form.errors.tx_segundo_apellido %}<span class="help-block white-text">{{ form.errors.tx_segundo_apellido }}</span>{% endif %}
            </div>

            <div class="form-group col-md-12 col-lg-6">
              <label class="bmd-label-floating text-white" for="co_sexo">Sexo</label>
              {{ form.co_sexo}}
              {% if form.errors.co_sexo %}<span class="help-block white-text">{{ form.errors.co_sexo }}</span>{% endif %}
            </div>

            <div class="form-group col-md-12 col-lg-6 ">
              <label class="bmd-label-floating text-white" for="nu_telefono">Teléfono</label>
              {{ form.nu_telefono}}
              {% if form.errors.nu_telefono %}<span class="help-block white-text">{{ form.errors.nu_telefono }}</span>{% endif %}      
            </div>

            <div class="form-group col-md-12 col-lg-6">
              <label class="bmd-label-floating text-white" for="co_pais">País</label>
              {{ form.co_pais}}
              {% if form.errors.co_pais %}<span class="help-block white-text">{{ form.errors.co_pais }}</span>{% endif %}
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label class="bmd-label-floating text-white" for="co_pais">Empresa</label>
              {{ form.tx_denom_comercial}}
              {% if form.errors.tx_denom_comercial %}<span class="help-block white-text">{{ form.errors.tx_denom_comercial }}</span>{% endif %}
            </div>
              <!--
            <div class="form-group col-md-12 col-lg-6">
              <label class="bmd-label-floating text-white" for="co_estado">Estado</label>       
              {{ form.co_estado}}
                {% if form.errors.co_estado %}<span class="help-block white-text">{{ form.errors.co_estado }}</span>{% endif %}
            </div>

            <div class="form-group col-md-12 col-lg-6">
              <label class="bmd-label-floating text-white" for="co_ciudad">Ciudad</label>        
              {{form.co_ciudad}}
              {% if form.errors.co_ciudad %}<span class="help-block white-text">{{ form.errors.co_ciudad }}</span>{% endif %}
            </div>
                

            <div class="form-group col-md-12 col-lg-6 ">
              <label class="bmd-label-floating text-white" for="tx_direccion">Dirección</label>
              {{ form.tx_direccion}}
              {% if form.errors.tx_direccion %}<span class="help-block white-text">{{ form.errors.tx_direccion }}</span>{% endif %}      
            </div>
            
              -->


              <!--///////////////////Parte de las imagenes////////////////////-->
              <!--
            <div class="form-group col-md-12">
              <label class="bmd-label-floating text-white" for="co_ciudad">Tipo de Documento</label>
              {{ form.co_tipo_indentificacion}}
              {% if form.errors.co_tipo_indentificacion %}<span class="help-block white-text">{{ form.errors.co_tipo_indentificacion }}</span>{% endif %}
            </div>


            <div class="container">
              <div class="form-group col-md-12 col-lg-6 ">
                <!--
                <div class="custom-file">
                    <div class="col-md-4 col-sm-4">
                      <h4 class="card-title">Regular Image</h4>
                      <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                        <div>
                          <span class="btn btn-rose btn-round btn-file">
                            <span class="fileinput-new">Select image</span>
                            <span class="fileinput-exists">Change</span>
            
                            {{ form.img_uno_file}}
                          </span>
                          <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                        </div>
                      </div>
                    </div>

              
                </div>
                    
            <div class="custom-file">
                  {{ form.img_uno_file}}
                  <label class="custom-file-label" for="img_dos_file">Seleccionar Archivo</label>
                    {% if form.errors.img_dos_file %}<span class="help-block white-text">{{ form.errors.img_dos_file }}</span>{% endif %}
          
                  
                </div>
                <div class="custom-file">
                  {{ form.img_dos_file}}
                  <label class="custom-file-label" for="img_dos_file">Seleccionar Archivo</label>
                    {% if form.errors.img_dos_file %}<span class="help-block white-text">{{ form.errors.img_dos_file }}</span>{% endif %}
          
                  
                </div>

                <div class="custom-file">
                  {{ form.img_selfie_file}}
                  <label class="custom-file-label" for="img_selfie_file">Seleccionar Archivo</label>
                  {% if form.errors.img_selfie_file %}<span class="help-block white-text">{{ form.errors.img_selfie_file }}</span>{% endif %}
          
              
                </div>
                --> 
          </div>
        </div>
  
        <li class="dropdown-divider"></li>
        <div class="card-footer text-center ">
          <input type="submit" value="Guardar" class="btn btn-fill btn-primary container waves-effect text-dark" name="guardar"/>
          <a href="{% url 'perfilusuario' %}" value="Guardar" class="btn btn-fill btn-primary container waves-effect text-dark" name="Volver al perfil"/>
          Volver al Perfil</a>
        </div>
      </div>
      </form>  
  </div>


<input id="token" name="token" type="hidden" value={{ token }}>
{% endblock %}
{% block javascripts %}
<script>
  $(document).ready(function(){
     $("#id_co_pais").on('change', function () {
        $("#id_co_pais option:selected").each(function () {

            var co_pais = $(this).val();
            var url =window.location.protocol + "//" + window.location.host + "";
            $.ajax({
                url: url+'/api/estado/',
                type: 'POST',
                 data: {
                'co_pais': co_pais
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {
                  
                $("#id_co_estado").html('<option value=>Seleccione...</option>');
                
                $("#id_co_ciudad").html('<option value=>Seleccione...</option>');
                 if(arg.success){
                  $.each(arg.data, function(k, v) {
                   $("#id_co_estado").append('<option value='+v.co_estado+'>'+v.tx_estado+'</option>');
                   
                    });
                  }
                
                }
            })
            	
        });
   });

   $("#id_co_estado").on('change', function () {
        $("#id_co_estado option:selected").each(function () {

            var co_estado = $(this).val();
            var url =window.location.protocol + "//" + window.location.host + "";
            $.ajax({
                url: url+'/api/ciudad/',
                type: 'POST',
                 data: {
                'co_estado': co_estado
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {
                  
                $("#id_co_ciudad").html('<option value=>Seleccione...</option>');
                 if(arg.success){
                  $.each(arg.data, function(k, v) {
                   $("#id_co_ciudad").append('<option value='+v.co_ciudad+'>'+v.tx_ciudad+'</option>');
                   
                    });
                  }
                
                }
            })
            	
        });
   });

  });
</script>
{% endblock javascripts %}