<h1>Mensaje de ProntoPago</h1>

<dl>
<dt>Email: papayagroup20@gmail.com</dt>

<dt>Mensaje: </dt>
<dd>Buenas poder realizar la validacion de dos factores por PIN, ingrese el siguiente codigo
en la pagina de ProntoPago</dd>

</dl>

<center><h2>{{codigo}}<h2></center>