<h1>Mensaje de PapayaGroup</h1>

<dl>
<dt>Email: papayagroup20@gmail.com</dt>

<dt>Mensaje: </dt>
<dd>Buenas para poder cambiar su clave por favor ingrese la siguiente clave de validación</dd>

</dl>

<center><h2>{{codigo}}<h2></center>