<h1>Mensaje de PapayaGroup</h1>

<dl>
<dt>Email: noreply@gmail.com</dt>

<dt>Mensaje: </dt>
<dd>Nosotros Papayagroup les damos la bienbenida a nuestra plataforma, para continuar su registro por
favor ingrese la siguiente clave de acceso</dd>

</dl>

<center><h2>{{codigo}}<h2></center>