{% extends 'inicio/base2.html' %} {% block title %} Configuración {% endblock title %} {% block content %}
{% load static %}
<div class="row">

{% if msg != '' %}
{% if success == 1%}   
{% include 'includes/msj-success.html' %}

{% else%}   
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>
<div id="alercontainer">
</div>

  <div class="row">
      <div class="card ">
        <div class="card-header">
          <h1 class="card-title">Configuración</h1>
          {% include 'partials/submenu/barraseguridad.html' %}
        </div>

        <div class="card card-user">
          <div class="card-body">
            <p class="card-text">
              <div class="author">

                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>

                <a href="javascript:void(0)">
                  {% if data.billetera %}
                    <img class="avatar" src="https://id.lobstr.co/{{data.billetera}}.png" alt="...">
                  {% else %}
                    <img class="avatar" src="{% static 'img/userdefault.jpg' %}" alt="...">
                  {% endif %}
                  
                  <h4 class="title">
                    {% if  data.persona %}
                      {{ data.persona.get_nombre_completo }}
                    {% else %}
                      {{ user.username }}
                    {% endif %}
                  </h4>
                </a>
                <p class="description">
                    {{ user.email }}  
                </p>
                <p class="description">
                Billetera: {{data.billetera}}
                </p>
              </div>
            </p>
            <li class="dropdown-divider"></li>
            <div class="card-description">
              <div class="card  card-plain">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table tablesorter" >
                      <h3 class="title text-primary">Información Básica</h3>
                      <tbody class="white-text">
                        <tr>
                          <td>Primer nombre:</td>
                          <td>{{data.persona.tx_primer_nombre}}</td>

                          <td>Segundo nombre:</td>
                          <td>{{data.persona.tx_segundo_nombre}}</td>
                        </tr>
                        <tr>
                          <td>Primer apellido:</td>
                          <td>{{data.persona.tx_primer_apellido}}</td>

                          <td>Segundo apellido:</td>
                          <td>{{data.persona.tx_segundo_apellido}}</td>
                        </tr>
                        <tr>
                          <td>Sexo:</td>
                          <td>{{data.persona.co_sexo.tx_sexo}}</td>

                          <td>Fecha nacimiento:</td>
                          <td>{{data.persona.fe_nacimiento}}</td>
                        </tr>
                      </tbody>
                    </table> 
                      

                    <table class="table tablesorter" >
                      <h3 class="title text-primary">Información de identidad</h3>
                      <tbody class="white-text">
                        <tr>
                          <td>Cédula:</td>
                          <td>{{data.persona.nu_documento}}</td>

                          <td>Teléfono:</td>
                          <td>{{data.persona.nu_telefono}}</td>
                        </tr>
                      </tbody>
                    </table>


                    <table class="table tablesorter" >
                      <h3 class="title text-primary">Ubicación</h3>
                      <tbody class="white-text">
                      
                        <tr>
                          <td>País:</td>
                          <td>{{data.direccion.co_pais}}</td>
                        </tr>
                        
                      </tbody>
                    </table>

                    <table class="table tablesorter" >
                      <h3 class="title text-primary">Informacion Comercial</h3>
                      <tbody class="white-text">
                      
                        <tr>
                          <td>Empresa:</td>
                          <td>{{data.persona.tx_denom_comercial}}</td>
                        </tr>
                        
                      </tbody>
                    </table>





                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="button-container">
              <a href="{% url 'editarusuario2fa' %}" class="btn btn-icon btn-fill btn-primary btn-round btn-twitter text-dark">
                <i class="tim-icons icon-pencil"></i>
              </a>
            </div>
          </div>

          
        </div>
      </div>
  </div>



<!----------------------Anuncio desea dejar de ser agente-------------------------->
<!---
<div class="container">
  <div class="row">


    {% if  data.val_agente%}
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">¿Quiere dejar de ser Agente de Servicios?</h4>
            <p>Envie su renuncia precionando aqui</p>
            <botton href="javascript:void(0)" class="btn btn-fill btn-primary container waves-effect text-dark" name="Enviar" data-toggle="modal" data-target="#modal2" id="{{values.co_pago_servicios}}">
            <i class="tim-icons icon-send"></i>
          </div>
        </div>
      </div>

    {% else %}

    {% if data.val_estado%}
    
      {% else %}
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">¿Quiere convertirse en Agente de Servicios?</h4>
              
              {% if data.val_img == 2 and data.val_persona == 2 %}
                <p>Este proceso se encuentra disponible para afiliaciones con pronto pago 
                en el proceso de recarga de servicios a nuestros usuarios, debe tener en cuenta 
                que sus datos personales tanto los acá introducidos serán revisados para poderle APROBAR 
                su solicitud de conversión a agente de pago</p>
                <p>Envie la solicitud para ser agente haciendo clip Aqui.</p>
                <botton href="javascript:void(0)" class="btn btn-fill btn-primary container waves-effect text-dark" name="Enviar" data-toggle="modal" data-target="#modal1" id="{{values.co_pago_servicios}}">
                  <i class="tim-icons icon-send"></i>
              {% else %}
              
                <p class="card-text">
                <p>Todavia no cumple con los requisitos para ser Agente de servicios</p>
                <p>complete los siguientes requisitos para optar a ser agente:</p>
                
                <ul>
                  <li>
                    {% if val_persona == 2 %}
                    {% else %}
                      <a href="editarusuario">Debe verificar sus datos personales</a>
                    {% endif %}
                  </li>

                  <li>
                    {% if val_img == 2 %}
                    {% else %}
                      <a href="{% url 'indentificacionusuario' %}">Debe verificar su imagen de identidad</a>
                    {% endif %}
                  </li>
                </ul>

            {% endif %}
              </p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  <!----------------------Fin del Anuncio desea dejar de ser agente-------------------------->
  <!----------------------Anuncio Solicitud de verificar identidad-------------------------->
  <!---
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Validar Datos de Identidad</h4>
          <a href="{% url 'preSolicitud' co_tipo_solicitud=14%}" class="btn btn-fill btn-primary container waves-effect text-dark" name="Enviar" >Enviar</a>
        </div>
      </div>
    </div>


  </div>
</div>
-->



<!----------------------Modal para enviar solocitud-------------------------->
<input id="token" name="token" type="hidden" value="{{token}}">
<input id="codigo" name="codigo" type="hidden">
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <h2 class="modal-title" id="modal1Label">¿Realmente desea enviar la peticion?</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        </div>
      </div>
      
      <form action= "{% url 'preSolicitud' co_tipo_solicitud=8 %}" method= "POST"> 
        <div class="modal-body">

          <input id="codigo" name="codigo" type="hidden">
          
          <input id="cotiso" name="co_tipo_solicitud" type="hidden" value=8>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">No</button>
          <button type="submit" class="btn btn-fill btn-primary text-dark validar" name='boton' value="1" id="botonsi">Si</button>    
          {% csrf_token %}
        </div>
      </form>
    </div>
  </div>
</div>
<!--Fin del Modal-->
<!----------------------Modal para dejar de ser agente-------------------------->
<input id="token" name="token" type="hidden" value="{{token}}">
<input id="codigo" name="codigo" type="hidden">
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <h2 class="modal-title" id="modal2Label">¿Realmente desea Dejar de ser agente de servicios?</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        </div>
      </div>
      
      <form action= "{% url 'desafiliar' %}" method= "POST"> 
        <div class="modal-body">

          <input id="codigo" name="codigo" type="hidden">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">No</button>
          <button type="submit" class="btn btn-fill btn-primary text-dark validar" name='boton' value="2" id="botonsi">Si</button>    
          {% csrf_token %}
        </div>
      </form>
    </div>
  </div>
</div>



<!----------------------Modal para calidar identidad-------------------------->


<input id="token" name="token" type="hidden" value="{{token}}">
<input id="codigo" name="codigo" type="hidden">
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modal3Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <h2 class="modal-title" id="modal3Label">¿Realmente desea validar su identidad?</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        </div>
      </div>
      
      <form action= "" method= "POST"> 
        <div class="modal-body">

          <input id="codigo" name="codigo" type="hidden">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">No</button>
          <button type="submit" class="btn btn-fill btn-primary text-dark validar" name='boton' value="3" id="botonsi">Si</button>    
          {% csrf_token %}
        </div>
      </form>
    </div>
  </div>
</div>



{% endblock content %}

{% block javascripts %}
<script>
  $(document).ready(function(){

    $('#loader').hide();
    var valores = function(id){
    var cod=id;
    var codigo=parseInt(cod.charAt(cod.length-1));

    return cod;
    }
    
    var advertencia1 = function(e){
      $("#codigo").val(valores(e.currentTarget.id));

    }

  /*  
    $("#botonsi").click(function(){
    onclick();

    });
    var onclick = function(){
        var codigo=$("#codigo").val();
         $('#loader').show();

        var url =window.location.protocol + "//" + window.location.host + "";
                $('.validar').attr("disabled", true);
        $.ajax({
                //url: url+'/operaciones/servicios/bandeja/cancelar-peticion/',
                type: 'POST',
                 data: {
                     'co_pago_servicios':codigo
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {
                if(arg.success){
                location.reload();
                }
                $('#loader').hide();

                
                },
                error: function (xhr, ajaxOptions, thrownError) {
                   $('#loader').hide();
                   $('.validar').attr("disabled", false);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })
    }
*/
    $('.validar').on('click', advertencia1);

    });


</script>
{% endblock javascripts %}