{% extends 'inicio/base2.html' %}{% block title %} ProntoamiGO {% endblock title %}{% block content %}
{% load static %}
{% load qr_code %}
<div class="row">
{% if msg != '' %}
{% if success == 1%}   
{% include 'includes/msj-success.html' %}
{% else%}   
{% include 'includes/msj-danger.html' %}
{% endif %}
{% endif %}
</div>
<style>
.puntos {
    width:70%;
    font-size:24pt;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    margin-top: 2px;
}
</style>
<div id="alercontainer">
</div>
    <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h2 id="titulo_movil_5" class="card-title">ProntoamiGO</h2>
                        <div class="spinner-grow ml-auto text-primary" role="status" aria-hidden="true" id="loader"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Invite a sus amigos a comerciar en Prontopagos - Hasta el 10% de las comisiones comerciales seran recompensas por referencias</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="bmd-label-floating text-white">Codigo de referencia</label>
                                            <h4 class="title">{{codigo}}</h4>
                                        </div>
                                        <div class="col-md-4">
                                            
                                        </div>
                                        <div class="col-md-4">
                                            <label class="bmd-label-floating text-white">Usted Recibe</label>
                                            <h4 class="title">10%</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="bmd-label-floating text-white">Enlace predeterminado</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="bmd-label-floating text-white puntos" id="copiar">{{link}}</label>
                                                    <a href="javascript:void(0)" class="btn btn-sm btn-icon btn-fill btn-primary btn-round text-dark mx-1 btncopiar2" id="btncopiar2" data-toggle="tooltip" data-placement="top" title="Copiar">
                                                        <i class="tim-icons icon-single-copy-04"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="bmd-label-floating text-white">Imprimir QR</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="button" class="btn btn-primary text-dark" id="generar" data-toggle='modal'>Póster de referencia</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

         
            <div class="container" id="element_movil_hide_4">
                <div class="row">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-2 d-flex align-items-center">
                                    <p>1ro</p>
                                </div>
                                <div class="col-md-10">
                                    <p>Comparta su enlace de referencia, invite a amigos a registrarse en ProntoPagos</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"><li class="dropdown-divider"></li></div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-2 d-flex align-items-center">
                                    <p>2do</p>
                                </div>
                                <div class="col-md-10">
                                    <p>Los amigos terminan el registro con su referencia y comienzan a operar</p>
                                </div>
                            </div> 
                        </div>
                        <div class="col-md-1"><li class="dropdown-divider"></li></div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-2 d-flex align-items-center">
                                    <p>3ro</p>
                                </div>
                                <div class="col-md-10">
                                    <p>Después de los pasos anteriores, puede obtener una suma en XLM como recompensa por referencia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h2 class="card-title">General</h2>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="mt-2 col-lg-6 col-md-6 col-sm-6">
                            <div class="border border-primary">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-8 col-lg-8 col-md-8 col-sm-8 justify-content-center">
                                            <h2 class="card-title">{{num}}</h2>
                                            <label class="bmd-label-floating text-white">Lista de amigos</label>
                                        </div>
                                        <div class="col-4 col-lg-4 col-md-4 col-sm-4" style="margin-top: 8px">
                                            <img src="{% static 'img/stellar-xlm-logo.png' %}" alt="50" width="50" height="50">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-sm-6">
                            <div class="border border-primary">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-8 col-lg-8 col-md-8 col-sm-8 justify-content-center">
                                            <h2 class="card-title">10%</h2>
                                            <label class="bmd-label-floating text-white">Tasa de referencia basica</label>
                                        </div>
                                        <div class="col-4 col-lg-4 col-md-4 col-sm-4" style="margin-top: 8px">
                                            <img src="{% static 'img/stellar-xlm-logo.png' %}" alt="50" width="50" height="50">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h2 id="titulo_movil_3" class="card-title">Referencias</h2>
                        <div class="spinner-grow ml-auto text-primary" role="status" aria-hidden="true" id="loader2"></div>
                        <div>
                            <button id="boton_movil_hide_3" class="btn btn-primary btn-link boton_desplegar_3"><i class="tim-icons icon-minimal-down"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="element_movil_hide_3">
                <div class="d-flex align-items-center col-12 col-md-12 col-lg-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td class="text-primary">Nombre de Usuario</td>
                                        <td class="text-primary">Fecha de ingreso</td>
                                        <td class="text-primary">Estado</td>
                                    <tr>
                                </thead>
                                <tbody>
                                    {% for val in data %} 
                                    <tr>
                                        <td><p>{{val.username}}</p></td>
                                        <td><p>{{val.created_at}}</p></td>
                                        <td>
                                            <p>{% if val.in_confirmado == True%}Activo{% else %}Inactivo{% endif %}</p>
                                        </td>
                                    <tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h2 id="titulo_movil_2" class="card-title">Comisiones</h2>
                        <div class="spinner-grow ml-auto text-primary" role="status" aria-hidden="true" id="loader3"></div>
                        <div>
                            <button id="boton_movil_hide_2" class="btn btn-primary btn-link boton_desplegar_2"><i class="tim-icons icon-minimal-down"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="element_movil_hide_2">
                <div class="d-flex align-items-center col-12 col-md-12 col-lg-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td class="text-primary">Fecha</td>
                                        <td class="text-primary">Comision</td>
                                        <td class="text-primary">Tasa</td>
                                        <td class="text-primary">Recompensa</td>
                                    <tr>
                                </thead>
                                <tbody>
                                    {% for val in data2 %} 
                                    <tr>
                                        <td><p>{{val.created_at}}</p></td>
                                        <td><p>{{val.co_comision_afiliado.co_comision.nu_monto}}</p></td>
                                        <td><p>{{val.co_comision_afiliado.co_tasa_afiliados.nu_tasa}}</p></td>
                                        <td><p>{{val.co_comision_afiliado.nu_monto}}</p></td>
                                    <tr>
                                    {% endfor %}
                                </tbody>
                            </table> 
                        </div>
                    </div> 
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h2 id="titulo_movil_4" class="card-title">Términos</h2>
                    </div>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Solo los usuarios que se registren en Prontopagos con su enlace de referencia pueden
                            ser sus usuarios referidos.</li>
                        <li>Prontopagos no permitirá que ningún usuario se refiera a sí mismo a través de varias
                            cuentas. Una vez verificado, se cancelarán todas las ganancias.</li>
                        <li>El usuario ProntoamiGO recibirá sus pagos en su balance de forma mensual en XLM.</li>
                        <li>El usuario ProntoamiGO cobrara el 10% de la comisión de las transacciones que realice
                            su referido.</li>
                        <li>El usuario ProntoamiGO cobrara el 10% de la comisión de las transacciones que
                            reciban sus referidos.</li>
                        <li>Debido a los cambios en el entorno del mercado, el riesgo de fraudes, entre otros,
                            Prontopagos se reserva el derecho de realizar una interpretación final de los términos
                            de su programa de referidos en cualquier momento.</li>
                        <li>El período efectivo de ganancia por recomendación comienza en el momento en que
                            el primer referido registra su cuenta. Después de 12 meses, cesara el periodo de
                            ganancia como ProntoamiGO.</li>      
                    </ul>
                </div>
            </div>
    </div>


    <!--////////////// modal de qr ////////////////-->
<div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="qrModalLabel" aria-hidden="true">
    <div class="border-primary modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">     
            </div>
                <div class="modal-body">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                              <center><canvas id="myCanvas"></canvas></center>
                          </div>
                          <div class="carousel-item">
                            <center><canvas id="myCanvas2"></canvas></center>
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                    </div>
                      <img id="poster">
                      <img id="poster2">
                </div>
                <!--
                <div class="modal-footer">
                    <p class="text-white">Haga clic para <a href="{% url 'reporte_prontoamigo' %}">descargar</a> el póster en PDF y redirija a su promoción en las redes sociales</p>
                </div>
                -->
            </div>
        </div>
    </div>
<img src="data:image/png;base64,{{img}}" id="qrpapa" width="120" height="120"/>
{% endblock content %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js" integrity="sha512-NFUcDlm4V+a2sjPX7gREIXgCSFja9cHtKPOL1zj6QhnE0vcY695MODehqkaGYTLyL2wxe/wtr4Z49SvqXq12UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="http://html2canvas.hertzen.com/dist/html2canvas.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script>
$(document).ready(function() {
    const token = "{{ token }}";
    $('#loader').hide();
    $('#loader2').hide();
    $('#loader3').hide();
    $('#qrpapa').hide();

    var pantalla_estado= '';
    var pantalla_estado_open = '';
    var estado_boton = '';
    

    $("#poster").attr('src', '{% static "img/ProntoamiGO_Poster.png" %}');
    $("#poster2").attr('src', '{% static "img/QR_PRONTOAMIGO.png" %}');
    $('#poster').hide();
    $('#poster2').hide();

    $('#generar').click(async function() {
        $("#qrcoded").html("");
        $('#qrcoded > canvas').attr("id", "canvasqr");

        $("#myCanvas").attr('width', "300");
        $("#myCanvas").attr('height', "500");

        $("#myCanvas2").attr('width', "300");
        $("#myCanvas2").attr('height', "500");
        
        let otroQR=document.getElementById("qrpapa");
        otroQR.setAttribute('width', "120");
        otroQR.setAttribute('height', "120");

        //Aqui transforma el qr en una imagen
        var caqr = document.getElementById("canvasqr");

        //Aqui es la fucion poster1
        var c = document.getElementById("myCanvas");
        var ctx1 = c.getContext("2d");
        var image_poster = document.getElementById("poster");
        ctx1.drawImage(image_poster, 0, 0,300,500);
        ctx1.drawImage(otroQR, 200,375,100,100); 

        //Aqui es la fucion poster2
        var c = document.getElementById("myCanvas2");
        var ctx = c.getContext("2d");
        var image_poster2 = document.getElementById("poster2");
        ctx.drawImage(image_poster2,0,0,300,500);
        ctx.drawImage(otroQR, 184,354,97,115);

        $("#qrModal").modal('show');

    });

    async function close_window(){
        if(screen.width <= 400){
            $("#boton_movil_hide_2").show();
            $('#element_movil_hide_2').hide();

            $("#boton_movil_hide_3").show();
            $('#element_movil_hide_3').hide();

            $("#boton_movil_hide_4").show();
            $('#element_movil_hide_4').hide();

            pantalla_estado = 'MOVIL';
            document.getElementById("titulo_movil_2").style.fontSize="1.3rem";
            document.getElementById("titulo_movil_3").style.fontSize="1.3rem";
            document.getElementById("titulo_movil_4").style.fontSize="1.3rem";
            document.getElementById("titulo_movil_5").style.fontSize="1.3rem";
            estado_boton = true;
            pantalla_estado_open = false;
        }else{
            $("#boton_movil_hide_2").hide();
            $('#element_movil_hide_2').show();

            $("#boton_movil_hide_3").hide();
            $('#element_movil_hide_3').show();

            $("#boton_movil_hide_4").hide();
            $('#element_movil_hide_4').show();

            pantalla_estado = 'PC';
            estado_boton = false;
            pantalla_estado_open = true;
        }
    }
    $(".boton_desplegar_2").on("click", function() {
        if(estado_boton == false){
          $("#boton_movil_hide_2").hide();
        }else{
          if(pantalla_estado == 'PC'){
            $('#element_movil_hide_2').hide();
          }
          if(pantalla_estado == 'MOVIL'){
            $('#element_movil_hide_2').show();
            if (pantalla_estado_open == true){
              $('#element_movil_hide_2').hide();
              pantalla_estado_open=false;
            }else{
              $('#element_movil_hide_2').show();
              pantalla_estado_open=true;
            }
          }
        }
      });
      $(".boton_desplegar_3").on("click", function() {
        if(estado_boton == false){
          $("#boton_movil_hide_3").hide();
        }else{
          if(pantalla_estado == 'PC'){
            $('#element_movil_hide_3').hide();
          }
          if(pantalla_estado == 'MOVIL'){
            $('#element_movil_hide_3').show();
            if (pantalla_estado_open == true){
              $('#element_movil_hide_3').hide();
              pantalla_estado_open=false;
            }else{
              $('#element_movil_hide_3').show();
              pantalla_estado_open=true;
            }
          }
        }
      });
    
    // Detect whether device supports orientationchange event, otherwise fall back to 
    // the resize event. 
    var supportsOrientationChange = "onorientationchange" in window, 
    orientationEvent = supportsOrientationChange ? "orientationchange" : "resize"; 
    window.addEventListener(orientationEvent, function() {
        close_window()
        //console.log('roto la pantalla:' + screen.width);
    }, false);

    

    $('#btncopiar2').on('click', function() {
        // Crea un campo de texto "oculto"
        var aux = document.createElement("input");
        // Asigna el contenido del elemento especificado al valor del campo
        aux.setAttribute("value", document.getElementById("copiar").innerHTML);
        // Añade el campo a la página
        document.body.appendChild(aux);
        // Selecciona el contenido del campo
        aux.select();  
        // Copia el texto seleccionado
        document.execCommand("copy");     
        // Elimina el campo de la página
        document.body.removeChild(aux);
    });

    async function imagen_descarga(){
        try{
            var url = window.location.protocol + "//" + window.location.host + "/";
            let response = await $.ajax({
                url: url + 'reporte_prontoamigo',
                type: 'POST',
                //dataType: "json",
                headers: {"Authorization": 'token '+ token},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }

            });
            return response
            console.log(response)
        }catch(error){
            return false;
        }
    }

    $("#boton_imagen").on("click", function() {
        imagen_descarga();
    });
  
    close_window();

});
</script>
{% endblock javascripts%}