{% extends 'inicio/base2.html' %} {% load static %} {% block title %} Configuración {% endblock title %} {% load qr_code %} {% block titulo %} Configuración {% endblock titulo %} {% block content %}
<style>
    .text-overflow-puntos {
        width: 350px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>
    <div class="row ">
            <div class="card ">
                <div class="card-header">
                    <h1 class="card-title">Configuración</h1>
                    {% include 'partials/submenu/barraseguridad.html' %}
                </div>

                <div class="card-body">
                    <div class="col-md-12">
                        <h4 class="card-title text-primary">QR de pago</h4>
                        <div class="row">

                            <div class="col-md-12 d-flex justify-content-center">
                                <p class="text-primary">Escanee el QR y obtenga un cartel para recibir pagos en su billetera.</p>
                            </div>
                            <div class="col-md-12">
                                <hr class="bg-primary">
                            </div>
                            <br><br>
                            <!--<div class="col-md-12 d-flex justify-content-center">
                                <div class="row">
                                    <div class="col-md-12 d-flex justify-content-center">
                                        <p class="text-white">QR para pagos via telegram </p>
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-center">
                                        {% qr_from_text img size="T" error_correction="L" version=1 border=4 image_format='png'%}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr class="bg-light">
                            </div>-->
                            <div class="col-md-12 d-flex justify-content-center">
                                <div class="row">
                                    <div class="col-md-12 d-flex justify-content-center ">
                                        <p class="text-white">QR de su llave publica para transferencias sin restricciones</p>
                                    </div>
                                    <!--<div class="col-md-12 d-flex justify-content-center">
                                        {% qr_from_text publica size="T" error_correction="L" version=1 border=4 image_format='png'%}
                                    </div>-->
                                    <div class="col-md-12 d-flex justify-content-center ">
                                        <center><canvas id="myCanvas"></canvas></center>
                                        <img src="data:image/png;base64,{{img_qr}}" id="qr" width="150" height="150"/>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-md-12">
                                <hr class="bg-primary">
                            </div>
                            <div class="col-md-12 d-flex justify-content-center">
                                <a href="{% url 'qr-pdf' %}" target="_blank" class="btn btn-sm btn-primary text-dark"> Generar PDF </a>
                            </div>
                            <div class="col-md-12 d-flex justify-content-center">
                                <p class="text-white">Si tiene problemas para escanear el código QR puede copiar el link a continuación.</p>
                            </div>
                            <div class="col-md-12 d-flex justify-content-center">
                                <a href="{{img}}" class="text-link text-overflow-puntos">{{img}}</a>
                            </div>-->
                        </div>
                    </div>

                </div>
            </div>
    </div>
    <img id="fondo">
{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function() {
    $('#qr').hide();
    
    $("#fondo").attr('src', '{% static "img/QR_BILLETERA.png" %}');
    $('#fondo').hide();

    async function qr_editor(){
        $("#qrcoded").html("");
        $('#qrcoded > canvas').attr("id", "canvasqr");

        $("#myCanvas").attr('width', "400");
        $("#myCanvas").attr('height', "400");
        
        let otroQR=document.getElementById("qr");
        otroQR.setAttribute('width', "120");
        otroQR.setAttribute('height', "120");

        //Aqui transforma el qr en una imagen
        var caqr = document.getElementById("canvasqr");

        //Aqui es la fucion poster1
        var c = document.getElementById("myCanvas");
        var ctx1 = c.getContext("2d");
        var image_poster = document.getElementById("fondo");
        ctx1.drawImage(image_poster, 0, 0,400,400);
        ctx1.drawImage(otroQR, 75,101,255,255); 
    };
    qr_editor();

});
</script>
{% endblock javascripts%}