{% extends 'inicio/base2.html' %} {% block title %} Configuración {% endblock title %} {% block content %}
{% load static %}
<div class="row">

{% if msg != '' %}
{% if success == 1%}   
{% include 'includes/msj-success.html' %}

{% else%}   
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>
<div id="alercontainer">
</div>

<div class="container">
  <div class="row ">
    <div class="col-md-12 mb-5"> 

      <div class="card">     
        <div class="card-header">
          <h2 class="card-title">Editar</h2>
        </div>
     
        <div class="card-body">
          <form method="POST" action="{% url 'editarusuario' %}">{% csrf_token %}
     
            <div class="row">
            <div class="form-group col-2 col-sm-2 col-md-1">
            <label class="bmd-label-floating text-white" for="co_tipo_documento">Tipo</label>
            
            {{ form.co_tipo_documento}}
            {% if form.errors.co_tipo_documento %}<span class="help-block white-text">{{ form.errors.co_tipo_documento }}</span>{% endif %}
            </div>
            <div class="form-group col-10 col-sm-10 col-md-5 ">
            <label class="bmd-label-floating text-white" for="nu_documento">Documento</label>
            
            {{ form.nu_documento}}
            {% if form.errors.nu_documento %}<span class="help-block white-text">{{ form.errors.nu_documento }}</span>{% endif %}
        
            </div>

            <div class="form-group col-md-12 col-lg-6 ">
            <label class="bmd-label-floating text-white" for="fe_nacimiento">Fecha nacimiento</label>
            
            {{ form.fe_nacimiento}}
            {% if form.errors.fe_nacimiento %}<span class="help-block white-text">{{ form.errors.fe_nacimiento }}</span>{% endif %}
        
            </div>
            <div class="form-group col-md-12 col-lg-6 ">
            <label class="bmd-label-floating text-white" for="tx_primer_nombre">Primer nombre</label>
            
            {{ form.tx_primer_nombre}}
            {% if form.errors.tx_primer_nombre %}<span class="help-block white-text">{{ form.errors.tx_primer_nombre }}</span>{% endif %}
            </div>
              <div class="form-group col-md-12 col-lg-6 ">
            <label class="bmd-label-floating text-white" for="tx_segundo_nombre">Segundo nombre</label>
            
            {{ form.tx_segundo_nombre}}
            {% if form.errors.tx_segundo_nombre %}<span class="help-block white-text">{{ form.errors.tx_segundo_nombre }}</span>{% endif %}
            </div>
            <div class="form-group col-md-12 col-lg-6">
            <label class="bmd-label-floating text-white" for="tx_primer_apellido">Primer apellido</label>
            
            {{ form.tx_primer_apellido}}
            {% if form.errors.tx_primer_apellido %}<span class="help-block white-text">{{ form.errors.tx_primer_apellido }}</span>{% endif %}
            </div>
            <div class="form-group col-md-12 col-lg-6">
            <label class="bmd-label-floating text-white" for="tx_segundo_apellido">Segundo apellido</label>
            
            {{ form.tx_segundo_apellido}}
            {% if form.errors.tx_segundo_apellido %}<span class="help-block white-text">{{ form.errors.tx_segundo_apellido }}</span>{% endif %}
            </div>
            <div class="form-group col-md-12 col-lg-6">
            <label class="bmd-label-floating text-white" for="co_sexo">Sexo</label>
            
            {{ form.co_sexo}}
            {% if form.errors.co_sexo %}<span class="help-block white-text">{{ form.errors.co_sexo }}</span>{% endif %}
            </div>

            <div class="form-group col-md-12 col-lg-6 ">
            <label class="bmd-label-floating text-white" for="nu_telefono">Telefono</label>
            
            {{ form.nu_telefono}}
            {% if form.errors.nu_telefono %}<span class="help-block white-text">{{ form.errors.nu_telefono }}</span>{% endif %}      
            </div>

            <div class="form-group col-md-12 col-lg-6">
            <label class="bmd-label-floating text-white" for="co_pais">Pais</label>
            
            {{ form.co_pais}}
            {% if form.errors.co_pais %}<span class="help-block white-text">{{ form.errors.co_pais }}</span>{% endif %}
        
            </div>
            <div class="form-group col-md-12 col-lg-6">
            <label class="bmd-label-floating text-white" for="co_estado">Estado</label>       
              
            {{ form.co_estado}}
              {% if form.errors.co_estado %}<span class="help-block white-text">{{ form.errors.co_estado }}</span>{% endif %}
        
            </div>
            <div class="form-group col-md-12 col-lg-6">
            <label class="bmd-label-floating text-white" for="co_ciudad">Ciudad</label>       
              
            {{form.co_ciudad}}
              {% if form.errors.co_ciudad %}<span class="help-block white-text">{{ form.errors.co_ciudad }}</span>{% endif %}
        
            </div>
            <div class="form-group col-md-12 col-lg-6 ">
            <label class="bmd-label-floating text-white" for="tx_direccion">Dirección</label>
            
            {{ form.tx_direccion}}
            {% if form.errors.tx_direccion %}<span class="help-block white-text">{{ form.errors.tx_direccion }}</span>{% endif %}      
          </div>
          </div>
            
      
        </div>

        <li class="dropdown-divider"></li>
        <div class="card-footer text-center ">
          <input type="submit" value="Procesar" class="btn btn-fill btn-primary container waves-effect text-dark" name="procesar"/>
        </div>

      </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascripts %}
<script>
  $(document).ready(function(){
     $("#id_co_pais").on('change', function () {
        $("#id_co_pais option:selected").each(function () {

            var co_pais = $(this).val();
            $.ajax({
                url: 'http://localhost:8000/api/estado/',
                type: 'POST',
                 data: {
                'co_pais': co_pais
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {
                  
                $("#id_co_estado").html('<option value=>Seleccione...</option>');
                
                $("#id_co_ciudad").html('<option value=>Seleccione...</option>');
                 if(arg.success){
                  $.each(arg.data, function(k, v) {
                   $("#id_co_estado").append('<option value='+v.co_estado+'>'+v.tx_estado+'</option>');
                   
                    });
                  }
                
                }
            })
            	
        });
   });

   $("#id_co_estado").on('change', function () {
        $("#id_co_estado option:selected").each(function () {

            var co_estado = $(this).val();
            $.ajax({
                url: 'http://localhost:8000/api/ciudad/',
                type: 'POST',
                 data: {
                'co_estado': co_estado
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {
                  
                $("#id_co_ciudad").html('<option value=>Seleccione...</option>');
                 if(arg.success){
                  $.each(arg.data, function(k, v) {
                   $("#id_co_ciudad").append('<option value='+v.co_ciudad+'>'+v.tx_ciudad+'</option>');
                   
                    });
                  }
                
                }
            })
            	
        });
   });

  });
</script>
{% endblock javascripts %}