{% extends "inicio/baseinit.html" %} {% load static %} {% block librerias %}

<!--<script src="{% static '/js/validate.min.js' %}"></script>-->
{% endblock librerias %} {% block title %} Registro {% endblock %}

<!-- Specific Page CSS goes HERE  -->

{% block content %}


<div class="col-lg-6 col-md-8 col-sm-12 ml-auto mr-auto ">
    <div class="card card-login">

        <div class="card-header">

            <h1 class="card-title">Registro</h1>
            <!--<h1 class="card-title">&nbsp</h1>-->

        </div>
        <div class="card-body">


            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="tim-icons icon-single-02"></i>
                    </div>
                </div>
                {{ form.username }}

            </div>
            {% if form.errors.username %}<label class="error" for="id_username">{{ form.errors.username }}</label>{% endif %}

            <!----------------------------------------PRIMER  PASO-------------------------------------------->
            <div id="paso1">
                <div class="input-group">


                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="tim-icons icon-badge"></i>
                        </div>
                    </div>

                    {{ form.email }}

                </div>
                {% if form.errors.email %}<label class="error" for="id_email">{{ form.errors.email }}</label>{% endif %}
                <div class="col-md-12 text-center">
                    <p>Por favor ingrese su correo electronico</p>
                </div>
<!--
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="tim-icons icon-lock-circle"></i>
                        </div>
                    </div>
                    {{ form.password }}

                </div>
                {% if form.errors.password %}<label class="error" for="id_password">{{ form.errors.password }}</label>{% endif %}

                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="tim-icons icon-lock-circle"></i>
                        </div>
                    </div>
                    {{ form.password2}}

                </div>
                {% if form.errors.password2 %}<label class="error" for="id_password2">{{ form.errors.password2 }}</label>{% endif %}
-->
            </div>

            <!----------------------------------------SEGUNDO PASO-------------------------------------------->
            <div id="paso2" class="row">
                <div class="form-group col-3 col-md-3 col-lg-3 col-xl-3">
                    {{form.c1}} 
                    {% if form.errors.c1 %}<span class="help-block white-text">{{ form.errors.c1 }}</span>{% endif %}
                </div>
                <div class="form-group col-3 col-md-3 col-lg-3 col-xl-3">
                    {{form.c2}} 
                    {% if form.errors.c2 %}<span class="help-block white-text">{{ form.errors.c2 }}</span>{% endif %}
                </div>
                <div class="form-group col-3 col-md-3 col-lg-3 col-xl-3">
                    {{form.c3}} 
                    {% if form.errors.c3 %}<span class="help-block white-text">{{ form.errors.c3 }}</span>{% endif %}
                </div>
                <div class="form-group col-3 col-md-3 col-lg-3 col-xl-3">
                    {{form.c4}} 
                    {% if form.errors.c4 %}<span class="help-block white-text">{{ form.errors.c4 }}</span>{% endif %}
                </div>
                <div class="col-md-12 text-center">
                    <p>Ingrese el codigo de validación enviado a su correo</p>
                </div>
            </div>

            <!----------------------------------------SEGUNDO PASO 3-------------------------------------------->
       


            <li class="dropdown-divider"></li>
            <div class="card-footer text-center">



                <button class="btn btn-fill btn-primary container waves-effect text-dark" name="boton" id="boton" disabled>
          
          Procesar
          </button>
                <button class="btn btn-fill btn-primary container waves-effect text-dark" name="boton" id="boton2" disabled>
          Validar
          </button>
                <button class="btn btn-fill btn-primary container waves-effect text-dark" name="boton" id="boton3">
          Reenviar
          </button>


                <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
                <div id="alercontainer">

                </div>

            </div>
        </div>
    </div>
</div>


 <input id="token" name="token" type="hidden" value={{ token }}>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function() {
        //$(".divnatural").hide(); 
        //$("#paso3").html('');
        //$("#token").val(valor4);
        //$("#token").val('dd263a2067703528c35496fb66af452df0605d23');
        //$("#token").val('fd1f8e6159af3500bc15e5d32c1fd08b0e755f1f');
        
        //$("#id_username").prop("disabled", false);
        //$("#id_username").val(valor1);
        //$("#id_username").prop("disabled", true);
        
        $("#loader").hide();

        //$("#paso1").hide();
        $("#paso2").hide();

        //$("#boton").hide();
        $("#boton2").hide();
        $("#boton3").hide();
        //$("#boton4").hide();



        //$("#alerta").hide();

        $("#boton").on('click', function() {
            
            $("#boton").prop("disabled", true);
            email = $("#id_email").val();
            username = $("#id_username").val();
            //password = $("#id_password").val();
            //password2 = $("#id_password2").val();
            $("#loader").show();
            var url = window.location.protocol + "//" + window.location.host + "";
            $.ajax({
                url: url + '/usuario/get-registrar/',
                type: 'POST',
                data: {
                    'username': username,
                    'email': email,
                    //'password': password,
                    //'password2': password2,
                },
                headers: {
                    "Authorization": 'token ' + $("#token").val()
                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function(arg) {


                    if (arg.success) {

                        $("#paso1").hide();
                        $("#paso2").show();
                        $("#boton").hide();
                        $("#boton2").show();
                        $("#boton3").show();


                        //newMensaje(arg.msg, 'alerta7', 'success');
                        newMensaje(arg.msg,"alerta7","success","alercontainer");
                    } else {

                        $("#boton").prop("disabled", false);
                        newMensaje(arg.msg,"alerta3","danger","alercontainer");
                        //newMensaje(arg.msg, 'alerta3', 'warning');
                    }


                    $("#loader").hide();
                }
            })




        });

        var enviocodigo = function(r) {
            
            $("#boton2").prop("disabled", true);
            c1 = $("#id_c1").val();
            c2 = $("#id_c2").val();
            c3 = $("#id_c3").val();
            c4 = $("#id_c4").val();

            console.log(c1+"-"+c2+"-"+c3+"-"+c4);
            var url = window.location.protocol + "//" + window.location.host + "";
            $.ajax({
                url: url + '/usuario/verificar2/',
                type: 'POST',
                data: {
                    'c1': c1,
                    'c2': c2,
                    'c3': c3,
                    'c4': c4,
                    'reenviar': r,

                },
                headers: {
                    "Authorization": 'token ' + $("#token").val()
                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function(arg) {

                    if (arg.msg != '') {
                        if (arg.success) {

                            //newMensaje(arg.msg, 'alerta5', 'success');
                            newMensaje(arg.msg,"alerta5","success","alercontainer");
                        } else {

                            //newMensaje(arg.msg, 'alerta5', 'warning');
                            newMensaje(arg.msg,"alerta5","danger","alercontainer");
                        }
                    }

                    if (arg.pass) {


                        window.location = url+'/inicio';

                    }else{
                        
                    $("#boton2").prop("disabled", false);
                    }

                    $("#loader").hide();
                }
            })

        }
        $("#boton2").on('click', function() {
            var reenviar = 1;
            $("#loader").show();

            enviocodigo(reenviar);
        });
        $("#boton3").on('click', function() {
            var reenviar = 0;
            $("#loader").show();
            enviocodigo(reenviar);
        });

        var validarCamposCodigo = function() {
            if ($("#id_c1").val() != '' && $("#id_c2").val() != '' && $("#id_c3").val() != '' && $("#id_c4").val() != '') {
                $("#boton2").prop("disabled", false);
            } else {
                $("#boton2").prop("disabled", true);
            }

        }


        $(".ico").change(function() {
            validarCamposCodigo();
        });

        var validarCambos = function() {
            if ($("#id_email").val() != '' &&  $("#id_co_tipo_indentidad").val() != '') {
                $("#boton").prop("disabled", false);
            } else {
                $("#boton").prop("disabled", true);
            }

        }

        validarCambos();
        $("#id_email").change(function() {

            field = $("#id_email").val();

            $("#loader").show();
            var url = window.location.protocol + "//" + window.location.host + "";
            $.ajax({
                url: url + '/usuario/validarEmail/',
                type: 'POST',
                data: {
                    'field': field
                },
                headers: {
                    "Authorization": 'token ' + $("#token").val()
                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function(arg) {


                    if (!arg.success) {

                        $("#id_email").val(null);
                        //newMensaje(arg.msg, 'alerta', 'warning');
                        newMensaje(arg.msg,"alerta","danger","alercontainer");

                    }

                    validarCambos();

                    $("#loader").hide();

                }
            })


        });


/*
        var newMensaje = function(msj, ida, tipo) {

            if ($("#" + ida).length == 0) {
                var tx1 = '<div class="alert alert-' + tipo + '" id="' + ida + '" >';
                var tx2 = '<button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">';
                var tx3 = '<i class="tim-icons icon-simple-remove"></i>';
                var tx4 = '</button>';
                var tx5 = '<span id="alertText">' + msj + '</span></div>';

                $("#alercontainer").append(tx1 + tx2 + tx3 + tx4 + tx5);
            }
        }*/

        /*$("#id_password").change(function() {

            var texto = $('#id_password').val();
            var reg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[[()[\]{}|\\`~!@#$%^&*_\-+=;:\'",<>./?])[A-Za-z\d[()[\]{}|\\`~!@#$%^&*_\-+=;:\'",<>./?]{4,50}$/;
            if (!reg.test(texto)) {

                newMensaje('la contraseña debe tener de 4-50 caracteres, tener mayusculas, minusculas y caracter especiales', 'alerta4', 'warning');
                $("#id_password").val(null);
            }

            $("#id_password2").val(null);
            validarCambos();

        });
        $("#id_password2").change(function() {
            p1 = $("#id_password").val();
            p2 = $("#id_password2").val();
            if (p1 != p2) {
                newMensaje('Las contraseñas no coinciden', 'alerta2', 'warning');

                $("#id_password").val(null);
                $("#id_password2").val(null);
            }

            validarCambos();
        });*/

        $("#id_co_tipo_indentidad").change(function() {


            validarCambos();
        });



    });
</script>
{% endblock javascripts %}