{% extends 'inicio/base2.html' %}

{% block title %}
Registro de Cuentas
{% endblock title %}

{% block content %}
<div class="row">

{% if msg != '' %}
{% if success is True %}   

{% include 'includes/msj-success.html' %}
{% else %}
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>
{% include 'partials/submenu/barraseguridad.html' %}
 <div class="row ">
    <div class="col-md-12 col-lg-12">
   <form method="POST" action="{% url 'registrar-cuentas' %}">
        {% csrf_token %}
  <div class="card ">
            <div class="alert alert-info" role="alert">
                <p class="text-justify text-center">ProntoPagos NO se Hace Responsable por los Datos que Usted Suministre al Realizar este Registro,se Recomienda, <strong>No Ingresar Cuentas de Terceros</strong></p><br>

            </div>
        <div class="card-header">
        
                  <h2 class="card-title">Registrar Cuentas</h2>
          
          </div>
          <div class="card-body">
           <div class="row">
           
              <div class="form-group col-md-12 col-lg-6 ">
              <label class="bmd-label-floating text-white" for="co_banco">Moneda</label>
            
              {{form.co_moneda}}

              {% if form.errors.co_banco %}<span class="help-block white-text">{{ form.errors.co_banco }}</span>{% endif %}
       

              </div>
          	</div>
          </div>
          
          
         
         <div class="card-body">
           <div class="row">
           
              <div class="form-group col-md-12 col-lg-6 ">
              <label class="bmd-label-floating text-white" for="co_banco">Banco</label>
            
              {{form.co_banco}}

              {% if form.errors.co_banco %}<span class="help-block white-text">{{ form.errors.co_banco }}</span>{% endif %}
       

              </div>
          	</div>
          </div>
          
          <div class="card-body">
           <div class="row">
    
          <div class="form-group col-md-12 col-lg-6 ">
         <label class="bmd-label-floating text-white" for="co_cuenta">Cuenta</label>
          
         {{form.tx_cuenta}}

          {% if form.errors.co_cuenta %}<span class="help-block white-text">{{ form.errors.co_cuenta }}</span>{% endif %}
       
          </div>
           </div>
            </div>

           
        
        
             
        
        <div class="card-footer text-center">
        
          <input type="submit" value="Procesar" class="btn btn-fill btn-primary container waves-effect text-dark" name="procesar"/>
        </div>
      </div>
      </form>
  </div>   
</div>
        <input id="token" name="token" type="hidden" value={{ token }}>
{% endblock %}
{% block javascripts %}
 <script>
   $(document).ready(function(){
    

     $("#id_co_moneda").on('change', function () {
         $("#id_co_moneda").each(function () {
            
            var url =window.location.protocol + "//" + window.location.host + "";
            var co_moneda = $(this).val();

            $.ajax({
                url: url+'/api/cuentaRegistro/',
                type: 'POST',
                 data: {
                      'co_moneda': co_moneda
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {

                $("#id_co_banco").html('<option value=>Seleccione...</option>');
                 if(arg.success){
                  $.each(arg.data, function(k, v) {
                      $("#id_co_banco").append('<option value=' + v.co_banco_moneda+ '>' +v.banco+'</option>');

                    });
                  }
                    

                }
            })
            

        });
   });

  });


{% comment %} 
  $(document).ready(function(){
    

     $("#id_co_banco").on('change', function () {
        $("#id_co_banco option:selected").each(function () {

            var url =window.location.protocol + "//" + window.location.host + "";
            var co_banco_moneda = $(this).val();
            $.ajax({
                url: url+'/api/cuentaretiro/',
                type: 'POST',
                 data: {
                'co_banco_moneda': co_banco_moneda
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                
                success: function (arg) {
                  
                    $("#id_co_cuenta").html('<option value=>Seleccione...</option>');
                    
                 if(arg.success){
                  $.each(arg.data, function(k, v) {
                   $("#id_co_cuenta").append('<option value='+v.co_cuenta+'>'+v.tx_cuenta+'</option>');
                      
                    });
                  }
                    
                }
            })
            	
        });
   });

  }); {% endcomment %}
</script>
{% endblock javascripts %}