{% extends "inicio/baseinit.html" %} {% load static %} {% block librerias %}

<!--<script src="{% static '/js/validate.min.js' %}"></script>-->
{% endblock librerias %} {% block title %} Registro Normal{% endblock %}

<!-- Specific Page CSS goes HERE  -->

{% block content %}
<div class="col-md-12">
    <div class="card card-wizard active" data-color="primary" id="wizardProfile" style="min-height:auto !important;">
        <div class="card-header text-center">
            <h1 class="card-title">
                Registro
            </h1>
            <div class="wizard-navigation">
                <div class="progress-with-circle">
                    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
                </div>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link active nodo" href="#billetera" data-toggle="tab" id="0">
                            <i class="tim-icons icon-key-25"></i>
                            <p>Billetera</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nodo" href="#tipo" data-toggle="tab" id="1">
                            <i class="tim-icons icon-badge"></i>
                            <p>Tipo usuario</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nodo" href="#usuario" data-toggle="tab" id="2">
                            <i class="tim-icons icon-single-02"></i>
                            <p>Usuario</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="col-lg-6 col-md-8 col-sm-12 ml-auto mr-auto ">
        <div class="card card-login">

            <div class="card-header">

                <h1 class="card-title"></h1>
                <!--<h1 class="card-title">&nbsp</h1>-->

            </div>
            <div class="card-body">

                <!----------------------------------------PRIMER  PASO-------------------------------------------->
                <div id="paso0" class="pasos">
                    <div class="col-md-12">
                        <p>Para continuar por favor guarde esta frase de recuperación en un lugar seguro.</p>
                        <p> Si usted pierde esta frase usted podria perder sus fondos.</p>
                        <li class="dropdown-divider"></li>
                        <h4 class="text-primary text-center">su frase de recuperación</h4>
                        <br>
                        <div class="card" style="background: #111111;">
                            <div class="card-body">
                                <p id="id_frase"></p>
                            </div>
                        </div>

                        <p class="text-primary text-center">¿Has guardado la frase de recuperación?</p>

                        <div class="form-group text-center">
                            <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" id="check">
                                  <span class="form-check-sign"></span>
                                  Lo confirmo
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <!----------------------------------------SEGUNDO  PASO-------------------------------------------->
                <div id="paso1" class="pasos">
                    <label>Tipo identidad</label>
                    <div class="input-group form-group">
                        {{ form01.co_tipo_indentidad }}

                        <span class="error" for="id_co_tipo_indentidad" id="error_co_tipo_indentidad"></span>

                    </div>

                    <label id="tx_nu_documento">Documento</label>
                    <div class="form-group">


                        {{ form01.nu_documento }}

                        <span class="error" for="id_nu_documento" id="error_nu_documento"></span>

                    </div>

                    <div class="col-md-12 text-center">
                        <p>Por favor ingrese sus datos de identidad?</p>
                    </div>

                </div>
                <!----------------------------------------TERCER  PASO-------------------------------------------->

                <div id="paso2" class="pasos">

                    <form id="userform">


                        <label>Username</label>
                        <div class="form-group">
                            {{ form02.username }}
                            <span class="error" for="id_username" id="error_username"></span>
                        </div>
                        <label>Correo</label>
                        <div class="form-group">
                            {{ form02.email }}
                            <span class="error" for="id_email" id="error_email"></span>
                        </div>
                        <label>Telefono</label>
                        <div class="form-group">
                            {{ form02.nu_telefono }}
                            <span class="error" for="id_nu_telefono" id="error_nu_telefono"></span>
                        </div>
                        <label>Contraseña</label>
                        <div class="form-group">
                            {{ form02.password }}
                            <span class="error" for="id_password" id="error_password"></span>
                        </div>
                        <label>Repite la Contraseña</label>
                        <div class="form-group">
                            {{ form02.password2 }}
                            <span class="error" for="id_password2" id="error_password2"></span>
                        </div>


                        <div class="col-md-12 text-center">
                            <p>Por favor ingrese sus datos</p>
                        </div>
                    </form>
                </div>






                <li class="dropdown-divider"></li>
                <div class="card-footer text-center">


                    <div class="pull-right">
                        <input type="button" class="btn btn-fill btn-primary text-dark btn-next " name="btnsiguiente" id="btnsiguiente" value="Siguiente" disabled>
                        <input type="button" class="btn btn-fill btn-primary text-dark btn-finish " name="btnfin" id="btnfin" value="Procesar">

                    </div>
                    <div class="pull-left">
                        <input type='button' class='btn btn-fill btn-primary text-dark btn-previous' name="btnatras" id="btnatras" value='Atras' />
                    </div>


                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>


                </div>
            </div>

            <div id="alercontainer">

            </div>
        </div>
    </div>


    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}
    <script src="{% static 'js/stellar-libs.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#loader").hide();
            // Declarando librerias
            const crypto = StellarLibs.crypto;
            const stellarHDWalled = StellarLibs.StellarHDWallet;
            const stellarKeystore = StellarLibs.StellarKeystore;
            const stellarSdk = StellarLibs.StellarSdk;

            //Cosas del ultimo formulario
            setFormValidation('#userform');
            const validForm2 = $("#userform").validate();
            let formu2 = $("#userform");
            let initfomu2 = false;

            //Cosas del keystore
            let mnemonic = stellarHDWalled.generateMnemonic();
            let wallet = stellarHDWalled.fromMnemonic(mnemonic);

            $("#id_frase").text(mnemonic);
            const claveChimbo = "papaya_prontopagos";

            //prueba keystore
            /*let keystoreprueba = "{{keystoreprueba | escapejs }}";
            keystoreprueba = JSON.parse(keystoreprueba);
            keystoreprueba2 = {
                'address': keystoreprueba.address,
                'crypto': {
                    'ciphertext': keystoreprueba.ciphertext,
                    'nonce': keystoreprueba.nonce,
                    'salt': keystoreprueba.salt,
                    'scryptOptions': {
                        'N': keystoreprueba.n,
                        'dkLen': keystoreprueba.dklen,
                        'encoding': keystoreprueba.encoding,
                        'p': keystoreprueba.p,
                        'r': keystoreprueba.r,
                    }
                },
                'version': keystoreprueba.version
            }
            async function geyKeysore() {
                const kp = await stellarKeystore.StellarKeystore.prototype.keypair(keystoreprueba2, getHash('Prueba1._prontopagos'));
                console.log(kp)
                console.log(kp.publicKey())
                console.log("-----")
            }
            geyKeysore();*/

            //Cosas de los formularios
            $("#check").removeClass("checked");

            let form = {
                paso1: {
                    check_frase: false
                },
                paso2: {
                    co_tipo_indentidad: 0,
                    nu_documento: ''
                },
                paso3: {
                    username: '',
                    email: '',
                    nu_telefono: '',
                    password: '',
                    password2: '',
                },
                keystore: undefined,
                initpaso3: {
                    username: false,
                    email: false,
                    nu_telefono: false,
                    password: false,
                    password2: false,
                    all: 0
                }
            }



            let current = 0;
            let nodeold = 0;
            const totalnodos = $('.nav-link').length;
            let keystore = undefined;

            /**
             * refrescar nueva billetera
             */
            function refleshWallet() {
                mnemonic = stellarHDWalled.generateMnemonic();
                wallet = stellarHDWalled.fromMnemonic(mnemonic);
            }
            /**
             * Obtener hash
             * @param code es la clave que va codificar
             * @returns la clave encryptada
             */
            function getHash(code) {
                var hash = crypto.createHash('sha256').update(code).digest("hex");
                return hash;
            }


            /**
             * Crear nueva keystore
             * @param code es la clave del usuario
             * @returns el keystore
             */
            async function createKeystore(code) {
                const hash4 = getHash(code + "_prontopagos")
                keystore = await stellarKeystore.StellarKeystore.prototype.create(hash4, wallet.getKeypair(0))

                return keystore;

            }

            //createKeystore();




            //----------------INICIADORES VALIDACIONES DE FORMULARIO-------------------------------------

            //------------PASO1
            $("#check").on('click', function() {
                form.paso1.check_frase = !form.paso1.check_frase;
                manegarPasos();
            });


            //------------PASO2

            $("#id_co_tipo_indentidad").on('change', function() {

                const code = $(this).selectpicker('val');

                if (code == 1) {
                    $("#id_nu_documento").attr("placeholder", "Rif");
                    $("#tx_nu_documento").text("Rif");
                    form.paso2.co_tipo_indentidad = code;
                    validarInput("co_tipo_indentidad", 2);
                } else if (code == 2) {
                    $("#id_nu_documento").attr("placeholder", "Cedula");
                    $("#tx_nu_documento").text("Cedula");
                    form.paso2.co_tipo_indentidad = code;
                    validarInput("co_tipo_indentidad", 2);

                } else {
                    $("#id_nu_documento").attr("placeholder", "Documento");
                    $("#tx_nu_documento").text("Documento");
                    form.paso2.co_tipo_indentidad = 0;
                    validarInput("co_tipo_indentidad", 3, {
                        "co_tipo_indentidad": ["Este campo es requerido"]
                    });
                }
                manegarPasos();


            });





            $("#id_nu_documento").on('keyup', function() {
                const nu_documento = $(this).val();
                if (nu_documento != '') {
                    validarInput("nu_documento", 2);
                } else {
                    validarInput("nu_documento", 3, {
                        "nu_documento": ["Este campo es requerido"]
                    });
                }
                form.paso2.nu_documento = nu_documento;
                manegarPasos();

            });



            async function checkPaso2Form() {
                try {
                    let response = await $.ajax({
                        url: url + '/api/registro/parte1/',
                        type: 'POST',
                        data: form.paso2,
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        }
                    });
                    return response;

                } catch (error) {
                    //newMensaje("Ha ocurrido un error. Recargue la pagina", "errors", "danger", "alertdiv");
                    //newMensaje(error, "def", "danger", "alertdiv");
                    return false;
                }

            }

            //---------PASO 3
            $(".form2").on('keyup', function() {
                const input = $(this);
                const code = input.attr("id");
                const name = input.attr("name")
                if (!form.initpaso3[name]) {
                    form.initpaso3[name] = true;
                    form.initpaso3.all++;
                }
                $("#error_" + name).text("");
                form.paso3[name] = input.val();
                validForm2.element(input);
                if (form.initpaso3.all >= 5) manegarPasos();
            });

            async function checkPaso3Form() {
                form.paso3.username = $("#id_username").val();
                form.paso3.nu_telefono = $("#id_nu_telefono").val();
                form.paso3.email = $("#id_email").val();
                //form.paso3.password = $("#id_password").val();
                //form.paso3.password2 = $("#id_password2").val();
                let keystore = await createKeystore(form.paso3.password);
                form.keystore = keystore.walletData;
                try {
                    let response = await $.ajax({
                        url: url + '/api/registro/parte2/',
                        type: 'POST',
                        data: JSON.stringify(form),
                        contentType: "application/json",
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        }
                    });
                    return response;

                } catch (error) {
                    newMensaje("Ha ocurrido un error. Vuelva a intentar", "errors", "danger", "alercontainer");
                    //newMensaje(error, "def", "danger", "alertdiv");
                    return false;
                }

            }








            //--------------VALIDACIONES DE FORMULARIO-------------------------
            /**
             * Chequear paso 1
             * @returns confirmacion
             */
            function checkPaso1() {

                if (form.paso1.check_frase) {
                    return true;
                } else {
                    return false;
                }

            }
            /**
             * Chequear paso 2
             * @returns confirmacion
             */
            function checkPaso2() {
                if (form.paso2.co_tipo_indentidad != 0 && form.paso2.nu_documento != '') {
                    return true;
                } else {
                    return false;
                }
                //SOBRE EL SELECT

            }

            /**
             * Chequear paso 2 por servidor
             * @returns confirmacion
             */
            async function checkPaso2Server() {
                try {
                    const res = await checkPaso2Form();
                    if (!res.success) {
                        erroresInputResponse(res.error, 'alercontainer');
                    }
                    return res.success;
                } catch (error) {
                    return false;
                }

            }

            /**
             * Chequear paso 3
             * @returns confirmacion
             */
            function checkPaso3() {
                if (form.initpaso3.all >= 5) {
                    if ($("#userform").valid()) {
                        return true;
                    } else {
                        return false;
                    }
                }
                //SOBRE EL SELECT

            }

            /**
             * Chequear paso 3 por servidor
             * @returns confirmacion
             */
            async function checkPaso3Server() {
                validarInputClase('form2', 1);
                try {
                    const res = await checkPaso3Form();
                    if (!res.success) {
                        if (typeof res.error === "string") {
                            newMensaje("Ha ocurrido un error. Recargue la pagina", "errors2", "danger", "alercontainer");
                        } else {

                            validarInputClase('form2', 3, res.error);
                        }

                    }
                    return res.success;
                } catch (error) {
                    return false;
                }

            }

            /**
             * manejar pasos por cliente
             */
            async function manegarPasos() {
                let verdad = false;
                switch (current) {
                    case 0:
                        verdad = checkPaso1();
                        break;
                    case 1:
                        verdad = (checkPaso1() && checkPaso2());
                        break;
                    case 2:
                        verdad = checkPaso3();
                        break;
                    default:
                        verdad = false;
                        break;
                }
                habilitarSiguiente(verdad)
            }

            /**
             * manejar pasos por servidor
             * @returns confirmacion
             */
            async function manegarPasosServer() {
                let verdad = false;
                switch (current) {
                    case 0:
                        verdad = true;
                        break;
                    case 1:
                        verdad = await checkPaso2Server();
                        break;
                    case 2:
                        verdad = await checkPaso3Server();
                        if (verdad) window.location = url + '/login?paso=si';
                        break;
                    default:
                        verdad = false;
                        break;
                }
                return verdad;
            }



            function habilitarSiguiente(si) {
                if (si) {
                    $("#btnsiguiente").attr("disabled", false);
                    $("#btnfin").attr("disabled", false);
                } else {
                    $("#btnsiguiente").attr("disabled", true);
                    $("#btnfin").attr("disabled", true);
                }
            }














            //----------------FORMULARIO BARRA DE PROGRESO-----------------------------------

            function navegarForm(index) {
                nodeold = current;
                current = index;

                // If it's the last tab then hide the last button and show the finish instead

                if (current >= totalnodos - 1) {
                    //$($wizard).find('.btn-next').hide();
                    //$($wizard).find('.btn-finish').show();
                    $('.btn-next').hide();
                    $('.btn-finish').show();
                } else {
                    //$($wizard).find('.btn-next').show();
                    //$($wizard).find('.btn-finish').hide();
                    $('.btn-next').show();
                    $('.btn-finish').hide();
                }

                if (current > 0) {
                    $('.btn-previous').show();
                } else {
                    $('.btn-previous').hide();
                }

                //update progress
                let move_distance = 100 / totalnodos;
                move_distance = move_distance * (index) + move_distance / 2;

                $('.progress-bar').css({
                    width: move_distance + '%'
                });
                //e.relatedTarget // previous tab

                //$wizard.find($('.card-wizard .nav-pills li .nav-link.active')).addClass('checked');


                if (nodeold > current) {

                    for (let i = nodeold; i > current; i--) {
                        $("#" + i).removeClass('checked');
                    }

                } else {

                    for (let i = nodeold; i < current; i++) {
                        $("#" + i).addClass('checked');
                    }
                }


                $("#" + current).addClass('checked');
                //Aqui se iniciara una funcion que guardara los datos en store
                $(".pasos").hide();
                $("#paso" + current).show();
                manegarPasos();

            }

            function initNowUiWizard() {
                // Code for the Validator

                // Wizard Initialization
                $('.card-wizard').bootstrapWizard({
                    'tabClass': 'nav nav-pills',
                    'nextSelector': '.btn-next',
                    'previousSelector': '.btn-previous',

                    onInit: function(tab, navigation, index) {
                        //check number of tabs and fill the entire row

                        $width = 100 / totalnodos;

                        navigation.find('li').css('width', $width + '%');

                    },
                    onTabClick: function(tab, navigation, index) {
                        return false;
                    }
                });
            }

            initNowUiWizard();
            navegarForm(0);

            $(".btn-finish").on('click', async function() {
                $("#loader").show();
                const continuar = await manegarPasosServer();
                $("#loader").hide();
            });

            $(".btn-next").on('click', async function() {

                $("#loader").show();
                const continuar = await manegarPasosServer();
                if (continuar) {
                    const next = current + 1;
                    navegarForm(next);
                }
                $("#loader").hide();
            });

            $(".btn-previous").on('click', function() {
                const next = current - 1;
                navegarForm(next);
            });



            $(".nodo").on('click', function() {
                const next = parseInt($(this).attr("id"));
                if (next < current) {
                    navegarForm(next);
                } else {

                    let verdad = false;
                    switch (next) {
                        case 1:
                            verdad = checkPaso1();
                            break;
                        case 2:
                            verdad = false;
                            break;
                        default:
                            verdad = false;
                            break;
                    }

                    if (verdad) navegarForm(next);
                }

            });
            
            $("#id_username").keypress(function() {

            if($("#id_username").val()!=undefined && $("#id_username").val()!=''){
                $("#id_username").val($("#id_username").val().toUpperCase());
            }
        });





        });
    </script>
    {% endblock javascripts %}