{% extends 'index.html' %}
{% block titulo %}
Registro promotor
{% endblock titulo %}

{% block content %}
<br><br><br><br><br><br>
<div  class="container" >
  <div class="row">
  <div class="col s4">
     </div>
    <div class="col s4">
          <form method="POST" action="{% url 'registroUsuario' %}">
        {% csrf_token %}
      <div class="card  grey darken-4 hoverable ">
     

     
        <div class="card-content amber-text text-accent-4">
           <span class="card-title center">Registro</span>
           <div class="row">
        <div class="input-field col s12 ">
          {{ data.form.username}}
          <label for="username">Usuario</label>
          {% if data.form.errors.username %}<span class="help-block white-text">{{ data.form.errors.username }}</span>{% endif %}
        </div>
            <div class="input-field col s12 ">
          {{ data.form.email}}
          <label for="email">Correo</label>
          {% if data.form.errors.email %}<span class="help-block white-text">{{ data.form.errors.email }}</span>{% endif %}
        </div>
        <div class="input-field col s12">
          {{ data.form.password}}
          <label for="password">Contraseña</label>
          {% if data.form.errors.password %}<span class="help-block white-text">{{ data.form.errors.password }}</span>{% endif %}
        </div>
        <div class="input-field col s12">
          {{ data.form.password2}}
          <label for="password2">Repite Contraseña</label>
          {% if data.form.errors.password2 %}<span class="help-block white-text">{{ data.form.errors.password2 }}</span>{% endif %}
        </div>
      </div>
          
        </div>
        <div class="card-action center ">
          <input type="submit" value="Registrar" class="btn waves-effect amber accent-4 black-text btn-block" name="registro"/>
        </div>
      
      </div>
      </form>
    </div>
     <div class="col s4">
     </div>
  </div>
</div>
</div>
{% endblock content %}


{% block script %}
<script>
  $(document).ready(function(){

  var validarCambos= function(campo){
       field=$("#"+campo).val();
       if(campo=='id_username'){
          dir="{% url 'validarUsuario' %}";
        }else{
          dir="{% url 'validarEmail' %}";
        }
        csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $.post(dir, { field:field, csrfmiddlewaretoken:csrftoken }, function(data){   
            if(!data.success){
              M.toast({html: data.msg})
              $("#"+campo).val(null);
            }        
            });

        
      }
  $("#id_username").change(function(){
    validarCambos($("#id_username").attr('id'));

  });
  $("#id_email").change(function(){
    validarCambos($("#id_email").attr('id'));

  });

    $("#id_password2").change(function(){
      p1=$("#id_password").val();
      p2=$("#id_password2").val();
      if(p1!=p2){
        M.toast({html: 'Las contraseñas no coinciden'})
        $("#id_password2").val(null);
      }

  });



  });

</script>
{% endblock script %}