{% extends 'inicio/base2.html' %}
{% block title %} Historial de Sesiones {% endblock title %}
{% block content %}
  
  <div  class="row" >
      <div class="card ">
        <div class="card-header ">
          <h1 class="card-title">Historial de Sesiones</h1>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table" >
              <thead>
                <tr>
                  <th>Dispositivo (Navegador)</th>
                  <th>Direccion IP</th>
                  <th>Fecha</th>
                  <th>Estado</th>
                </tr>
              </thead>
                  <tbody class="white-text" id="myTable">
                    {% for values in data %}
                    <tr>
                      <td>{{values.tx_usuario_agente}}</td>
                      <td>{{values.tx_registro_ip}}({{values.tx_ciudad_pais}})</td>
                      <td>{{values.created_at}}</td>
                      {% if values.in_activo == True %}
                      <td>Exito</td>
                      {% endif %}
                      {% if values.in_activo == False %}
                      <td>Ha Fallado</td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div>
        </div>
      </div>
</div>

{% endblock content %}
{% block javascripts %}

 {% endblock %}