{% extends "inicio/baseinit.html" %}
{% load static %}
{% block title %} Validacion {% endblock %} 

<!-- Specific Page CSS goes HERE  -->

{% block bodyclass %}Validacion{% endblock %}
{% block content %}



    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
      <div class="card card-login">
      
        <div class="card-header">
        <h1>&nbsp</h1>
         <p>&nbsp &nbsp &nbsp &nbsp <img src="{% static 'img/logoppg3.png' %}" alt="" height="100" width="250"></p>   
         
          </div>
        <div class="card-body">
            <div class="form-group col-sm-12 col-md-12 text-primary">
                       <p>Usuario &nbsp{{usu.username}}</p>
            </div>
            <form role="form" method="post" action="{% url 'verificar-pin' %}">{% csrf_token %} 

                <div class="row">
                    <div class="form-group col-sm-12 col-md-12  col-lg-3 col-xl-3">
                        {{form.c1}} {% if form.errors.c1 %}<span class="help-block white-text">{{ form.errors.c1 }}</span>{% endif %}
                    </div>
                    <div class="form-group col-sm-12 col-md-12  col-lg-3 col-xl-3">
                        {{form.c2}} {% if form.errors.c2 %}<span class="help-block white-text">{{ form.errors.c2 }}</span>{% endif %}
                    </div>
                    <div class="form-group col-sm-12 col-md-12  col-lg-3 col-xl-3">
                        {{form.c3}} {% if form.errors.c3 %}<span class="help-block white-text">{{ form.errors.c3 }}</span>{% endif %}
                    </div>
                    <div class="form-group col-sm-12 col-md-12  col-lg-3 col-xl-3">
                        {{form.c4}} {% if form.errors.c4 %}<span class="help-block white-text">{{ form.errors.c4 }}</span>{% endif %}
                    </div>
                    <div class="col-md-12 text-center">
                        <p>Ingrese el codigo de validación enviado a su correo</p>
                    </div>
                </div>
                <input type="hidden" name="usu" value="{{usu.co_usuario}}" />
                <input type="hidden" name="clave" value="{{clave}}" />

                <div class="clearfix"></div>

                <hr class="grey-800">
                <div class="row  text-center">
                
                    <div class="col-md-12">
                        <input type="submit" value="Validar" class="btn btn-fill btn-primary container waves-effect text-dark" name="Validar"/>
                    </div>
                    <div class="form-group col-sm-12 col-md-12 text-primary">
                        <p>¿No recibio el correo de con el codigo?</p>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" value="reenviar" class="text-primary" name="reenviar"/>
                    </div>

                </div>
         
            </form>
          
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}