{% extends 'inicio/baseinit.html' %}
{% block title %}
Verificar correo
{% endblock title %}

{% block content %}


      <div class="row mt-5">
    <div class="col-lg-6 col-md-6 ml-auto mr-auto">
          <form method="POST">
        {% csrf_token %}
      <div class="card  ">
     
 <div class="card-header">
              <h4 class="card-title ">Veificar codigo</h4>
            </div>
            
     
        <div class="card-body">
            <div class="container">
            
            <p>Por favor ingrese el codigo de validación</p>
           </div>

           <div class="row">
            <div class="form-group col-md-3">
               {{form.c1}}
               {% if form.errors.c1 %}<span class="help-block white-text">{{ form.errors.c1 }}</span>{% endif %}
            </div>
            <div class="form-group col-md-3">
               {{form.c2}}
               {% if form.errors.c2 %}<span class="help-block white-text">{{ form.errors.c2 }}</span>{% endif %}
           </div>
             <div class="form-group col-md-3">
               {{form.c3}}
               {% if form.errors.c3 %}<span class="help-block white-text">{{ form.errors.c3 }}</span>{% endif %}
           </div>
             <div class="form-group col-md-3">
               {{form.c4}}
               {% if form.errors.c4 %}<span class="help-block white-text">{{ form.errors.c4 }}</span>{% endif %}
            </div>
           </div>
           <div class="container">
           <p>{{msj}}</p>
           </div>
        </div> 


        <div class="card-footer">
         <div class="row">
         <div class="form-group col-md-4">
         <input type="submit" value="Ingresar" class="btn btn-fill btn-primary text-dark" name="ingresar"/>
         </div>
         
         <div class="form-group col-md-4">
         <a href="/logout" class="btn btn-fill btn-primary text-dark">Salir</a>
          </div>
         <div class="form-group col-md-4">
         <input type="submit" value="reenviar" class="btn btn-fill btn-primary text-dark" name="reenviar"/>
         </div>


         </div>

          </div>
      </div>
      </form>
    </div>
    
    </div>
      
{% endblock content %}