{% load static %}
<div class="modal fade" id="compraModal" tabindex="-1" role="dialog" aria-labelledby="compraModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="compraModalLabel">Lista de activos para intercambiar</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          
      </button>
                </div>


                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <ul class="nav  nav-tabs">
                            <li class="nav-item2 active">
                                <a href="#mio2" class="ta" data-toggle="tab" id="1">Mis Activos</a>
                            </li>
                            <li class="nav-item2">
                                <a href="#todos2" class="ta" data-toggle="tab" id="2">Todos</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="modal-body">


                <div class="tab-content tab-space">


                    <div class="tab-pane active" id="mio2">
                        <div class="table-full-width table-responsive">
                            <table class="table">
                                <tbody id="tablebod3">
                                    {% for values in misactivos %}
                                    <tr>

                                        <td>
                                            <img src="
                                       {% if values.asset_type == "native" %}
                                            {% static 'img/stellar-xlm-logo.png' %}
                                        {% else %}
                                            {% if values.img != "" %}
                                                {{ values.img }}
                                            {% else %}
                                            {% static 'img/interrogacion.png' %}
                                            
                                            {% endif %}
                                       {% endif %}
                                      
                                       
                                       
                                       " id="image{{ forloop.counter }}" alt="50" width="50" height="50">
                                        </td>
                                        <td>
                                            <p class="title text-white">
                                             {% if  values.tx_moneda != "" and values.tx_moneda != "sin_toml"%}
                                                <b>{{values.tx_moneda}}</b>
                                            {% endif %}({{values.asset.code}})
                                            
                                            </p>


                                            <p class="text-muted">{{ values.org_url }}
                                                <p>
                                        </td>
                                        <td>
                                            <p class="title text-white"><b>{{ values.nu_balance }}</b>({{ values.asset.code }})</p>

                                        </td>
                                        <td>
                                         {% if values.asset.issuer != "" %}

                                            {% if values.asset.code == asset1.code%}
                                                  <form method="GET" action="{% url 'comerciare2' code1=asset2.code issuer1=asset2.issuer code2=values.asset.code issuer2=values.asset.issuer %}">
                                                {% else %}
                                                  <form method="GET" action="{% url 'comerciare2' code1=asset1.code issuer1=asset1.issuer code2=values.asset.code issuer2=values.asset.issuer %}">
                                            
                                            {% endif %}
                                               
                                                
                                                {% else %}

                                                    {% if values.asset.code == asset1.code%}
                                                
                                                       <form method="GET" action="{% url 'comerciare2' code1=asset2.code issuer1=asset2.issuer code2=values.asset.code issuer2=0%}">
                                                  {% else %}
                                                       <form method="GET" action="{% url 'comerciare2' code1=asset1.code issuer1=asset1.issuer code2=values.asset.code issuer2=0%}">
                                                 
                                                   
                                                    {% endif %}
                                                    
                                                    {% endif %}
                                                    <button type="submit" class="btn btn-primary container text-dark">Tomar</button>
                                                </form>

                                        </td>



                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>






                        </div>

                    </div>
                    <div class="tab-pane" id="todos2">
                        <div class="navbar">
                            <input class="form-control" id="myinput" type="text" placeholder="Buscar..">
                        </div>
                        <div class="table-full-width table-responsive">
                            <table class="table">
                                <tbody id="tablebody4">
                                    {% for values in activosrecoment %}
                                    <tr>

                                        <td>
                                            <img src="
                                       {% if values.asset_type == "native" %}
                                            {% static 'img/stellar-xlm-logo.png' %}
                                        {% else %}
                                            {% if values.img != "" %}
                                                {{ values.img }}
                                            {% else %}
                                            {% static 'img/interrogacion.png' %}
                                            
                                            {% endif %}
                                       {% endif %}
                                      
                                      
                                       
                                       
                                       " id="image{{ forloop.counter }}" alt="50" width="50" height="50">
                                        </td>
                                        <td>
                                            <p class="title text-white">
                                             {% if  values.tx_moneda != "" and values.tx_moneda != "sin_toml"%}
                                                <b>{{values.tx_moneda}}</b>
                                            {% endif %}({{values.asset.code}})
                                            </p>
                                            <p class="text-muted">{{ values.org_url }}
                                                <p>
                                        </td>
                                        <td>

                                             {% if values.nu_balance != "" %}
                                            <p class="title text-white"><b>{{ values.nu_balance }}</b>({{ values.asset.code }})</p>
                                                {% endif %}
                                        </td>

                                        <td>
                                            {% if values.nu_balance == "" %}
                                                    <a href="{% url 'comerciar' %}" class="btn btn-primary container text-dark">Obtener</a>
                                                
                                            {% else %}
                                            {% if values.asset.issuer != "" %}

                                            {% if values.asset.code == code1%}
                                                  <form method="GET" action="{% url 'comerciare2' code1=asset2.code issuer1=asset2.issuer code2=values.asset.code issuer2=values.asset.issuer %}">
                                                {% else %}
                                                  <form method="GET" action="{% url 'comerciare2' code1=asset1.code issuer1=asset1.issuer code2=values.asset.code issuer2=values.asset.issuer %}">
                                            
                                            {% endif %}
                                               
                                                
                                                {% else %}

                                                    {% if values.asset.code == code1%}
                                                
                                                       <form method="GET" action="{% url 'comerciare2' code1=asset2.code issuer1=asset2.issuer code2=values.asset.code issuer2=0%}">
                                                  {% else %}
                                                       <form method="GET" action="{% url 'comerciare2' code1=asset1.code issuer1=asset1.issuer code2=values.asset.code issuer2=0%}">
                                                 
                                                   
                                                    {% endif %}
                                                    
                                                    {% endif %}
                                                    <button type="submit" class="btn btn-primary container text-dark">Tomar</button>
                                                </form>
                                                {% endif %}
                                        </td>

                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>






                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>

</div>