{% load static %}
<div class="modal fade" id="ventaModal" tabindex="-1" role="dialog" aria-labelledby="ventaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="ventaModalLabel">Lista de activos para intercambiar</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          
      </button>
                </div>


                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <ul class="nav  nav-tabs">
                            <li class="nav-item active">
                                <a href="#mio" class="ta" data-toggle="tab" id="1">Mis Activos</a>
                            </li>
                            <li class="nav-item">
                                <a href="#todos" class="ta" data-toggle="tab" id="2">Todos</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="modal-body">


                <div class="tab-content tab-space">


                    <div class="tab-pane active" id="mio">
                        <div class="table-full-width table-responsive">
                            <table class="table">
                                <tbody id="tablebody" class="tbbody">
                                    {% for values in misactivos %}
                                    <tr>

                                        <td>
                                            <img src="
                                       {% if values.asset_type == "native" %}
                                            {% static 'img/stellar-xlm-logo.png' %}
                                        {% else %}
                                            {% if values.img != "" %}
                                                {{ values.img }}
                                            {% else %}
                                            {% static 'img/interrogacion.png' %}
                                            
                                            {% endif %}
                                       {% endif %}
                                      
                                      
                                       
                                       
                                       " id="image{{ forloop.counter }}" alt="50" width="50" height="50">
                                        </td>
                                        <td>
                                            <p class="title text-white">
                                             {% if  values.tx_moneda != "" and values.tx_moneda != "sin_toml"%}
                                                <b>{{values.tx_moneda}}</b>
                                            {% endif %}({{values.asset.code}})
                                            </p>
                                            <p class="text-muted">{{ values.org_url }}
                                                <p>
                                        </td>
                                        <td>
                                            <p class="title text-white"><b>{{ values.nu_balance }}</b>({{ values.asset.code }})</p>

                                        </td>
                                        <td>
                                            {% if values.asset.issuer != "" %}
                                            {% if values.asset.code == asset2.code%}
                                                 <form method="GET" action="{% url 'comerciare2' code1=values.asset.code issuer1=values.asset.issuer code2=asset1.code issuer2=asset1.issuer%}">
                                            {% else %}
                                                 <form method="GET" action="{% url 'comerciare2' code1=values.asset.code issuer1=values.asset.issuer code2=asset2.code issuer2=asset2.issuer%}">
                                              
                                            {% endif %}

                                              
                                                {% else %}

                                                    {% if values.asset.code == asset2.code%}
                                                
                                                        <form method="GET" action="{% url 'comerciare2' code1=values.asset.code issuer1=0 code2=asset1.code issuer2=asset1.issuer%}">
                                                    {% else %}
                                                        <form method="GET" action="{% url 'comerciare2' code1=values.asset.code issuer1=0 code2=asset1.code issuer2=asset2.issuer%}">
                                                   
                                                    {% endif %}
                                                    
                                                    {% endif %}
                                                    <button type="submit" class="btn btn-primary container text-dark">Tomar</button>
                                                </form>

                                        </td>



                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>






                        </div>

                    </div>
                    <div class="tab-pane" id="todos">
                        <div class="navbar">
                            <input class="form-control" id="myinput" type="text" placeholder="Buscar..">
                        </div>
                        <div class="table-full-width table-responsive">
                            <table class="table">
                                <tbody id="tablebody2">
                                    {% for values in activosrecoment %}
                                    <tr>

                                        <td>
                                            <img src="
                                       {% if values.asset_type == "native" %}
                                            {% static 'img/stellar-xlm-logo.png' %}
                                        {% else %}
                                            {% if values.img != "" %}
                                                {{ values.img }}
                                            {% else %}
                                            {% static 'img/interrogacion.png' %}
                                            
                                            {% endif %}
                                       {% endif %}
                                      
                                       
                                       
                                       " id="image{{ forloop.counter }}" alt="50" width="50" height="50">
                                        </td>
                                        <td>
                                            <p class="title text-white">
                                             {% if  values.tx_moneda != "" and values.tx_moneda != "sin_toml"%}
                                                <b>{{values.tx_moneda}}</b>
                                            {% endif %}({{values.asset.code}})</p>

                                            <p class="text-muted">{{ values.org_url }}
                                                <p>
                                        </td>
                                        <td>
                                              {% if values.nu_balance != "" %}
                                            <p class="title text-white"><b>{{ values.nu_balance }}</b>({{ values.asset.code }})</p>
                                                {% endif %}
                                        </td>

                                        <td>
                                            {% if values.nu_balance == "" %}
                                                    <a href="{% url 'comerciar' %}" class="btn btn-primary container text-dark">Obtener</a>
                                                
                                            {% else %}
                                            {% if values.asset.issuer != "" %}
                                            {% if values.asset.code == asset2.code%}
                                                 <form method="GET" action="{% url 'comerciare2' code1=values.asset.code issuer1=values.asset.issuer code2=asset1.code issuer2=asset1.issuer%}">
                                            {% else %}
                                                 <form method="GET" action="{% url 'comerciare2' code1=values.asset.code issuer1=values.asset.issuer code2=asset2.code issuer2=asset2.issuer%}">
                                              
                                            {% endif %}

                                              
                                                {% else %}

                                                    {% if values.asset.code == asset2.code%}
                                                
                                                        <form method="GET" action="{% url 'comerciare2' code1=values.asset.code issuer1=0 code2=asset1.code issuer2=asset1.issuer%}">
                                                    {% else %}
                                                        <form method="GET" action="{% url 'comerciare2' code1=values.asset.code issuer1=0 code2=asset2.code issuer2=asset2.issuer%}">
                                                   
                                                    {% endif %}
                                                    
                                                    {% endif %}
                                                    <button type="submit" class="btn btn-primary container text-dark">Tomar</button>
                                                </form>
                                            
                                            {% endif %}
                                           
                                        </td>

                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>






                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>

</div>