{% extends 'inicio/base2.html' %} {% load static %}
<!--Transferencia-->
{% block title %} Intercambiar {% endblock title %} {% block content %}
<style>
@media only screen and (max-width: 740px) {
    .navega {
        display: ruby;
        font-size: 0.875rem;
    }
  }
@media only screen and (max-width: 420px) {
    .navega {
        display: ruby;
        font-size: 0.6rem;
    }
  }
</style>
<div class="row">
    {% if msg != '' %} {% if success is True %} {% include 'includes/msj-success.html' %} {% else %} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}
</div>
    <div class="row ">
            <div class="card ">
                <div class="card-header">
                    <!--<h1 class="card-title">Transferencia Interno</h1>-->
                    <div class="d-flex align-items-center">
                        <h1 class="card-title">Intercambiar</h1>
                        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>

                    </div>
                </div>
                <div class="card-body">

                    <div class="row d-flex align-items-center">
                        <div class="form-group col-12 col-lg-5 col-md-5 col-sm-5">
                            <label class="bmd-label-floating text-white" for="tx_balance">Click para seleccionar el activo a cambiar</label>
                            <button class="btn btn-simple btn-primary btn-block" data-toggle="modal" data-target="#ventaModal" id="btnsell">
                              <div class="d-flex align-items-center row">
                                <div class="col-md-3">
                                    <img src="
                                    {% if actinitsell.asset_type == "native" %}        
                                    {% static 'img/stellar-xlm-logo.png' %}
                                    {% else %}
                                      {% if actinitsell.img != "" %}
                                          {{ actinitsell.img }}
                                      {% else %}
                                      {% static 'img/interrogacion.png' %}
                                      {% endif %}
                                    {% endif %}   
                                    " id="image" alt="50" width="50" height="50">   
                                </div>
                                <div class="col-md-7">
                                    <p class="title">{{ actinitsell.asset.code }}</p>
                                    <p class="text-muted" id="balancesell">{{ actinitsell.nu_balance|floatformat:7 }}<p>
                                </div>
                                <div class="col-md-2">
                                    <i class="tim-icons icon-double-right"></i>
                                </div>
                              </div>
                            </button>
                        </div>
                        <div class="d-flex justify-content-center col-12 col-lg-2 col-md-2 col-sm-2">
                            <a href="{% url 'comerciare2' code1=actinitbuy.asset.code issuer1=actinitbuy.asset.issuer code2=actinitsell.asset.code issuer2=actinitsell.asset.issuer %}">
                                <img src="{% static 'img/trade.png'%}" width="30" height="30">
                            </a>
                        </div>
                        <div class="form-group col-12 col-lg-5 col-md-5 col-sm-5">
                            <label class="bmd-label-floating text-white" for="tx_balance">Click para seleccionar el activo que quieres recibir</label>
                            <button class="btn btn-simple btn-primary btn-block" data-toggle="modal" data-target="#compraModal" id="btnbuy">
                                {% if actinitbuy != "" %}
                                    <div class="d-flex align-items-center row">
                                        <div class="col-md-2">
                                            <i class="tim-icons icon-double-left"></i>
                                        </div>
                                        <div class="col-md-7">
                                            <p class="title">{{ actinitbuy.asset.code }}</p>
                                            <p class="text-muted" id="balancebuy">{{ actinitbuy.nu_balance }}<p>
                                        </div>
                                        <div class="col-md-3">
                                            <img src="
                                            {% if actinitbuy.asset_type == "native" %}
                                            {% static 'img/stellar-xlm-logo.png' %}
                                            {% else %}
                                            {% if actinitbuy.img != "" %}
                                                {{ actinitbuy.img }}
                                            {% else %}
                                            {% static 'img/interrogacion.png' %}
                                            {% endif %}
                                            {% endif %}
                                            " id="image2" alt="50" width="50" height="50"> 
                                        </div>
                                </div>
                                {% else %}
                                    <p class="title">Seleccione</p>
                                    <p class="text-muted">-</p>
                                {% endif %}
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container d-flex justify-content-end">   
                                <div class="tabbable-panel">
                                    <div class="tabbable-line">
                                        <ul class="nav nav-tabs navega">
                                            <li class="ligra active" id="1D"><a href="javascript:void(0);" class="grafica-option">1D</a></li>
                                            <li class="ligra" id="1S"><a href="javascript:void(0);" class="grafica-option">1S</a></li>
                                            <li class="ligra" id="1M"><a href="javascript:void(0);" class="grafica-option">1M</a></li>
                                            <li class="ligra" id="3M"><a href="javascript:void(0);" class="grafica-option">3M</a></li>
                                            <li class="ligra" id="1A"><a href="javascript:void(0);" class="grafica-option">1A</a></li>
                                            <li class="ligra" id="Todos"><a href="javascript:void(0);" class="grafica-option">Todos</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <canvas id="myChart" width="723px" height="255px"></canvas>
                        </div>
                        <div class="container justify-content-between">
                            <div class="col-md12">
                                <h4 id="hmain"></h4>
                            </div>
                            <div class="col-md12">
                                <h5 id="hsub"></h5>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="card-title">Estadísticas del mercado</h2>
                                </div>
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table tablesorter table-hover">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p class="text-primary">{{ actinitsell.asset.code }} Precio: <span id="txprecio" class="text-white"> {{ actinitbuy.asset.code }}</span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="text-primary">Diferencial: <span id="txspread" class="text-white"></span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="text-primary">Margen: <span id="txmargin" class="text-white"></span></p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% if actinitbuy != "" %}
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="card-title">Nueva orden</h2>
                                </div>
                                <div class="col-md-12">
                                    <form id="formcomercio">
                                        <div class="col-md-12">
                                            <label class="bmd-label-floating text-white" for="nu_monto">Monto <span id="act-sell">{{ actinitsell.asset.code  }}</span></label>
                                            <div class="form-group">
                                                <input type="number" class="form-control inputval" name="nu_monto" id="id_nu_monto" placeholder="Ingresa Monto" />
                                                <span class='help-block text-danger' id='err_id_nu_monto'></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="bmd-label-floating text-white" for="nu_precio">Precio <span id="act-buy">{{ actinitbuy.asset.code }}</span></label>
                                            <div class="form-group">
                                                <input type="number" class="form-control inputval" name="nu_precio" id="id_nu_precio" placeholder="Ingresa Monto"/>
                                                <span class='help-block text-danger' id='err_id_nu_precio'></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="bmd-label-floating text-white" for="nu_total">Total <span id="act-buy">{{ actinitbuy.asset.code }}</span></label>
                                            <div class="form-group">
                                                <input type="number" class="form-control" name="nu_total" id="id_nu_total" placeholder="Total a recibir" onfocus="this.blur()" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <a href='javascript:void(0)' class="btn btn-fill btn-primary container waves-effect text-dark" name="procesar" id="btnprocesar" disabled>Procesar</a>
                                    <div id="alercontainer">
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="card-title">Libro de órdenes</h2>
                                </div>
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table tablesorter table-hover" id="contenidoAsks">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">Precio({{actinitbuy.asset.code}})</th>
                                                    <th scope="col">Monto({{actinitsell.asset.code}})</th>
                                                    <th scope="col">Total({{actinitbuy.asset.code}})</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class=" col-md-12 ">
                                        <div class="d-flex justify-content-center row">
                                            <h4 class="card-title">Precio actual para {{ actinitsell.asset.code }}</h4>
                                        </div>
                                        <div class="d-flex justify-content-center row">
                                            <h4 class="card-title text-primary"><span id="txbuy"></span> {{ actinitbuy.asset.code }}</h4>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table" id="contenidoBids">
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="row ">
            <div class="card ">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h1 class="card-title">Mis ofertas</h1>
                        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader2"></div>

                    </div>
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav  nav-tabs">
                                <li class="nav-item-oferta active">
                                    <a href="#oactivos" class="ta" data-toggle="tab" id="o1">Mis Activos</a>
                                </li>
                                <li class="nav-item-oferta">
                                    <a href="#ohistorico" class="ta" data-toggle="tab" id="o2">Todos</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="tab-content tab-space">
                        <div class="tab-pane active" id="oactivos">
                            <div class="table-responsive">
                                <table class="table tablesorter table-hover">
                                    <thead>
                                        <tr>
                                            <th>Obtenido</th>
                                            <th>Codigo</th>
                                            <th>Precio</th>
                                            <th>Oferta</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyactivo">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="ohistorico">
                            <div class="table-responsive">
                                <table class="table tablesorter table-hover">
                                    <thead>
                                        <tr>
                                            <th>Operacion</th>
                                            <th>Codigo</th>
                                            <th>Obtenido</th>
                                            <th>Precio</th>
                                            <th>Oferta</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyhistorico">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
    </div>

<div class="modal fade" id="detModal" tabindex="-1" role="dialog" aria-labelledby="detModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="detModalLabel">Descripción</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          
      </button>
                </div>

            </div>
            <div class="modal-body">
                <div class="table-full-width table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <p class="title text-white">Fecha del intercambio</p>
                                    <p class="text-muted" id="tiempo"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="title text-white">Monto ofertado</p>
                                    <p class="text-muted" id="tx_base_monto"></p>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="title text-white">Activo ofertado</p>
                                    <p class="text-muted" id="tx_base_code"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="title text-white">Firmante ofertado</p>
                                    <p class="text-muted" id="tx_base_issuer"></p>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="title text-white">Monto recibido</p>
                                    <p class="text-muted" id="tx_counter_monto"></p>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="title text-white">Activo recibido</p>
                                    <p class="text-muted" id="tx_counter_code"></p>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="title text-white">Firmante recibido</p>
                                    <p class="text-muted" id="tx_counter_issuer"></p>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>

{% include 'wallet/comercio/modalsell.html' %} {% include 'wallet/comercio/modalbuy.html' %}

<input id="modaltag" name="modaltag" type="hidden" value="sell">

<input id="llavePublica" name="llavePublica" type="hidden" value="{{ publico }}">
<input id="token" name="token" type="hidden" value="{{token}}"> {% endblock content %} {% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/8.1.0/stellar-sdk.js" integrity="sha512-gC8tRFI9sRqjcCb1mzmUtODuxPbpFlqkd5S7KDJZn2BVQhbxrg4UIXkcaT3NZyC5w/uIcvsZK1xcRfyrYuzzYg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script>
    $(document).ready(function() {
        $('#loader').hide();
        $('#loader2').hide();
        const comisionppg1 = "{{ comision1 }}";
        const comisionppg2 = "{{ comision2 }}";
        const co_comision1 = "{{ co_comision1 }}";
        const co_comision2 = "{{ co_comision2 }}";

        const server = new StellarSdk.Server('https://horizon.stellar.org');
        const server2 = new StellarSdk.Server('https://horizon.stellar.org');
        const tiempo_diferencia = {
            "minutos5": 300000,
            "minutos15": 900000,
            "hora": 3600000,
            "dia": 86400000,
            "semana": 604800000,
            "mes": 2628000000,
            "meses3": 7884000000,
            "anio": 31540000000
        }
        const listatiempos=[
            [86400000,900000],
            [604800000,3600000],
            [2628000000,86400000],
            [7884000000,604800000],
            [31540000000,604800000],
            [1404172800000,604800000]
        ];

        /*
        tiempo_select = tiempo_diferencia.dia;
                    resolution_select = tiempo_diferencia.minutos15;
                    break;
                case "1S":
                    tiempo_select = tiempo_diferencia.semana;
                    resolution_select = tiempo_diferencia.hora;
                    break;
                case "1M":
                    tiempo_select = tiempo_diferencia.mes;
                    resolution_select = tiempo_diferencia.dia;
                    break;

                case "3M":
                    tiempo_select = tiempo_diferencia.meses3;
                    resolution_select = tiempo_diferencia.semana;
                    break;

                case "1A":
                    tiempo_select = tiempo_diferencia.anio;
                    resolution_select = tiempo_diferencia.semana;
                    break;

                default:
                    tiempo_select = 1404172800000;
                    resolution_select = tiempo_diferencia.semana;
        
        */


        const fcomisionppg1 = parseFloat(comisionppg1.replace(",", "."));
        const fcomisionppg2 = parseFloat(comisionppg2.replace(",", "."));

        const imglumens = url + "/static/img/stellar-xlm-logo.png";
        const imginterrogacion = url + "/static/img/interrogacion.png";



        var activosell = "{{actinitselljson | escapejs }}";

        var activobuy = "{{ actinitbuyjson | escapejs }}";
        var myChart = false;
        var storetrade = false;
        var tiempo_select = tiempo_diferencia.dia;
        var resolution_select = tiempo_diferencia.minutos15;

        let ult_media_precio = 0;
        var asset_base = "{{ jsonasset1 | escapejs  }}";
        var asset_request = "{{ jsonasset2 | escapejs  }}";
        asset_base = JSON.parse(asset_base);
        asset_request = JSON.parse(asset_request);

        if (asset_base.code != '0' && asset_base.code != "XLM") {
            var asset1 = new StellarSdk.Asset(asset_base.code, asset_base.issuer);
        } else {
            var asset1 = StellarSdk.Asset.native();
        }

        if (asset_request.code != "0" && asset_request.code != "XLM") {
            var asset2 = new StellarSdk.Asset(asset_request.code, asset_request.issuer);
        } else {
            var asset2 = StellarSdk.Asset.native();
        }
       
        
        var msjstellar = "{{msjstellarjson | escapejs }}";

        var allactivos = "{{activosrecomentjson | escapejs }}";
        allactivos = JSON.parse(allactivos);
        var storeofertas_mias = false;
        var storeofertas = false;
        var storedemandas = false;

        referencia=false;

        msjstellar = JSON.parse(msjstellar);
        activosell = JSON.parse(activosell);
        activobuy = JSON.parse(activobuy);
        storetrade = JSON.parse(storetrade);







        function pintarOfertas(vieja, nueva, color = false) {
            let tx = '';
            /*if (nueva > vieja) {
                tx = '<td ><p class="text-success">' + nueva + '</p></td>';
            } else if (nueva < vieja) {
                tx = '<td><p class="text-danger">' + nueva + '</p></td>';
            } else if (vieja == 0 || vieja == nueva) {
                tx = '<td>' + nueva + '</td>';
            }*/
            if (color) {
                tx = '<td><p class="text-danger">' + parseFloat(nueva).toFixed(7) + '</p></td>';
            } else {
                tx = '<td>' + parseFloat(nueva).toFixed(7) + '</td>';
            }
            return tx;
        }

        function pintarDemandas(vieja, nueva, color = false) {
            let tx = '';
            /*if (nueva > vieja) {
                tx = '<td ><p class="text-success">' + nueva + '</p></td>';
            } else if (nueva < vieja) {
                tx = '<td><p class="text-danger">' + nueva + '</p></td>';
            } else if (vieja == 0 || vieja == nueva) {
                tx = '<td>' + nueva + '</td>';
            }*/
            if (color) {
                tx = '<td><p class="text-success">' + parseFloat(nueva).toFixed(7) + '</p></td>';
            } else {
                tx = '<td>' + parseFloat(nueva).toFixed(7) + '</td>';
            }
            return tx;
        }

        function pintarOfertasIcono(vieja, nueva) {
            let tx = '';
            if (nueva > vieja) {
                tx = '<td ><i class="tim-icons icon-minimal-up"></i></td>';
            } else if (nueva < vieja) {
                tx = '<td ><i class="tim-icons icon-minimal-down"></i></td>';
            } else if (vieja == 0 || vieja == nueva) {
                tx = '<td></td>';
            }
            return tx;
        }
        
        function llenarTablaOferta(resp) {
            //OFERTAS
            $("#contenidoAsks tbody").html("");
            $("#contenidoBids tbody").html("");
            let i = 0;
            let htmlTags = "";
            let demandas = resp.asks.reverse();
            let ofertas = resp.bids;
            let dem_media = 0;
            let ofer_media = 0;
            let dem_porce = 0;
            let ofer_porce = 0;
            //console.log(resp);
            $.each(resp.asks.reverse(), function(idx, value) {
                if (ofer_media <= value.price * value.amount) {
                    ofer_media = value.price * value.amount;
                }
                //ofer_media+=value.price * value.amount;
            });
            //ofer_media=ofer_media/10;
            //console.log(ofer_media);

            $.each(resp.bids, function(idx, value) {
                if (dem_media <= value.price * value.amount) {
                    dem_media = value.price * value.amount;
                }
            });
            //dem_media=dem_media/10;

            //console.log(dem_media);

            $.each(resp.asks.reverse(), function(idx, value) {
                //background: linear-gradient(to right, rgb(234, 0, 112) 19.98%, transparent 19.98%);
                if (i == 9) {
                    htmlTags = '<tr class="table-oferta-focus">';
                } else {
                    ofer_porce = (((value.price * value.amount) * 100) / ofer_media);
                    htmlTags = '<tr style="background: linear-gradient(to left, rgba(201, 105, 98, 0.03), ' + ofer_porce + '%, transparent ' + dem_porce + '%);">';
                }

                if (!storeofertas) {
                    htmlTags += pintarOfertasIcono(0, value.price);
                    htmlTags += pintarOfertas(0, value.price, true);
                    htmlTags += pintarOfertas(0, value.amount);
                    htmlTags += pintarOfertas(0, value.price * value.amount);
                } else {
                    htmlTags += pintarOfertasIcono(storeofertas[i].price, value.price);
                    htmlTags += pintarOfertas(storeofertas[i].price, value.price, true);
                    htmlTags += pintarOfertas(storeofertas[i].amount, value.amount);
                    htmlTags += pintarOfertas(storeofertas[i].price * storeofertas[i].amount, value.price * value.amount);
                }

                htmlTags += '</tr>';
                i++;
                $("#contenidoAsks tbody").append(htmlTags);

            });

            let j = 0;
            $.each(resp.bids, function(idx, value) {
                if (j == 0) {
                    htmlTags = '<tr class="table-demanda-focus">';
                } else {
                    dem_porce = (((value.price * value.amount) * 100) / dem_media);
                    htmlTags = '<tr style="background: linear-gradient(to left, rgba(98, 201, 128, 0.03), ' + dem_porce + '%, transparent ' + dem_porce + '%);">';

                }
                if (!storedemandas) {
                    htmlTags += pintarOfertasIcono(0, value.price);
                    htmlTags += pintarDemandas(0, value.price, true);
                    htmlTags += pintarDemandas(0, value.amount);
                    htmlTags += pintarDemandas(0, value.price * value.amount);
                } else {
                    htmlTags += pintarOfertasIcono(storedemandas[j].price, value.price);
                    htmlTags += pintarDemandas(storedemandas[j].price, value.price, true);
                    htmlTags += pintarDemandas(storedemandas[j].amount, value.amount);
                    htmlTags += pintarDemandas(storedemandas[j].price * storedemandas[j].amount, value.price * value.amount);
                }

                htmlTags += '</tr>';
                j++;
                $("#contenidoBids tbody").append(htmlTags);

            });

            let spread = demandas[0].price - ofertas[0].price;
            let margin = (spread / demandas[0].price) * 100;
            //$("#txprecio").text(demandas[0].price.toString() + " " + asset2.code);
            $("#txspread").text(spread.toFixed(4));
            $("#txmargin").text(margin.toFixed(4) + "%");
            //$("#txbuy").text(demandas[0].price.toString());






            storeofertas = resp.asks;
            storedemandas = resp.bids;


        };

        function buscarTrade(code){
            $.each(storetrade.datos, function(idx, value) {
                //console.log(code + "-" + value.id);
                if (value.id == code) {
                    $("#tiempo").text(value.fecha);

                    $("#tx_base_monto").text(value.base_amount);
                    $("#tx_base_code").text(value.base_asset_code);
                    $("#tx_base_issuer").text(value.base_asset_issuer);

                    $("#tx_counter_monto").text(value.counter_amount);
                    $("#tx_counter_code").text(value.counter_asset_code);
                    $("#tx_counter_issuer").text(value.counter_asset_issuer);

                }

            });
        }

        $(".buscar").on("click", function() {
            code = $(this).attr("id");
            buscarTrade(code);
        });

        
        //console.log(asset1 + "-" + asset2);
        //console.log(code1 + "-" + code2);


        //console.log((Date.now() - tiempo_diferencia.dia));
        //console.log(BigInt(Date.now() + tiempo_diferencia.dia));

        async function getReferencia(){
            let librito=await server.orderbook(asset1, asset2).cursor("now").call();
            referencia=librito.bids[0].price;
            $("#id_nu_precio").val(referencia);
        }
        getReferencia();

        server.orderbook(asset1, asset2).cursor("now").limit(10).stream({
            onmessage: llenarTablaOferta
        });

        //server.tradeAggregation(asset1,asset2,)

       
        //-----------GRAFICO-------------
        async function grafica() {
            let uno = Date.now() - tiempo_select;
            let dos = Date.now();
            let aggre = await server.tradeAggregation(
                asset1,
                asset2,
                uno,
                dos,
                resolution_select,
                0).limit(200).call();

            //console.log(uno + "-" + Date.now() + "-" + dos);
            let labele = [];
            let datos_alta = [];
            let datos_media = [];
            let datos_baja = [];

            let ult_alta = 0;
            let ult_media = 0;
            let ult_baja = 0;

            let suma_alta = 0;
            let suma_media = 0;
            let suma_baja = 0;

            let suma_open = 0;
            let suma_close = 0;

            let max = 0;
            let min = 0;

            $.each(aggre.records, function(idx, value) {
                ult_media = value.avg;
                ult_media_precio = value.avg;
                
                $("#txbuy").text(ult_media);
                $("#txprecio").text(ult_media+ " " + asset2.code);
                labele.push(parseInt(value.timestamp));

                datos_alta.push({
                    t: parseInt(value.timestamp),
                    y: value.high
                });
                datos_media.push({
                    t: parseInt(value.timestamp),
                    y: value.avg
                });
                datos_baja.push({
                    t: parseInt(value.timestamp),
                    y: value.low
                });
                suma_alta += parseFloat(value.high);
                suma_media += parseFloat(value.avg);
                suma_baja += parseFloat(value.low);

                suma_open += parseFloat(value.open);
                suma_close += parseFloat(value.close);

                ult_alta = value.high;
                ult_media = value.avg;
                ult_baja = value.low;

                if (value.avg > max) {
                    max = value.avg;
                }
                if (min == 0) {
                    min = value.avg;
                } else if (value.avg < min) {
                    min = value.avg;
                }
            });

            let med_alta = suma_alta / aggre.records.length;
            let med_media = suma_media / aggre.records.length;
            let med_baja = suma_baja / aggre.records.length;

            let med_open = suma_open / aggre.records.length;
            let med_close = suma_close / aggre.records.length;

            //console.log(med_alta + "-" + med_media + "-" + med_baja);
            //console.log(ult_alta + "-" + ult_media + "-" + ult_baja);

            //console.log(med_close + "-" + med_open);

            //<h4 id="hmain">0.522665 (15.26%)</h4>
            //<h5 id="hsub">Alto: 0.60 Bajo: 0.30</h5>
            $("#hmain").html(ult_media);

            $("#hsub").html('<span class="text-primary">Alto: </span>' + max + '  <span class="text-primary">Bajo: </span>' + min);




            $('#myChart').html("");
            var ctx = $('#myChart');
            if (myChart) {
                myChart.destroy();
            }
            myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labele,
                    datasets: [{
                        label: 'Alto',
                        data: datos_alta,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1,
                        fill: false,
                    }, {
                        label: 'Medio',
                        data: datos_media,
                        borderColor: 'rgba(24, 206, 15)',
                        tension: 0.1,
                        fill: false,
                    }, {
                        label: 'Bajo',
                        data: datos_baja,
                        borderColor: 'rgba(255, 54, 54)',
                        tension: 0.1,
                        fill: false,
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                        }]
                    }
                }

            });
        }
        grafica();
        
        async function pintarPrecio(){
            
            let indi=0;
            let registros=[]
            let agg=undefined;

            //await $.each(listatiempos,async function(index,value){
            for (let i=0; i<=listatiempos.length; i++){
                if(ult_media_precio == 0){
                    //console.log("Precio: "+ult_media_precio);
                    try{

                        let uno = Date.now() - listatiempos[i][0];
                        let dos = Date.now();
                        agg = await server.tradeAggregation(
                            asset1,
                            asset2,
                            uno,
                            dos,
                            listatiempos[i][1],
                            0).limit(200).call();
                        //console.log(agg.records.length);
                        if(agg.records.length>=0){
                            $.each(agg.records, function(idx, val) {
                                if(ult_media_precio==0){
                                    ult_media_precio=val.avg;
                                    $("#txbuy").text(ult_media_precio);
                                    $("#txprecio").text(ult_media_precio+ " " + asset2.code);
                                }
                            });
                        }
                        //console.log("agre: "+ult_media_precio);

                    }catch(error){

                    console.log(error);
                    }
                    
                    
                }
             }
            
             //console.log(ult_media_precio);
        }
        //console.log("gogog: "+ult_media_precio);
        if(ult_media_precio==0){
        pintarPrecio();
        }
        

        //setInterval(grafica, 180000);

        $(".grafica-option").on("click", async function() {
            let opcion = $(this).text();
            //console.log(opcion);
            $(".ligra").removeClass("active");
            $("#" + opcion).addClass("active");

            switch (opcion) {
                case "1D":
                    tiempo_select = tiempo_diferencia.dia;
                    resolution_select = tiempo_diferencia.minutos15;
                    break;
                case "1S":
                    tiempo_select = tiempo_diferencia.semana;
                    resolution_select = tiempo_diferencia.hora;
                    break;
                case "1M":
                    tiempo_select = tiempo_diferencia.mes;
                    resolution_select = tiempo_diferencia.dia;
                    break;

                case "3M":
                    tiempo_select = tiempo_diferencia.meses3;
                    resolution_select = tiempo_diferencia.semana;
                    break;

                case "1A":
                    tiempo_select = tiempo_diferencia.anio;
                    resolution_select = tiempo_diferencia.semana;
                    break;

                default:
                    tiempo_select = 1404172800000;
                    resolution_select = tiempo_diferencia.semana;

                    // code block
            }

            await grafica();



        });




        setFormValidation('#formcomercio');

        $(".nav-item").on("click", function() {

            $(".nav-item").removeClass("active");

            /*if ($("#modaltag").val() == "sell") {
                $("#modaltag").val("buy");
            } else {
                $("#modaltag").val("sell");
            }*/

            $(this).addClass("active");


        });
        $(".nav-item2").on("click", function() {
            $(".nav-item2").removeClass("active");
            $(this).addClass("active");

        });
        $(".nav-item-oferta").on("click", function() {
            $(".nav-item-oferta").removeClass("active");
            $(this).addClass("active");

        });

        $("#btnsell").on("click", function() {
            $("#modaltag").val("sell");


        });
        $("#btnbuy").on("click", function() {

            $("#modaltag").val("buy");
        });



        $("#myinput").on("keyup", function() {
            //$('#loader').show();
            var texto = $(this).val();
            consultar(texto);

        });
        var validarMonto2 = function(id, monto1, monto2, monto3) {
            //id=e.currentTarget.id;
            monto1 = parseFloat(parseFloat(monto1).toFixed(9));
            //monto1 = monto1.toFixed(9);
            monto2 = parseFloat(parseFloat(monto2).toFixed(9));
            //monto2 = monto2.toFixed(9);
            monto3 = parseFloat(parseFloat(monto3).toFixed(9));
            //monto3 = monto3.toFixed(9);
            if (monto1 == "") {
                $("#" + id).closest('.form-group').removeClass('has-success').addClass('has-danger');
                $("#" + id).closest('.form-check').removeClass('has-success').addClass('has-danger');

                $("#err_" + id).text("Este campo es requerido");

                return false;
            }

            if (monto3 != "-") {
                if (monto1 > monto3) {
                    $("#" + id).val("");
                    $("#" + id).closest('.form-group').removeClass('has-success').addClass('has-danger');
                    $("#" + id).closest('.form-check').removeClass('has-success').addClass('has-danger');

                    $("#err_" + id).text("El monto no debe ser mayor a tu limite");
                    //console.log(monto1 + "-" + monto3);
                    return false;
                }
            }

            if (monto1 <= 0) {
                $("#" + id).val("");
                $("#" + id).closest('.form-group').removeClass('has-success').addClass('has-danger');
                $("#" + id).closest('.form-check').removeClass('has-success').addClass('has-danger');

                $("#err_" + id).text("El monto no debe ser menor o igual a 0");

                return false;
            }



            return true;


        }


        var validarMonto = function(id, monto1, monto2, monto3) {


            if (!validarMonto2(id, monto1, monto2, monto3)) {
                return false;
            }
            monto1 = parseFloat(monto1);
            monto2 = parseFloat(monto2);
            monto3 = parseFloat(monto3);

            if (monto1.toFixed(9) > monto2.toFixed(9)) {
                $("#" + id).val("");
                $("#" + id).closest('.form-group').removeClass('has-success').addClass('has-danger');
                $("#" + id).closest('.form-check').removeClass('has-success').addClass('has-danger');

                $("#err_" + id).text("El monto no debe ser mayor a tu balance");

                return false;
            }



            return true;


        }
        //------------------------------------------------------------------------------------------
        //---------------------------------API DE TRADE Y DEMAS---------------------------------------
       //------------------------------------------------------------------------------------------
       
       //-------------------------------API Y PINTAR PARA TRADES-----------------
        async function getTrades(){
            $('#loader2').show();
            try {

                let response = await $.ajax({
                    url: url + '/api/stellar/account/trades',
                    type: 'GET',
                    headers: {
                        "Authorization": 'token ' + $("#token").val()
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                });
                $('#loader2').hide();
                if (response.success) {
                    
                    storetrade=response;
                    return response;
                } else {
                    if(response.error != undefined){
                        newMensaje(response.error, "errors2", "danger", "alercontainer");
                    }else{
                        newMensaje("Ha ocurrido un error", "errors2", "danger", "alercontainer");
                    }
                    return false;
                }

            } catch (error) {
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "alercontainer");
                } else {
                    console.log(error);
                    newMensaje(error_default, "errors2", "danger", "alercontainer");
                }
                $('#loader2').hide();

                return false;

            }
        }

        async function pintarTrades(){
            let response = await getTrades();
            if(response.success && response.success!=undefined){
                console.log(response);
                let lista=response.datos
                
                let tx="";
                $.each(lista,function(index,value){
                    
                    tx+='<tr>';
                    tx+='<td>';
                    if(value.type_corto=="Venta"){
                    tx+='<span class="badge badge-success">'+value.type_corto+'</span>'; 
                    }else if( value.type_corto == "Compra"){
                    tx+='<span class="badge badge-danger">'+value.type_corto+'</span>';
                    }else{
                    tx+='<span class="badge badge-primary text-black">'+value.type_corto+'</span>'; 
                    }
                    tx+='</td>';
                    tx+='<td>';
                    tx+='<a class="btn btn-primary text-dark" href="https://stellar.expert/explorer/public/tx/'+value.transaction_hash+'" target="_blank">Consulta en StellarExpert</a>';
                    tx+='</td>';
                    tx+='<td>';
                    tx+='<p class="title">+ '+value.counter_amount+'</p>';
                    tx+='<p class="text-muted"> '+value.counter_asset_code+'</p>';
                    tx+='</td>';
                    tx+='<td>';
                    tx+='<p class="title"> '+value.nu_precio+'</p>';
                    tx+='</td>';
                    tx+='<td>';
                    tx+='<p class="title">- '+value.base_amount+'</p>';
                    tx+='<p class="text-muted">'+value.base_asset_code+'</p>';
                    tx+='</td>';
                    tx+='<td>';
                    tx+='<a href="javascript:void(0)" class="btn btn-primary btn-sm buscar" data-toggle="modal" data-target="#detModal" name="btnbuscar" id="'+value.id+'">Ver</a>';
                    tx+='</td>';
                    tx+='</tr>';


                });
                $("#tbodyhistorico").html(tx);
                $(".buscar").on("click", function() {
                console.log("aaa");
                code = $(this).attr("id");
                buscarTrade(code);
                });
                
            }

            

        }
        
        pintarTrades();

        //-------------------------------API Y PINTAR PARA OFERTAS-----------------
        async function getOfertas(){
            $('#loader2').show();
            try {

                let response = await $.ajax({
                    url: url + '/api/stellar/account/ofertas',
                    type: 'GET',
                    headers: {
                        "Authorization": 'token ' + $("#token").val()
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                });
                $('#loader2').hide();
                if (response.success) {
                    
                    storeofertas_mias=response;
                    return response;
                } else {
                    if(response.error != undefined){
                        newMensaje(response.error, "errors2", "danger", "alercontainer");
                    }else{
                        newMensaje("Ha ocurrido un error", "errors2", "danger", "alercontainer");
                    }
                    return false;
                }

            } catch (error) {
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "alercontainer");
                } else {
                    console.log(error);
                    newMensaje(error_default, "errors2", "danger", "alercontainer");
                }
                $('#loader2').hide();

                return false;

            }
        }
        async function pintarOfertasMias(){
            let response=await getOfertas();
            if(response.success && response.success!=undefined){
                console.log(response);
                let lista=response.datos
                 tx="";

            $.each(lista, function(idx, value) {
                    tx += "<tr>";
                    tx += "<td>";
                    tx += "<p class='title'>" + value.nu_total + "</p>";
                    tx += "<p class='text-muted'>" + value.buy_asset.code + "</p>";
                    tx += "</td>";
                    tx += "<td>";
                    tx += "<p class='title'>" + value.nu_precio + "</p>";
                    tx += "</td>";
                    tx += "<td>";
                    tx += "<p class='title'>-" + value.nu_monto + "</p>";
                    tx += "<p class='text-muted'>" + value.sell_asset.code + "</p>";
                    tx += "</td>";
                    tx += "<td>";
                    tx += "<a href='javascript:void(0)' class='btn btn-danger btn-sm quitar' name='btnquitar' id='" + value.id + "'>Quitar</a>";
                    tx += "</td>";



                    tx += "<tr/>";



                });

                $("#tbodyactivo").html(tx);




                $(".quitar").on("click", async function() {
                    code = $(this).attr("id");
                    await oferta(code, "0", "0");
                });

            }
        }

        pintarOfertasMias();

         async function sendAfiliacion(codigo,comision) {
            try {
                let response = await $.ajax({
                    url: url + '/api/afiliado/transaccion/',
                    type: 'POST',
                    data: {
                        'tx_codigo': codigo,
                        'nu_monto': comision,
                        'co_comision': co_comision1,
                        'tipo':13,
                    },
                    headers: {
                        "Authorization": 'token ' + $("#token").val()
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    }
                });
                return response;

            } catch (error) {
                console.log(error);
                //newMensaje("Ha ocurrido un error", "errors", "danger", "alertdiv");
                newMensaje(error_default, "def", "danger", "alertdiv");
                return false;
            }

        }

        async function oferta(oid, omonto, oprecio) {

            $('#loader').show();
            $(".quitar").attr("disabled", true);
            $("#btnprocesar").attr("disabled", true);

            let fee = await server.fetchBaseFee();
            fee += 1100;
            //console.log(oid);
            var cuenta = server.loadAccount($("#llavePublica").val());
            let mo_comision = 0
            let c_comision=0
                //console.log(omonto+"-"+oprecio);
            if (oid == "") {
                ope = {
                    selling: asset1,
                    buying: asset2,
                    amount: omonto,
                    price: oprecio,
                };
                mo_comision = String(fcomisionppg1);
                c_comision=co_comision1
            } else {
                ope = {
                    selling: asset1,
                    buying: asset2,
                    amount: "0",
                    price: "1",
                    offerId: oid
                };
                mo_comision = String(fcomisionppg2);
                c_comision=co_comision2
            }

            cuenta.then(
                function(value) {
                    var transaction = new StellarSdk.TransactionBuilder(value, {
                            "fee": fee,
                            "networkPassphrase": StellarSdk.Networks.PUBLIC
                        })
                        .addOperation(
                            StellarSdk.Operation.manageSellOffer(ope)
                        )
                        .setTimeout(30);

                    if(ope.amount!="0"){
                        transaction=transaction.addOperation(
                                StellarSdk.Operation.payment({
                                    destination: "GCEOQCK55IEOM6FAWVMW7L2NZQVKZHEECCKSJSAQKRHI2UHRD2UFEMUE",
                                    asset: StellarSdk.Asset.native(),
                                    amount: mo_comision,
                                })
                            )
                    }

                    transaction=transaction.build();

                    try {
                        var keypair = StellarSdk.Keypair.fromSecret(sessionStorage.getItem('merma'));
                        transaction.sign(keypair);
                    } catch (error) {
                        var keypair = "";
                    }





                    transresultado = server.submitTransaction(transaction);
                    transresultado.then(
                        async function(value) {
                            console.log(value)
                            if (value.hash != undefined && ope.amount!="0") {
                                let resp_afi = await sendAfiliacion(value.hash,fcomisionppg1);
                            }
                            //console.log("aqio3");

                            var datos = {
                                "hash": value.hash,
                            };
                            var obj = JSON.stringify(datos);
                            //notificacion 
                            var url = window.location.protocol + "//" + window.location.host + "";

                            $.ajax({

                                url: url + '/api/v3/usuario/notif_intercambio/',
                                type: 'POST',
                                data: {
                                    'datos': obj,

                                },
                                headers: {
                                    "Authorization": 'token ' + $("#token").val()
                                },
                                beforeSend: function(xhr, settings) {
                                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                                },
                                success: function(arg) {}
                            });

                            $('#loader').hide();
                            $("#btnprocesar").attr("disabled", false);

                            $(".quitar").attr("disabled", false);
                            if (oid == "") {
                                /* activosell.nu_balance = parseFloat(parseFloat(activosell.nu_balance).toFixed(9)) - parseFloat(parseFloat(omonto).toFixed(9));
                                 //activobuy.nu_balance = parseFloat(parseFloat(activobuy.nu_balance).toFixed(9)) - (parseFloat(parseFloat(omonto).toFixed(9)) * parseFloat(parseFloat(oprecio).toFixed(9)));
                                 $("#balancesell").text(activosell.nu_balance);*/

                                newMensaje("La oferta se ha procesado sactifactoriamente", "alerta1", "success");

                            } else {
                                /*if ($("#c"+oid).val()==activosell.asset.code && $("#a"+oid).val()==activosell.asset.issuer){
                                        activosell.nu_balance = parseFloat(parseFloat(activosell.nu_balance).toFixed(9)) - parseFloat(parseFloat(omonto).toFixed(9));
                                
                                        $("#balancesell").text(activosell.nu_balance);
                                    }*/
                                newMensaje("La oferta se ha cancelado sactifactoriamente", "alerta1", "success");

                            }
                            recargar();

                        },
                        async function(error) {
                            //console.log(error);
                            $('#loader').hide();
                            $("#btnprocesar").attr("disabled", false);
                            $(".quitar").attr("disabled", false);
                            newMensaje("Hubo un error en la operacion", "alerta2", "warning", "alercontainer");
                            if (error.response) {
                                printMsjStellar(error.response, msjstellar, "danger", "alercontainer");
                            } else {
                                newMensaje(error, "errors2", "danger", "alercontainer");
                            }

                        }
                    );

                },
                function(error) {
                    $('#loader').hide();
                    $("#btnprocesar").attr("disabled", false);
                    $(".quitar").attr("disabled", false);
                    newMensaje("Hubo un error en la operacion", "alerta2", "warning", "alercontainer");
                    if (error.response) {
                        printMsjStellar(error.response, msjstellar, "danger", "alercontainer");
                    } else {
                        newMensaje(error, "errors2", "danger", "alercontainer");
                    }
                }


            );

        }

        async function recargar() {

            
                await pintarOfertasMias()
                await pintarTrades()
                //$('#loader2').hide();
                location.reload();
        }

        $("#btnprocesar").on("click", async function() {


            await oferta("", $("#id_nu_monto").val(), $("#id_nu_precio").val());


        });

        $(".quitar").on("click", async function() {


            code = $(this).attr("id");

            await oferta(code, 0, 0);


        });


        $("#id_nu_monto").on("change", function() {
            code = $(this).attr("id");


            if (validarMonto(code, $(this).val(), activosell.nu_balance, activosell.nu_limit)) {
                $(this).closest('.form-group').removeClass('has-danger').addClass('has-success');
                $(this).closest('.form-check').removeClass('has-danger').addClass('has-success');
                $("#err_" + code).text("");

            } else {

                $("#btnprocesar").attr("disabled", true);
            }


        });

        $("#id_nu_precio").on("change", function() {
            code = $(this).attr("id");

            if (validarMonto2(code, $(this).val(), activobuy.nu_balance, activobuy.nu_limit)) {
                $(this).closest('.form-group').removeClass('has-danger').addClass('has-success');
                $(this).closest('.form-check').removeClass('has-danger').addClass('has-success');
                $("#err_" + code).text("");

            } else {

                $("#btnprocesar").attr("disabled", true);
            }
        });

        $(".inputval").on("change", function() {

            if ($("#id_nu_precio").val() != "" && $("#id_nu_monto").val() != "") {
                var monto = $("#id_nu_monto").val();
                var precio = $("#id_nu_precio").val();
                var total = monto * precio;
                $("#id_nu_total").attr("disabled", false);
                if (total > (activobuy.nu_limit - activobuy.nu_balance)) {

                    $("#id_nu_total").closest('.form-group').removeClass('has-success').addClass('has-danger');
                    $("#id_nu_total").closest('.form-check').removeClass('has-success').addClass('has-danger');
                    $("#err_id_nu_total").text("El resultado es mayor a su limite");
                    $("#id_nu_total").val("");

                    $("#btnprocesar").attr("disabled", true);
                } else {
                    //console.log("tres");

                    $("#id_nu_total").closest('.form-group').removeClass('has-danger').addClass('has-success');
                    $("#id_nu_total").closest('.form-check').removeClass('has-danger').addClass('has-success');
                    $("#err_id_nu_total").text("");
                    $("#id_nu_total").val(total);

                    $("#btnprocesar").attr("disabled", false);

                }

                $("#id_nu_total").attr("disabled", true);



            } else {

                $("#btnprocesar").attr("disabled", true);
            }
        });



        function contenidoenbucle(value, i) {
            let tx = "";
            let tx2 = "";

            tx += "<tr>";
            tx += "<td id='a" + i + "'>";
            //console.log(value);

            if (value.asset_type == "native") {
                tx += "<img  src='" + imglumens + "' id='image" + i + "' alt='50' width='50' height='50'>";
            } else {

                if (value.img == "") {
                    tx += "<img  src='" + imginterrogacion + "' id='image" + i + "' alt='50' width='50' height='50'>";

                } else {
                    tx += "<img  src='" + value.img + "' id='image" + i + "' alt='50' width='50' height='50'>";

                }


            }

            tx += "<td>";
            if (value.tx_moneda != "" && value.tx_moneda != "sin_toml") {
                tx += "<p class='title text-white'><b>" + value.tx_moneda + "</b>(" + value.asset.code + ")</p>";
            } else {
                tx += "<p class='title text-white'>(" + value.asset.code + ")</p>";
            }
            tx += "<p class='text-muted'>" + value.org_url + "<p>";
            tx += "</td>";
            tx += "<td>";

            if (value.nu_balance != "") {
                tx += "<p class='title text-white'><b>" + value.nu_balance + "</b>(" + value.asset.code + ")</p>";
            }
            tx += "</td>";

            tx += "<td>";
            tx2 = tx;
            if (value.asset.issuer != "") {
                if (value.asset.code == asset2.code) {
                    tx += "<form method='GET' action='" + url + "/comercio/" + value.asset.code + "/" + value.asset.issuer + "/" + asset1.code + "/" + asset1.issuer + "'>";

                } else {
                    tx += "<form method='GET' action='" + url + "/comercio/" + value.asset.code + "/" + value.asset.issuer + "/" + asset2.code + "/" + asset2.issuer + "'>";

                }

                if (value.asset.code == asset1.code) {
                    tx2 += "<form method='GET' action='" + url + "/comercio/" + asset2.code + "/" + asset2.issuer + "/" + value.asset.code + "/" + value.asset.issuer + "'>";

                } else {
                    tx2 += "<form method='GET' action='" + url + "/comercio/" + asset1.code + "/" + asset1.issuer + "/" + value.asset.code + "/" + value.asset.issuer + "'>";

                }
            } else {
                if (value.asset.code == asset2.code) {
                    tx += "<form method='GET' action='" + url + "/comercio/" + value.asset.code + "/0/" + asset1.code + "/" + asset1.issuer + "'>";

                } else {
                    tx += "<form method='GET' action='" + url + "/comercio/" + value.asset.code + "/0/" + asset2.code + "/" + asset2.issuer + "'>";

                }
                if (value.asset.code == asset1.code) {
                    tx2 += "<form method='GET' action='" + url + "/comercio/" + asset1.code + "/" + asset1.issuer + "/" + value.asset.code + "/0'>";

                } else {
                    tx2 += "<form method='GET' action='" + url + "/comercio/" + asset1.code + "/" + asset1.issuer + "/" + value.asset.code + "/0'>";

                }

            }



            tx += "<button type='submit' class='btn btn-primary container text-dark'>Tomar</button>";
            tx += "</form>";
            tx += "</td>";
            tx += "</tr>";

            tx2 += "<button type='submit' class='btn btn-primary container text-dark'>Tomar</button>";
            tx2 += "</form>";
            tx2 += "</td>";
            tx2 += "</tr>";

            return [tx, tx2];

        }

        function consultar(valor) {

            let tx = "";
            let tx2 = "";
            $("#tablebody2").html("");
            $("#tablebody4").html("");
            i = 1;

            if (valor == "") {
                $.each(allactivos, function(idx, value) {
                    //console.log(value);
                    listtx = contenidoenbucle(value, i);
                    tx += listtx[0];
                    tx2 += listtx[1];
                    i++;
                });
            } else {
                $.each(allactivos, function(idx, value) {
                    let codi = value.asset.code;
                    if (codi.includes(valor.toUpperCase())) {
                        listtx = contenidoenbucle(value, i);
                        tx += listtx[0];
                        tx2 += listtx[1];
                        i++;
                    }
                });

            }

            //console.log(tx);

            $("#tablebody2").append(tx);
            $("#tablebody4").append(tx2);

        }

    });
</script>
{% endblock javascripts %}