{% extends 'inicio/base2.html' %}

{% block title %}
Institutos
{% endblock title %}

{% block content %}

<div class="row mt-5">
{% if msg != '' %}
{% if success is True %}   

{% include 'includes/msj-success.html' %}
{% else %}
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>
      <div class="row mt-5">
      
        <div class="col-md-12 col-lg-12">
        <h1 class="title text-center">CONFIGURACION DE INSTITUTOS</h1>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="card">
            <div class="card-header">
            <div class="d-flex align-items-center">
              <h4 class="card-title ">Formulario Instituto</h4>
              <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
            </div>
            </div>
            
              <form method="POST" action="{% url 'instituto' %}">
              
            <input id="codigo" name="codigo" type="hidden">
            
            <input id="co_padre" name="co_padre" type="hidden">
            

            <div class="card-body">
         
               {% csrf_token %}
               <div class="row">
                <div class="form-group col-md-12">
                
                <label class="bmd-label-floating text-white">Instituto</label>
                    {{ form.tx_instituto}}
                {% if form.errors.tx_instituto %}<span class="help-block white-text">{{ form.errors.tx_instituto }}</span>{% endif %}
                </div>
                 <div class="form-group col-md-12 col-lg-12">   
                <label class="bmd-label-floating text-white">Instituto padre</label>
                    {{ form.tx_padre}}
                </div>
                <div class="form-group col-md-12">
                      <p class="category text-white">Estatus</p>
                      <input type="checkbox" checked name="estatus" id="estatus" class="bootstrap-switch" data-on-label="<i class='tim-icons icon-check-2'></i>" data-off-label="<i class='tim-icons icon-simple-remove'></i>" />
                 </div>
              </div>
            </div>
            <div class="card-footer">
            
              <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="btn1">Crear</button>
              <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="2" id="btn2">Procesar</button>
              <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="3" id="btn3">Buscar</button>
              <button class="btn btn-fill btn-primary text-dark" name='boton' id="btn4">Limpiar</button>
           
            </div>
              </form>
          </div>
        </div>

        <div class="col-md-12 col-lg-6">
          <div class="card">
            <div class="card-body">
              <div class="toolbar">
              <label class="bmd-label-floating text-white">Instituto</label>
                    {{ form.co_inst}}
                {% if form.errors.co_inst %}<span class="help-block white-text">{{ form.errors.co_inst }}</span>{% endif %}
                </div>
              <table id="datatable" class="table table-striped">
                <thead>
                  <tr>
                    <th>Instituto</th>
                    <th>Padre</th>
                    <th class="sorting_desc_disabled sorting_asc_disabled text-right">Acción</th>
                  </tr>
                </thead>
                 <tbody id="tbody">
                 {% for values in data %}
                  <tr>
                  {% if values.in_activo %}
                  
                    <td ><p class="text-white">{{values.tx_instituto}}</p></td>
                    {% else %}
                    
                    <td ><p class="text-danger">{{values.tx_instituto}}</p></td>
                  {% endif %}

                    <td ><p class="text-white">{{values.get_padre.tx_instituto}}</p></td>
                    <td class="text-right">
                      <a href="javascript:void(0)" class="btn btn-link btn-primary btn-icon btn-sm edit validar" id="{{values.co_instituto}}"><i class="tim-icons icon-pencil"></i></a>
                      <a href="javascript:void(0)" class="btn btn-link btn-primary btn-icon btn-sm btnpadre" id="{{values.co_instituto}}"><i class="tim-icons icon-simple-add"></i></a>
                     
                     </td>
                  </tr>

                 {% endfor %}
                 
                  </tbody>
                </table>
                </div>
                </div>
                </div>
                </div>

          <input id="token" name="token" type="hidden" value={{ token }}>
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
$("#btn3").click(function(){

$("#id_tx_instituto").attr('required',false);
    });

$("#btn2").hide();
$("#loader").hide();
    var valores = function(id){
    var cod=id;
    var codigo=parseInt(cod.charAt(cod.length-1));

    return cod;
    }
    
    var addinstituto = function(e){
        e.preventDefault();
        $("#codigo").val(valores(e.currentTarget.id));
        onclick();

    }
     var addpadre = function(e){
        e.preventDefault();
        $("#co_padre").val(valores(e.currentTarget.id));
        onclick2();

    }

    $("#btn4").click(function(){
      
      $("#id_tx_instituto").attr('required',false);
      $("#btn1").show();
      $("#btn2").hide();
      $("#estatus").bootstrapSwitch('state', true);
      $("#id_tx_instituto").val('');
      $("#codigo").val('');

    });
    
        $("#id_co_inst").on('change', function () {
        $("#id_co_inst option:selected").each(function () {
        $('#loader').show();
        var codigo=0;
        var txpadre='';

        if($("#id_co_inst").val()!=''){
        codigo=$("#id_co_inst").val();
        }
        if($("#id_co_inst  option:selected").text()!='Seleccione...'){
        txpadre=$("#id_co_inst  option:selected").text();
        }
        var url =window.location.protocol + "//" + window.location.host + "";
      
        
        $.ajax({
                url: url+'/api/configuracion/instituto/',
                type: 'POST',
                data: {
                     'co_padre':codigo
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {

                  $('#loader').hide();
              

                if(arg.success){
                  $("#tbody").empty();
                  $("#co_padre").val($("#id_co_inst").val());
                   $("#btn1").show();
                   $("#btn2").hide();
                   $("#id_tx_instituto").val("");
                   $("#id_tx_padre").removeAttr("disabled");
                   $("#id_tx_padre").val(txpadre);
                   $("#id_tx_padre").prop("disabled", true);
                   
                  $.each(arg.data, function(k, v) {
                  var tx1='<tr><td><p class="text-white">'+v.tx_instituto+'</p></td>';
                  
                  var tx2='<td><p class="text-white">'+txpadre+'</p></td>';
                  var tx3='<td class="text-right">';
                  
                  var tx4= '<a href="javascript:void(0)" class="btn btn-link btn-primary btn-icon btn-sm edit validar" id="'+v.co_instituto+'"><i class="tim-icons icon-pencil"></i></a>'
                  var tx5=  '<a href="javascript:void(0)" class="btn btn-link btn-primary btn-icon btn-sm btnpadre" id="'+v.co_instituto+'"><i class="tim-icons icon-simple-add"></i></a>'
                
                  var tx6='</td></tr>';
                   
                  $("#tbody").append (tx1+tx2+tx3+tx4+tx5+tx6); 



         
                  });

                              

                $('.validar').on('click', addinstituto);
                
                $('.btnpadre').on('click', addpadre);
                }
                
                },
                error: function (xhr, ajaxOptions, thrownError) {

                  $('#loader').hide();
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })


        });
        });

    var onclick = function(){
        var codigo=$("#codigo").val();

                $('#loader').show();
                $('.validar').attr("disabled", true);
        var url =window.location.protocol + "//" + window.location.host + "";
               
        $.ajax({
                url: url+'/api/configuracion/instituto/',
                type: 'POST',
                data: {
                     'co_instituto':codigo
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {

                  $('#loader').hide();
                  
                   $('.validar').attr("disabled", false);

                if(arg.success){
                  
                  $.each(arg.data, function(k, v) {
                   
                   $("#id_tx_instituto").val(v.tx_instituto);
                   if(v.in_activo){
                     
                    $("#estatus").bootstrapSwitch('state', true);
                   }else{
                     
                    $("#estatus").bootstrapSwitch('state', false);
                   }
                  })

                  $("#btn1").hide();
                  
                  $("#btn2").show();

                }
                
                },
                error: function (xhr, ajaxOptions, thrownError) {

                  $('#loader').hide();
                  $('.validar').attr("disabled", false);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })
    }
    var onclick2 = function(){
        var codigo=$("#co_padre").val();

                $('#loader').show();
                $('.btnpadre').attr("disabled", true);
        var url =window.location.protocol + "//" + window.location.host + "";
               
        $.ajax({
                url: url+'/api/configuracion/instituto/',
                type: 'POST',
                data: {
                     'co_instituto':codigo
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {

                  $('#loader').hide();
                  
                   $('.btnpadre').attr("disabled", false);

                if(arg.success){
                  
                  $.each(arg.data, function(k, v) {
                   
                   $("#id_tx_padre").removeAttr("disabled");
                   $("#id_tx_padre").val(v.tx_instituto);
                   $("#id_tx_padre").prop("disabled", true);

                  })

                }
                
                },
                error: function (xhr, ajaxOptions, thrownError) {

                  $('#loader').hide();
                  $('.btnpadre').attr("disabled", false);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })
    }

    $('.validar').on('click', addinstituto);
    
    $('.btnpadre').on('click', addpadre);

});

</script>


{% endblock javascripts %}