{% extends 'inicio/base2.html' %} 
{% block title %} Menu {% endblock title %}

{% block content %}

<div class="row mt-5">
    {% if msg != '' %} {% if success is True %} {% include 'includes/msj-success.html' %} {% else %} {% include 'includes/msj-danger.html' %} {% endif %} {% endif %}
</div>
<div class="row mt-5">

    <div class="col-md-12 col-lg-12">
        <h1 class="title text-center">CONFIGURACION DE MENU</h1>
    </div>
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <nav class="navbar justify-content-between">
                    <a class="navbar-brand"></a>
                    <form class="form-inline">

                        <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 wasa" data-toggle="modal" data-target="#exampleModal" id="botone2">
                            <i class="tim-icons icon-simple-add"></i>
                        </a>
                    </form>
                </nav>

                
                <ul class="list-group ">
                {{ menu|safe }}
                </ul>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="exampleModalLabel">Modal title</h2>
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
                </div>

                <form method="POST" action="{% url 'menu' %}">
                    <div class="modal-body">
                        {% csrf_token %}

                        <input id="codigo" name="codigo" type="hidden">
                        <div class="form-group col-md-12">

                            <label class="bmd-label-floating text-white">Menu</label> {{ form.tx_menu}}
                        </div>
                        <div class="form-group col-md-12">

                            <label class="bmd-label-floating text-white">Url</label> {{ form.tx_url}}
                        </div>
                        <div class="form-group col-md-12">

                            <label class="bmd-label-floating text-white">Icono</label> {{ form.co_icono}}
                        </div>
                        <div class="form-group col-md-12">

                            <label class="bmd-label-floating text-white">Contenedor</label> {{ form.co_menu}}
                        </div>
                        <div class="form-group col-md-6">
                            <p class="category text-white">Estatus</p>
                            <input type="checkbox" checked name="estatus" id="estatus" class="bootstrap-switch" data-on-label="<i class='tim-icons icon-check-2'></i>" data-off-label="<i class='tim-icons icon-simple-remove'></i>" />

                        </div>
                        <div class="form-group col-md-6">
                            <p class="category text-white">¿Enlace?</p>
                            <input type="checkbox" checked name="in_link" id="in_link" class="bootstrap-switch" data-on-label="<i class='tim-icons icon-check-2'></i>" data-off-label="<i class='tim-icons icon-simple-remove'></i>" />

                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="btn">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

          <input id="token" name="token" type="hidden" value={{ token }}>
    {% endblock %} {% block javascripts %}
    <script>
        $(document).ready(function() {

            $("#loader").hide();
            var valores = function(id) {
                var cod = id;
                var codigo = parseInt(cod.charAt(cod.length - 1));

                return cod;
            }

            var advertencia1 = function(e) {
                $("#codigo").val(valores(e.currentTarget.id));
                $("#exampleModalLabel").text("Editar");
                $("#btn").text('Procesar');
                $("#btn").val(3);

                $("#id_tx_menu").attr('required', true);
                onclick();

            }
            var openmodal = function(e) {
                $("#codigo").val('');
                var val = valores(e.currentTarget.id)


                $("#exampleModalLabel").text("Crear");
                $("#btn").text('Procesar');
                $("#btn").val(2);

                $("#id_tx_menu").attr('required', true);


            }

            var onclick = function() {
                var codigo = $("#codigo").val();

                $('#loader').show();
                $('.validar').attr("disabled", true);

                $('#btn').attr("disabled", true);
                var url = window.location.protocol + "//" + window.location.host + "";

                $.ajax({
                    url: url + '/api/configuracion/menu/',
                    type: 'POST',
                    data: {
                        'co_menu': codigo
                    },
                    headers: {"Authorization": 'token '+$("#token").val()},
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function(arg) {

                        $('#loader').hide();

                        $('.validar').attr("disabled", false);

                        $('#btn').attr("disabled", false);

                        if (arg.success) {

                            $.each(arg.data, function(k, v) {

                                $("#id_tx_menu").val(v.tx_menu);
                                $("#id_tx_url").val(v.tx_url);

                                if (v.in_activo) {
                                    $("#estatus").bootstrapSwitch('state', true);
                                } else {

                                    $("#estatus").bootstrapSwitch('state', false);
                                }

                                
                  $("#id_co_icono option[value='"+v.co_icono+"']").attr("selected",true);
                  
                  $("#id_co_menu option[value='"+v.nu_padre+"']").attr("selected",true);

                            })


                        }

                    },
                    error: function(xhr, ajaxOptions, thrownError) {

                        $('#loader').hide();
                        $('.validar').attr("disabled", false);
                        console.log(xhr.status);
                        console.log(thrownError);
                    }
                })
            }

            $('.validar').on('click', advertencia1);

            $('.wasa').on('click', openmodal);

        });
    </script>


    {% endblock javascripts %}