{% extends 'inicio/base2.html' %}

{% block title %}
Pais
{% endblock title %}

{% block content %}

<div class="row mt-5">
{% if msg != '' %}
{% if success is True %}   

{% include 'includes/msj-success.html' %}
{% else %}
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>
      <div class="row mt-5">

        <div class="col-md-12 col-lg-12">
        <h1 class="title text-center">CONFIGURACION DE PAISES</h1>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="card">
            <div class="card-body">
            <nav class="navbar justify-content-between">
              <a class="navbar-brand"></a>
  <form class="form-inline">        
  {{ form.tx_busqueda}}
                {% if form.errors.tx_pais %}<span class="help-block white-text">{{ form.errors.tx_pais }}</span>{% endif %}
              
       
    <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 wasa" data-toggle="modal" data-target="#exampleModal" id="botone1" >
            <i class="tim-icons icon-zoom-split"></i>
          </a>
              <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 wasa" data-toggle="modal" data-target="#exampleModal" id="botone2">
            <i class="tim-icons icon-simple-add"></i>
          </a>
  </form>
</nav>
              <table id="datatable" class="table table-striped">
                <thead>
                  <tr>
                    <th>pais</th>
                    <th>nacionalidad</th>
                    <th class="sorting_desc_disabled sorting_asc_disabled text-right">Acción</th>
                  </tr>
                </thead>
                 <tbody>
                 {% for values in data %}
                  <tr>
                  {% if values.in_activo %}
                  
                    <td ><p class="text-white">{{values.tx_pais}}</p></td>
                    {% else %}
                    
                    <td ><p class="text-danger">{{values.tx_pais}}</p></td>
                  {% endif %}
                  
                    <td ><p class="text-white">{{values.tx_nacionalidad}}</p></td>
                    <td class="text-right">
                      <a href="javascript:void(0)" class="btn btn-link btn-primary btn-icon btn-sm edit validar" data-toggle="modal" data-target="#exampleModal" id="{{values.co_pais}}"><i class="tim-icons icon-pencil"></i></a>
                     </td>
                  </tr>

                 {% endfor %}
                 
                  </tbody>
                </table>
                </div>
                </div>
                </div>
                </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
        <h2 class="modal-title" id="exampleModalLabel">Modal title</h2>
           <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
           
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
      </div>
      
      <form method="POST" action="{% url 'cpais' %}">
      <div class="modal-body">
             {% csrf_token %}
             
            <input id="codigo" name="codigo" type="hidden">
                <div class="form-group col-md-12">
                
                <label class="bmd-label-floating text-white">pais</label>
                    {{ form.tx_pais}}
                </div>
                 <div class="form-group col-md-12">
                
                <label class="bmd-label-floating text-white">nacionalidad</label>
                    {{ form.tx_nacionalidad}}
                </div>
                <div class="form-group col-md-12">
                      <p class="category text-white">Estatus</p>
                      <input type="checkbox" checked name="estatus" id="estatus" class="bootstrap-switch" data-on-label="<i class='tim-icons icon-check-2'></i>" data-off-label="<i class='tim-icons icon-simple-remove'></i>" />
                 </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>
        
        <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="btn">Buscar</button>    
      </div>
        </form>
    </div>
  </div>
</div>

          <input id="token" name="token" type="hidden" value={{ token }}>
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){

//$("#token").val('dd263a2067703528c35496fb66af452df0605d23');
$("#loader").hide();
    var valores = function(id){
    var cod=id;
    var codigo=parseInt(cod.charAt(cod.length-1));

    return cod;
    }

    var valores2 = function(id){
    var cod=id;
    var codigo=parseInt(cod.charAt(cod.length-1));

    return codigo;
    }
    
    var advertencia1 = function(e){
        $("#codigo").val(valores(e.currentTarget.id));   
        $("#exampleModalLabel").text("Editar");
        $("#btn").text('Procesar');
        $("#btn").val(3);
        
        $("#id_tx_pais").attr('required',true);
        
        $("#id_tx_nacionalidad").show(); 
        $("#id_tx_nacionalidad").attr('required',true);   
        onclick();

    }
    var openmodal=function(e){
        $("#codigo").val('');
        var val=valores2(e.currentTarget.id)
        if(val==1){

        $("#exampleModalLabel").text("Busqueda");
        $("#btn").text('Buscar');
        $("#btn").val(1);
        
        $("#id_tx_pais").attr('required',false);
        $("#id_tx_nacionalidad").attr('required',false)  
        
        $("#id_tx_nacionalidad").hide() 
        
        }else{
          
        $("#exampleModalLabel").text("Crear");
        $("#btn").text('Procesar');
        $("#btn").val(2);
        $("#id_tx_nacionalidad").show(); 
        $("#id_tx_pais").attr('required',true); 
        $("#id_tx_nacionalidad").attr('required',true); 
        }
        
    }

    var onclick = function(){
        var codigo=$("#codigo").val();

                $('#loader').show();
                $('.validar').attr("disabled", true);
                
                $('#btn').attr("disabled", true);
        var url =window.location.protocol + "//" + window.location.host + "";
               
        $.ajax({
                url: url+'/api/pais/',
                type: 'POST',
                data: {
                     'co_pais':codigo
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {

                  $('#loader').hide();
                  
                   $('.validar').attr("disabled", false);
                   
                $('#btn').attr("disabled", false);

                if(arg.success){
                  
                  $.each(arg.data, function(k, v) {
                   
                   $("#id_tx_pais").val(v.tx_pais);
                   
                   $("#id_tx_nacionalidad").val(v.tx_nacionalidad);
                   if(v.in_activo){
                     
                    $("#estatus").bootstrapSwitch('state', true);
                   }else{
                     
                    $("#estatus").bootstrapSwitch('state', false);
                   }
                   
                  })


                }
                
                },
                error: function (xhr, ajaxOptions, thrownError) {

                  $('#loader').hide();
                  $('.validar').attr("disabled", false);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })
    }

    $('.validar').on('click', advertencia1);

     $('.wasa').on('click', openmodal);

});

</script>


{% endblock javascripts %}