{% extends 'inicio/base2.html' %}

{% block title %}
ROL
{% endblock title %}

{% block content %}

<div class="row mt-5">
{% if msg != '' %}
{% if success is True %}   

{% include 'includes/msj-success.html' %}
{% else %}
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>

        <div class="col-md-12 col-lg-12">
        <h1 class="title text-center">CONFIGURACION DE ROLES</h1>
        </div>
      <div class="row mt-5">
        <div class="col-md-12 col-lg-6">
          <div class="card">
            <div class="card-header">
            <div class="d-flex align-items-center">
              <h4 class="card-title ">Formulario Rol</h4>
              <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
            </div>
            </div>
            
              <form method="POST" action="{% url 'rol' %}">
              
            <input id="codigo" name="codigo" type="hidden">

            <div class="card-body">
         
               {% csrf_token %}
                <div class="form-group col-md-12">
                
                <label class="bmd-label-floating text-white">Rol</label>
                    {{ form.tx_rol}}
                </div>
                <div class="form-group col-md-12">
                      <p class="category text-white">Estatus</p>
                      <input type="checkbox" checked name="estatus" id="estatus" class="bootstrap-switch" data-on-label="<i class='tim-icons icon-check-2'></i>" data-off-label="<i class='tim-icons icon-simple-remove'></i>" />
                 </div>
            
            </div>
            <div class="card-footer">
            
              <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="btn1">Crear</button>
              <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="2" id="btn2">Procesar</button>
              <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="3" id="btn3">Buscar</button>
              <button class="btn btn-fill btn-primary text-dark" name='boton' id="btn4">Limpiar</button>
           
            </div>
              </form>
          </div>
        </div>

        <div class="col-md-12 col-lg-6">
          <div class="card">
            <div class="card-body">
              <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
              </div>
              <table id="datatable" class="table table-striped">
                <thead>
                  <tr>
                    <th>Rol</th>
                    <th class="sorting_desc_disabled sorting_asc_disabled text-right">Acción</th>
                  </tr>
                </thead>
                 <tbody>
                 {% for values in data %}
                  <tr>
                  {% if values.in_activo %}
                  
                    <td ><p class="text-white">{{values.tx_rol}}</p></td>
                    {% else %}
                    
                    <td ><p class="text-danger">{{values.tx_rol}}</p></td>
                  {% endif %}

                    <td class="text-right">
                      <a href="javascript:void(0)" class="btn btn-link btn-primary btn-icon btn-sm edit validar" id="{{values.co_rol}}"><i class="tim-icons icon-pencil"></i></a>
                     </td>
                  </tr>

                 {% endfor %}
                 
                  </tbody>
                </table>
                </div>
                </div>
                </div>
                </div>

{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){

$("#btn3").click(function(){

$("#id_tx_rol").attr('required',false);
    });

$("#btn2").hide();
$("#loader").hide();
    var valores = function(id){
    var cod=id;
    var codigo=parseInt(cod.charAt(cod.length-1));

    return cod;
    }
    
    var advertencia1 = function(e){
        $("#codigo").val(valores(e.currentTarget.id));
        onclick();

    }

    $("#btn4").click(function(){
      
      $("#id_tx_rol").attr('required',false);
      $("#btn1").show();
      $("#btn2").hide();
      $("#estatus").bootstrapSwitch('state', true);
      $("#id_tx_rol").val('');
      $("#codigo").val('');

    });
    var onclick = function(){
        var codigo=$("#codigo").val();

                $('#loader').show();
                $('.validar').attr("disabled", true);
        var url =window.location.protocol + "//" + window.location.host + "";
               
        $.ajax({
                url: url+'/api/configuracion/rol/',
                type: 'POST',
                data: {
                     'co_rol':codigo
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {

                  $('#loader').hide();
                  
                   $('.validar').attr("disabled", false);

                if(arg.success){
                  
                  $.each(arg.data, function(k, v) {
                   
                   $("#id_tx_rol").val(v.tx_rol);
                   if(v.in_activo){
                     
                    $("#estatus").bootstrapSwitch('state', true);
                   }else{
                     
                    $("#estatus").bootstrapSwitch('state', false);
                   }
                  })

                  $("#btn1").hide();
                  
                  $("#btn2").show();

                }
                
                },
                error: function (xhr, ajaxOptions, thrownError) {

                  $('#loader').hide();
                  $('.validar').attr("disabled", false);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })
    }

    $('.validar').on('click', advertencia1);

});

</script>


{% endblock javascripts %}