{% extends 'inicio/base2.html' %}

{% block title %}
Rol Solicitud
{% endblock title %}

{% block content %}

<div class="row mt-5">
{% if msg != '' %}
{% if success is True %}   

{% include 'includes/msj-success.html' %}
{% else %}
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>
    <div class="row mt-5">
        <div class="col-md-12 col-lg-12">
            <h1 class="title text-center">ROL SOLICITUDES</h1>
        </div>
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12 col-lg-12">
                        <form> 
                            {{form.co_rol}}
                        </form>
                    </div>
                    <h4 class="title text-center">Lista de Solicitudes</h4>

                    <div class="container col-md-6 col-lg-6">
                    <table id="datatable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tipo de Solicitud</th>
                                <th>Instituto</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        
                        <tbody id="tbody">
                        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
                  
                        </tbody>
                    </table>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    
          <input id="token" name="token" type="hidden" value={{ token }}>
{% endblock content%}

{% block javascripts %}
<script>
$(document).ready(function(){

        $("#loader").hide();
        $("#id_co_rol").on('change', function () {
        $("#id_co_rol option:selected").each(function () {
        $('#loader').show();
        var codigo=0;
        var txrol='';

        if($("#id_co_rol").val()!=''){
        codigo=$("#id_co_rol").val();
        }
        if($("#id_co_rol  option:selected").text()!='Seleccione...'){
        txrol=$("#id_co_rol  option:selected").text();
        }
        var url =window.location.protocol + "//" + window.location.host + "";
      
        
        $.ajax({
                url: url+'/api/configuracion/rol-solicitud/',
                type: 'POST',
                data: {
                     'co_tipo_solicitud':codigo
                },
                headers: {"Authorization": 'token '+$("#token").val()},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {

                  $('#loader').hide();
              

                if(arg.success){
                    $("#tbody").empty();
                    $("#co_padre").val($("#id_co_rol").val());
                   /* $("#btn1").show();
                    $("#btn2").hide();
                    $("#id_tx_instituto").val("");
                    $("#id_tx_padre").removeAttr("disabled");
                    $("#id_tx_padre").val(txpadre);
                    $("#id_tx_padre").prop("disabled", true);*/
                   
                  $.each(arg.data, function(k, v) {
                    var tx1='<tr><td><p class="text-white">'+v.tx_tipo_solicitud+'</p></td>';
                  
                    var tx2='<td><p class="text-white">'+v.tx_instituto+'</p></td>';
                  
                    var tx3='<td><div class="form-check">';
                    var tx4='<label class="form-check-label">';
                    var tx5='<input class="form-check-input" type="checkbox">';
                    var tx6='<span class="form-check-sign"></span>';
                    var tx7='</label>';
                    var tx8='</div></td>';
                    var tx9='</tr>';
                   
                  $("#tbody").append (tx1+tx2+tx3+tx4+tx5+tx6+tx7+tx8+tx9); 

                  });

                $('.validar').on('click', addinstituto);
                
                $('.btnpadre').on('click', addpadre);
                }
                
                },
                error: function (xhr, ajaxOptions, thrownError) {

                  $('#loader').hide();
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })


        });
        });

});

</script>
{% endblock javascripts %}