{% extends 'inicio/base2.html' %}

{% block title %}
Tipo Solicitud
{% endblock title %}

{% block content %}

<div class="row mt-5">
{% if msg != '' %}
{% if success is True %}   

{% include 'includes/msj-success.html' %}
{% else %}
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>
      <div class="row mt-5">

        <div class="col-md-12 col-lg-12">
        <h1 class="title text-center">CONFIGURACION DE TIPOS DE SOLICITUD</h1>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="card">
            <div class="card-body">
            <nav class="navbar justify-content-between">
              <a class="navbar-brand"></a>
  <form class="form-inline">        
  {{ form.tx_busqueda}}
                {% if form.errors.tx_tipo_solicitud %}<span class="help-block white-text">{{ form.errors.tx_tipo_solicitud }}</span>{% endif %}
              
       
    <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 wasa" data-toggle="modal" data-target="#exampleModal" id="botone1" >
            <i class="tim-icons icon-zoom-split"></i>
          </a>
              <a href="javascript:void(0)" class="btn btn-icon btn-fill btn-primary text-dark my-2 my-sm-0 wasa" data-toggle="modal" data-target="#exampleModal" id="botone2">
            <i class="tim-icons icon-simple-add"></i>
          </a>
  </form>
</nav>
              <table id="datatable" class="table table-striped">
                <thead>
                  <tr>
                    <th>Tipo Solicidud</th>
                    <th>Instituto</th>
                    <th class="sorting_desc_disabled sorting_asc_disabled text-right">Acción</th>
                  </tr>
                </thead>
                 <tbody>
                 {% for values in data %}
                  <tr>
                  {% if values.in_activo %}
                  
                    <td ><p class="text-white">{{values.tx_tipo_solicitud}}</p></td>
                    {% else %}
                    
                    <td ><p class="text-danger">{{values.tx_tipo_solicitud}}</p></td>
                  {% endif %}

                    <td ><p class="text-white">{{values.co_instituto.tx_instituto}}</p></td>
                    <td class="text-right">
                      <a href="javascript:void(0)" class="btn btn-link btn-primary btn-icon btn-sm edit validar" data-toggle="modal" data-target="#exampleModal" id="{{values.co_tipo_solicitud}}"><i class="tim-icons icon-pencil"></i></a>
                      <a href="javascript:void(0)" class="btn btn-link btn-primary btn-icon btn-sm edit validar2" data-toggle="modal" data-target="#rutamodal" id="{{values.co_tipo_solicitud}}"><i class="tim-icons icon-components"></i></a>
                    
                     </td>
                  </tr>

                 {% endfor %}
                 
                  </tbody>
                </table>
                </div>
                </div>
                </div>
                </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
        <h2 class="modal-title" id="exampleModalLabel">Modal title</h2>
           <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
           
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
      </div>
      
      <form method="POST" action="{% url 'tipo-solicitud' %}">
      <div class="modal-body">
             {% csrf_token %}
             
            <input id="codigo" name="codigo" type="hidden">
                <div class="form-group col-md-12">
                
                <label class="bmd-label-floating text-white">Tipo Solicidud</label>
                    {{ form.tx_tipo_solicitud}}
                </div>
                 <div class="form-group col-md-12">
                
                <label class="bmd-label-floating text-white">Instituto</label>
                    {{ form.co_instituto}}
                </div>
                <div class="form-group col-md-12">
                
                <label class="bmd-label-floating text-white" id="labelproceso">Proceso</label>
                    {{ form.co_proceso}}
                </div>
                <div class="form-group col-md-12">
                      <p class="category text-white">Estatus</p>
                      <input type="checkbox" checked name="estatus" id="estatus" class="bootstrap-switch" data-on-label="<i class='tim-icons icon-check-2'></i>" data-off-label="<i class='tim-icons icon-simple-remove'></i>" />
                 </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>
        
        <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="btn">Buscar</button>    
      </div>
        </form>
    </div>
  </div>
</div>

<div class="modal fade" id="rutamodal" tabindex="-1" role="dialog" aria-labelledby="rutamodalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
        <div class="row">
        <div class="col-md-12"><h2 class="modal-title" id="rutamodalLabel">Ruta</h2></div>
        <div class="col-md-12"><h3 class="pl-2" id="subtitutlo">Sub Title</h3></div>
        </div>
           <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader2"></div>
           
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>
      </div>
      
      <form method="POST" action="{% url 'ruta' %}">
      <div class="modal-body">
             {% csrf_token %}
             
            <input id="codigo2" name="codigo2" type="hidden">
            
                 <div class="form-group col-md-12">
                
                <label class="bmd-label-floating text-white">Instituto</label>
                    {{ form.co_instituto}}
                </div>
    
                <div class="form-group col-md-12">
                
                <label class="bmd-label-floating text-white" id="labelproceso">Proceso</label>
                    {{ form.co_proceso}}
                </div>
      </div>
      <div class="model-body">
       <div class="card  card-plain">
            <div class="card-body">
            <div class="table-responsive">
       <table id="datatable" class="table tablesorter " id="plain-table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Proceso</th>
                    <th>Instituto</th>
                    <th class="sorting_desc_disabled sorting_asc_disabled text-right">Acción</th>
                  </tr>
                </thead>
                 <tbody id="tproceso">
                 
                  </tbody>
                </table>
                 </div>
                  </div>
                   </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Close</button>
        
        <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" id="btn">Procesar</button>    
      </div>
        </form>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){

$("#loader").hide();

$("#loader2").hide();
    var valores = function(id){
    var cod=id;
    var codigo=parseInt(cod.charAt(cod.length-1));

    return cod;
    }
    
    var advertencia1 = function(e){
        $("#codigo").val(valores(e.currentTarget.id));   
        $("#exampleModalLabel").text("Editar");
        $("#btn").text('Procesar');
        $("#btn").val(3);
        
        $("#id_co_proceso").hide();
        $("#labelproceso").hide();
        
        $("#id_tx_tipo_solicitud").attr('required',true);  
        $("#id_co_instituto").attr('required',true);
        onclick();

    }
        
    var advertencia2 = function(e){
        $("#codigo2").val(valores(e.currentTarget.id));
        onclick2();


    }
      var eliminar = function(e){
        val=valores(e.currentTarget.id);
        onDelet(val);


    }
    var openmodal=function(e){
        $("#codigo").val('');
        var val=valores(e.currentTarget.id)
        if(val==1){

        $("#exampleModalLabel").text("Busqueda");
        $("#btn").text('Buscar');
        $("#btn").val(1);
        
        $("#id_tx_tipo_solicitud").attr('required',false);  
        $("#id_co_instituto").attr('required',false);
        $("#id_co_proceso").hide();
        $("#labelproceso").hide();
        }else{
          
        $("#exampleModalLabel").text("Crear");
        $("#btn").text('Procesar');
        $("#btn").val(2);
        $("#id_co_proceso").show();      
        $("#labelproceso").show();
        
        $("#id_tx_tipo_solicitud").attr('required',true);  
        $("#id_co_instituto").attr('required',true);
        }
        
        $('#id_co_instituto option[value=""]').attr("selected",true);
    }

    var onclick = function(){
        var codigo=$("#codigo").val();

                $('#loader').show();
                $('.validar').attr("disabled", true);
                
                $('#btn').attr("disabled", true);
        var url =window.location.protocol + "//" + window.location.host + "";
               
        $.ajax({
                url: url+'/api/configuracion/tipo-solicitud/',
                type: 'POST',
                data: {
                     'co_tipo_solicitud':codigo
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {

                  $('#loader').hide();
                  
                   $('.validar').attr("disabled", false);
                   
                $('#btn').attr("disabled", false);

                if(arg.success){
                  
                  $.each(arg.data, function(k, v) {
                   
                   $("#id_tx_tipo_solicitud").val(v.tx_tipo_solicitud);
                   if(v.in_activo){
                     
                    $("#estatus").bootstrapSwitch('state', true);
                   }else{
                     
                    $("#estatus").bootstrapSwitch('state', false);
                   }
                   
                  $("#id_co_instituto option[value='"+v.tx_instituto+"']").attr("selected",true);
                  })


                }
                
                },
                error: function (xhr, ajaxOptions, thrownError) {

                  $('#loader').hide();
                  $('.validar').attr("disabled", false);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })
    }
  var onclick2 = function(){
        var codigo=$("#codigo2").val();

                $('#loader2').show();
                $('.validar2').attr("disabled", true);
                
                $('#btn').attr("disabled", true);
        var url =window.location.protocol + "//" + window.location.host + "";
               
        $.ajax({
                url: url+'/api/configuracion/tipo-solicitud/',
                type: 'POST',
                data: {
                     'co_tipo_solicitud':codigo
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {

                  $('#loader2').hide();
                  
                   $('.validar2').attr("disabled", false);
                   
                $('#btn').attr("disabled", false);

                if(arg.success){
                  
                  $.each(arg.data, function(k, v) {
                    
                $("#subtitutlo").text(v.tx_tipo_solicitud);
                    $("#tproceso").empty();
                  $.each(v.ruta, function(k, value) {
                    
                  var tx1='<tr><td><p class="text-white">'+value.nu_orden+'</p></td>';
                  
                  var tx2='<td><p class="text-white">'+value.tx_proceso+'</p></td>';
                  
                  var tx3='<td><p class="text-white">'+value.tx_instituto+'</p></td>';
                  var tx4='<td class="text-right">';
                  
                  var tx5= '<a href="javascript:void(0)" class="btn btn-link btn-danger btn-icon btn-sm edit borrar" id="'+value.co_detalle_ruta+'"><i class="tim-icons icon-trash-simple"></i></a>';
            
                  var tx6='</td></tr>';
                  
                  $("#tproceso").append (tx1+tx2+tx3+tx4+tx5+tx6); 
                   
                  });
                  
                  
                  })


              $('.borrar').on('click', eliminar);
                }
                
                },
                error: function (xhr, ajaxOptions, thrownError) {

                  $('#loader').hide();
                  $('.validar').attr("disabled", false);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })
    }
    var onDelet = function(codigo){
                $('#loader2').show();
                $('.validar2').attr("disabled", true);
                
                $('#btn').attr("disabled", true);
        var url =window.location.protocol + "//" + window.location.host + "";
               
        $.ajax({
                url: url+'/api/configuracion/delete-ruta/',
                type: 'POST',
                data: {
                     'co_detalle_ruta':codigo
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {

                  $('#loader2').hide();
                  
                   $('.validar2').attr("disabled", false);
                   
                $('#btn').attr("disabled", false);

                if(arg.success){
                  
                  $.each(arg.data, function(k, v) {
                    
                $("#subtitutlo").text(v.tx_tipo_solicitud);
                    $("#tproceso").empty();
                  $.each(v.ruta, function(k, value) {
                    
                  var tx1='<tr><td><p class="text-white">'+value.nu_orden+'</p></td>';
                  
                  var tx2='<td><p class="text-white">'+value.tx_proceso+'</p></td>';
                  
                  var tx3='<td><p class="text-white">'+value.tx_instituto+'</p></td>';
                  var tx4='<td class="text-right">';
                  
                  var tx5= '<a href="javascript:void(0)" class="btn btn-link btn-danger btn-icon btn-sm edit borrar" id="'+value.co_detalle_ruta+'"><i class="tim-icons icon-trash-simple"></i></a>';
            
                  var tx6='</td></tr>';
                  
                  $("#tproceso").append (tx1+tx2+tx3+tx4+tx5+tx6); 
                   
                  });
                  
                  
                  })

                
              $('.borrar').on('click', eliminar);
                }
                
                },
                error: function (xhr, ajaxOptions, thrownError) {

                  $('#loader').hide();
                  $('.validar').attr("disabled", false);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })
    }
    $('.validar').on('click', advertencia1);
    
    $('.validar2').on('click', advertencia2);
    
    $('.borrar').on('click', eliminar);

     $('.wasa').on('click', openmodal);

});

</script>


{% endblock javascripts %}