#grad {
    background-image: radial-gradient(circle, rgb(3, 0, 0), rgb(17, 11, 2), rgb(46, 31, 4));
    background-repeat: no-repeat;
    background-attachment: fixed;
}


img {
    width: 100%;
    max-width: 300px;
    height: auto;
}




/*COSAS DE MATERIALIZE*/
 table.highlight>tbody>tr:hover {
    background-color: #616161;      /* whatever color you want */
}

nav div ul a:hover {
    /*background-color: #221700 !important;*/
    background-color: #424242 !important;
}

li a:hover {
    /*background-color: #221700 !important;*/
    background-color: #424242 !important;
}

.input-field label {
    color: #e0e0e0;
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: #000;
}
.input-field input[type=text]:disabled+label {
    color:  #e0e0e0;
}


.input-field label { pointer-events: all; }
/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #00e676;
    box-shadow: 0 1px 0 0 #000;
}

/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #e65100;
    box-shadow: 0 1px 0 0 #000;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: #000;
}

ul.dropdown-content.select-dropdown li span {
    color: #000  !important;
}

.msg {
    width:100%;
    border: 1px solid;
    padding:10px;
    margin: 20px;
    color: grey;
  }
  .msg-error {
    border-color: #dd2c00;
    background-color: #ff3d00;
    color: white;
  }
  .msg-alert {
    border-color: #ef6c00;
    background-color: #ff9100;
    color: white;
  }
  
  .msg-info{
    border-color: #01579b;
    background-color: #0277bd;
    color: white;
  }

  .msg-success{
    border-color: #00c853;
    background-color: #00e676;
    color: black;
  }

  .card-header-primary2{background-color: #ffab00;}
  .btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
      color: #fff;
      background-color: #ffc400;
      border-color: #285e8e; /*set the color you want here*/
  }