.tabbable-panel {
    border: 0;
    padding: 10px;
}


/*.tabbable-line {
    border: 0;
    border-bottom: 2px solid #ffffff;
    padding: 0px 0;
}*/


/* Default mode */

.tabbable-line>.nav-tabs {
    border: none;
    margin: 0px;
}

.tabbable-line>.nav-tabs>li {
    padding: 10px;
}

.tabbable-line>.nav-tabs>li>a {
    border: 0;
    margin-right: 0;
    color: #e0e0e0;
}

.tabbable-line>.nav-tabs>li>a>i {
    color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open,
.tabbable-line>.nav-tabs>li:hover {
    /*border-bottom: 2px solid #f9a825;*/
}

.tabbable-line>.nav-tabs>li.open>a,
.tabbable-line>.nav-tabs>li:hover>a {
    border: 0;
    background: none !important;
    border-bottom: 2px solid #f9a825;
    /*color: #f9a825;*/
}

.tabbable-line>.nav-tabs>li.open>a>i,
.tabbable-line>.nav-tabs>li:hover>a>i {
    color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open .dropdown-menu,
.tabbable-line>.nav-tabs>li:hover .dropdown-menu {
    margin-top: 0px;
}

.tabbable-line>.nav-tabs>li.active {
    position: relative;
}

.tabbable-line>.nav-tabs>li.active>a {
    border: 0;
    color: #f9a825;
    border-bottom: 2px solid #a06b01;
}

.tabbable-line>.nav-tabs>li.active>a>i {
    color: #f9a825;
}

.tabbable-line>.tab-content {
    border: 0;
    border-bottom: 2px solid #ffffff;
    padding: 0px 0;
}

.portlet .tabbable-line>.tab-content {
    padding-bottom: 0;
}


/* Below tabs mode */

.tabbable-line.tabs-below>.nav-tabs>li {
    border-top: 4px solid transparent;
}

.tabbable-line.tabs-below>.nav-tabs>li>a {
    margin-top: 0;
}

.tabbable-line.tabs-below>.nav-tabs>li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
}

.tabbable-line.tabs-below>.nav-tabs>li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
}

.tabbable-line.tabs-below>.tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}