{% extends 'inicio/base2.html' %}
<!--Transferencia-->
{% block title %} Enviar {% endblock title %} 
{% block content %}
{% load static %}
<style>
    .text-overflow {
        width: 100px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>
<div class="row">

    {% if msg != '' %}
    {% if success == 1%}   
    {% include 'includes/msj-success.html' %}
    
    {% else%}   
    {% include 'includes/msj-danger.html' %}
    {% endif %}
    
    {% endif %}
    </div>

    <div class="row ">
            <div class="card ">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h2 class="card-title">Enviar</h2>
                        <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader"></div>
                    </div>
                </div>
                <form id="formtransferencia">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <li class="dropdown-divider"></li>
                                <h4 class="card-title text-primary">Moneda</h4>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <p for="co_moneda">Tipo Moneda</p>
                                            <!--<label class="bmd-label-floating text-white" for="co_moneda">Tipo Moneda</label>-->
                                            {{ form.co_moneda}}
                                            <span class='help-block text-danger' id='err_co_moneda'></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="form-group">
                                            <p for="tx_balance">Balance disponible</p>
                                            <!--<label class="bmd-label-floating text-white" for="tx_balance">Balance disponible</label>-->
                                            {{form.tx_balance}} {% if form.errors.tx_balance %}<span class="help-block text-red">{{ form.errors.tx_balance }}</span>{% endif %}
                                        </div>
                                    </div>
                                </div>
                                <li class="dropdown-divider"></li>
                                <h4 class="card-title text-primary">Usuario</h4>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="check">
                                                    <!--<p for="check">Usuario no registrado</p>-->
                                                    <label class="custom-control-label" for="check">Usuario no registrado</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <div id="divusu1" class="form-group">
                                                <p for="username">Usuario</p>
                                                <!--<label class="bmd-label-floating text-white" for="username" id="labelu">Usuario</label>-->
                                                {{ form.username}} {% if form.errors.username %}<span class="help-block text-red">{{ form.errors.username }}</span>{% endif %}
                                                <span class='help-block text-danger' id='err_username'></span>
                                            </div>
                                       
                                       
                                            <div id="divusu2" class="form-group">
                                                <p for="usernamedir">Usuario directorio</p>
                                                <!--<label class="bmd-label-floating text-white" for="usernamedir">Usuario directorio</label>-->
                                                {{ form.usernamedir}}
                                                <span class='help-block text-danger' id='err_usernamedir'></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <li class="dropdown-divider"></li>
                                <h4 class="card-title text-primary">Monto</h4>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <p for="nu_monto">Monto a enviar</p>
                                            <!--<label class="bmd-label-floating text-white" for="nu_monto">Monto a enviar</label>-->
                                            {{ form.nu_monto}}
                                            <span class='help-block text-danger' id='err_nu_monto'></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <p for="nu_comision">Comisión (XLM)</p>
                                            <!--<label class="bmd-label-floating text-white" for="nu_comision">Comisión</label>-->
                                            {{ form.nu_comision}} {% if form.errors.nu_comision %}<span class="help-block text-red">{{ form.errors.nu_comision }}</span>{% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4" id="divtotal">
                                        <div class="form-group">
                                            <p for="nu_total">Total a debitar</p>
                                            <!--<label class="bmd-label-floating text-white" for="nu_total">Total a debitar del balance</label>-->
                                            {{ form.nu_total}} {% if form.errors.nu_total %}<span class="help-block text-red">{{ form.errors.nu_total }}</span>{% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!--/////// cuadro para el memo ///////-->
                                <li class="dropdown-divider"></li>
                                <h4 class="card-title text-primary">Memo</h4>
                                <div class="container">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="checkmemo">
                                                <label class="custom-control-label" for="checkmemo">Memo (Opcional)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divmemo" class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating text-white" for="co_memo">tipo Memo</label> {{ form.co_memo}} {% if form.errors.co_memo %}<span class="help-block text-red">{{ form.errors.co_memo }}</span>{% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <textarea class="form-control border" rows="3" id="textarea"></textarea>
                                                    <span class='help-block text-danger' id='errme'></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{form.nu_balance}} {{form.nu_limite}}
                        <li class="dropdown-divider"></li>
                        <div class="card-footer text-center">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href='javascript:void(0)' class="btn btn-fill btn-primary container waves-effect text-dark" name="procesar" id="btnprocesar" disabled>Procesar</a>
                                </div>
                                <div class="col-md-12">
                                    <div id="alertdiv"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        <div id="datacontainer">
            {% for values in activos %}
            <input id="a{{ forloop.counter }}" name="a{{ forloop.counter }}" type="hidden" value="{{ values.nu_balance}}">
            <input id="b{{ forloop.counter }}" name="b{{ forloop.counter }}" type="hidden" value="{{ values.nu_limit}}">
            <input id="c{{ forloop.counter }}" name="c{{ forloop.counter }}" type="hidden" value="{{ values.tx_asset_issuer}}"> {% endfor %}
        </div>
    </div>


<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="border-primary modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="detalleModalLabel"></h2>
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loader2"></div>
                </div>
            </div>
            <div class="modal-body">
                <div id="divimagen" class="d-flex justify-content-center">
                    <img src="{% static 'img/check_PPG.png' %}" alt="" width="150" height="150" id="imagencheck">
                </div>
                <div id="divseguro">
                    <div class="table-responsive">
                        <table class="table tablesorter table-hover" id="">
                            <tbody>
                                <tr id="trdestinatario">
                                    <td>
                                        <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                                            <p class="text-primary">Destinarario:</p>
                                            <p class="text-white text-overflow" id="span_usuario">Papaya</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-8 col-lg-8 col-md-8 col-sm-8">
                                            <p class="text-primary">Llave pública:</p>
                                            <span data-toggle="popover" data-placement="top" id="popoverpublic">
                                            
                                                <p class="text-white" id="span_public">Papaya</p>
                                       
                                            </span> </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                                            <p class="text-primary">Monto:</p>
                                            <p class="text-white text-overflow" id="span_monto">Papaya</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                                            <p class="text-primary">Comisión:</p>
                                            <p class="text-white text-overflow" id="span_comision">Papaya</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="trmemo1">
                                    <td>
                                        <p class="text-primary">Memo:</p>
                                    </td>
                                </tr>
                                <tr id="trmemo2">
                                    <td>
                                        <p class="text-white" id="p_memo"></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="divcompletado">
                </div>
                <div class="container" id="divnewdic">
                    <p class="card-text">
                        <div class="row">
                            <div class="form-group col-md-12 ">
                                <p class="text-white">¿Desea registrar al usuario al cual transfirio?</p>
                            </div>
                            <div class="form-group col-md-12 ">
                                <label class="bmd-label-floating text-white" for="tx_apodo">Nuevo usuario</label> {{ form.tx_apodo}} {% if form.errors.tx_apodo %}<span class="help-block text-red">{{ form.errors.tx_apodo }}</span>{% endif %}
                            </div>
                        </div>
                    </p>
                    <input type="hidden" name="newusuariopublic" id="newusuariopublic" value="">
                </div>
                <!--Quizas mas adelante haga falta poner fecha-->
            </div>
            <div class="container">
                <div class="row">
                    <div class="d-flex justify-content-center col-md-12">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-sm-6">
                                <a class="btn btn-primary text-dark" href='javascript:void(0)' id="btncerrar" data-dismiss="modal" aria-label="Close">
                                        Cerrar
                                    </a>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-sm-6">
                                <a class="btn btn-primary text-dark agr" href='javascript:void(0)' id="btnmodal">Procesar</a>
                                <a class="btn btn-primary text-dark" href='javascript:void(0)' id="btnenviar">Enviar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="divalertamodal"></div>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block text-dark" href='javascript:void(0)' id="btnnuevo">
                                Agregar nuevo contacto
                            </a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<input id="llavePublica" name="llavePublica" type="hidden" value="{{ publico }}">
<input id="token" name="token" type="hidden" value="{{token}}">
<input id="in_tipo_busqueda" name="in_tipo_busqueda" type="hidden" value="0"> {% endblock content %} {% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/7.0.0/stellar-sdk.js" integrity="sha512-7UiifYw3IcKJHf3suEDr1yWa8rHVWW6xjuFiZ5kANlJ3Cncg8c9JE/wGJRfl72ckMD+ZidUeVx+/lNAUYk+t1g==" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {

        setFormValidation('#formtransferencia');
        const co_tipo_solicitud = "{{ co_tipo_solicitud }}";
        const comisionppg = "{{ comision }}";
        const fcomisionppg = parseFloat(comisionppg.replace(",", "."));
        const co_comision = "{{ co_comision }}";
        const server = new StellarSdk.Server('https://horizon.stellar.org');
        var destinatario = false;
        var memo = "";
        var fee = "";
        var asset = StellarSdk.Asset.native();
        var feenumero = 0;
        var nuevo = false;
        var primero = false;
        //$('[data-toggle="popover"]').popover();

        const url = window.location.protocol + "//" + window.location.host + "";
        var msjstellar = "{{msjstellarjson | escapejs }}";
        msjstellar = JSON.parse(msjstellar);
        var misactivos = "{{misactivosjson | escapejs }}";
        misactivos = JSON.parse(misactivos);
        activo_selected = false;

        //--------validar campos
        var input_moneda_valido = false;
        var input_usuario_valido = false;
        var input_monto_valido = false;

        $("#divtotal").hide();
        $("#divimagen").hide();
        $("#imagencheck").hide();
        $("#divseguro").hide();
        $("#divcompletado").hide();
        $("#parte2").hide();
        $('#loader').hide();
        $('#loader2').hide();
        $("#divusu1").hide();
        $("#btnenviar").hide();
        $("#btnnuevo").hide();
        $("#divmemo").hide();

        var getPublicUsuario = async function() {
            try {
                if ($("#in_tipo_busqueda").val() == "0") {
                    usuario = $('#id_usernamedir').val();
                } else {
                    usuario = $('#id_username').val();
                }
                let response = await $.ajax({
                    url: url + '/api/v3/usuario/getPublic/',
                    type: 'POST',
                    data: {
                        'tipo': $("#in_tipo_busqueda").val(),
                        'field': usuario,
                    },
                    headers: {
                        "Authorization": 'token ' + $("#token").val()
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    }
                });
                return response;
            } catch (error) {
                console.log(error);
                newMensaje("Ha ocurrido un error. Recargue la pagina", "errors", "danger", "alertdiv");
                $("#btnprocesar").attr("disabled", false);
                $('#loader').hide();
                return false;
            }
        }

        function validarGeneral() {
            if (input_moneda_valido && input_monto_valido && input_usuario_valido) {
                $("#btnprocesar").attr("disabled", false);
            } else {
                $("#btnprocesar").attr("disabled", true);
            }
        }

        async function validarCampos() {
            let co_moneda = $("#id_co_moneda").val();
            let content = {
                "success": true,
                "msg": ""
            }
            if ($("#id_nu_monto").val() == "") {
                content.success = false;
                content.msg = "El campo monto no puede estar vacio";
            }
            if ($("#id_nu_monto").val() > 0) {
                if (fee == "") {
                    $('#loader').show();
                    fee = await server.fetchBaseFee();
                    fee += 1100;
                    feenumero = parseFloat(fee) * 0.0000001;
                }
            } else {
                content.success = false;
                content.msg = "El monto no puede ser menor o igual a cero";
            }
            let tb = parseFloat($("#id_tx_balance").val().replace(",", "."));
            let tl = 99999999999999;
            if (activo_selected.tx_asset_code == "XLM") {
                var tm = parseFloat($("#id_nu_monto").val()) + feenumero + fcomisionppg;
            } else {
                var tm = parseFloat($("#id_nu_monto").val());
            }
            if (activo_selected.nu_limit != undefined) {
                if (activo_selected.nu_limit != "-" && activo_selected.nu_limit != "") {
                    tl = parseFloat(activo_selected.nu_limit.replace(",", "."));
                }
            } else {
                content.success = false;
                content.msg = "Debe seleccionar un activo";
            }
            //console.log(tl);
            //console.log(tm.toFixed(9) + "-" + tb.toFixed(9));
            //console.log(verdad+"-"+verdad2);
            if (parseFloat(tm.toFixed(9)) > parseFloat(tb.toFixed(9))) {
                content.success = false;
                content.msg = "No dispone de esa cantidad en su balance";
            }
            //console.log(verdad+"-"+verdad2);
            if (parseFloat(tm.toFixed(9)) > parseFloat(tl.toFixed(9))) {
                content.success = false;
                content.msg = "El monto no puede ser mayor a tu limite";
            }
            //console.log(verdad+"-"+verdad2);
            if ($("#id_nu_monto").val() == 0) {
                content.success = false;
                content.msg = "El monto no puede ser igual a cero";
            }
            //console.log(verdad+"-"+verdad2);
            //console.log($("#id_co_moneda").val());
            //console.log(verdad+"-"+verdad2);
            if (content.success) {
                //console.log("wasas");
                //$("#id_nu_comision").attr("disabled",false);
                $("#id_nu_comision").val(feenumero + fcomisionppg);
                $("#id_nu_comision").blur();
                $("#id_nu_total").val(tm);
                $("#id_nu_total").blur();
                //$("#id_nu_total").attr("disabled",true);
                $("#id_nu_monto").closest('.form-group').removeClass('has-danger').addClass('has-success');
                $("#id_nu_monto").closest('.form-check').removeClass('has-danger').addClass('has-success');
                $("#err_nu_monto").text("");
                $('#loader').hide();
            } else {
                fee = "";
                feenumero = 0;
                $("#btnprocesar").attr("disabled", true);
                //$("#id_nu_comision").attr("disabled",false);
                $("#id_nu_comision").val("");
                $("#id_nu_comision").blur();
                //$("#id_nu_comision").attr("disabled",true);
                //$("#id_nu_total").attr("disabled",false);
                $("#id_nu_total").val("");
                $("#id_nu_total").blur();
                //$("#id_nu_total").attr("disabled",true);
                $('#loader').hide();
                $("#id_nu_monto").closest('.form-group').removeClass('has-success').addClass('has-danger');
                $("#id_nu_monto").closest('.form-check').removeClass('has-success').addClass('has-danger');
                $("#err_nu_monto").text(content.msg);
            }
            input_monto_valido = content.success;
            return content.success;
        }

        $("#id_nu_monto").on('keyup', async function() {
            //console.log("gola");
            await validarCampos();
            validarGeneral();
        });

        $("#check").click(function() {
            input_usuario_valido = false;
            $("#id_username").closest('.form-group').removeClass('has-success').addClass('has-danger');
            $("#id_username").closest('.form-check').removeClass('has-success').addClass('has-danger');
            $("#id_usernamedir").closest('.form-group').removeClass('has-success').addClass('has-danger');
            $("#id_usernamedir").closest('.form-check').removeClass('has-success').addClass('has-danger');
            if ($('#divusu1').is(':visible')) {
                $("#in_tipo_busqueda").val("0");
                $('#divusu2').show();
                $('#divusu1').hide();
            } else {
                $("#in_tipo_busqueda").val("1");
                $('#divusu1').show();
                $('#divusu2').hide();
            }
            //console.log($("#in_tipo_busqueda").val());
            $('#id_usernamedir').val('');
            $('#id_username').val('');
            $('#id_usernamedir').selectpicker("refresh");
        });
        $("#checkmemo").click(function() {
            if ($('#divmemo').is(':visible')) {
                $('#divmemo').hide();
            } else {
                $('#divmemo').show();
            }
            $("#id_co_memo").val("1");
            $('#textarea').val('');
        });
        $("#id_co_memo").on('change', function() {
            $("#textarea").closest('.form-group').removeClass('has-danger');
            $("#textarea").closest('.form-check').removeClass('has-danger');
            $("#textarea").closest('.form-group').removeClass('has-success');
            $("#textarea").closest('.form-check').removeClass('has-success');
            $("#textarea").val("");
            $("#errme").text("");
        });
        $("#textarea").on('keyup', function() {
            code = $("#id_co_memo").val();
            try {
                switch (code) {
                    case "1":
                        memo = StellarSdk.Memo.text($("#textarea").val());
                        break;
                    case "2":
                        memo = StellarSdk.Memo.id($("#textarea").val());
                        break;
                    case "3":
                        memo = StellarSdk.Memo.hash($("#textarea").val());
                        break;
                    case "4":
                        memo = StellarSdk.Memo.return($("#textarea").val());
                        break;

                    default:
                        memo = StellarSdk.Memo.text($("#textarea").val());
                }
                $("#textarea").closest('.form-group').removeClass('has-danger').addClass('has-success');
                $("#textarea").closest('.form-check').removeClass('has-danger').addClass('has-success');
                $("#errme").text("");
            } catch (err) {
                console.log(err.message);
                $("#textarea").closest('.form-group').removeClass('has-success').addClass('has-danger');
                $("#textarea").closest('.form-check').removeClass('has-success').addClass('has-danger');
                $("#errme").text("Ha ocurrido un error con el memo, vuelve a ingresarlo");
            }
        });

        var getCuenta = async function(public) {
            try {

                let response = await server.loadAccount(public);
                //console.log("Aquiooo");
                return response;

            } catch (error) {
                //console.log(error);
                newMensaje("Ha ocurrido un error", "errors", "danger", "alertdiv");
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "alertdiv");
                } else {
                    console.log(error);
                    newMensaje("Ha ocurrido un error. Recargue la pagina", "errors2", "danger", "alertdiv");
                }
                $('#loader').hide();
                $("#btnprocesar").attr("disabled", false);

                return false;
            }
        }
        async function sendAfiliacion(codigo,public) {
            try {
                console.log("aqui-papa")
                let response = await $.ajax({
                    url: url + '/api/afiliado/transaccion/',
                    type: 'POST',
                    data: {
                        'tx_codigo': codigo,
                        'nu_monto': fcomisionppg,
                        'co_comision': co_comision,
                        'tipo':1,
                        'destino':public
                    },
                    headers: {
                        "Authorization": 'token ' + $("#token").val()
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    }
                });
                return response;

            } catch (error) {
                console.log(error);
                newMensaje("Ha ocurrido un error. Recargue la pagina", "errors", "danger", "alertdiv");
                //newMensaje(error, "def", "danger", "alertdiv");
                return false;
            }

        }

         async function sendAfiRecompensa(hash,public) {
            try {
                let response = await $.ajax({
                    url: url + '/api/afiliado/recompensa/',
                    type: 'POST',
                    data: {
                        'hash': hash,
                        'destino':public
                    },
                    headers: {
                        "Authorization": 'token ' + $("#token").val()
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    }
                });
                return response;

            } catch (error) {
                console.log(error);
                newMensaje("Ha ocurrido un error. Recargue la pagina", "errors", "danger", "alertdiv");
                //newMensaje(error, "def", "danger", "alertdiv");
                return false;
            }

        }


        async function makeTransaccion(cuenta, destino, asset, memo) {

            try {
                if (asset.code != "XLM" && !destino.activo) {
                    newMensaje("La cuenta destinataria no esta activa", "errorse", "danger", "alertdiv");
                    return false;
                }
                var transaction = new StellarSdk.TransactionBuilder(cuenta, {
                    fee,
                    "networkPassphrase": StellarSdk.Networks.PUBLIC
                });

                if (destino.activo) {
                    transaction = transaction.addOperation(
                        StellarSdk.Operation.payment({
                            destination: destino.public,
                            asset: asset,
                            amount: $("#id_nu_monto").val(),
                        })
                    );
                } else {
                    transaction = transaction.addOperation(
                        StellarSdk.Operation.createAccount({
                            destination: destino.public,
                            startingBalance: $("#id_nu_monto").val(),
                        })
                    );
                }
                transaction = transaction.addOperation(
                    StellarSdk.Operation.payment({
                        destination: "GCEOQCK55IEOM6FAWVMW7L2NZQVKZHEECCKSJSAQKRHI2UHRD2UFEMUE",
                        asset: StellarSdk.Asset.native(),
                        amount: String(fcomisionppg),
                    })
                );
                if ($("#textarea").val() != "") {
                    transaction = transaction.addMemo(memo)
                }

                transaction = transaction.setTimeout(30).build();
                //console.log(transaction);
                //console.log($("#in_tipo_busqueda").val());

                let keypair = StellarSdk.Keypair.fromSecret(sessionStorage.getItem('merma'));
                transaction.sign(keypair);

                let transresultado = await server.submitTransaction(transaction);
                if (transresultado.hash != undefined) {
                    let resp_afi = await sendAfiliacion(transresultado.hash,destino.public);
                    //let resp_recom = await sendAfiRecompensa(transresultado.hash,destino.public);
                }




                $("#btnenviar").hide();
                $("#divimagen").show();
                $("#imagencheck").show();
                $("#detalleModalLabel").text("Transacción realizada con éxito!");
                newMensaje("La transacción ha sido realizada sactifactoriamente", "bien", "success", "divalertamodal");
                //console.log($("#in_tipo_busqueda").val());
                if ($("#in_tipo_busqueda").val() != "0" && destinatario.nuevo) {
                    newMensaje("¿Deseas agregar este nuevo usuario a tu directorio?", "bien2", "info", "divalertamodal");

                    $("#btnnuevo").show();

                }

                try {
                    var url = window.location.protocol + "//" + window.location.host + "";
                    if (transaction._operations[0].asset != undefined) {
                        var codigoo = transaction._operations[0].asset.code;
                        var montoo = transaction._operations[0].amount;
                    } else {
                        var codigoo = "XLM";
                        var montoo = transaction._operations[0].startingBalance;
                    }
                    var obj = {
                        "b_emisor": transaction._source,
                        "code": codigoo,
                        "monto": montoo,
                        "b_receptor": transaction._operations[0].destination
                    };
                    var datos_notif = JSON.stringify(obj);
                    let response = await $.ajax({

                        url: url + '/api/v3/usuario/notificaciones/',
                        type: 'POST',
                        data: obj,
                        headers: {
                            "Authorization": 'token ' + $("#token").val()
                        },
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        }
                    });

                    return response

                } catch (error) {
                    newMensaje('Ha ocurrido un error al enviar la notificación', "errors2", "danger", "divalertamodal");
                }
                //notificacion 


                return transresultado;





            } catch (error) {
                //console.log(error);
                //newMensaje("Ha ocurrido un error", "errors", "danger", "divalertamodal");
                if (error.response) {
                    printMsjStellar(error.response, msjstellar, "danger", "divalertamodal");
                } else {
                    console.log(error)
                    newMensaje("Ha ocurrido un error. Recargue la pagina", "errors2", "danger", "divalertamodal");
                }
                $('#loader').hide();
                $('#loader2').hide();
                $("#btnprocesar").attr("disabled", false);
                return false;

            }


        }
        var pintarBalance = function() {
            let co_moneda = $("#id_co_moneda").val();
            let co_issuer = $("#id_co_moneda option:selected").text();
            $.each(misactivos, function(idx, act) {
                if (act.tx_asset_code == co_issuer && act.tx_asset_issuer == co_moneda) {
                    activo_selected = act;
                    if (co_moneda == "") {
                        asset = StellarSdk.Asset.native();
                    } else {
                        asset = new StellarSdk.Asset(act.tx_asset_code, act.tx_asset_issuer);
                    }


                    $("#id_tx_balance").val(act.nu_balance);
                    $("#id_tx_balance").focus();
                    $("#id_tx_balance").blur();
                    $("#id_nu_balance").val(act.nu_balance);

                    let limitf = parseFloat(act.nu_limit)

                    //$("#id_tx_limite").val(limitf.toFixed(2));
                    //$("#id_tx_limite").focus();
                    //$("#id_tx_limite").blur();
                    //$("#id_nu_limite").val(act.nu_limit);


                }

            });

        }
        var uptadeBalance = async function() {

            try {

                let response = await $.ajax({
                    url: url + '/api/v3/get-asset-account/',
                    type: 'POST',
                    data: {
                        'publico': $("#llavePublica").val()
                    },
                    headers: {
                        "Authorization": 'token ' + $("#token").val()
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    }
                });

                if (response.success) {
                    misactivos = response.datos


                    $("#id_co_moneda").on('change', function() {


                        pintarBalance();

                        $("#id_nu_comision").val("");
                        $("#id_nu_monto").val("");
                        $("#id_nu_total").val("");

                        if (activo_selected.tx_asset_code == "XLM") {
                            $("#divtotal").show();
                        } else {
                            $("#divtotal").hide();
                        }

                        if ($("#id_co_moneda").val() != 0) {
                            input_moneda_valido = true;
                        } else {
                            input_moneda_valido = false;
                        }

                        /*if (primero) {
                            validarCampos();

                        } else {
                            primero = true;
                        }*/

                    });

                    pintarBalance();
                }
            } catch (error) {

                //console.log(error);
            }


        }
        $("#btnnuevo").on('click', async function() {
            $("#divimagen").hide();
            $("#imagencheck").hide();
            $("#divseguro").hide();
            $("#detalleModalLabel").text("Nuevo contacto");
            $("#btnmodal").show();
            $("#divnewdic").show();
            $("#newusuariopublic").val(destinatario);
            $("#btnnuevo").hide();
            $("#divalertamodal").html("");

        });
        $("#btnenviar").on('click', async function() {
            $("#btnenviar").attr("disabled", true);
            $('#loader2').show();

            if (destinatario) {
                let cuenta = await getCuenta($("#llavePublica").val());
                if (await cuenta) {
                    //console.log("awqui");
                    let transaccion = await makeTransaccion(await cuenta, destinatario, asset, memo);
                    if (await transaccion) {
                        //console.log($("#in_tipo_busqueda").val());

                        $("#tx_apodo").val('');

                        $("#btnprocesar").attr("disabled", true);

                        $("#id_nu_comision").val("");
                        $("#id_nu_comision").blur();
                        $("#id_nu_total").val("");
                        $("#id_nu_total").blur();

                        $("#id_nu_monto").val(0);



                        $('#loader2').hide();

                        let balance = await uptadeBalance();

                    } else {
                        $("#btnenviar").attr("disabled", false);
                    }
                } else {
                    $("#btnenviar").attr("disabled", false);
                }
            }


        });
        $("#btnprocesar").on('click', async function() {
            $('#loader').show();
            $("#btnprocesar").attr("disabled", true);
            $("#divimagen").hide();
            $("#imagencheck").hide();

            let destino = await getPublicUsuario();
            console.log(destino);
            destinatario = destino;
            if (destinatario.public == destinatario.usuario) {
                $("#trdestinatario").hide();
            } else {
                $("#trdestinatario").show();
            }
            $("#divalertamodal").html("");
            $("#btnnuevo").hide();
            $("btnenviar").attr("disabled", false);
            //let codi = $("#id_co_moneda").val();
            $("#btnmodal").hide();
            $("#divnewdic").hide();
            $("#id_tx_apodo").val("");
            $("#newusuariopublic").val("");
            $("#detalleModal").modal('show');
            $('#loader').hide();
            $("#btnprocesar").attr("disabled", false);


            $("#detalleModalLabel").text("Resumen de la transacción");
            $("#divseguro").show();

            $("#span_usuario").text(destino.usuario);
            $("#span_public").text(destino.recortado);
            
            $("#popoverpublic").popover("dispose");
            $("#popoverpublic").popover({
                content:destino.public
            });
            $("#popoverpublic").popover("update");
            console.log('aca');
            $("#span_monto").text($("#id_nu_monto").val() + " (" + asset.code + ")");
            $("#span_comision").text(comisionppg + " (XLM)");
            //console.log(memo);
            if ($("#textarea").val() != "") {
                $("#trmemo1").show();
                $("#p_memo").text(memo._value);
            } else {
                $("#trmemo1").hide();
                $("#trmemo2").hide();
            }
            $("#btnenviar").show();



        });

        $("#btnmodal").on('click', function() {
            $('#loader2').show();
            $("#btnmodal").attr("disabled", true);

            var url = window.location.protocol + "//" + window.location.host + "";
            $.ajax({
                url: url + '/api/v3/usuario/newDirect/',
                type: 'POST',
                data: {
                    'tx_apodo': $("#id_tx_apodo").val(),
                    'newusuariopublic': destinatario.public,
                },
                headers: {
                    "Authorization": 'token ' + $("#token").val()
                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function(arg) {

                    if (arg.success) {

                        $("#btnmodal").hide();
                        newMensaje("El usuario se a agregado sactifactoriamente", "bien", "success", "divalertamodal");



                    } else {
                        newMensaje("Ha ocurrido un error", "bien", "success", "divalertamodal");
                        $("#btnmodal").attr("disabled", false);
                    }





                    $('#loader2').hide();

                }
            })

        });
        $("#id_username").on('keyup', function() {
            if ($("#id_username").val() != "") {
                input_usuario_valido = true;
                $("#id_username").closest('.form-group').removeClass('has-danger').addClass('has-success');
                $("#id_username").closest('.form-check').removeClass('has-danger').addClass('has-success');
                $("#err_username").text("");

            } else {
                input_usuario_valido = false;
                $("#id_username").closest('.form-group').removeClass('has-danger').addClass('has-success');
                $("#id_username").closest('.form-check').removeClass('has-danger').addClass('has-success');
                $("#err_username").text("Debe definir un usuario/direccion detisno");
            }
            //console.log(input_usuario_valido);
            validarGeneral();
        });

        $("#id_usernamedir").on('change', function() {
            //($("#id_usernamedir").val());
            if ($("#id_usernamedir").val() != "") {
                $("#id_usernamedir").closest('.form-group').removeClass('has-danger').addClass('has-success');
                $("#id_usernamedir").closest('.form-check').removeClass('has-danger').addClass('has-success');
                $("#err_usernamedir").text("");
                input_usuario_valido = true;
            } else {
                input_usuario_valido = false;
                $("#id_usernamedir").closest('.form-group').removeClass('has-danger').addClass('has-success');
                $("#id_usernamedir").closest('.form-check').removeClass('has-danger').addClass('has-success');
                $("#err_usernamedir").text("Debe seleccionar un usuario de su directorio");
            }
            //console.log(input_usuario_valido);

            validarGeneral();

        });


        $("#id_co_moneda").on('change', function() {
            pintarBalance();
            $("#id_nu_comision").val("");
            $("#id_nu_monto").val("");
            $("#id_nu_total").val("");

            $("#id_nu_monto").closest('.form-group').removeClass('has-success').removeClass('has-danger');
            $("#id_nu_monto").closest('.form-check').removeClass('has-success').removeClass('has-danger');
            $("#err_nu_monto").text("");
            input_monto_valido = false;


            if (activo_selected.tx_asset_code == "XLM") {
                $("#divtotal").show();
            } else {
                $("#divtotal").hide();
            }

            if ($("#id_co_moneda").val() != 0 || $("#id_co_moneda option:selected").text() == "XLM") {
                $("#id_nu_monto").attr("onfocus", "");
                $("#id_co_moneda").closest('.form-group').addClass('has-success').removeClass('has-danger');
                $("#id_co_moneda").closest('.form-check').addClass('has-success').removeClass('has-danger');
                $("#err_co_moneda").text("");
                input_moneda_valido = true;
            } else {
                $("#id_nu_monto").attr("onfocus", '$(this).blur()');
                $("#id_co_moneda").closest('.form-group').removeClass('has-success').addClass('has-danger');
                $("#id_co_moneda").closest('.form-check').removeClass('has-success').addClass('has-danger');
                $("#err_co_moneda").text("Debe seleccionar algun activo");
                input_moneda_valido = false;
            }

            validarGeneral();

            /*if (primero) {
                validarCampos();
            } else {
                primero = true;
            }*/

        });

    });
</script>
{% endblock %}