{% extends 'inicio/base2.html' %}

{% block title %}
Transferencia
{% endblock title %}

{% block content %}

<div class="row">

{% if msg != '' %}
{% if success is True %}   

{% include 'includes/msj-success.html' %}
{% else %}
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
</div>
 <div class="row ">
    <div class="col-md-6 col-lg-6 text-center">
    <form method="POST" action="{% url 'reporte-transferencia' co_solicitud=co_solicitud %}">
        {% csrf_token %}
        <input type="submit" value="Imprimir" class="btn btn-primary text-dark" name="Imprimir"/>
    </form>
   <form method="POST" action="{% url 'transfsuccess' co_tipo_solicitud=co_tipo_solicitud %}">
        {% csrf_token %}


  <div class="card">

   <div class="card-header">
        
                  <h2 class="card-title">Transferencia Interno</h2>
          
          </div>

         <div class="card-body">
         <div class="container">
         
        <p class="card-text">
           <div class="row">
          <p class="text-white">Su transacción ha sido realisada con exito</p>
          </div>

{% if nuevo %}

          <div class="row">
          <p class="text-white">¿Desea registrar al usuario al cual transfirio?</p>
          </div>
          
</p>
          <div class="row">
                <div class="form-group  col-md-6 ">
                  <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="check">
                  <label class="custom-control-label" for="check"></label>
                </div>
                  
                </div>



      
            <input type="hidden"  name="co_usuario" value={{data}}>
        </div>
{% endif %}

        
        </div>
    
     
        </div>
             <li class="dropdown-divider"></li>
        <div class="card-footer text-center">
          <input type="submit" value="Continuar" class="btn btn-fill btn-primary container waves-effect text-dark" name="continuar"/>
        </div>
      </div>
      </form>
  </div>   
</div>

{% endblock content %}
{% block script %}
<script>
  $(document).ready(function(){
    
  });
 </script> 
 {% endblock %}