{% extends 'inicio/base.html' %}

{% block titulo %}
Balance
{% endblock titulo %}

{% block content %}

<div  class="container" >

  <div class="row center">
   <form method="POST" action="{% url 'transferencia2' %}">
        {% csrf_token %}
  <div class="card  grey darken-4">
         <div class="card-content amber-text text-accent-4">
           <span class="card-title center">Transferencia Interno</span>
           <div class="row">
        <div class="input-field col s12 ">
          {{ form.tx_public_key}}
          <label for="tx_public_key">Public Key</label>
          {% if form.errors.tx_public_key %}<span class="help-block white-text">{{ form.errors.tx_public_key }}</span>{% endif %}
        </div>
            <div class="input-field col s12 ">
          {{ form.nu_monto}}
          <label for="nu_monto">Monto</label>
          {% if form.errors.nu_monto %}<span class="help-block white-text">{{ form.errors.nu_monto }}</span>{% endif %}
        </div>
      </div>
          
        </div>
        <div class="card-action center ">
          <input type="submit" value="Procesar" class="btn waves-effect amber accent-4 black-text btn-block" name="procesar"/>
        </div>
      </div>
      </form>
  </div>   
</div>

{% endblock content %}