{% load etiquetas %}
<div class="card ">
        <div class="card-header">
          <h4 class="card-title">Datos basicos</h4>
        </div>
     <table class="table tablesorter table-hover">

        <tbody class="text-white">
        <tr>
        <td>Usuario: </td> 
        <td id="tdusername">{{data.co_solicitud.co_usuario.username}}</td>

        <td>Moneda: </td> 
        <td id="tdtx_moneda">{{data.get_hist_transaccion.co_transaccion.co_moneda.tx_moneda}}</td>
        </tr>
        
        <tr>
        <td>Monto: </td> 
        <td id="tdnu_monto">{{ data.get_hist_transaccion.co_transaccion.nu_monto }} {{get_hist_transaccion.co_transaccion.co_moneda.tx_simbolo}}</td>
        <td >Comision: </td> 
        <td id="tdnu_monto_comision">{{ data.get_hist_transaccion.co_transaccion.get_comision.nu_monto }} ({% multiplicar data.get_hist_transaccion.co_transaccion.co_comision.nu_monto 100 %}%) </td>
        </tr>

         <tr>
        <td >Proveedor: </td> 
        <td id="tdtx_proveedor">{{ data.co_servicios.co_proveedor_servicios.tx_proveedor_servicios }} </td>
        <td >Servicios: </td> 
        <td id="tdtx_servicios">{{ data.co_servicios.co_tipo_servicios.tx_servicios }} </td>
        </tr>
         
        
        </tbody>
      </table>
      </div>
          <div class="card ">
        <div class="card-header">
          <h4 class="card-title">Requisitos</h4>
        </div>
     <table class="table tablesorter table-hover">

        <tbody class="text-white" id="tbrequisitos">
        {% for value in requisitos  %}
        
           <tr><td>{{ value.co_requisitos_servicios.tx_requisitos_servicios }}</td>
                  
            <td>{{ value.tx_respuesta_requisito }}</td>
                  
            </tr>
        {% endfor %}
         
        
        </tbody>
      </table>
      </div>
       <form method="GET" action="{% url 'controller' co_solicitud=data.co_solicitud.co_solicitud %}">
        {% csrf_token %}
          <div class="card ">
          
            <button type="submit" class="btn btn-fill btn-primary text-dark" name='boton' value="1" >Aprobar</button>
                 
            <button type="submit" class="btn btn-fill btn-primary text-dark"  name='boton' value="0">Cancelar</button>
   
          </div>
        </form>