{% extends 'inicio/base2.html' %}

{% block title %}
Bandeja de verificación
{% endblock title %}

{% block content %}
<div  class="row" >
  <div class="col-md-12 ">
  <div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
  <div class="card">
    <div class="card-header ">
    
        <h4 class="card-title">Bandeja de verificación de imagenes</h4>
      </div>
    <div class="card-body">
    
    <div class="table-responsive">
    
      <table class="table tablesorter table-hover" >
        <thead>
          <tr>
              <th>Usuario</th>
              <th>Nombre</th>
              <th></th>
          </tr>
        </thead>

        <tbody class="white-text">
            {% for values in  data%}
        <tr>
        <td>{{values.username}}</td>
        <td>{{values.co_persona.get_nombre_corto}}</td>
        <td>
        <a class="btn btn-sm btn-icon btn-fill btn-primary btn-round btn-twitter text-dark boton validar" data-toggle="modal" data-target="#modal1" id="boton{{values.co_usuario}}">
         <i class="tim-icons icon-zoom-split"></i>
        </a>
          </td>
        </tr>
        {% endfor %}
        
        </tbody>
      </table>
      </div>
      </div>
      </div>
  </div> 
  
</div>

    <input id="codigo" name="codigo" type="hidden">

  <div id="modal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
     <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Advertencia</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
      <div class="row">
     <div class="card ">
    <div class="card-header ">
    <div class="d-flex align-items-center">
  
  <h4 class="card-title"> ¿Estas seguro de aprobar esta indentificación?</h4>
  <div class="spinner-grow ml-auto text-primary" role="status" aria-hidden="true"></div>
</div>
      </div>
    <div class="card-body">
    

    <div class="table-responsive-sm">

      <table class="table tablesorter table-hover" >

        <tbody>
        <tr>
            <td >Usuario:</td>
            <td id="tdusername"></td>
            <td >Nombre:</td>
            <td id="tdnombre"></td>
          </tr>
         <tr>
            <td >Tipo de documento:</td>
            <td id="tdtipodocumento"></td>
            <td >Documento:</td>
            <td id="tddocumento"></td>
          </tr>

          <tr>
            <td >Sexo:</td>
            <td id="tdsexo"></td>
            <td >Fecha nacimiento:</td>
            <td id="tdfechanacimiento"></td>
          </tr>
            <tr>
            <td >Telefono:</td>
            <td id="tdtelefono"></td>
            <td >Codigo Postal:</td>
            <td id="tdcodigopostal"></td>
          </tr>
            <tr>
            <td >Pais:</td>
            <td id="tdpais"></td>
            <td >Estado/ciudad:</td>
            <td id="tdestadociudad"></td>
          </tr>

          <tr>
            <td >Dirección:</td>
            <td id="tddireccion"></td>
          </tr>    
        </tbody>
      </table>
      </div>
       </div>

      




        </div>
          </div>


<div id="divimg"  class="row">
      

      <div class="col-md-12 col-lg-4">
       <div class="card ">
        
         
          <img src="" id="imgfrente" class="card-img-top" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title" id="tifrente">Frente</h5>
        </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
       <div class="card ">
        
          <img src="" id="imgatras" class="card-img-top" alt="Card image cap">
        <div class="card-body">
    <h5 class="card-title" id="tiatras">Atras</h5>
  </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
       <div class="card ">
        
          <img src="" id="imgselfie" class="card-img-top" alt="Card image cap">
       <div class="card-body" >
    <h5 class="card-title" id="tiselfie">Selfie</h5>
  </div>
        </div>
      </div>
    </div>

 

      </div>
      <div class="modal-footer" id="footer">

       
      <button class="btn btn-primary text-dark" id="botonsi">Aprobar</button>
      
      
      <button class="btn btn-primary text-dark" id="botonno">Rechazar</button>
      
      
      <button class="btn btn-primary text-dark" data-dismiss="modal">Cancelar</button>
    
    </div>
    
  </div>
  
  </div>
  </div>

{% endblock content %}

{% block javascripts %}
<script>
  $(document).ready(function(){

   $('#modal1').on('shown.bs.modal', function () {
  $('.boton').trigger('focus');
  
  $('#modal1').modal('handleUpdate') ;
})
$('#modal1').modal('handleUpdate') ;
   var valores = function(id){
    var cod=id;
    var codigo=parseInt(cod.substring(5,cod.length));

    return codigo;
    }

    var onclick = function(estatus){
        var co_usuario=$("#codigo").val();  
        
        var url =window.location.protocol + "//" + window.location.host + "/";
        
         
          $('.validar').attr("disabled", true);
          $.ajax({
                url: url+'usuario/verificar/indentificacion/validar-indentidad/',
                type: 'POST',
                 data: {
                     'co_usuario':co_usuario,
                     'co_estatus':estatus
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {
                if(arg.success){
                location.reload();
                }

                  M.toast({html: arg.msg, classes: 'rounded'});
                   $('.validar').attr("disabled", false);
                
                },
                error: function (xhr, ajaxOptions, thrownError) {
                   $('.validar').attr("disabled", false);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })


    }
    $("#botonsi").click(function(){
    onclick(2);

    });
    $("#botonno").click(function(){
    onclick(3);

    });
      var advertencia1 = function(e){
        $("#codigo").val(valores(e.currentTarget.id));
        var co_usuario=$("#codigo").val();
        var url =window.location.protocol + "//" + window.location.host + "/";
        var tr='';

                $('.validar').attr("disabled", true);
        $.ajax({
                url: url+'usuario/verificar/indentificacion/get-indentidad/',
                type: 'POST',
                 data: {
                     'co_usuario':co_usuario
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (arg) {
               
                $.each(arg.data.persona, function (key, value) {
                $('#tdusername').text(value.username);
                $('#tdnombre').text(value.tx_nombre);
                $('#tdsexo').text(value.tx_sexo);
                $('#tdtipodocumento').text(value.tx_tipo_documento);
                $('#tddocumento').text(value.nu_documento);
                $('#tdtelefono').text(value.nu_telefono);
                $('#tdfechanacimiento').text(value.fe_nacimiento);
                $('#tdcodigopostal').text(value.tx_codigo_postal);
                $('#tdestadociudad').text(value.tx_estado+"/"+value.tx_ciudad);
                $('#tdpais').text(value.tx_pais);
                $('#tddireccion').text(value.tx_direccion);

                
                });

                $.each(arg.data.imagenes, function (key, value) {
                $('#imgfrente').attr("src",value.img_uno);
                $('#imgatras').attr("src",value.img_dos);
                $('#imgselfie').attr("src",value.img_selfie);

                
                });

                $("#divimg").append(tr);
               
                
                  $('.validar').attr("disabled", false);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                   $('.validar').attr("disabled", false);
                  console.log(xhr.status);
                  console.log(thrownError);
                }
            })


    }

    $('.validar').on('click', advertencia1);

  });
</script>
{% endblock javascripts %}