{% extends 'inicio/base.html' %}
{% load qr_code %}
{% block titulo %}
Verificar
{% endblock titulo %}

{% block content %}
{% if msg != '' %}
{% if success is True %}
<div class="msg msg-success z-depth-3">{{msg}}</div>
{% else %}
<div class="msg msg-alert z-depth-3">{{msg}}</div>
{% endif %}

{% endif %}
<div  class="container center" >
  <div class="row">
    <div class="col s12">
          <form method="POST">
        {% csrf_token %}
      <div class="card grey darken-4 hoverable ">
     

        <form method="POST">
        {% csrf_token %}
     
        <div class="card-content amber-text text-accent-4">
           <span class="card-title center">CONFIGURAR 2FA</span>
           <div class="row">
            {% qr_from_text img size="M" error_correction="L" version=1 border=4 image_format='png'%}
          <!--<img src="{{ img }}" class="white"/>-->

      </div>
      <div class="row">

         <div class="input-field col s12 ">
          {{ form.otp_token}}
           <label for="otp_token">Token</label>
              {% if form.errors.otp_token %}<span class="help-block white-text">{{ form.errors.otp_token }}</span>{% endif %}      
         
          </div>

          
      </div>

        </div>
  
    <div class="card-action">
      <div class="row">
          <input type="submit" value="Procesar" class="btn container waves-effect amber accent-4 black-text" name="procesar"/>
          
         
        </div>
         </div>
         </form>
    </div>
      
      </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}
