{% extends 'inicio/base2.html' %}
{% block titulo %}
Verificar
{% endblock titulo %}
{% block stylesheets2 %}

{% endblock stylesheets2 %}
{% block content %}

{% if msg != '' %}
{% if success is True %}
{% include 'includes/msj-success.html' %}
{% else %}
{% include 'includes/msj-danger.html' %}
{% endif %}

{% endif %}
 <div class="row ">
    <div class="col-md-12 col-lg-12">
          <form method="POST" action="{% url 'indentificacionusuario' %}" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="card">
          <div class="card-header">
        
     <h2 class="card-title">Verificar indentificación</h2>
          
          </div>
     
     
        <div class="card-body">

              

        <div class="form-group col-md-12">
          {{ form.co_tipo_indentificacion}}
          {% if form.errors.co_tipo_indentificacion %}<span class="help-block white-text">{{ form.errors.co_tipo_indentificacion }}</span>{% endif %}
        </div>
        <div class="custom-file  col-md-12">
                
                {{ form.img_uno_file}}
          <label class="custom-file-label" for="img_uno_file">Choose file</label>
              {% if form.errors.img_uno_file %}<span class="help-block white-text">{{ form.errors.img_uno_file }}</span>{% endif %}
      
        </div>
         <!--<div class="custom-file  col-md-12">
                {{ form.img_uno_file}}
                
               <label class="custom-file-label" for="img_uno_file">Escoger imagen frontal</label>
                {% if form.errors.img_uno_file %}<span class="help-block white-text">{{ form.errors.img_uno_file }}</span>{% endif %}
      
          
        </div>-->
         <div class="custom-file  col-md-12">
               {{ form.img_dos_file}}
                  <label class="custom-file-label" for="img_dos_file">Choose file</label>
            
          
               {% if form.errors.img_dos_file %}<span class="help-block white-text">{{ form.errors.img_dos_file }}</span>{% endif %}
      
          
        </div>
         <div class="custom-file  col-md-12">
                {{ form.img_selfie_file}}
                <label class="custom-file-label" for="img_selfie_file">Choose file</label>
            
            
             {% if form.errors.img_selfie_file %}<span class="help-block white-text">{{ form.errors.img_selfie_file }}</span>{% endif %}
      
          
        </div>

           </div>
           
           <div class="card-footer ">
          <input type="submit" value="Procesar" class="btn btn-fill btn-primary container waves-effect text-dark" name="procesar"/>
        </div>
           </div>
      
      </form>
           </div>
           {% load static %}
           <!--
  <img src="/{{PRIVATE_STORAGE_ROOT}}{{'mediap/img/documentos/frente/2020/04/3afb4bbe29d844db91af7549ea08e773.jpg'}}" style="width:150px;">
           

           --> 
           
           </div>
{% endblock %}
{% block script %}
<script>
  $(document).ready(function(){
    
    });
</script>
{% endblock %}