{% extends 'inicio/base2.html' %} {% block title %} Configuración {% endblock title %} {% block content %} {% if msg != '' %} {% if success == 1%} {% include 'includes/msj-success.html' %} {% else%} {% include 'includes/msj-danger.html' %} {% endif %}
{% load static %} {% endif %}
<!----------Activar el 2FA ------------>
    <div class="row">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Configuración</h1>
                    {% include 'partials/submenu/barraseguridad.html' %}
                </div>
                <div class="card-body">
                    <h4 class="card-title text-primary">Seleccione la opción que desee para la autenticación 2FA</h4>
                    

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter table-hover">
                                <thead class="text-primary">
                                    <tr>
                                        <th>
                                            Tipo y ubicación del 2fa
                                        </th>
                                        <th>
                                            Acción
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="white-text">
                                    <tr>
                                        <td>
                                            Por correo al iniciar sessión
                                        </td>
                                        <td class="text-center">
                                            <form method="POST" accion="{% url 'seguridad' %}">{% csrf_token %}
                                                <div class="col-sm-3">
                                                    {% if data.in_2fa_email == False %} 
                                                    <button type="submit" class="btn btn-fill btn-primary text-dark" name="activar" value="activar" >Activar</button> 
                                                    {% endif %}
                                                    {% if data.in_2fa_email == True %}
                                                    <button type="submit" class="btn btn-fill btn-primary text-dark" name="desactivar" value="desactivar" >Desactivar</button>
                                            {% endif %}
                                                </div>
                                            </form> 
                                            {% comment %} {% include 'usuario/seguridad/2fa_email.html' %} {% endcomment %}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Google Authentication
                                        </td>
                                        <td class="text-center">
                                            <div class="col-sm-3">
                                                {% if not data.in_2fa %}
                                                <button class="btn btn-fill btn-primary text-dark" name="activar" value="activar" id="btngoogle1" data-toggle="modal" data-target="#detModal">Activar</button> {% endif %} {% if data.in_2fa %}
                                                <button class="btn btn-fill btn-primary text-dark" name="desactivar" value="desactivar" id="btngoogle2" data-toggle="modal" data-target="#deletModal">Desactivar</button> {% endif %}
                                            </div>
                                        </td>

                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
<div class="modal fade" id="detModal" tabindex="-1" role="dialog" aria-labelledby="detModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h2 class="modal-title" id="detModalLabel">Advertencia</h2>
                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true" id="loaderdet"></div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>

                </div>



                <div class="modal-body" id="bodyModalDetalle">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="progressbar"></div>
                    </div>
                    <br>

                    <div class="container" id="contenido1">


                    </div>

                </div>
                <form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=25 %}">{% csrf_token %}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Cerrar</button>
                        <a href="javascript:void(0)" class="btn btn-primary text-dark" id="botonsiguiente" name="botonsiguiente" disabled>Siguiente</a>
                        <button type="submit" class="btn btn-primary text-dark" id="botonsubmid" name="botonsubmid">Procesar</button>

                        <input id="pass" name="pass" type="hidden" value="no">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletModal" tabindex="-1" role="dialog" aria-labelledby="deletModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex align-items-center">
                        <h2 class="modal-title" id="deletModalLabel">Advertencia</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
            <span aria-hidden="true">&times;</span>
           </div>
        </button>

                    </div>



                    <div class="modal-body" id="bodyModalDetalle">

                        <div class="container" id="contenido1">

                            <p class="text-white">¿Estas seguro que desea Desactivar su validacion 2FA?</p>
                        </div>

                    </div>
                    <form method="POST" action="{% url 'preSolicitud' co_tipo_solicitud=26 %}">{% csrf_token %}

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary text-dark" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary text-dark" id="botondesac" name="botondesac">Procesar</button>

                            <input id="pass2" name="pass2" type="hidden" value="fofo">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <input id="token" name="token" type="hidden" value={{ token }}>
        <input id="puesto" name="puesto" type="hidden" value=1>

        <!--
<div class="row">

    <div class="col-md-12 col-lg-6 ">
      <div class="card">
        <div class="card-body text-white">
                  <h2 class="card-title">2FA</h2>
          
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-footer">
          <a href="" class="btn btn-fill btn-primary container waves-effect text-dark">Configurar</a>
        </div>
      </div>
    </div>


    <div class="col-md-12 col-lg-6  ">
      <div class="card">
        <div class="card-body text-white">
                  <h2 class="card-title">Indentificación personal</h2>
             <ul class="list-group ">
            <li class="list-group-item">
            <div class="row justify-content-between">
            <div class="col-md-8"><p>Datos basicos</p></div>
            <div class="col-md-4">
             <a href="{% url 'editarusuario' %}" class="btn btn-sm btn-icon btn-fill btn-primary btn-round btn-twitter text-dark">
            <i class="tim-icons icon-send"></i>
            </a>
            </div>
            </div>
            </li>
               <li class="list-group-item">
            <div class="row justify-content-between">
            <div class="col-md-8"><p>Validacion de documentos y rostro</p></div>
            <div class="col-md-4">
             <a href="{% url 'indentificacionusuario' %}" class="btn btn-sm btn-icon btn-fill btn-primary btn-round btn-twitter text-dark">
            <i class="tim-icons icon-send"></i>
            </a>
            </div>
            </div>
            </li>
       </ul>

        </div>
      </div>
    </div>

</div>
-->

        {% endblock content %} {% block javascripts %}
        <script>
            $(document).ready(function() {

                $("#loaderdet").hide();

                $("#botonsubmid").hide();
                var porce = 0;
                $('#btngoogle1').on('click', function() {
                    $("#loaderdet").show();
                    $("#puesto").val("1");

                    $("#botonsubmid").hide();
                    //style="width: 25%" 
                    porce = 0;
                    $("#progressbar").attr("aria-valuenow", "0");
                    $("#progressbar").attr("style", "width: 0%");
                    $('#contenido1').html("");
                    $("#pass").val("no");
                    $('#botonsiguiente').show();
                    pasos($("#puesto").val());



                });

                $('#botonsiguiente').on('click', function() {
                    $("#loaderdet").show();
                    next = parseInt($("#puesto").val()) + 1;
                    porce += 50;

                    $("#progressbar").attr("aria-valuenow", porce.toString());
                    $("#progressbar").attr("style", "width: " + porce.toString() + "%");
                    $("#puesto").val(next.toString());
                    pasos(next.toString());


                });


                var pasos = function(posicion) {

                    switch (posicion) {
                        case "1":
                            getTemplate("/api/v3/seguridad/get-link/");
                            break;

                        case "2":
                            getTemplate("/api/v3/seguridad/get-qr/");
                            break;

                        case "3":
                            getTemplate("/api/v3/seguridad/get-backup/");
                            break;

                        default:

                            getTemplate("/api/v3/seguridad/get-link/");

                    }
                }

                var getTemplate = function(url2, data) {
                    var url = window.location.protocol + "//" + window.location.host + "";

                    $('#botonsiguiente').attr('disabled', true);
                    $.ajax({
                        url: url + url2,
                        type: 'POST',
                        headers: {
                            "Authorization": 'token ' + $("#token").val()
                        },
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        },
                        success: function(arg) {


                            $("#loaderdet").hide();
                            $('#contenido1').html(arg.data);

                            $('#botonsiguiente').attr('disabled', false);
                            if (arg.pass) {
                                $('#botonsiguiente').hide();
                                $("#botonsubmid").show();
                                $("#pass").val("merma");

                            }


                        },
                        error: function(xhr, ajaxOptions, thrownError) {

                            $('#loaderdet').hide();
                            console.log(xhr.status);
                            console.log(thrownError);
                        }
                    });
                }

            });
        </script>
        {% endblock javascripts %}