{% extends 'inicio/base2.html' %} {% block title %} Telegram{% endblock title %} {% block content %} {% if msg is not None and msg != '' %} {% if success == 1%} {% include 'includes/msj-success.html' %} {% else%} {% include 'includes/msj-danger.html'
%} {% endif %} {% load static %} {% endif %}
<!----------Activar el 2FA ------------>
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Vincular a telegram</h1>
                    {% include 'partials/submenu/barraseguridad.html' %}
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            {% if success %}
                            {% if in_telegram %}
                            <p>Usted ya esta vinculado a telegram</p>
                            {% else %}

                            <p>Con el boton mostrado abajo usted podra vincular su usuario con telegram podiendo haci usar el bot de prontopagos</p>
                            <a class="btn btn-fill btn-primary container text-dark" href="https://t.me/prontopagosbot?start=vincular_{{tokenv}}" target="_blank"> Vincular</a> {% endif %}
                            {% else %}
                            <p>Ha ocurrido un problema por favor recargue</p>
                            {% endif %}
                            
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %} {% block javascripts %}
<script>
    $(document).ready(function() {


    });
</script>
{% endblock javascripts %}