  <nav>
    <div class="nav-wrapper grey darken-4 ">

      <ul id="nav-mobile" class="left  hide-on-med-and-down ">
        <li> 
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large amber-text text-accent-4">
          <i class="material-icons">menu</i></a>
        </li>
     
      </ul>
      <a href="#" class="brand-logo center amber-text text-accent-4">Logo</a>

      <ul id="nav-mobile" class="right hide-on-med-and-down ">
        <li> <a href="/logout" class="amber-text text-accent-4">Logout</a></li>
        
     
      </ul>
    </div>
  </nav>
  
  
  {% include "partials/menu.html" %}