{% load account %}
{% load socialaccount %}
{% load static %}
{% get_social_accounts user as accounts %}
  <ul id="slide-out" class="sidenav grey darken-4 ">
    <span>
    <div class="user-view">
      <div class="background">
        <img src="{% static 'img/fondomenupapaya.png' %}" >
      </div>
      <a href="{% url 'perfilusuario' %}">
      <img class="circle" src="
      {% if user.socialaccount_set.all.0.extra_data.picture %}
      {{ user.socialaccount_set.all.0.extra_data.picture  }}
      {% else %}
      {% static 'img/userdefault.jpg' %}
      {% endif %}
      ">
      
      </a>
      
      <span class="white-text name">
      {% if  user.socialaccount_set.all.0.extra_data.name%}
      {{ user.socialaccount_set.all.0.extra_data.name  }}
      {% else %}
      {{ user.username }}
      {% endif %}
      </span>
      
        <a href="#email"><span class="white-text email">{{ user.email }}</span></a>
    </div>
    </span>
    </li>
    <li><div class="divider"></div></li>
    <li><a class="subheader amber-text text-accent-4">Menu</a></li>
    <li><a class="waves-effect white-text" href="{% url 'balance' %}">Balance</a></li>
    <li><a class="waves-effect white-text" href="{% url 'historico' %}">Historico</a></li>
    <li><a class="waves-effect white-text" href="{% url 'transferencia' %}">Transferencia</a></li>
    <li><a class="waves-effect white-text" href="{% url 'transferencia2' %}">Transferencia2</a></li>
    <li><a class="waves-effect white-text" href="{% url 'recargaBSS' %}">Recibir BSS</a></li>
    <li><a class="waves-effect white-text" href="{% url 'pagoservicios' %}">Pago Servicios</a></li>

    <li><div class="divider"></div></li>
    <li><a class="subheader amber-text text-accent-4">Usuario</a></li>
    <li><a class="waves-effect white-text" href="{% url 'seguridad' %}">Seguridad</a></li>
    
    <li><div class="divider"></div></li>
    <li><a class="subheader amber-text text-accent-4">Servicios</a></li>
    <li><a class="waves-effect white-text" href="{% url 'bandejaservpendientes' %}">Bandeja Pendientes</a></li>
  
    <li><div class="divider"></div></li>
    <li><a class="subheader amber-text text-accent-4">Agente</a></li>
    <li><a class="waves-effect white-text" href="{% url 'bandejaservicios' %}">Bandeja</a></li>
    <li><a class="waves-effect white-text" href="{% url 'procesoservicios' %}">Proceso</a></li>
  
  
  
    <li><div class="divider"></div></li>
    <li><a class="subheader amber-text text-accent-4">Administración</a></li>
    <li><a class="waves-effect white-text" href="{% url 'bandeja' %}">Bandeja de verificación</a></li>
    <li><a class="waves-effect white-text" href="{% url 'bandejaVeriInd' %}">Bandeja de indentidades</a></li>
  
  </ul>