
      <div class="tabbable-panel">
          <div class="tabbable-line">
              <ul class="nav nav-tabs">
                  <li class="{% if request.resolver_match.url_name == 'depositar' %}active{% endif %}"><a href="{% url 'depositar' %}">SEP06</a></li>
                  <li class="{% if request.resolver_match.url_name == 'preSolicitud' and  co_tipo_solicitud == 13 %}active{% endif %}"><a href="{% url 'preSolicitud' co_tipo_solicitud=13 %}">Clasico</a></li>
                </ul>
          </div>
      </div> 