<style>
.tabbable-panel {
  border:0;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 30px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #e0e0e0;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #F39927;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #F39927;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #e65100;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
</style>
<div class="row mt-5">

          <div class="card">
            <div class="tabbable-panel">
				      <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <!--<li class="{% if request.resolver_match.url_name == 'balance' %}active{% endif %}"><a href="{% url 'balance' %}">BALANCE</a></li>-->
                    <li class="{% if request.resolver_match.url_name == 'billeteraa' %}active{% endif %}"><a href="{% url 'billeteraa' %}">BILLETERA</a></li>
                    <li class="{% if request.resolver_match.url_name == 'historico' %}active{% endif %}"><a href="{% url 'historico' %}">HISTORICO</a></li>
                    <!--<li class="{% if request.resolver_match.url_name == 'bandejaInicio' %}active{% endif %}"><a href="{% url 'bandejaInicio' %}">SEGUIMIENTO</a></li>
                    
                    <!-----------------------------------por los momentos no se mostraran-------------------------------------->
                    <!--
                    <li class="{% if request.resolver_match.url_name == 'bandejaser' %}active{% endif %}"><a href="{% url 'bandejaser' %}">SERVICIO</a></li>
                    {% if user.getAgente %}
                    <li class="{% if request.resolver_match.url_name == 'agentebandeja' %}active{% endif %}"><a href="{% url 'agentebandeja' %}">AGENTE DE SERVICIO</a></li>
                    {% endif %}
                    -->
                </ul>
              </div>
            </div>     
          </div>
  

</div>

