<style> 
    .nav-tabs {
        display: flex;
    }
</style>
<div class="row mt-5">
  <div class="card">
      <div class="tabbable-panel">
          <div class="tabbable-line">
              <ul class="nav nav-tabs">
                    <li class="{% if request.resolver_match.url_name == 'billeteraa' %}active{% endif %}"><a href="{% url 'billeteraa' %}">BILLETERA</a></li>
                    <li class="{% if request.resolver_match.url_name == 'perfilusuario' %}active{% endif %}"><a href="{% url 'perfilusuario' %}">PERFIL</a></li>
                    <li class="{% if request.resolver_match.url_name == 'seguridad' %}active{% endif %}"><a href="{% url 'seguridad' %}">SEGURIDAD</a></li>
                    <!--<li><a href="#">MULTIFIRMAS</a></li>
                    <li class="{% if request.resolver_match.url_name == 'registrar-cuentas' %}active{% endif %}"><a href="{% url 'registrar-cuentas' %}">REGISTRAR CUENTAS</a></li>-->
                    <li class="{% if request.resolver_match.url_name == 'Notificaciones' %}active{% endif %}"><a href="{% url 'Notificaciones' %}">NOTIFICACIONES</a></li>
                    <li class="{% if request.resolver_match.url_name == 'confirmacion_IP' %}active{% endif %}"><a href="{% url 'confirmacion_IP' %}">CONFIRMACION DE IP</a></li>
                    <li class="{% if request.resolver_match.url_name == 'qr_billetera' %}active{% endif %}"><a href="{% url 'qr_billetera' %}">QR</a></li>
                    <li class="{% if request.resolver_match.url_name == 'telegramUser' %}active{% endif %}"><a href="{% url 'telegramUser' %}">TELEGRAM</a></li>
             
              
              </ul>
          </div>
      </div>     
  </div>
</div>