{% load material_form %}
{% load materialize %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock titulo %}</title>
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    
    <!-- Compiled and minified JavaScript -->
    
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static "jquery-ui/jquery-ui.min.css" %}" />
    

    <script src="{% static "jquery-ui/external/jquery/jquery.js" %}"></script>
    <script src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>

       <!-- Compiled and minified CSS -->
    <script src="{% static '/js/materialize.min.js' %}"></script>

</head>

<body id="grad">
{% block barra %}
{% endblock barra %}
{% block content %}
{% endblock content %}

</body>
{% block script %}
{% endblock script %}
</html>